iserve-sal-rest/src/test/resources/jgd-services/5717_6848_GeoNames_PostalCodeSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.geonames.org/" targetNamespace="http://ws.geonames.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://ws.geonames.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PostalCodeArea">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="placename" type="xsd:string">
					<xsd:annotation>The list of places matching the given search including their name, postal code, administrative units they are located in, precise location (lat/lng), and other information depending on the search results.</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="postalcode" type="xsd:string">
					<xsd:annotation>The postal code of the match</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="countryCode" type="xsd:string">
					<xsd:annotation>The country code of the country the place is located in.</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="lat" type="xsd:string">
					<xsd:annotation>The latitude of the place.</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="lng" type="xsd:string">
					<xsd:annotation>The longitude of the place.</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GeoNames_PostalCodeSearchHttpGetIn">
		<wsdl:part name="postalcode" type="xsd:string" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#PostalCode">
			<wsdl:documentation>The postal code to search matching places for. Either this or the place name query has to be provided but not both.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="country" type="xsd:string" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Country">
			<wsdl:documentation>The ISO country code of the country that the search should be restricted to (optional, default = all countries).</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="placename" type="xsd:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
			<wsdl:documentation>A search string that will be matched against place names, postal codes, countries, administrative names etc. Either this parameter or the postal code parameter has to be provided.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="style" type="xsd:string">
			<wsdl:documentation>SHORT, MEDIUM, LONG, FULL (optional, default=medium). Controls the verbosity of the returned data.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="mayRows" type="xsd:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#ResultsCountLimit">
			<wsdl:documentation>the maximal number of rows in the document returned by the service (optional, default=10).</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GeoNames_PostalCodeSearchHttpGetOut">
		<wsdl:part name="Body" element="tns:Output">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GeoNames_PostalCodeSearchHttpGet">
		<wsdl:operation name="GeoNames_PostalCodeSearch" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
			<wsdl:documentation>Returns a list of postal codes and places for the placename/postalcode query as xml document.
For the US the first returned zip code is determined using zip code area shapes, the following zip codes are based on the centroid. For all other supported countries all returned postal codes are based on centroids.</wsdl:documentation>
				<wsdl:input message="tns:GeoNames_PostalCodeSearchHttpGetIn"/>
				<wsdl:output message="tns:GeoNames_PostalCodeSearchHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GeoNames_PostalCodeSearchHttpGet" type="tns:GeoNames_PostalCodeSearchHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="GeoNames_PostalCodeSearch">
			<http:operation location="postalCodeSearch"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EntityLocationService"
        name="GeoNames_PostalCodeSearch">
		<wsdl:port name="GeoNames_PostalCodeSearchHttpGet" binding="tns:GeoNames_PostalCodeSearchHttpGet">
			<http:address location="http://ws.geonames.org/"/>
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
