iserve-sal-rest/src/test/resources/jgd-services/5759_6810_GeoPlaces_GetPlacesWithinFiltered_ZipCodeByCityState_by_CodeBump.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://skats.net/services/" xmlns:s1="http://skats.net/services/literalTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://skats.net/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GeoPlaces Service is the evolution of ZipCode Lookup service. It enhances ZipCode Lookup by adding support for city names. Now you can find near by zip codes and cities, find distance between zip codes and cities, get coordinates of zip codes and cities. Place's coordinates are determined using an approximate center point of the shape.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://skats.net/services/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      
      <s:simpleType name="GeoPlaceType">
        <s:restriction base="s:string">
          <s:enumeration value="ZipCode" />
          <s:enumeration value="City" />
          <s:enumeration value="State" />
          <s:enumeration value="ThreeDigitZipCode" />
          <s:enumeration value="AreaCode" />
        </s:restriction>
      </s:simpleType>

      <s:complexType name="ArrayOfGeoPlaceDistance" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:GeoPlaceDistance[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>

      <s:complexType name="GeoPlaceDistance" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ToPlace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ToState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Distance" type="s:float" />
        </s:sequence>
      </s:complexType>

      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SessionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      
      <s:simpleType name="FilterType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="Anywhere" />
        </s:restriction>
      </s:simpleType>

    </s:schema>

    <s:schema elementFormDefault="qualified" targetNamespace="http://skats.net/services/literalTypes">

      <s:element name="ArrayOfGeoPlaceDistance" nillable="true" type="s1:ArrayOfGeoPlaceDistance" />

      <s:complexType name="ArrayOfGeoPlaceDistance" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GeoPlaceDistance" nillable="true" type="s1:GeoPlaceDistance" />
        </s:sequence>
      </s:complexType>

      <s:complexType name="GeoPlaceDistance" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ToPlace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:float" />
        </s:sequence>
      </s:complexType>

    </s:schema>
  </wsdl:types>

  <wsdl:message name="GetPlacesWithinFilteredSoapIn">
    <wsdl:part name="place" type="s:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="distance" type="s:float" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#CircularGeographicArea"/>
    <wsdl:part name="placeTypeToFind" type="tns:GeoPlaceType" sawsdl:modelReference="http://www.w3.org/2000/01/rdf-schema#Class"/>
    <wsdl:part name="filter" type="s:string" />
    <wsdl:part name="filterType" type="tns:FilterType" />
  </wsdl:message>

  <wsdl:message name="GetPlacesWithinFilteredSoapOut">
    <wsdl:part name="GetPlacesWithinFilteredResult" type="tns:ArrayOfGeoPlaceDistance" />
  </wsdl:message>

  <wsdl:message name="GetPlacesWithinFilteredAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader" />
  </wsdl:message>

  <wsdl:message name="GetPlacesWithinFilteredHttpGetIn">
    <wsdl:part name="place" type="s:string"  sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="distance" type="s:string" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#CircularGeographicArea"/>
    <wsdl:part name="placeTypeToFind" type="s:string" sawsdl:modelReference="http://www.w3.org/2000/01/rdf-schema#Class"/>
    <wsdl:part name="filter" type="s:string" />
    <wsdl:part name="filterType" type="s:string" />
  </wsdl:message>

  <wsdl:message name="GetPlacesWithinFilteredHttpGetOut">
    <wsdl:part name="Body" element="s1:ArrayOfGeoPlaceDistance" />
  </wsdl:message>

  <wsdl:message name="GetPlacesWithinFilteredHttpPostIn">
    <wsdl:part name="place" type="s:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="distance" type="s:string" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#CircularGeographicArea"/>
    <wsdl:part name="placeTypeToFind" type="s:string" sawsdl:modelReference="http://www.w3.org/2000/01/rdf-schema#Class"/>
    <wsdl:part name="filter" type="s:string" />
    <wsdl:part name="filterType" type="s:string" />
  </wsdl:message>

  <wsdl:message name="GetPlacesWithinFilteredHttpPostOut">
    <wsdl:part name="Body" element="s1:ArrayOfGeoPlaceDistance" />
  </wsdl:message>

  <wsdl:portType name="GeoPlacesSoap">
    <wsdl:operation name="GetPlacesWithinFiltered" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of geo places within a specified distance from a given place. Parameters: place - place name (65 char max), state - 2 letter state code (not required for zip codes), distance - distance in miles, placeTypeToFind - type of place to look for: ZipCode, City, ThreeDigitZipCode (unique 3-digit zip codes) or AreaCode, filter - string to filter results, filterType - type of filter (StartsWith, EndsWith, Anywhere, None).</wsdl:documentation>
      <wsdl:input message="tns:GetPlacesWithinFilteredSoapIn" />
      <wsdl:output message="tns:GetPlacesWithinFilteredSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="GeoPlacesHttpGet">
    <wsdl:operation name="GetPlacesWithinFiltered" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of geo places within a specified distance from a given place. Parameters: place - place name (65 char max), state - 2 letter state code (not required for zip codes), distance - distance in miles, placeTypeToFind - type of place to look for: ZipCode, City, ThreeDigitZipCode (unique 3-digit zip codes) or AreaCode, filter - string to filter results, filterType - type of filter (StartsWith, EndsWith, Anywhere, None).</wsdl:documentation>
      <wsdl:input message="tns:GetPlacesWithinFilteredHttpGetIn" />
      <wsdl:output message="tns:GetPlacesWithinFilteredHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="GeoPlacesHttpPost">
    <wsdl:operation name="GetPlacesWithinFiltered" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of geo places within a specified distance from a given place. Parameters: place - place name (65 char max), state - 2 letter state code (not required for zip codes), distance - distance in miles, placeTypeToFind - type of place to look for: ZipCode, City, ThreeDigitZipCode (unique 3-digit zip codes) or AreaCode, filter - string to filter results, filterType - type of filter (StartsWith, EndsWith, Anywhere, None).</wsdl:documentation>
      <wsdl:input message="tns:GetPlacesWithinFilteredHttpPostIn" />
      <wsdl:output message="tns:GetPlacesWithinFilteredHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GeoPlacesSoap" type="tns:GeoPlacesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetPlacesWithinFiltered">
      <soap:operation soapAction="http://skats.net/services/GetPlacesWithinFiltered" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:GetPlacesWithinFilteredAuthenticationHeader" part="AuthenticationHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://skats.net/services/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="GeoPlacesSoap12" type="tns:GeoPlacesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetPlacesWithinFiltered">
      <soap12:operation soapAction="http://skats.net/services/GetPlacesWithinFiltered" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:GetPlacesWithinFilteredAuthenticationHeader" part="AuthenticationHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://skats.net/services/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="GeoPlacesHttpGet" type="tns:GeoPlacesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPlacesWithinFiltered">
      <http:operation location="/GetPlacesWithinFiltered" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="GeoPlacesHttpPost" type="tns:GeoPlacesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPlacesWithinFiltered">
      <http:operation location="/GetPlacesWithinFiltered" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#ProximitySearch"
  name="GeoPlaces">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GeoPlaces Service is the evolution of ZipCode Lookup service. It enhances ZipCode Lookup by adding support for city names. Now you can find near by zip codes and cities, find distance between zip codes and cities, get coordinates of zip codes and cities. Place's coordinates are determined using an approximate center point of the shape.</wsdl:documentation>
    <wsdl:port name="GeoPlacesSoap" binding="tns:GeoPlacesSoap">
      <soap:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoPlacesSoap12" binding="tns:GeoPlacesSoap12">
      <soap12:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoPlacesHttpGet" binding="tns:GeoPlacesHttpGet">
      <http:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoPlacesHttpPost" binding="tns:GeoPlacesHttpPost">
      <http:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
