iserve-sal-rest/src/test/resources/jgd-services/5772_6797_Distance_USZipCode_by_Ecocoma.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.ecocoma.com/geo/distance" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://service.ecocoma.com/geo/distance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cocoma Distance Web Services.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service.ecocoma.com/geo/distance">
      <s:element name="GetDistance" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PostalCodeArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistanceResult" type="tns:Distance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Distance" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Location01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="GetDistanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistance" />
  </wsdl:message>

  <wsdl:message name="GetDistanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistanceResponse" />
  </wsdl:message>

  <wsdl:portType name="Distance_ServiceSoap">
    <wsdl:operation name="GetDistance" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get distance between two zipcode. (United States)</wsdl:documentation>
      <wsdl:input message="tns:GetDistanceSoapIn" />
      <wsdl:output message="tns:GetDistanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Distance_ServiceSoap" type="tns:Distance_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistance">
      <soap:operation soapAction="http://service.ecocoma.com/geo/distance/GetDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="Distance_ServiceSoap12" type="tns:Distance_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistance">
      <soap12:operation soapAction="http://service.ecocoma.com/geo/distance/GetDistance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationDistanceLookup"
  name="Distance_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cocoma Distance Web Services.</wsdl:documentation>

    <wsdl:port name="Distance_ServiceSoap" binding="tns:Distance_ServiceSoap">
      <soap:address location="http://service.ecocoma.com/geo/distance.asmx" />
    </wsdl:port>
    <wsdl:port name="Distance_ServiceSoap12" binding="tns:Distance_ServiceSoap12">
      <soap12:address location="http://service.ecocoma.com/geo/distance.asmx" />
    </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>
