iserve-sal-rest/src/test/resources/jgd-services/5791_6795_AvowGEOCalculator_DistanceSphericalLawOfCosines_by_avowlabs.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">

      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>

      <s:element name="DistanceSphericalLawOfCosines" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lat1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="long1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lat2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="long2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="DistanceSphericalLawOfCosinesResponse" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DistanceSphericalLawOfCosinesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType" />

    </s:schema>
  </wsdl:types>

  <wsdl:message name="DistanceSphericalLawOfCosinesSoapIn">
    <wsdl:part name="parameters" element="tns:DistanceSphericalLawOfCosines" />
  </wsdl:message>

  <wsdl:message name="DistanceSphericalLawOfCosinesSoapOut">
    <wsdl:part name="parameters" element="tns:DistanceSphericalLawOfCosinesResponse" />
  </wsdl:message>

  <wsdl:message name="DistanceSphericalLawOfCosinesHttpGetIn" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
    <wsdl:part name="lat1" type="s:string" />
    <wsdl:part name="long1" type="s:string" />
    <wsdl:part name="lat2" type="s:string" />
    <wsdl:part name="long2" type="s:string" />
  </wsdl:message>

  <wsdl:message name="DistanceSphericalLawOfCosinesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType"  sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance"/>
  </wsdl:message>

  <wsdl:message name="DistanceSphericalLawOfCosinesHttpPostIn" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
    <wsdl:part name="lat1" type="s:string" />
    <wsdl:part name="long1" type="s:string" />
    <wsdl:part name="lat2" type="s:string" />
    <wsdl:part name="long2" type="s:string" />
  </wsdl:message>

  <wsdl:message name="DistanceSphericalLawOfCosinesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType"  sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance"/>
  </wsdl:message>

  <wsdl:portType name="AvowGEOCalculatorSoap">
    <wsdl:operation name="DistanceSphericalLawOfCosines" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Distance Between Two Latitude/Longitude Points Using Spherical Law Of Cosines</documentation>
      <wsdl:input message="tns:DistanceSphericalLawOfCosinesSoapIn" />
      <wsdl:output message="tns:DistanceSphericalLawOfCosinesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="AvowGEOCalculatorHttpGet">
    <wsdl:operation name="DistanceSphericalLawOfCosines" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Distance Between Two Latitude/Longitude Points Using Spherical Law Of Cosines</documentation>
      <wsdl:input message="tns:DistanceSphericalLawOfCosinesHttpGetIn" />
      <wsdl:output message="tns:DistanceSphericalLawOfCosinesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="AvowGEOCalculatorHttpPost">
    <wsdl:operation name="DistanceSphericalLawOfCosines" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Distance Between Two Latitude/Longitude Points Using Spherical Law Of Cosines</documentation>
      <wsdl:input message="tns:DistanceSphericalLawOfCosinesHttpPostIn" />
      <wsdl:output message="tns:DistanceSphericalLawOfCosinesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AvowGEOCalculatorSoap" type="tns:AvowGEOCalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="DistanceSphericalLawOfCosines">
      <soap:operation soapAction="http://tempuri.org/DistanceSphericalLawOfCosines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="AvowGEOCalculatorHttpGet" type="tns:AvowGEOCalculatorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DistanceSphericalLawOfCosines">
      <http:operation location="/DistanceSphericalLawOfCosines" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="AvowGEOCalculatorHttpPost" type="tns:AvowGEOCalculatorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DistanceSphericalLawOfCosines">
      <http:operation location="/DistanceSphericalLawOfCosines" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationDistanceLookup"
  name="AvowGEOCalculator">
    <wsdl:port name="AvowGEOCalculatorSoap" binding="tns:AvowGEOCalculatorSoap">
      <soap:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="AvowGEOCalculatorHttpGet" binding="tns:AvowGEOCalculatorHttpGet">
      <http:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="AvowGEOCalculatorHttpPost" binding="tns:AvowGEOCalculatorHttpPost">
      <http:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx" />

    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
