iserve-sal-rest/src/test/resources/jgd-services/5801_6796_AvowGEOCalculator_SunRise_by_avowlabs.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">

      <s:element name="SunRise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intDay" type="s:int" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Date"/>
            <s:element minOccurs="1" maxOccurs="1" name="intMonth" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="intYear" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location"/>
            <s:element minOccurs="1" maxOccurs="1" name="lng" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="localOffset" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="SunRiseResponse" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#Sunrise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SunRiseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="string" nillable="true" type="s:string" />

    </s:schema>
  </wsdl:types>

  <wsdl:message name="SunRiseSoapIn">
    <wsdl:part name="parameters" element="tns:SunRise" />
  </wsdl:message>

  <wsdl:message name="SunRiseSoapOut">
    <wsdl:part name="parameters" element="tns:SunRiseResponse" />
  </wsdl:message>

  <wsdl:message name="SunRiseHttpGetIn">
    <wsdl:part name="intDay" type="s:string" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Date"/>
    <wsdl:part name="intMonth" type="s:string" />
    <wsdl:part name="intYear" type="s:string" />
    <wsdl:part name="lat" type="s:string" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location"/>
    <wsdl:part name="lng" type="s:string" />
    <wsdl:part name="localOffset" type="s:string" />
  </wsdl:message>

  <wsdl:message name="SunRiseHttpGetOut">
    <wsdl:part name="Body" element="tns:string"  sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#Sunrise"/>
  </wsdl:message>

  <wsdl:message name="SunRiseHttpPostIn">
    <wsdl:part name="intDay" type="s:string" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Date"/>
    <wsdl:part name="intMonth" type="s:string" />
    <wsdl:part name="intYear" type="s:string" />
    <wsdl:part name="lat" type="s:string" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location"/>
    <wsdl:part name="lng" type="s:string" />
    <wsdl:part name="localOffset" type="s:string" />
  </wsdl:message>

  <wsdl:message name="SunRiseHttpPostOut">
    <wsdl:part name="Body" element="tns:string"  sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#Sunrise"/>
  </wsdl:message>

  <wsdl:portType name="AvowGEOCalculatorSoap">
    <wsdl:operation name="SunRise" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Sunrise Time</documentation>
      <wsdl:input message="tns:SunRiseSoapIn" />
      <wsdl:output message="tns:SunRiseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="AvowGEOCalculatorHttpGet">
    <wsdl:operation name="SunRise" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Sunrise Time</documentation>
      <wsdl:input message="tns:SunRiseHttpGetIn" />
      <wsdl:output message="tns:SunRiseHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="AvowGEOCalculatorHttpPost">
    <wsdl:operation name="SunRise" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculate Sunrise Time</documentation>
      <wsdl:input message="tns:SunRiseHttpPostIn" />
      <wsdl:output message="tns:SunRiseHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AvowGEOCalculatorSoap" type="tns:AvowGEOCalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="SunRise">
      <soap:operation soapAction="http://tempuri.org/SunRise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="AvowGEOCalculatorHttpGet" type="tns:AvowGEOCalculatorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SunRise">
      <http:operation location="/SunRise" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="AvowGEOCalculatorHttpPost" type="tns:AvowGEOCalculatorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SunRise">
      <http:operation location="/SunRise" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EventOccurrenceLookup http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#InformationAboutLocationLookup"
  name="AvowGEOCalculator">
    <wsdl:port name="AvowGEOCalculatorSoap" binding="tns:AvowGEOCalculatorSoap">
      <soap:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="AvowGEOCalculatorHttpGet" binding="tns:AvowGEOCalculatorHttpGet">
      <http:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="AvowGEOCalculatorHttpPost" binding="tns:AvowGEOCalculatorHttpPost">
      <http:address location="http://www.avowlabs.com/webservices/AvowGEOCalculator/AvowGEOCalculator.asmx" />

    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
