iserve-sal-rest/src/test/resources/jgd-services/5884_6860_NAC_Real-Time_Geocoding_Service_City.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mlbs.net/nacgeoservicesv4.5/" targetNamespace="http://mlbs.net/nacgeoservicesv4.5/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://mlbs.net/nacgeoservicesv4.5/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress http://fusion.cs.uni-jena.de/geographydataset.owl#AccuracyMeasure">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="location" type="xsd:string">
					<xsd:annotation>The location of the best match.</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="accuracy" type="xsd:string">
					<xsd:annotation>One of:
    *  Sure match: the found address has matched not only the street address but also the ZIP/postcode.
    * Unique match: there is only one result found.
    * Multiple matches: there are multiple results found.
    * No good match: there is no sure match and no unique match.
    * No result: there is nothing found.
    * Not covered: the address is not within the geographic coverage of the geocoder.
    * No input: there is no input address.
    * No UserID: there is no User ID in the request. </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="AllMatches" type="xsd:string">
					<xsd:annotation>AllMatches lists all the found addresses and entities with their corresponding latitude/longitude pairs. A comma is used as the separator between the elements of an address/entity. A colon is used between the elements and the geographic coordinates. A semicolon is used at the end of each complete address/entity.</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NAC_Real-Time_Geocoding_Service_CityHttpGetIn">
		<wsdl:part name="state" type="xsd:string">
			<wsdl:documentation>The state the city to geocode is located in (only for countries where states are used).</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="country" type="xsd:string">
			<wsdl:documentation>The country of the city to geocode.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="city" type="xsd:string" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#City">
			<wsdl:documentation>The city to geocode.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="userID" type="xsd:string">
			<wsdl:documentation>A valid user id to authenticate for the service.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="SuppressError" type="xsd:string">
			<wsdl:documentation>Optional. SuppressError can be "Yes" or "No". If "Yes", then the geocoding service will return the geographic coordinates whenever it is available no matter there are uncertainties. If "No", then the geocoding service will only return the geographic coordinates of a unique or a sure match.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NAC_Real-Time_Geocoding_Service_CityHttpGetOut">
		<wsdl:part name="Body" element="tns:Output">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NAC_Real-Time_Geocoding_Service_CityHttpGet">
		<wsdl:operation name="NAC_Real-Time_Geocoding_Service_City" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
			<wsdl:documentation>The real-time geocoding service is a web based geocoding service providing real-time geocoding of addresses from 26 countries and areas: 
Australia, Hong Kong (59%), New Zealand, Singapore, and Taiwan (15%).
Brazil (19%). Austria, Belgium, Czech Republic (24%), Denmark, Finland (Helsinki only), France, Germany, Greece (Athens only), Italy (91%), Luxembourg, The Netherlands, Norway (Oslo only), Portugal (53%), Spain (71%), Sweden, Switzerland and United Kingdom. Canada, Puerto Rico and United States.</wsdl:documentation>
				<wsdl:input message="tns:NAC_Real-Time_Geocoding_Service_CityHttpGetIn"/>
				<wsdl:output message="tns:NAC_Real-Time_Geocoding_Service_CityHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NAC_Real-Time_Geocoding_Service_CityHttpGet" type="tns:NAC_Real-Time_Geocoding_Service_CityHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="NAC_Real-Time_Geocoding_Service_City">
			<http:operation location="xmlgeocode.aspx?"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
        name="NAC_Real-Time_Geocoding_Service_City">
		<wsdl:port name="NAC_Real-Time_Geocoding_Service_CityHttpGet" binding="tns:NAC_Real-Time_Geocoding_Service_CityHttpGet">
			<http:address location="http://mlbs.net/nacgeoservicesv4.5/"/>
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
