iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/3wheeledcaryear_recommendedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/ThreewheeledcaryearRecommendedprice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ThreewheeledcaryearRecommendedprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ThreewheeledcaryearRecommendedprice"
                  targetNamespace="http://127.0.0.1/wsdl/ThreewheeledcaryearRecommendedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon Jun 08 14:38:03 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ThreewheeledcaryearRecommendedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#ThreeWheeledCar"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Year"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
            </xsd:annotation>
            <xsd:element name="Year" type="YearType"/>
            <xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
            <xsd:element name="ThreeWheeledCar" type="ThreeWheeledCarType"/>
            <xsd:complexType name="ThreeWheeledCarType">
                <xsd:sequence>
                    <xsd:element maxOccurs="4" minOccurs="3" name="Wheel"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="YearType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICERequest">
        <wsdl:part name="_3WHEELEDCAR" type="tns:ThreeWheeledCarType">
        </wsdl:part>
        <wsdl:part name="_YEAR" type="tns:YearType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICEResponse">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="3wheeledcaryearRecommendedpriceSoap">
        <wsdl:operation name="get_RECOMMENDEDPRICE">
            <wsdl:input message="tns:get_RECOMMENDEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="3wheeledcaryearRecommendedpriceSoapBinding" type="3wheeledcaryearRecommendedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ThreewheeledcaryearRecommendedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ThreewheeledcaryearRecommendedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="3wheeledcaryearRecommendedpriceService">
        <wsdl:port name="3wheeledcaryearRecommendedpriceSoap" binding="3wheeledcaryearRecommendedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ThreewheeledcaryearRecommendedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
