iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/3wheeledcar_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/ThreewheeledcarPrice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ThreewheeledcarPrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ThreewheeledcarPrice" targetNamespace="http://127.0.0.1/wsdl/ThreewheeledcarPrice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon Jun 08 12:07:12 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ThreewheeledcarPrice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#ThreeWheeledCar"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="ThreeWheeledCar" type="ThreeWheeledCarType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ThreeWheeledCarType">
                <xsd:sequence>
                    <xsd:element maxOccurs="4" minOccurs="3" name="Wheel"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICERequest">
        <wsdl:part name="_3WHEELEDCAR" type="tns:ThreeWheeledCarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICEResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="3wheeledcarPriceSoap">
        <wsdl:operation name="get_PRICE">
            <wsdl:input message="tns:get_PRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="3wheeledcarPriceSoapBinding" type="3wheeledcarPriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ThreewheeledcarPrice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ThreewheeledcarPrice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="3wheeledcarPriceService">
        <wsdl:port name="3wheeledcarPriceSoap" binding="3wheeledcarPriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ThreewheeledcarPrice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
