iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/4wheeledcar_technology_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/FourwheeledcarTechnology" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/FourwheeledcarTechnology"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="FourwheeledcarTechnology" targetNamespace="http://127.0.0.1/wsdl/FourwheeledcarTechnology">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon Jun 08 15:07:47 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/FourwheeledcarTechnology"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#FourWheeledCar"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Technology"/>
            </xsd:annotation>
            <xsd:element name="FourWheeledCar" type="FourWheeledCarType"/>
            <xsd:element name="Technology" type="TechnologyType"/>
            <xsd:complexType name="Person">
                <xsd:sequence>
                    <xsd:element name="family-name" type="xsd:string"/>
                    <xsd:element name="full-name" type="xsd:string"/>
                    <xsd:element name="given-name" type="xsd:string"/>
                    <xsd:element name="has-gender" type="Gender"/>
                    <xsd:element name="has-appellation" type="Appellation"/>
                    <xsd:element name="has-academic-degree" type="Academic-Degree"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization">
                <xsd:sequence>
                    <xsd:element name="has-size" type="OrganizationOrganization-Size"/>
                    <xsd:element name="organization-part-of" type="Organization"/>
                    <xsd:element name="has-sub-unit" type="Organization-Unit"/>
                    <xsd:element name="affiliated-person" type="Affiliated-Person"/>
                    <xsd:element name="headed-by" type="Affiliated-Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Affiliated-Person">
                <xsd:sequence>
                    <xsd:element name="has-affiliation" type="Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TechnologyType">
                <xsd:sequence>
                    <xsd:element name="supports-method" type="Method"/>
                    <xsd:element name="technology-builds-on" type="TechnologyType"/>
                    <xsd:element name="has-author" type="Generic-Agent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Method">
                <xsd:sequence>
                    <xsd:element name="method-builds-on" type="Method"/>
                    <xsd:element name="owned-by" type="Organization"/>
                    <xsd:element name="has-author" type="Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Academic-Degree">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="PhD"/>
                    <xsd:enumeration value="BSc"/>
                    <xsd:enumeration value="MSc"/>
                    <xsd:enumeration value="DEng"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Gender">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Male-Gender"/>
                    <xsd:enumeration value="Female-Gender"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="OrganizationOrganization-Size">
                <xsd:restriction base="Organization-Size">
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Size">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="FourWheeledCarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Unit">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Appellation">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Mrs"/>
                    <xsd:enumeration value="Dr"/>
                    <xsd:enumeration value="Ms"/>
                    <xsd:enumeration value="Mr"/>
                    <xsd:enumeration value="Lady"/>
                    <xsd:enumeration value="Sir"/>
                    <xsd:enumeration value="Miss"/>
                    <xsd:enumeration value="Prof"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TECHNOLOGYResponse">
        <wsdl:part name="_TECHNOLOGY" type="tns:TechnologyType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TECHNOLOGYRequest">
        <wsdl:part name="_4WHEELEDCAR" type="tns:FourWheeledCarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="4wheeledcarTechnologySoap">
        <wsdl:operation name="get_TECHNOLOGY">
            <wsdl:input message="tns:get_TECHNOLOGYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TECHNOLOGYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="4wheeledcarTechnologySoapBinding" type="4wheeledcarTechnologySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TECHNOLOGY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FourwheeledcarTechnology"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FourwheeledcarTechnology"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="4wheeledcarTechnologyService">
        <wsdl:port name="4wheeledcarTechnologySoap" binding="4wheeledcarTechnologySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/FourwheeledcarTechnology"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
