iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/4wheeledcar2personbicycle_maxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Fourwheeledcar2personbicycleMaxprice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Fourwheeledcar2personbicycleMaxprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Fourwheeledcar2personbicycleMaxprice"
                  targetNamespace="http://127.0.0.1/wsdl/Fourwheeledcar2personbicycleMaxprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon Jun 08 14:47:20 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Fourwheeledcar2personbicycleMaxprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#TwoPersonBicycle"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#FourWheeledCar"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#MaxPrice"/>
            </xsd:annotation>
            <xsd:element name="TwoPersonBicycle" type="TwoPersonBicycleType"/>
            <xsd:element name="FourWheeledCar" type="FourWheeledCarType"/>
            <xsd:element name="MaxPrice" type="MaxPriceType"/>
            <xsd:complexType name="TwoPersonBicycleType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="MaxPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FourWheeledCarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_MAXPRICEResponse">
        <wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_MAXPRICERequest">
        <wsdl:part name="_2PERSONBICYCLE" type="tns:TwoPersonBicycleType">
        </wsdl:part>
        <wsdl:part name="_4WHEELEDCAR" type="tns:FourWheeledCarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="4wheeledcar2personbicycleMaxpriceSoap">
        <wsdl:operation name="get_MAXPRICE">
            <wsdl:input message="tns:get_MAXPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_MAXPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="4wheeledcar2personbicycleMaxpriceSoapBinding" type="4wheeledcar2personbicycleMaxpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_MAXPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Fourwheeledcar2personbicycleMaxprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Fourwheeledcar2personbicycleMaxprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="4wheeledcar2personbicycleMaxpriceService">
        <wsdl:port name="4wheeledcar2personbicycleMaxpriceSoap" binding="4wheeledcar2personbicycleMaxpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Fourwheeledcar2personbicycleMaxprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
