iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_cerealgrain_PlantSeedservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Cerealgrain" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Cerealgrain" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Cerealgrain" targetNamespace="http://127.0.0.1/wsdl/Cerealgrain">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 23:31:32 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Cerealgrain" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#CerealGrain"/>
            </xsd:annotation>
            <xsd:element name="CerealGrain" type="CerealGrainType"/>
            <xsd:simpleType name="CerealGrainType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_CEREALGRAINResponse">
        <wsdl:part name="_CEREALGRAIN" type="tns:CerealGrainType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_CEREALGRAINRequest">
    </wsdl:message>
    <wsdl:portType name="CerealgrainSoap">
        <wsdl:operation name="get_CEREALGRAIN">
            <wsdl:input message="tns:get_CEREALGRAINRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_CEREALGRAINResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CerealgrainSoapBinding" type="CerealgrainSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_CEREALGRAIN">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Cerealgrain"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Cerealgrain"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CerealgrainService">
        <wsdl:port name="CerealgrainSoap" binding="CerealgrainSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Cerealgrain"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
