iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_coffeeteareport_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Coffeeteareport" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Coffeeteareport" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Coffeeteareport" targetNamespace="http://127.0.0.1/wsdl/Coffeeteareport">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 23:19:18 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Coffeeteareport"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Coffee"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Tea"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Report"/>
            </xsd:annotation>
            <xsd:element name="Report" type="ReportType"/>
            <xsd:element name="Coffee" type="CoffeeType"/>
            <xsd:element name="Tea" type="TeaType"/>
            <xsd:simpleType name="CoffeeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ReportType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TeaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COFFEE_TEA_REPORTResponse">
        <wsdl:part name="_COFFEE" type="tns:CoffeeType">
        </wsdl:part>
        <wsdl:part name="_TEA" type="tns:TeaType">
        </wsdl:part>
        <wsdl:part name="_REPORT" type="tns:ReportType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_COFFEE_TEA_REPORTRequest">
    </wsdl:message>
    <wsdl:portType name="CoffeeteareportSoap">
        <wsdl:operation name="get_COFFEE_TEA_REPORT">
            <wsdl:input message="tns:get_COFFEE_TEA_REPORTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COFFEE_TEA_REPORTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CoffeeteareportSoapBinding" type="CoffeeteareportSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COFFEE_TEA_REPORT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Coffeeteareport"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Coffeeteareport"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CoffeeteareportService">
        <wsdl:port name="CoffeeteareportSoap" binding="CoffeeteareportSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Coffeeteareport"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
