iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_digitalstandardpriceprice_MediaMarktservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Digitalstandardpriceprice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Digitalstandardpriceprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Digitalstandardpriceprice" targetNamespace="http://127.0.0.1/wsdl/Digitalstandardpriceprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 12:07:29 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Digitalstandardpriceprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#Digital"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#Standard"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="Digital" type="DigitalType"/>
            <xsd:element name="Standard" type="StandardType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ImageSensors">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDeviceType" type="ImageSensorsImageCapturingDeviceType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StandardType">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDevice" type="Standard-35mm"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DigitalType">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDevice" type="ImageSensors"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Standard-35mm">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDeviceType" type="Standard-35mmImageCapturingDeviceType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ImageCapturingDeviceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CMOSdevice"/>
                    <xsd:enumeration value="Standard35mmFilm"/>
                    <xsd:enumeration value="APSFILM"/>
                    <xsd:enumeration value="Old110mm"/>
                    <xsd:enumeration value="CCD-array"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Standard-35mmImageCapturingDeviceType">
                <xsd:restriction base="ImageCapturingDeviceType">
                    <xsd:enumeration value="Standard35mmFilm"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ImageSensorsImageCapturingDeviceType">
                <xsd:restriction base="ImageCapturingDeviceType">
                    <xsd:enumeration value="CCD-array"/>
                    <xsd:enumeration value="CMOSdevice"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DIGITAL_STANDARD_PRICE_PRICE1Request">
    </wsdl:message>
    <wsdl:message name="get_DIGITAL_STANDARD_PRICE_PRICE1Response">
        <wsdl:part name="_DIGITAL" type="tns:DigitalType">
        </wsdl:part>
        <wsdl:part name="_STANDARD" type="tns:StandardType">
        </wsdl:part>
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_PRICE1" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DigitalstandardpricepriceSoap">
        <wsdl:operation name="get_DIGITAL_STANDARD_PRICE_PRICE1">
            <wsdl:input message="tns:get_DIGITAL_STANDARD_PRICE_PRICE1Request">
            </wsdl:input>
            <wsdl:output message="tns:get_DIGITAL_STANDARD_PRICE_PRICE1Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DigitalstandardpricepriceSoapBinding" type="DigitalstandardpricepriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DIGITAL_STANDARD_PRICE_PRICE1">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Digitalstandardpriceprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Digitalstandardpriceprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DigitalstandardpricepriceService">
        <wsdl:port name="DigitalstandardpricepriceSoap" binding="DigitalstandardpricepriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Digitalstandardpriceprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
