iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_fodder_USimportservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Fodder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Fodder" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Fodder" targetNamespace="http://127.0.0.1/wsdl/Fodder">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed May 27 01:52:11 CEST 2009" targetNamespace="http://127.0.0.1/wsdl/Fodder"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Fodder"/>
            </xsd:annotation>
            <xsd:element name="Fodder" type="FodderType"/>
            <xsd:simpleType name="FodderType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FODDERResponse">
        <wsdl:part name="_FODDER" type="tns:FodderType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FODDERRequest">
    </wsdl:message>
    <wsdl:portType name="FodderSoap">
        <wsdl:operation name="get_FODDER">
            <wsdl:input message="tns:get_FODDERRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FODDERResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FodderSoapBinding" type="FodderSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FODDER">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Fodder"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Fodder"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FodderService">
        <wsdl:port name="FodderSoap" binding="FodderSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Fodder"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
