iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_hotel_Worldwideservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Hotel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Hotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Hotel" targetNamespace="http://127.0.0.1/wsdl/Hotel">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 19:36:17 CEST 2009" targetNamespace="http://127.0.0.1/wsdl/Hotel"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Hotel"/>
            </xsd:annotation>
            <xsd:element name="Hotel" type="HotelType"/>
            <xsd:simpleType name="HotelType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_HOTELResponse">
        <wsdl:part name="_HOTEL" type="tns:HotelType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_HOTELRequest">
    </wsdl:message>
    <wsdl:portType name="HotelSoap">
        <wsdl:operation name="get_HOTEL">
            <wsdl:input message="tns:get_HOTELRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_HOTELResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HotelSoapBinding" type="HotelSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_HOTEL">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Hotel"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Hotel"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HotelService">
        <wsdl:port name="HotelSoap" binding="HotelSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Hotel"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
