iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_information-bearing-object_Messageservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Information-bearing-object" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Information-bearing-object"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Information-bearing-object" targetNamespace="http://127.0.0.1/wsdl/Information-bearing-object">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed May 27 01:58:57 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Information-bearing-object"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Information-Bearing-Object"/>
            </xsd:annotation>
            <xsd:element name="Information-Bearing-Object" type="Information-Bearing-ObjectType"/>
            <xsd:complexType name="Information-Bearing-ObjectType">
                <xsd:sequence>
                    <xsd:element name="has-author" type="Generic-Agent"/>
                    <xsd:element name="owned-by" type="Legal-Agent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Legal-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_INFORMATION-BEARING-OBJECTResponse">
        <wsdl:part name="_INFORMATION-BEARING-OBJECT" type="tns:Information-Bearing-ObjectType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_INFORMATION-BEARING-OBJECTRequest">
    </wsdl:message>
    <wsdl:portType name="Information-bearing-objectSoap">
        <wsdl:operation name="get_INFORMATION-BEARING-OBJECT">
            <wsdl:input message="tns:get_INFORMATION-BEARING-OBJECTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_INFORMATION-BEARING-OBJECTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Information-bearing-objectSoapBinding" type="Information-bearing-objectSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_INFORMATION-BEARING-OBJECT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Information-bearing-object"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Information-bearing-object"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Information-bearing-objectService">
        <wsdl:port name="Information-bearing-objectSoap" binding="Information-bearing-objectSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Information-bearing-object"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
