iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_lecturer-in-academiaMunchenUniversity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Lecturer-in-academia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Lecturer-in-academia" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Lecturer-in-academia" targetNamespace="http://127.0.0.1/wsdl/Lecturer-in-academia">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 18:02:29 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Lecturer-in-academia"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Lecturer-In-Academia"/>
            </xsd:annotation>
            <xsd:element name="Lecturer-In-Academia" type="Lecturer-In-AcademiaType"/>
            <xsd:simpleType name="Lecturer-In-AcademiaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_LECTURER-IN-ACADEMIAResponse">
        <wsdl:part name="_LECTURER-IN-ACADEMIA" type="tns:Lecturer-In-AcademiaType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_LECTURER-IN-ACADEMIARequest">
    </wsdl:message>
    <wsdl:portType name="Lecturer-in-academiaSoap">
        <wsdl:operation name="get_LECTURER-IN-ACADEMIA">
            <wsdl:input message="tns:get_LECTURER-IN-ACADEMIARequest">
            </wsdl:input>
            <wsdl:output message="tns:get_LECTURER-IN-ACADEMIAResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Lecturer-in-academiaSoapBinding" type="Lecturer-in-academiaSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_LECTURER-IN-ACADEMIA">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Lecturer-in-academia"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Lecturer-in-academia"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Lecturer-in-academiaService">
        <wsdl:port name="Lecturer-in-academiaSoap" binding="Lecturer-in-academiaSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Lecturer-in-academia"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
