iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_professiongeographical-region_USservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Professiongeographical-region"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Professiongeographical-region"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Professiongeographical-region"
                  targetNamespace="http://127.0.0.1/wsdl/Professiongeographical-region">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 19:09:24 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Professiongeographical-region"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Profession"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geographical-Region"/>
            </xsd:annotation>
            <xsd:element name="Geographical-Region" type="Geographical-RegionType"/>
            <xsd:element name="Profession" type="ProfessionType"/>
            <xsd:simpleType name="Geographical-RegionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ProfessionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PROFESSION_GEOGRAPHICAL-REGIONResponse">
        <wsdl:part name="_PROFESSION" type="tns:ProfessionType">
        </wsdl:part>
        <wsdl:part name="_GEOGRAPHICAL-REGION" type="tns:Geographical-RegionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PROFESSION_GEOGRAPHICAL-REGIONRequest">
    </wsdl:message>
    <wsdl:portType name="Professiongeographical-regionSoap">
        <wsdl:operation name="get_PROFESSION_GEOGRAPHICAL-REGION">
            <wsdl:input message="tns:get_PROFESSION_GEOGRAPHICAL-REGIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PROFESSION_GEOGRAPHICAL-REGIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Professiongeographical-regionSoapBinding" type="Professiongeographical-regionSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PROFESSION_GEOGRAPHICAL-REGION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Professiongeographical-region"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Professiongeographical-region"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Professiongeographical-regionService">
        <wsdl:port name="Professiongeographical-regionSoap" binding="Professiongeographical-regionSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Professiongeographical-region"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
