iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_publication_PPservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Publication" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Publication" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Publication" targetNamespace="http://127.0.0.1/wsdl/Publication">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu Jun 04 23:57:49 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Publication" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Publication"/>
            </xsd:annotation>
            <xsd:element name="Publication" type="PublicationType"/>
            <xsd:simpleType name="PublicationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PUBLICATIONResponse">
        <wsdl:part name="_PUBLICATION" type="tns:PublicationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PUBLICATIONRequest">
    </wsdl:message>
    <wsdl:portType name="PublicationSoap">
        <wsdl:operation name="get_PUBLICATION">
            <wsdl:input message="tns:get_PUBLICATIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PUBLICATIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PublicationSoapBinding" type="PublicationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PUBLICATION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publication"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publication"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PublicationService">
        <wsdl:port name="PublicationSoap" binding="PublicationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Publication"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
