iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/_weatherprocess_Germanservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Weatherprocess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Weatherprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Weatherprocess" targetNamespace="http://127.0.0.1/wsdl/Weatherprocess">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 25 23:28:20 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Weatherprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#WeatherProcess"/>
            </xsd:annotation>
            <xsd:element name="WeatherProcess" type="WeatherProcessType"/>
            <xsd:simpleType name="WeatherProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_WEATHERPROCESSRequest">
    </wsdl:message>
    <wsdl:message name="get_WEATHERPROCESSResponse">
        <wsdl:part name="_WEATHERPROCESS" type="tns:WeatherProcessType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WeatherprocessSoap">
        <wsdl:operation name="get_WEATHERPROCESS">
            <wsdl:input message="tns:get_WEATHERPROCESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_WEATHERPROCESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WeatherprocessSoapBinding" type="WeatherprocessSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_WEATHERPROCESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Weatherprocess"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Weatherprocess"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WeatherprocessService">
        <wsdl:port name="WeatherprocessSoap" binding="WeatherprocessSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Weatherprocess"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
