iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Academic-degreeScholarship.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Academic-degreeScholarship"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Academic-degreeScholarship" targetNamespace="http://127.0.0.1/wsdl/Academic-degreeScholarship">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu Apr 23 13:36:36 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Academic-degreeScholarship"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Academic-Degree"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Scholarship"/>
            </xsd:annotation>
            <xsd:element name="Scholarship" type="tns:ScholarshipType"/>
            <xsd:element name="Academic-Degree" type="tns:Academic-DegreeType"/>
            <xsd:simpleType name="Academic-DegreeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="PhD"/>
                    <xsd:enumeration value="BSc"/>
                    <xsd:enumeration value="DEng"/>
                    <xsd:enumeration value="MSc"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ScholarshipType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SCHOLARSHIPResponse">
        <wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SCHOLARSHIPRequest">
        <wsdl:part name="_ACADEMIC-DEGREE" type="tns:Academic-DegreeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Academic-degreeScholarshipSoap">
        <wsdl:operation name="get_SCHOLARSHIP">
            <wsdl:input message="tns:get_SCHOLARSHIPRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SCHOLARSHIPResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Academic-degreeScholarshipSoapBinding" type="tns:Academic-degreeScholarshipSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SCHOLARSHIP">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-degreeScholarship"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-degreeScholarship"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Academic-degreeScholarshipService">
        <wsdl:port name="Academic-degreeScholarshipSoap" binding="tns:Academic-degreeScholarshipSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Academic-degreeScholarship"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
