iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/AcademicAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/AcademicAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="AcademicAddress" targetNamespace="http://127.0.0.1/wsdl/AcademicAddress">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Apr 21 11:28:54 CEST 2009" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://127.0.0.1/wsdl/AcademicAddress">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Academic"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Address"/>
            </xsd:annotation>
            <xsd:element name="Academic" type="tns:AcademicType"/>
            <xsd:element name="Address" type="tns:AddressType"/>
            <xsd:complexType name="AddressType">
                <xsd:sequence>
                    <xsd:element name="address-pretty-label" type="xsd:string"/>
                    <xsd:element name="address-building" type="xsd:string"/>
                    <xsd:element name="address-street" type="xsd:string"/>
                    <xsd:element name="address-number" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="address-postcode" type="xsd:string"/>
                    <xsd:element name="address-area" type="tns:Local-District"/>
                    <xsd:element name="address-region" type="tns:Geographical-Region"/>
                    <xsd:element name="address-country" type="tns:Country"/>
                    <xsd:element name="address-city-or-village" type="tns:Municipal-Unit"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Municipal-Unit">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="AcademicType">
                <xsd:sequence>
                    <xsd:element name="works-for" type="tns:Higher-Educational-Organization"/>
                    <xsd:element name="name" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Local-District">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Higher-Educational-Organization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geographical-Region">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Country">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_ADDRESSRequest">
        <wsdl:part name="_ACADEMIC" type="tns:AcademicType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_ADDRESSResponse">
        <wsdl:part name="_ADDRESS" type="tns:AddressType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AcademicAddressSoap">
        <wsdl:operation name="get_ADDRESS">
            <wsdl:input message="tns:get_ADDRESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_ADDRESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AcademicAddressSoapBinding" type="tns:AcademicAddressSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_ADDRESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/AcademicAddress"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/AcademicAddress"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AcademicAddressService">
        <wsdl:port name="AcademicAddressSoap" binding="tns:AcademicAddressSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/AcademicAddress"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
