iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Academic-item-numberBook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Academic-item-numberBook"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Academic-item-numberBook" targetNamespace="http://127.0.0.1/wsdl/Academic-item-numberBook">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed Apr 22 15:43:47 CEST 2009" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://127.0.0.1/wsdl/Academic-item-numberBook">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Academic-Item-Number"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Book"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Academic-Item-Number" type="tns:Academic-Item-NumberType"/>
            <xsd:complexType name="Book-Reference">
                <xsd:sequence>
                    <xsd:element name="has-ISBN-number" type="xsd:string"/>
                    <xsd:element name="published-by" type="tns:Publishing-House"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="has-publication-reference" type="tns:Book-Reference"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Publishing-House">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Academic-Item-NumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_BOOKRequest">
        <wsdl:part name="_ACADEMIC-ITEM-NUMBER" type="tns:Academic-Item-NumberType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_BOOKResponse">
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Academic-item-numberBookSoap">
        <wsdl:operation name="get_BOOK">
            <wsdl:input message="tns:get_BOOKRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_BOOKResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Academic-item-numberBookSoapBinding" type="tns:Academic-item-numberBookSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_BOOK">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-item-numberBook"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-item-numberBook"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Academic-item-numberBookService">
        <wsdl:port name="Academic-item-numberBookSoap" binding="tns:Academic-item-numberBookSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Academic-item-numberBook"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
