iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/academic-degreegovernment_funding_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Academic-degreegovernmentFunding"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Academic-degreegovernmentFunding"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Academic-degreegovernmentFunding"
                  targetNamespace="http://127.0.0.1/wsdl/Academic-degreegovernmentFunding">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 00:27:45 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Academic-degreegovernmentFunding"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Government"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Academic-Degree"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Funding"/>
            </xsd:annotation>
            <xsd:element name="Government" type="GovernmentType"/>
            <xsd:element name="Academic-Degree" type="Academic-DegreeType"/>
            <xsd:element name="Funding" type="FundingType"/>
            <xsd:simpleType name="Academic-DegreeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="PhD"/>
                    <xsd:enumeration value="BSc"/>
                    <xsd:enumeration value="MSc"/>
                    <xsd:enumeration value="DEng"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="GovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FundingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FUNDINGResponse">
        <wsdl:part name="_FUNDING" type="tns:FundingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FUNDINGRequest">
        <wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
        </wsdl:part>
        <wsdl:part name="_ACADEMIC-DEGREE" type="tns:Academic-DegreeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Academic-degreegovernmentFundingSoap">
        <wsdl:operation name="get_FUNDING">
            <wsdl:input message="tns:get_FUNDINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FUNDINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Academic-degreegovernmentFundingSoapBinding" type="Academic-degreegovernmentFundingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FUNDING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-degreegovernmentFunding"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-degreegovernmentFunding"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Academic-degreegovernmentFundingService">
        <wsdl:port name="Academic-degreegovernmentFundingSoap" binding="Academic-degreegovernmentFundingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Academic-degreegovernmentFunding"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
