iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/academic-degreegovernment_unilateralgiving_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Academic-degreegovernmentUnilateralgiving"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Academic-degreegovernmentUnilateralgiving"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Academic-degreegovernmentUnilateralgiving"
                  targetNamespace="http://127.0.0.1/wsdl/Academic-degreegovernmentUnilateralgiving">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 00:31:53 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Academic-degreegovernmentUnilateralgiving"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Government"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Academic-Degree"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#UnilateralGiving"/>
            </xsd:annotation>
            <xsd:element name="Government" type="GovernmentType"/>
            <xsd:element name="Academic-Degree" type="Academic-DegreeType"/>
            <xsd:element name="UnilateralGiving" type="UnilateralGivingType"/>
            <xsd:simpleType name="Academic-DegreeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="PhD"/>
                    <xsd:enumeration value="BSc"/>
                    <xsd:enumeration value="MSc"/>
                    <xsd:enumeration value="DEng"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="GovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="UnilateralGivingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_UNILATERALGIVINGResponse">
        <wsdl:part name="_UNILATERALGIVING" type="tns:UnilateralGivingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_UNILATERALGIVINGRequest">
        <wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
        </wsdl:part>
        <wsdl:part name="_ACADEMIC-DEGREE" type="tns:Academic-DegreeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Academic-degreegovernmentUnilateralgivingSoap">
        <wsdl:operation name="get_UNILATERALGIVING">
            <wsdl:input message="tns:get_UNILATERALGIVINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_UNILATERALGIVINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Academic-degreegovernmentUnilateralgivingSoapBinding"
                  type="Academic-degreegovernmentUnilateralgivingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_UNILATERALGIVING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-degreegovernmentUnilateralgiving"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Academic-degreegovernmentUnilateralgiving"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Academic-degreegovernmentUnilateralgivingService">
        <wsdl:port name="Academic-degreegovernmentUnilateralgivingSoap"
                   binding="Academic-degreegovernmentUnilateralgivingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Academic-degreegovernmentUnilateralgiving"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
