iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Acceptcostandhealingplan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Acceptcostandhealingplan"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Acceptcostandhealingplan" targetNamespace="http://127.0.0.1/wsdl/Acceptcostandhealingplan">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu Apr 23 22:28:57 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Acceptcostandhealingplan"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/PatientOntology.owl#CostAndHealingPlan"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/PatientOntology.owl#Acknowledgement"/>
            </xsd:annotation>
            <xsd:element name="CostAndHealingPlan" type="tns:CostAndHealingPlanType"/>
            <xsd:element name="Acknowledgement" type="tns:AcknowledgementType"/>
            <xsd:simpleType name="AcknowledgementType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CostAndHealingPlanType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerRequest">
        <wsdl:part name="AcceptCostAndHealingPlan_CostAndHealingPlan" type="tns:CostAndHealingPlanType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerResponse">
        <wsdl:part name="AcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswer" type="tns:AcknowledgementType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AcceptcostandhealingplanSoap">
        <wsdl:operation name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswer">
            <wsdl:input message="tns:getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswerResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AcceptcostandhealingplanSoapBinding" type="tns:AcceptcostandhealingplanSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAcceptCostAndHealingPlan_CostAndHealingPlanAcceptanceAnswer">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Acceptcostandhealingplan"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Acceptcostandhealingplan"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AcceptcostandhealingplanService">
        <wsdl:port name="AcceptcostandhealingplanSoap" binding="tns:AcceptcostandhealingplanSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Acceptcostandhealingplan"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
