iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/ActivityFarmland.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ActivityFarmland" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ActivityFarmland" targetNamespace="http://127.0.0.1/wsdl/ActivityFarmland">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Apr 24 12:56:12 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ActivityFarmland"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Activity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Farmland"/>
            </xsd:annotation>
            <xsd:element name="Activity" type="tns:ActivityType"/>
            <xsd:element name="Farmland" type="tns:FarmlandType"/>
            <xsd:simpleType name="ActivityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FarmlandType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FARMLANDRequest">
        <wsdl:part name="_ACTIVITY" type="tns:ActivityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FARMLANDResponse">
        <wsdl:part name="_FARMLAND" type="tns:FarmlandType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ActivityFarmlandSoap">
        <wsdl:operation name="get_FARMLAND">
            <wsdl:input message="tns:get_FARMLANDRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FARMLANDResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ActivityFarmlandSoapBinding" type="tns:ActivityFarmlandSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FARMLAND">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ActivityFarmland"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ActivityFarmland"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ActivityFarmlandService">
        <wsdl:port name="ActivityFarmlandSoap" binding="tns:ActivityFarmlandSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ActivityFarmland"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
