iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Apothecary_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Getdruginformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Getdruginformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Getdruginformation" targetNamespace="http://127.0.0.1/wsdl/Getdruginformation">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 25 23:35:03 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Getdruginformation"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/ApothecaryOntology.owl#Treatment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/ApothecaryOntology.owl#Drug"/>
            </xsd:annotation>
            <xsd:element name="Treatment" type="TreatmentType"/>
            <xsd:element name="Drug" type="DrugType"/>
            <xsd:simpleType name="TreatmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DrugType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getGetDrugInformation_RequiredDrugsResponse">
        <wsdl:part name="GetDrugInformation_RequiredDrugs" type="tns:DrugType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGetDrugInformation_RequiredDrugsRequest">
        <wsdl:part name="GetDrugInformation_TreatmentIInformation" type="tns:TreatmentType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GetdruginformationSoap">
        <wsdl:operation name="getGetDrugInformation_RequiredDrugs">
            <wsdl:input message="tns:getGetDrugInformation_RequiredDrugsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getGetDrugInformation_RequiredDrugsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetdruginformationSoapBinding" type="GetdruginformationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getGetDrugInformation_RequiredDrugs">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Getdruginformation"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Getdruginformation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetdruginformationService">
        <wsdl:port name="GetdruginformationSoap" binding="GetdruginformationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Getdruginformation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
