iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/AuthorBookmaxprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/AuthorBookmaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="AuthorBookmaxprice" targetNamespace="http://127.0.0.1/wsdl/AuthorBookmaxprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Apr 25 17:55:37 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/AuthorBookmaxprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Author"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Book"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#MaxPrice"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Author" type="tns:AuthorType"/>
            <xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="isTitled" type="tns:Title"/>
                    <xsd:element name="hasType" type="tns:Book-Type"/>
                    <xsd:element name="writtenBy" type="tns:AuthorType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Title">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MaxPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Book-Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_BOOK_MAXPRICERequest">
        <wsdl:part name="_AUTHOR" type="tns:AuthorType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_BOOK_MAXPRICEResponse">
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
        <wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AuthorBookmaxpriceSoap">
        <wsdl:operation name="get_BOOK_MAXPRICE">
            <wsdl:input message="tns:get_BOOK_MAXPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_BOOK_MAXPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthorBookmaxpriceSoapBinding" type="tns:AuthorBookmaxpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_BOOK_MAXPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/AuthorBookmaxprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/AuthorBookmaxprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthorBookmaxpriceService">
        <wsdl:port name="AuthorBookmaxpriceSoap" binding="tns:AuthorBookmaxpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/AuthorBookmaxprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
