iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/auto1personbicycle_price_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Auto1personbicyclePrice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Auto1personbicyclePrice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Auto1personbicyclePrice" targetNamespace="http://127.0.0.1/wsdl/Auto1personbicyclePrice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon Jun 08 17:54:32 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Auto1personbicyclePrice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#OnePersonBicycle"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#Auto"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="OnePersonBicycle" type="OnePersonBicycleType"/>
            <xsd:element name="Auto" type="AutoType"/>
            <xsd:complexType name="AutoType">
                <xsd:sequence>
                    <xsd:element name="Power" type="MoveableThing"/>
                    <xsd:element name="Shape" type="DesignedThing"/>
                    <xsd:element name="madeBy" type="Company"/>
                    <xsd:element name="Rigid" type="DesignedThing"/>
                    <xsd:element name="hasValue" type="Thing"/>
                    <xsd:element maxOccurs="5" name="Person"/>
                    <xsd:element name="belongsTo" type="Person"/>
                    <xsd:element name="Profitable" type="DesignedThing"/>
                    <xsd:element name="Color"/>
                    <xsd:element name="Model" type="DesignedThing"/>
                    <xsd:element name="LifeTime" type="DesignedThing"/>
                    <xsd:element name="Engine"/>
                    <xsd:element maxOccurs="4" name="Wheel"/>
                    <xsd:element name="Speed" type="MoveableThing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DesignedThing">
                <xsd:sequence>
                    <xsd:element name="designedBy" type="Designer"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OnePersonBicycleType">
                <xsd:sequence>
                    <xsd:element name="Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="MoveableThing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Person">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Designer">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Company">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICERequest">
        <wsdl:part name="_1PERSONBICYCLE" type="tns:OnePersonBicycleType">
        </wsdl:part>
        <wsdl:part name="_AUTO" type="tns:AutoType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICEResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Auto1personbicyclePriceSoap">
        <wsdl:operation name="get_PRICE">
            <wsdl:input message="tns:get_PRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Auto1personbicyclePriceSoapBinding" type="Auto1personbicyclePriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Auto1personbicyclePrice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Auto1personbicyclePrice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Auto1personbicyclePriceService">
        <wsdl:port name="Auto1personbicyclePriceSoap" binding="Auto1personbicyclePriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Auto1personbicyclePrice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
