iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/award_lendingduration_GermanGovservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/AwardLendingduration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/AwardLendingduration" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="AwardLendingduration" targetNamespace="http://127.0.0.1/wsdl/AwardLendingduration">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 25 01:58:56 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/AwardLendingduration"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Award"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Lending"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/support.owl#Duration"/>
            </xsd:annotation>
            <xsd:element name="Award" type="AwardType"/>
            <xsd:element name="Lending" type="LendingType"/>
            <xsd:element name="Duration" type="DurationType"/>
            <xsd:complexType name="DurationType">
                <xsd:choice>
                    <xsd:element name="durationID" type="DurationDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="has-unit-of-measure" type="Time-Measure"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:simpleType name="AwardType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DurationDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="twelve-month-duration"/>
                    <xsd:enumeration value="thirty-day-duration"/>
                    <xsd:enumeration value="twentyfour-hour-duration"/>
                    <xsd:enumeration value="twentyeight-day-duration"/>
                    <xsd:enumeration value="thirtyone-day-duration"/>
                    <xsd:enumeration value="seven-day-duration"/>
                    <xsd:enumeration value="twentynine-day-duration"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Time-Measure">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="time-measure-day"/>
                    <xsd:enumeration value="time-measure-hour"/>
                    <xsd:enumeration value="time-measure-year"/>
                    <xsd:enumeration value="time-measure-second"/>
                    <xsd:enumeration value="time-measure-minute"/>
                    <xsd:enumeration value="time-measure-month"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LendingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_LENDING_DURATIONRequest">
        <wsdl:part name="_AWARD" type="tns:AwardType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_LENDING_DURATIONResponse">
        <wsdl:part name="_LENDING" type="tns:LendingType">
        </wsdl:part>
        <wsdl:part name="_DURATION" type="tns:DurationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AwardLendingdurationSoap">
        <wsdl:operation name="get_LENDING_DURATION">
            <wsdl:input message="tns:get_LENDING_DURATIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_LENDING_DURATIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AwardLendingdurationSoapBinding" type="AwardLendingdurationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_LENDING_DURATION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/AwardLendingduration"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/AwardLendingduration"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AwardLendingdurationService">
        <wsdl:port name="AwardLendingdurationSoap" binding="AwardLendingdurationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/AwardLendingduration"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
