iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/BicyclecarPriceyear.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/BicyclecarPriceyear" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="BicyclecarPriceyear" targetNamespace="http://127.0.0.1/wsdl/BicyclecarPriceyear">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 02:18:08 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/BicyclecarPriceyear"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Car"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#Bicycle"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Year"/>
            </xsd:annotation>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="Year" type="tns:YearType"/>
            <xsd:element name="Car" type="tns:CarType"/>
            <xsd:element name="Bicycle" type="tns:BicycleType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BicycleType">
                <xsd:sequence>
                    <xsd:element name="Wheel"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="YearType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICE_YEARResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_YEAR" type="tns:YearType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICE_YEARRequest">
        <wsdl:part name="_CAR" type="tns:CarType">
        </wsdl:part>
        <wsdl:part name="_BICYCLE" type="tns:BicycleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BicyclecarPriceyearSoap">
        <wsdl:operation name="get_PRICE_YEAR">
            <wsdl:input message="tns:get_PRICE_YEARRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICE_YEARResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BicyclecarPriceyearSoapBinding" type="tns:BicyclecarPriceyearSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE_YEAR">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BicyclecarPriceyear"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BicyclecarPriceyear"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BicyclecarPriceyearService">
        <wsdl:port name="BicyclecarPriceyearSoap" binding="tns:BicyclecarPriceyearSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/BicyclecarPriceyear"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
