iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/BookAuthortext.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/BookAuthortext" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="BookAuthortext" targetNamespace="http://127.0.0.1/wsdl/BookAuthortext">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri May 01 00:19:49 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/BookAuthortext" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Book"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Author"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/SUMO.owl#Text"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Author" type="tns:AuthorType"/>
            <xsd:element name="Text" type="tns:TextType"/>
            <xsd:complexType name="Physical">
                <xsd:sequence>
                    <xsd:element name="hasPurpose" type="tns:Formula"/>
                    <xsd:element name="date" type="tns:Day"/>
                    <xsd:element name="WhenFn" type="tns:TimeInterval"/>
                    <xsd:element name="cooccur" type="tns:Physical"/>
                    <xsd:element name="monetaryValue" type="tns:CurrencyMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimeInterval">
                <xsd:sequence>
                    <xsd:element name="starts" type="tns:TimeInterval"/>
                    <xsd:element name="finishes" type="tns:TimeInterval"/>
                    <xsd:element name="BeginFn" type="tns:TimePoint"/>
                    <xsd:element name="duration" type="tns:TimeDuration"/>
                    <xsd:element name="during" type="tns:TimeInterval"/>
                    <xsd:element name="EndFn" type="tns:TimePoint"/>
                    <xsd:element name="earlier" type="tns:TimeInterval"/>
                    <xsd:element name="meetsTemporally" type="tns:TimeInterval"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimePoint">
                <xsd:sequence>
                    <xsd:element name="before" type="tns:TimePoint"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Formula">
                <xsd:sequence>
                    <xsd:element name="ProbabilityFn" type="xsd:anyURI"/>
                    <xsd:element name="decreasesLikelihood" type="tns:Formula"/>
                    <xsd:element name="independentProbability" type="tns:Formula"/>
                    <xsd:element name="increasesLikelihood" type="tns:Formula"/>
                    <xsd:element name="modalAttribute" type="tns:NormativeAttribute"/>
                    <xsd:element name="entails" type="tns:Formula"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TextType">
                <xsd:sequence>
                    <xsd:element name="registeredItem" type="tns:Physical"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="isTitled" type="tns:Title"/>
                    <xsd:element name="hasType" type="tns:Book-Type"/>
                    <xsd:element name="writtenBy" type="tns:AuthorType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CurrencyMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Title">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Book-Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeDuration">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Day">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="NormativeAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_AUTHOR_TEXTRequest">
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_AUTHOR_TEXTResponse">
        <wsdl:part name="_AUTHOR" type="tns:AuthorType">
        </wsdl:part>
        <wsdl:part name="_TEXT" type="tns:TextType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookAuthortextSoap">
        <wsdl:operation name="get_AUTHOR_TEXT">
            <wsdl:input message="tns:get_AUTHOR_TEXTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_AUTHOR_TEXTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookAuthortextSoapBinding" type="tns:BookAuthortextSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_AUTHOR_TEXT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookAuthortext"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookAuthortext"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookAuthortextService">
        <wsdl:port name="BookAuthortextSoap" binding="tns:BookAuthortextSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/BookAuthortext"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
