iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/BookPricesizebook-type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/BookPricesizebook-type" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="BookPricesizebook-type" targetNamespace="http://127.0.0.1/wsdl/BookPricesizebook-type">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat May 02 17:36:40 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/BookPricesizebook-type"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Book"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Size"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Book-Type"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Size" type="tns:SizeType"/>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="Book-Type" type="tns:Book-TypeType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="isTitled" type="tns:Title"/>
                    <xsd:element name="hasType" type="tns:Book-TypeType"/>
                    <xsd:element name="writtenBy" type="tns:Author"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Book-TypeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Author">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Title">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="SizeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICE_SIZE_BOOK-TYPERequest">
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICE_SIZE_BOOK-TYPEResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_SIZE" type="tns:SizeType">
        </wsdl:part>
        <wsdl:part name="_BOOK-TYPE" type="tns:Book-TypeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookPricesizebook-typeSoap">
        <wsdl:operation name="get_PRICE_SIZE_BOOK-TYPE">
            <wsdl:input message="tns:get_PRICE_SIZE_BOOK-TYPERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICE_SIZE_BOOK-TYPEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookPricesizebook-typeSoapBinding" type="tns:BookPricesizebook-typeSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE_SIZE_BOOK-TYPE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookPricesizebook-type"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookPricesizebook-type"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookPricesizebook-typeService">
        <wsdl:port name="BookPricesizebook-typeSoap" binding="tns:BookPricesizebook-typeSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/BookPricesizebook-type"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
