iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/BookReaderreview.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/BookReaderreview" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="BookReaderreview" targetNamespace="http://127.0.0.1/wsdl/BookReaderreview">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat May 02 17:53:04 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/BookReaderreview"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Book"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Reader"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Review"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Review" type="tns:ReviewType"/>
            <xsd:element name="Reader" type="tns:ReaderType"/>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="isTitled" type="tns:Title"/>
                    <xsd:element name="hasType" type="tns:Book-Type"/>
                    <xsd:element name="writtenBy" type="tns:Author"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Author">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Title">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ReaderType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Book-Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ReviewType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_READER_REVIEWRequest">
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_READER_REVIEWResponse">
        <wsdl:part name="_READER" type="tns:ReaderType">
        </wsdl:part>
        <wsdl:part name="_REVIEW" type="tns:ReviewType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookReaderreviewSoap">
        <wsdl:operation name="get_READER_REVIEW">
            <wsdl:input message="tns:get_READER_REVIEWRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_READER_REVIEWResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookReaderreviewSoapBinding" type="tns:BookReaderreviewSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_READER_REVIEW">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookReaderreview"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookReaderreview"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookReaderreviewService">
        <wsdl:port name="BookReaderreviewSoap" binding="tns:BookReaderreviewSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/BookReaderreview"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
