iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Camerataxedprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Camerataxedprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Camerataxedprice" targetNamespace="http://127.0.0.1/wsdl/Camerataxedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 04 17:06:42 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Camerataxedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#Camera"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
            </xsd:annotation>
            <xsd:element name="Camera" type="tns:CameraType"/>
            <xsd:element name="TaxedPrice" type="tns:TaxedPriceType"/>
            <xsd:complexType name="Lens">
                <xsd:sequence>
                    <xsd:element name="f-stop" type="xsd:string"/>
                    <xsd:element name="focal-length" type="xsd:string"/>
                    <xsd:element name="aperture" type="xsd:string"/>
                    <xsd:element name="size" type="xsd:string"/>
                    <xsd:element name="isCompatibleWith" type="tns:Body"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CameraType">
                <xsd:sequence>
                    <xsd:element name="hasDimension" type="tns:Dimension"/>
                    <xsd:element name="hasBody" type="tns:Body"/>
                    <xsd:element name="hasLens" type="tns:Lens"/>
                    <xsd:element name="hasViewFinder" type="tns:ViewerWindow"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="tns:Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ViewerWindow">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:complexType name="Range">
                <xsd:sequence>
                    <xsd:element name="steps" type="xsd:string"/>
                    <xsd:element name="min" type="xsd:float"/>
                    <xsd:element name="max" type="xsd:float"/>
                    <xsd:element name="units" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Body">
                <xsd:sequence>
                    <xsd:element name="shutter-speed" type="tns:Range"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Dimension">
                <xsd:sequence>
                    <xsd:element name="breadth" type="xsd:float"/>
                    <xsd:element name="length" type="xsd:float"/>
                    <xsd:element name="height" type="xsd:float"/>
                    <xsd:element name="units" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_CAMERA_TAXEDPRICERequest">
    </wsdl:message>
    <wsdl:message name="get_CAMERA_TAXEDPRICEResponse">
        <wsdl:part name="_CAMERA" type="tns:CameraType">
        </wsdl:part>
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CamerataxedpriceSoap">
        <wsdl:operation name="get_CAMERA_TAXEDPRICE">
            <wsdl:input message="tns:get_CAMERA_TAXEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_CAMERA_TAXEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CamerataxedpriceSoapBinding" type="tns:CamerataxedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_CAMERA_TAXEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Camerataxedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Camerataxedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CamerataxedpriceService">
        <wsdl:port name="CamerataxedpriceSoap" binding="tns:CamerataxedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Camerataxedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
