iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CareorganizationExperimenting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CareorganizationExperimenting"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CareorganizationExperimenting"
                  targetNamespace="http://127.0.0.1/wsdl/CareorganizationExperimenting">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 02:44:09 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CareorganizationExperimenting"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#CareOrganization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/SUMO.owl#Experimenting"/>
            </xsd:annotation>
            <xsd:element name="CareOrganization" type="tns:CareOrganizationType"/>
            <xsd:element name="Experimenting" type="tns:ExperimentingType"/>
            <xsd:complexType name="SelfConnectedObject">
                <xsd:sequence>
                    <xsd:element name="BackFn" type="tns:SelfConnectedObject"/>
                    <xsd:element name="onboard" type="tns:Vehicle"/>
                    <xsd:element name="side" type="tns:SelfConnectedObject"/>
                    <xsd:element name="bottom" type="tns:SelfConnectedObject"/>
                    <xsd:element name="capacity" type="tns:ConstantQuantity"/>
                    <xsd:element name="height" type="tns:LengthMeasure"/>
                    <xsd:element name="FrontFn" type="tns:SelfConnectedObject"/>
                    <xsd:element name="top" type="tns:SelfConnectedObject"/>
                    <xsd:element name="contains" type="tns:Object"/>
                    <xsd:element name="surface" type="tns:SelfConnectedObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeopoliticalArea">
                <xsd:sequence>
                    <xsd:element name="JudiciaryFn" type="tns:JudicialOrganization"/>
                    <xsd:element name="dependentGeopoliticalArea" type="tns:GeopoliticalArea"/>
                    <xsd:element name="totalGDP" type="tns:CurrencyMeasure"/>
                    <xsd:element name="CitizenryFn" type="tns:GroupOfPeople"/>
                    <xsd:element name="GovernmentFn" type="tns:Government"/>
                    <xsd:element name="currencyType" type="tns:CurrencyMeasure"/>
                    <xsd:element name="legalSystemType" type="tns:LegalSystemAttribute"/>
                    <xsd:element name="primaryGeopoliticalSubdivision" type="tns:GeopoliticalArea"/>
                    <xsd:element name="LegislatureFn" type="tns:LegislativeOrganization"/>
                    <xsd:element name="industryOfArea" type="tns:Physical"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimePoint">
                <xsd:sequence>
                    <xsd:element name="before" type="tns:TimePoint"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Woman">
                <xsd:sequence>
                    <xsd:element name="niece" type="tns:Human"/>
                    <xsd:element name="aunt" type="tns:Human"/>
                    <xsd:element name="wife" type="tns:Man"/>
                    <xsd:element name="daughter" type="tns:Human"/>
                    <xsd:element name="sister" type="tns:Human"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConstantQuantity">
                <xsd:sequence>
                    <xsd:element name="MagnitudeFn" type="xsd:anyURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Physical">
                <xsd:sequence>
                    <xsd:element name="hasPurpose" type="tns:Formula"/>
                    <xsd:element name="date" type="tns:Day"/>
                    <xsd:element name="WhenFn" type="tns:TimeInterval"/>
                    <xsd:element name="cooccur" type="tns:Physical"/>
                    <xsd:element name="monetaryValue" type="tns:CurrencyMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExperimentingType">
                <xsd:sequence>
                    <xsd:element name="experimentalControl" type="tns:Object"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Man">
                <xsd:sequence>
                    <xsd:element name="uncle" type="tns:Human"/>
                    <xsd:element name="brother" type="tns:Human"/>
                    <xsd:element name="husband" type="tns:Woman"/>
                    <xsd:element name="nephew" type="tns:Human"/>
                    <xsd:element name="son" type="tns:Human"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimeInterval">
                <xsd:sequence>
                    <xsd:element name="starts" type="tns:TimeInterval"/>
                    <xsd:element name="finishes" type="tns:TimeInterval"/>
                    <xsd:element name="BeginFn" type="tns:TimePoint"/>
                    <xsd:element name="duration" type="tns:TimeDuration"/>
                    <xsd:element name="during" type="tns:TimeInterval"/>
                    <xsd:element name="EndFn" type="tns:TimePoint"/>
                    <xsd:element name="earlier" type="tns:TimeInterval"/>
                    <xsd:element name="meetsTemporally" type="tns:TimeInterval"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Agent">
                <xsd:sequence>
                    <xsd:element name="financialAsset" type="tns:Object"/>
                    <xsd:element name="leader" type="tns:Human"/>
                    <xsd:element name="economyType" type="tns:EconomicAttribute"/>
                    <xsd:element name="editor" type="tns:Text"/>
                    <xsd:element name="authors" type="tns:Text"/>
                    <xsd:element name="WealthFn" type="tns:CurrencyMeasure"/>
                    <xsd:element name="PropertyFn" type="tns:Set"/>
                    <xsd:element name="ExecutiveBranchFn" type="tns:Organization"/>
                    <xsd:element name="customer" type="tns:Corporation"/>
                    <xsd:element name="governmentType" type="tns:FormOfGovernment"/>
                    <xsd:element name="leaderPosition" type="tns:Position"/>
                    <xsd:element name="fiscalYearPeriod" type="tns:TimeInterval"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CognitiveAgent">
                <xsd:sequence>
                    <xsd:element name="teacher" type="tns:EducationalOrganization"/>
                    <xsd:element name="hasExpertise" type="tns:FieldOfStudy"/>
                    <xsd:element name="affiliatedOrganization" type="tns:CognitiveAgent"/>
                    <xsd:element name="dislikes" type="tns:Object"/>
                    <xsd:element name="enjoys" type="tns:IntentionalProcess"/>
                    <xsd:element name="defendant" type="tns:LegalAction"/>
                    <xsd:element name="allegiance" type="tns:CognitiveAgent"/>
                    <xsd:element name="disapproves" type="tns:Formula"/>
                    <xsd:element name="wants" type="tns:Physical"/>
                    <xsd:element name="plaintiff" type="tns:LegalAction"/>
                    <xsd:element name="knows" type="tns:Formula"/>
                    <xsd:element name="desires" type="tns:Formula"/>
                    <xsd:element name="student" type="tns:EducationalOrganization"/>
                    <xsd:element name="considers" type="tns:Formula"/>
                    <xsd:element name="doubts" type="tns:Formula"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Formula">
                <xsd:sequence>
                    <xsd:element name="ProbabilityFn" type="xsd:anyURI"/>
                    <xsd:element name="decreasesLikelihood" type="tns:Formula"/>
                    <xsd:element name="independentProbability" type="tns:Formula"/>
                    <xsd:element name="increasesLikelihood" type="tns:Formula"/>
                    <xsd:element name="modalAttribute" type="tns:NormativeAttribute"/>
                    <xsd:element name="entails" type="tns:Formula"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FieldOfStudy">
                <xsd:sequence>
                    <xsd:element name="subField" type="tns:FieldOfStudy"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FinancialTransaction">
                <xsd:sequence>
                    <xsd:element name="transactionAmount" type="tns:CurrencyMeasure"/>
                    <xsd:element name="loss" type="tns:CurrencyMeasure"/>
                    <xsd:element name="profit" type="tns:CurrencyMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization">
                <xsd:sequence>
                    <xsd:element name="yearOfFounding" type="xsd:anyURI"/>
                    <xsd:element name="religiousAffiliationOfOrganization" type="tns:BeliefGroup"/>
                    <xsd:element name="agentOperatesInArea" type="tns:GeopoliticalArea"/>
                    <xsd:element name="subOrganization" type="tns:Organization"/>
                    <xsd:element name="ideologicalAffiliationOfOrganization" type="tns:FormOfGovernment"/>
                    <xsd:element name="headquartersOfOrganization" type="tns:GeopoliticalArea"/>
                    <xsd:element name="publishes" type="tns:Text"/>
                    <xsd:element name="employs" type="tns:CognitiveAgent"/>
                    <xsd:element name="ancestorOrganization" type="tns:Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Hole">
                <xsd:sequence>
                    <xsd:element name="HoleSkinFn" type="tns:Object"/>
                    <xsd:element name="hole" type="tns:SelfConnectedObject"/>
                    <xsd:element name="HoleHostFn" type="tns:Object"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Text">
                <xsd:sequence>
                    <xsd:element name="registeredItem" type="tns:Physical"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Set">
                <xsd:sequence>
                    <xsd:element name="subset" type="tns:Set"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Human">
                <xsd:sequence>
                    <xsd:element name="intelligenceQuotient" type="xsd:anyURI"/>
                    <xsd:element name="grandfather" type="tns:Man"/>
                    <xsd:element name="citizen" type="tns:Nation"/>
                    <xsd:element name="ImmediateFamilyFn" type="tns:FamilyGroup"/>
                    <xsd:element name="birthday" type="tns:Day"/>
                    <xsd:element name="home" type="tns:PermanentResidence"/>
                    <xsd:element name="stepmother" type="tns:Woman"/>
                    <xsd:element name="tenant" type="tns:Residence"/>
                    <xsd:element name="occupation" type="tns:FinancialTransaction"/>
                    <xsd:element name="groupMember" type="tns:GroupOfPeople"/>
                    <xsd:element name="neighbor" type="tns:Human"/>
                    <xsd:element name="DescendantsFn" type="tns:FamilyGroup"/>
                    <xsd:element name="grandmother" type="tns:Man"/>
                    <xsd:element name="stepfather" type="tns:Man"/>
                    <xsd:element name="cousin" type="tns:Human"/>
                    <xsd:element name="stays" type="tns:TemporaryResidence"/>
                    <xsd:element name="patientMedical" type="tns:CognitiveAgent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Object">
                <xsd:sequence>
                    <xsd:element name="larger" type="tns:Object"/>
                    <xsd:element name="deviceState" type="tns:DeviceStateAttribute"/>
                    <xsd:element name="faces" type="tns:DirectionalAttribute"/>
                    <xsd:element name="older" type="tns:Object"/>
                    <xsd:element name="copy" type="tns:Object"/>
                    <xsd:element name="uses" type="tns:Agent"/>
                    <xsd:element name="exploits" type="tns:Agent"/>
                    <xsd:element name="fills" type="tns:Hole"/>
                    <xsd:element name="orbits" type="tns:AstronomicalBody"/>
                    <xsd:element name="barometricPressure" type="tns:AtmosphericPressureMeasure"/>
                    <xsd:element name="smaller" type="tns:Object"/>
                    <xsd:element name="airTemperature" type="tns:TemperatureMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="AstronomicalBody">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Day">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Nation">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="GroupOfPeople">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegalSystemAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Government">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DirectionalAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="BeliefGroup">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FamilyGroup">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CareOrganizationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegalAction">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeDuration">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="JudicialOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Vehicle">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="EducationalOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TemperatureMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LengthMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AtmosphericPressureMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegislativeOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CurrencyMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PermanentResidence">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DeviceStateAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TemporaryResidence">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntentionalProcess">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="EconomicAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Corporation">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FormOfGovernment">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="NormativeAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Residence">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Position">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_EXPERIMENTINGRequest">
        <wsdl:part name="_CAREORGANIZATION" type="tns:CareOrganizationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_EXPERIMENTINGResponse">
        <wsdl:part name="_EXPERIMENTING" type="tns:ExperimentingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CareorganizationExperimentingSoap">
        <wsdl:operation name="get_EXPERIMENTING">
            <wsdl:input message="tns:get_EXPERIMENTINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_EXPERIMENTINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CareorganizationExperimentingSoapBinding" type="tns:CareorganizationExperimentingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_EXPERIMENTING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CareorganizationExperimenting"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CareorganizationExperimenting"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CareorganizationExperimentingService">
        <wsdl:port name="CareorganizationExperimentingSoap" binding="tns:CareorganizationExperimentingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CareorganizationExperimenting"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
