iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CareorganizationDiagnosticprocesstimemeasure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimemeasure"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CareorganizationDiagnosticprocesstimemeasure"
                  targetNamespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimemeasure">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 16:33:09 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimemeasure"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#CareOrganization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#DiagnosticProcess"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#TimeMeasure"/>
            </xsd:annotation>
            <xsd:element name="DiagnosticProcess" type="tns:DiagnosticProcessType"/>
            <xsd:element name="TimeMeasure" type="tns:TimeMeasureType"/>
            <xsd:element name="CareOrganization" type="tns:CareOrganizationType"/>
            <xsd:simpleType name="DiagnosticProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeMeasureType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CareOrganizationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DIAGNOSTICPROCESS_TIMEMEASUREResponse">
        <wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
        </wsdl:part>
        <wsdl:part name="_TIMEMEASURE" type="tns:TimeMeasureType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_DIAGNOSTICPROCESS_TIMEMEASURERequest">
        <wsdl:part name="_CAREORGANIZATION" type="tns:CareOrganizationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CareorganizationDiagnosticprocesstimemeasureSoap">
        <wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEMEASURE">
            <wsdl:input message="tns:get_DIAGNOSTICPROCESS_TIMEMEASURERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DIAGNOSTICPROCESS_TIMEMEASUREResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CareorganizationDiagnosticprocesstimemeasureSoapBinding"
                  type="tns:CareorganizationDiagnosticprocesstimemeasureSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEMEASURE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimemeasure"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimemeasure"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CareorganizationDiagnosticprocesstimemeasureService">
        <wsdl:port name="CareorganizationDiagnosticprocesstimemeasureSoap"
                   binding="tns:CareorganizationDiagnosticprocesstimemeasureSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimemeasure"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
