iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CareorganizationDiagnosticprocesstimeinterval.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimeinterval"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CareorganizationDiagnosticprocesstimeinterval"
                  targetNamespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimeinterval">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 16:30:04 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimeinterval"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#CareOrganization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#DiagnosticProcess"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/SUMO.owl#TimeInterval"/>
            </xsd:annotation>
            <xsd:element name="DiagnosticProcess" type="tns:DiagnosticProcessType"/>
            <xsd:element name="TimeInterval" type="tns:TimeIntervalType"/>
            <xsd:element name="CareOrganization" type="tns:CareOrganizationType"/>
            <xsd:complexType name="TimeIntervalType">
                <xsd:sequence>
                    <xsd:element name="starts" type="tns:TimeIntervalType"/>
                    <xsd:element name="finishes" type="tns:TimeIntervalType"/>
                    <xsd:element name="BeginFn" type="tns:TimePoint"/>
                    <xsd:element name="duration" type="tns:TimeDuration"/>
                    <xsd:element name="during" type="tns:TimeIntervalType"/>
                    <xsd:element name="EndFn" type="tns:TimePoint"/>
                    <xsd:element name="earlier" type="tns:TimeIntervalType"/>
                    <xsd:element name="meetsTemporally" type="tns:TimeIntervalType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimePoint">
                <xsd:sequence>
                    <xsd:element name="before" type="tns:TimePoint"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="DiagnosticProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CareOrganizationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeDuration">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DIAGNOSTICPROCESS_TIMEINTERVALResponse">
        <wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
        </wsdl:part>
        <wsdl:part name="_TIMEINTERVAL" type="tns:TimeIntervalType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_DIAGNOSTICPROCESS_TIMEINTERVALRequest">
        <wsdl:part name="_CAREORGANIZATION" type="tns:CareOrganizationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CareorganizationDiagnosticprocesstimeintervalSoap">
        <wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEINTERVAL">
            <wsdl:input message="tns:get_DIAGNOSTICPROCESS_TIMEINTERVALRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DIAGNOSTICPROCESS_TIMEINTERVALResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CareorganizationDiagnosticprocesstimeintervalSoapBinding"
                  type="tns:CareorganizationDiagnosticprocesstimeintervalSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEINTERVAL">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimeinterval"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimeinterval"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CareorganizationDiagnosticprocesstimeintervalService">
        <wsdl:port name="CareorganizationDiagnosticprocesstimeintervalSoap"
                   binding="tns:CareorganizationDiagnosticprocesstimeintervalSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CareorganizationDiagnosticprocesstimeinterval"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
