iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CheapcarTechnology.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CheapcarTechnology" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CheapcarTechnology" targetNamespace="http://127.0.0.1/wsdl/CheapcarTechnology">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 17:05:18 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CheapcarTechnology"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#CheapCar"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Technology"/>
            </xsd:annotation>
            <xsd:element name="CheapCar" type="tns:CheapCarType"/>
            <xsd:element name="Technology" type="tns:TechnologyType"/>
            <xsd:complexType name="Person">
                <xsd:sequence>
                    <xsd:element name="family-name" type="xsd:string"/>
                    <xsd:element name="full-name" type="xsd:string"/>
                    <xsd:element name="given-name" type="xsd:string"/>
                    <xsd:element name="has-gender" type="tns:Gender"/>
                    <xsd:element name="has-appellation" type="tns:Appellation"/>
                    <xsd:element name="has-academic-degree" type="tns:Academic-Degree"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization">
                <xsd:sequence>
                    <xsd:element name="has-size" type="tns:OrganizationOrganization-Size"/>
                    <xsd:element name="organization-part-of" type="tns:Organization"/>
                    <xsd:element name="has-sub-unit" type="tns:Organization-Unit"/>
                    <xsd:element name="affiliated-person" type="tns:Affiliated-Person"/>
                    <xsd:element name="headed-by" type="tns:Affiliated-Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Affiliated-Person">
                <xsd:sequence>
                    <xsd:element name="has-affiliation" type="tns:Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TechnologyType">
                <xsd:sequence>
                    <xsd:element name="supports-method" type="tns:Method"/>
                    <xsd:element name="technology-builds-on" type="tns:TechnologyType"/>
                    <xsd:element name="has-author" type="tns:Generic-Agent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Method">
                <xsd:sequence>
                    <xsd:element name="method-builds-on" type="tns:Method"/>
                    <xsd:element name="owned-by" type="tns:Organization"/>
                    <xsd:element name="has-author" type="tns:Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Academic-Degree">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="PhD"/>
                    <xsd:enumeration value="BSc"/>
                    <xsd:enumeration value="MSc"/>
                    <xsd:enumeration value="DEng"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Gender">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Male-Gender"/>
                    <xsd:enumeration value="Female-Gender"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CheapCarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="OrganizationOrganization-Size">
                <xsd:restriction base="tns:Organization-Size">
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Size">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Unit">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Appellation">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Mrs"/>
                    <xsd:enumeration value="Dr"/>
                    <xsd:enumeration value="Ms"/>
                    <xsd:enumeration value="Mr"/>
                    <xsd:enumeration value="Lady"/>
                    <xsd:enumeration value="Sir"/>
                    <xsd:enumeration value="Miss"/>
                    <xsd:enumeration value="Prof"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TECHNOLOGYRequest">
        <wsdl:part name="_CHEAPCAR" type="tns:CheapCarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TECHNOLOGYResponse">
        <wsdl:part name="_TECHNOLOGY" type="tns:TechnologyType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CheapcarTechnologySoap">
        <wsdl:operation name="get_TECHNOLOGY">
            <wsdl:input message="tns:get_TECHNOLOGYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TECHNOLOGYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CheapcarTechnologySoapBinding" type="tns:CheapcarTechnologySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TECHNOLOGY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CheapcarTechnology"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CheapcarTechnology"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CheapcarTechnologyService">
        <wsdl:port name="CheapcarTechnologySoap" binding="tns:CheapcarTechnologySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CheapcarTechnology"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
