iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Checkcostandhealingplan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Checkcostandhealingplan" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Checkcostandhealingplan" targetNamespace="http://127.0.0.1/wsdl/Checkcostandhealingplan">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 17:10:44 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Checkcostandhealingplan"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HealthInsuranceOntology.owl#HealthInsuranceNumber"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HealthInsuranceOntology.owl#CostAndHealingPlan"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HealthInsuranceOntology.owl#AcceptanceAnswer"/>
            </xsd:annotation>
            <xsd:element name="CostAndHealingPlan" type="tns:CostAndHealingPlanType"/>
            <xsd:element name="HealthInsuranceNumber" type="tns:HealthInsuranceNumberType"/>
            <xsd:element name="AcceptanceAnswer" type="tns:AcceptanceAnswerType"/>
            <xsd:simpleType name="CostAndHealingPlanType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AcceptanceAnswerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="HealthInsuranceNumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCheckCostAndHealingPlan_AcceptanceAnswerRequest">
        <wsdl:part name="CheckCostAndHealingPlan_PatientHealthInsuranceNumber" type="tns:HealthInsuranceNumberType">
        </wsdl:part>
        <wsdl:part name="CheckCostAndHealingPlan_CostAndHealingPlan" type="tns:CostAndHealingPlanType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCheckCostAndHealingPlan_AcceptanceAnswerResponse">
        <wsdl:part name="CheckCostAndHealingPlan_AcceptanceAnswer" type="tns:AcceptanceAnswerType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CheckcostandhealingplanSoap">
        <wsdl:operation name="getCheckCostAndHealingPlan_AcceptanceAnswer">
            <wsdl:input message="tns:getCheckCostAndHealingPlan_AcceptanceAnswerRequest">
            </wsdl:input>
            <wsdl:output message="tns:getCheckCostAndHealingPlan_AcceptanceAnswerResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CheckcostandhealingplanSoapBinding" type="tns:CheckcostandhealingplanSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCheckCostAndHealingPlan_AcceptanceAnswer">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Checkcostandhealingplan"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Checkcostandhealingplan"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CheckcostandhealingplanService">
        <wsdl:port name="CheckcostandhealingplanSoap" binding="tns:CheckcostandhealingplanSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Checkcostandhealingplan"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
