iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Checkequipmentavailability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Checkequipmentavailability"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Checkequipmentavailability" targetNamespace="http://127.0.0.1/wsdl/Checkequipmentavailability">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 17:17:32 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Checkequipmentavailability"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalReceptionOntology.owl#Treatment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalReceptionOntology.owl#Treatment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalReceptionOntology.owl#DateTime"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalReceptionOntology.owl#Treatment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalReceptionOntology.owl#AvailabilityResponse"/>
            </xsd:annotation>
            <xsd:element name="Treatment" type="tns:TreatmentType"/>
            <xsd:element name="AvailabilityResponse" type="tns:AvailabilityResponseType"/>
            <xsd:element name="DateTime" type="tns:DateTimeType"/>
            <xsd:simpleType name="AvailabilityResponseType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TreatmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DateTimeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCheckEquipmentAvailability_AvailabilityResponseRequest">
        <wsdl:part name="CheckPersonnelAvailability_TreatmentRecomendation" type="tns:TreatmentType">
        </wsdl:part>
        <wsdl:part name="CheckHospitalAvailability_TreatmentRecomendation" type="tns:TreatmentType">
        </wsdl:part>
        <wsdl:part name="CheckEquipmentAvailability_TreatmentDate" type="tns:DateTimeType">
        </wsdl:part>
        <wsdl:part name="CheckEquipmentAvailability_TreatmentRecomendation" type="tns:TreatmentType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCheckEquipmentAvailability_AvailabilityResponseResponse">
        <wsdl:part name="CheckEquipmentAvailability_AvailabilityResponse" type="tns:AvailabilityResponseType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CheckequipmentavailabilitySoap">
        <wsdl:operation name="getCheckEquipmentAvailability_AvailabilityResponse">
            <wsdl:input message="tns:getCheckEquipmentAvailability_AvailabilityResponseRequest">
            </wsdl:input>
            <wsdl:output message="tns:getCheckEquipmentAvailability_AvailabilityResponseResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CheckequipmentavailabilitySoapBinding" type="tns:CheckequipmentavailabilitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCheckEquipmentAvailability_AvailabilityResponse">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Checkequipmentavailability"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Checkequipmentavailability"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CheckequipmentavailabilityService">
        <wsdl:port name="CheckequipmentavailabilitySoap" binding="tns:CheckequipmentavailabilitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Checkequipmentavailability"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
