iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CityWeatherseason.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CityWeatherseason" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CityWeatherseason" targetNamespace="http://127.0.0.1/wsdl/CityWeatherseason">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 17:53:20 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CityWeatherseason"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/SUMO.owl#City"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#WeatherSeason"/>
            </xsd:annotation>
            <xsd:element name="City" type="tns:CityType"/>
            <xsd:element name="WeatherSeason" type="tns:WeatherSeasonType"/>
            <xsd:complexType name="Physical">
                <xsd:sequence>
                    <xsd:element name="hasPurpose" type="tns:Formula"/>
                    <xsd:element name="date" type="tns:Day"/>
                    <xsd:element name="WhenFn" type="tns:TimeInterval"/>
                    <xsd:element name="cooccur" type="tns:Physical"/>
                    <xsd:element name="monetaryValue" type="tns:CurrencyMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimeInterval">
                <xsd:sequence>
                    <xsd:element name="starts" type="tns:TimeInterval"/>
                    <xsd:element name="finishes" type="tns:TimeInterval"/>
                    <xsd:element name="BeginFn" type="tns:TimePoint"/>
                    <xsd:element name="duration" type="tns:TimeDuration"/>
                    <xsd:element name="during" type="tns:TimeInterval"/>
                    <xsd:element name="EndFn" type="tns:TimePoint"/>
                    <xsd:element name="earlier" type="tns:TimeInterval"/>
                    <xsd:element name="meetsTemporally" type="tns:TimeInterval"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeopoliticalArea">
                <xsd:sequence>
                    <xsd:element name="JudiciaryFn" type="tns:JudicialOrganization"/>
                    <xsd:element name="dependentGeopoliticalArea" type="tns:GeopoliticalArea"/>
                    <xsd:element name="totalGDP" type="tns:CurrencyMeasure"/>
                    <xsd:element name="CitizenryFn" type="tns:GroupOfPeople"/>
                    <xsd:element name="GovernmentFn" type="tns:Government"/>
                    <xsd:element name="currencyType" type="tns:CurrencyMeasure"/>
                    <xsd:element name="legalSystemType" type="tns:LegalSystemAttribute"/>
                    <xsd:element name="primaryGeopoliticalSubdivision" type="tns:GeopoliticalArea"/>
                    <xsd:element name="LegislatureFn" type="tns:LegislativeOrganization"/>
                    <xsd:element name="industryOfArea" type="tns:Physical"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CityType">
                <xsd:sequence>
                    <xsd:element name="capitalCity" type="tns:GeopoliticalArea"/>
                    <xsd:element name="cityAddress" type="tns:Address"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimePoint">
                <xsd:sequence>
                    <xsd:element name="before" type="tns:TimePoint"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Formula">
                <xsd:sequence>
                    <xsd:element name="ProbabilityFn" type="xsd:anyURI"/>
                    <xsd:element name="decreasesLikelihood" type="tns:Formula"/>
                    <xsd:element name="independentProbability" type="tns:Formula"/>
                    <xsd:element name="increasesLikelihood" type="tns:Formula"/>
                    <xsd:element name="modalAttribute" type="tns:NormativeAttribute"/>
                    <xsd:element name="entails" type="tns:Formula"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="GroupOfPeople">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CurrencyMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeDuration">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegislativeOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Address">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="NormativeAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Government">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="WeatherSeasonType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="JudicialOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Day">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegalSystemAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_WEATHERSEASONRequest">
        <wsdl:part name="_CITY" type="tns:CityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_WEATHERSEASONResponse">
        <wsdl:part name="_WEATHERSEASON" type="tns:WeatherSeasonType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CityWeatherseasonSoap">
        <wsdl:operation name="get_WEATHERSEASON">
            <wsdl:input message="tns:get_WEATHERSEASONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_WEATHERSEASONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CityWeatherseasonSoapBinding" type="tns:CityWeatherseasonSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_WEATHERSEASON">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CityWeatherseason"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CityWeatherseason"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CityWeatherseasonService">
        <wsdl:port name="CityWeatherseasonSoap" binding="tns:CityWeatherseasonSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CityWeatherseason"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
