iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Comedyfilmfantacyfilm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Comedyfilmfantacyfilm" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Comedyfilmfantacyfilm" targetNamespace="http://127.0.0.1/wsdl/Comedyfilmfantacyfilm">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 04 16:51:05 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Comedyfilmfantacyfilm"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#ComedyFilm"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#FantacyFilm"/>
            </xsd:annotation>
            <xsd:element name="FantacyFilm" type="tns:FantacyFilmType"/>
            <xsd:element name="ComedyFilm" type="tns:ComedyFilmType"/>
            <xsd:simpleType name="FantacyFilmType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ComedyFilmType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COMEDYFILM_FANTACYFILMRequest">
    </wsdl:message>
    <wsdl:message name="get_COMEDYFILM_FANTACYFILMResponse">
        <wsdl:part name="_COMEDYFILM" type="tns:ComedyFilmType">
        </wsdl:part>
        <wsdl:part name="_FANTACYFILM" type="tns:FantacyFilmType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ComedyfilmfantacyfilmSoap">
        <wsdl:operation name="get_COMEDYFILM_FANTACYFILM">
            <wsdl:input message="tns:get_COMEDYFILM_FANTACYFILMRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COMEDYFILM_FANTACYFILMResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ComedyfilmfantacyfilmSoapBinding" type="tns:ComedyfilmfantacyfilmSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COMEDYFILM_FANTACYFILM">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Comedyfilmfantacyfilm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Comedyfilmfantacyfilm"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ComedyfilmfantacyfilmService">
        <wsdl:port name="ComedyfilmfantacyfilmSoap" binding="tns:ComedyfilmfantacyfilmSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Comedyfilmfantacyfilm"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
