iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CountryDrought.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CountryDrought" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CountryDrought" targetNamespace="http://127.0.0.1/wsdl/CountryDrought">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 11 11:51:54 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CountryDrought" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Country"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Drought"/>
            </xsd:annotation>
            <xsd:element name="Country" type="tns:CountryType"/>
            <xsd:element name="Drought" type="tns:DroughtType"/>
            <xsd:complexType name="Government">
                <xsd:sequence>
                    <xsd:element name="government-of-country" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Currency">
                <xsd:sequence>
                    <xsd:element name="issued-by" type="tns:Government"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CountryType">
                <xsd:sequence>
                    <xsd:element name="has-government" type="tns:Government"/>
                    <xsd:element name="has-currency" type="tns:Currency"/>
                    <xsd:element name="has-capital" type="tns:Capital-City"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Capital-City">
                <xsd:sequence>
                    <xsd:element name="is-capital-of" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="DroughtType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DROUGHTRequest">
        <wsdl:part name="_COUNTRY" type="tns:CountryType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_DROUGHTResponse">
        <wsdl:part name="_DROUGHT" type="tns:DroughtType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountryDroughtSoap">
        <wsdl:operation name="get_DROUGHT">
            <wsdl:input message="tns:get_DROUGHTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DROUGHTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountryDroughtSoapBinding" type="tns:CountryDroughtSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DROUGHT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountryDrought"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountryDrought"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountryDroughtService">
        <wsdl:port name="CountryDroughtSoap" binding="tns:CountryDroughtSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CountryDrought"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
