iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/country_sportsposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/CountrySportsposition" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CountrySportsposition" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CountrySportsposition" targetNamespace="http://127.0.0.1/wsdl/CountrySportsposition">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 17:23:07 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CountrySportsposition"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Country"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#SportsPosition"/>
            </xsd:annotation>
            <xsd:element name="SportsPosition" type="SportsPositionType"/>
            <xsd:element name="Country" type="CountryType"/>
            <xsd:complexType name="Government">
                <xsd:sequence>
                    <xsd:element name="government-of-country" type="CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Currency">
                <xsd:sequence>
                    <xsd:element name="issued-by" type="Government"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CountryType">
                <xsd:sequence>
                    <xsd:element name="has-government" type="Government"/>
                    <xsd:element name="has-currency" type="Currency"/>
                    <xsd:element name="has-capital" type="Capital-City"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Capital-City">
                <xsd:sequence>
                    <xsd:element name="is-capital-of" type="CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="SportsPositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SPORTSPOSITIONResponse">
        <wsdl:part name="_SPORTSPOSITION" type="tns:SportsPositionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SPORTSPOSITIONRequest">
        <wsdl:part name="_COUNTRY" type="tns:CountryType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountrySportspositionSoap">
        <wsdl:operation name="get_SPORTSPOSITION">
            <wsdl:input message="tns:get_SPORTSPOSITIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SPORTSPOSITIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountrySportspositionSoapBinding" type="CountrySportspositionSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SPORTSPOSITION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountrySportsposition"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountrySportsposition"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountrySportspositionService">
        <wsdl:port name="CountrySportspositionSoap" binding="CountrySportspositionSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CountrySportsposition"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
