iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CountrycitySportshotel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CountrycitySportshotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CountrycitySportshotel" targetNamespace="http://127.0.0.1/wsdl/CountrycitySportshotel">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 20:04:09 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CountrycitySportshotel"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/travel.owl#City"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Country"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Sports"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Hotel"/>
            </xsd:annotation>
            <xsd:element name="Hotel" type="tns:HotelType"/>
            <xsd:element name="Sports" type="tns:SportsType"/>
            <xsd:element name="City" type="tns:CityType"/>
            <xsd:element name="Country" type="tns:CountryType"/>
            <xsd:complexType name="CityType">
                <xsd:choice>
                    <xsd:element name="cityID" type="tns:CityDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="hasAccommodation" type="tns:LuxuryHotel"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="LuxuryHotel">
                <xsd:choice>
                    <xsd:element name="luxuryHotelID" type="tns:LuxuryHotelDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="hasRating" type="tns:LuxuryHotelAccommodationRating"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="LuxuryHotelAccommodationRating">
                <xsd:complexContent>
                    <xsd:restriction base="tns:AccommodationRating">
                        <xsd:choice>
                            <xsd:element name="accommodationRatingID" type="tns:LuxuryHotelAccommodationRatingDATA"/>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Currency">
                <xsd:sequence>
                    <xsd:element name="issued-by" type="tns:Government"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CountryType">
                <xsd:sequence>
                    <xsd:element name="has-government" type="tns:Government"/>
                    <xsd:element name="has-currency" type="tns:Currency"/>
                    <xsd:element name="has-capital" type="tns:Capital-City"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Government">
                <xsd:sequence>
                    <xsd:element name="government-of-country" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccommodationRating">
                <xsd:choice>
                    <xsd:element name="accommodationRatingID" type="tns:AccommodationRatingDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="Capital-City">
                <xsd:sequence>
                    <xsd:element name="is-capital-of" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="SportsType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
                <xsd:restriction base="tns:AccommodationRatingDATA">
                    <xsd:enumeration value="ThreeStarRating"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LuxuryHotelDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FourSeasons"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AccommodationRatingDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="TwoStarRating"/>
                    <xsd:enumeration value="OneStarRating"/>
                    <xsd:enumeration value="ThreeStarRating"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CityDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Cairns"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="HotelType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SPORTS_HOTELResponse">
        <wsdl:part name="_SPORTS" type="tns:SportsType">
        </wsdl:part>
        <wsdl:part name="_HOTEL" type="tns:HotelType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SPORTS_HOTELRequest">
        <wsdl:part name="_CITY" type="tns:CityType">
        </wsdl:part>
        <wsdl:part name="_COUNTRY" type="tns:CountryType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountrycitySportshotelSoap">
        <wsdl:operation name="get_SPORTS_HOTEL">
            <wsdl:input message="tns:get_SPORTS_HOTELRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SPORTS_HOTELResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountrycitySportshotelSoapBinding" type="tns:CountrycitySportshotelSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SPORTS_HOTEL">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountrycitySportshotel"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountrycitySportshotel"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountrycitySportshotelService">
        <wsdl:port name="CountrycitySportshotelSoap" binding="tns:CountrycitySportshotelSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CountrycitySportshotel"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
