iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CountrySkilledoccupationfulltimeposition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CountrySkilledoccupationfulltimeposition"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CountrySkilledoccupationfulltimeposition"
                  targetNamespace="http://127.0.0.1/wsdl/CountrySkilledoccupationfulltimeposition">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 12 16:00:54 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CountrySkilledoccupationfulltimeposition"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Country"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#SkilledOccupation"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#FullTimePosition"/>
            </xsd:annotation>
            <xsd:element name="SkilledOccupation" type="tns:SkilledOccupationType"/>
            <xsd:element name="Country" type="tns:CountryType"/>
            <xsd:element name="FullTimePosition" type="tns:FullTimePositionType"/>
            <xsd:complexType name="Government">
                <xsd:sequence>
                    <xsd:element name="government-of-country" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Currency">
                <xsd:sequence>
                    <xsd:element name="issued-by" type="tns:Government"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CountryType">
                <xsd:sequence>
                    <xsd:element name="has-government" type="tns:Government"/>
                    <xsd:element name="has-currency" type="tns:Currency"/>
                    <xsd:element name="has-capital" type="tns:Capital-City"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Capital-City">
                <xsd:sequence>
                    <xsd:element name="is-capital-of" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="FullTimePositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="SkilledOccupationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SKILLEDOCCUPATION_FULLTIMEPOSITIONResponse">
        <wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
        </wsdl:part>
        <wsdl:part name="_FULLTIMEPOSITION" type="tns:FullTimePositionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SKILLEDOCCUPATION_FULLTIMEPOSITIONRequest">
        <wsdl:part name="_COUNTRY" type="tns:CountryType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountrySkilledoccupationfulltimepositionSoap">
        <wsdl:operation name="get_SKILLEDOCCUPATION_FULLTIMEPOSITION">
            <wsdl:input message="tns:get_SKILLEDOCCUPATION_FULLTIMEPOSITIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SKILLEDOCCUPATION_FULLTIMEPOSITIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountrySkilledoccupationfulltimepositionSoapBinding"
                  type="tns:CountrySkilledoccupationfulltimepositionSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SKILLEDOCCUPATION_FULLTIMEPOSITION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountrySkilledoccupationfulltimeposition"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountrySkilledoccupationfulltimeposition"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountrySkilledoccupationfulltimepositionService">
        <wsdl:port name="CountrySkilledoccupationfulltimepositionSoap"
                   binding="tns:CountrySkilledoccupationfulltimepositionSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CountrySkilledoccupationfulltimeposition"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
