iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CountryProfessionparttimeposition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CountryProfessionparttimeposition"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CountryProfessionparttimeposition"
                  targetNamespace="http://127.0.0.1/wsdl/CountryProfessionparttimeposition">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 12 15:51:57 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CountryProfessionparttimeposition"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Country"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Profession"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PartTimePosition"/>
            </xsd:annotation>
            <xsd:element name="Profession" type="tns:ProfessionType"/>
            <xsd:element name="PartTimePosition" type="tns:PartTimePositionType"/>
            <xsd:element name="Country" type="tns:CountryType"/>
            <xsd:complexType name="Government">
                <xsd:sequence>
                    <xsd:element name="government-of-country" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Currency">
                <xsd:sequence>
                    <xsd:element name="issued-by" type="tns:Government"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CountryType">
                <xsd:sequence>
                    <xsd:element name="has-government" type="tns:Government"/>
                    <xsd:element name="has-currency" type="tns:Currency"/>
                    <xsd:element name="has-capital" type="tns:Capital-City"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Capital-City">
                <xsd:sequence>
                    <xsd:element name="is-capital-of" type="tns:CountryType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PartTimePositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ProfessionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PROFESSION_PARTTIMEPOSITIONResponse">
        <wsdl:part name="_PROFESSION" type="tns:ProfessionType">
        </wsdl:part>
        <wsdl:part name="_PARTTIMEPOSITION" type="tns:PartTimePositionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PROFESSION_PARTTIMEPOSITIONRequest">
        <wsdl:part name="_COUNTRY" type="tns:CountryType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountryProfessionparttimepositionSoap">
        <wsdl:operation name="get_PROFESSION_PARTTIMEPOSITION">
            <wsdl:input message="tns:get_PROFESSION_PARTTIMEPOSITIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PROFESSION_PARTTIMEPOSITIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountryProfessionparttimepositionSoapBinding" type="tns:CountryProfessionparttimepositionSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PROFESSION_PARTTIMEPOSITION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountryProfessionparttimeposition"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountryProfessionparttimeposition"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountryProfessionparttimepositionService">
        <wsdl:port name="CountryProfessionparttimepositionSoap"
                   binding="tns:CountryProfessionparttimepositionSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CountryProfessionparttimeposition"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
