iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/country_corporationskilledoccupation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/CountryCorporationskilledoccupation"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CountryCorporationskilledoccupation"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CountryCorporationskilledoccupation"
                  targetNamespace="http://127.0.0.1/wsdl/CountryCorporationskilledoccupation">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed Jun 03 01:45:28 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CountryCorporationskilledoccupation"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geographical-Region"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/finance_th_web.owl#corporation"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#SkilledOccupation"/>
            </xsd:annotation>
            <xsd:element name="SkilledOccupation" type="SkilledOccupationType"/>
            <xsd:element name="Geographical-Region" type="Geographical-RegionType"/>
            <xsd:element name="corporation" type="corporationType"/>
            <xsd:simpleType name="SkilledOccupationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geographical-RegionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="corporationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_CORPORATION_SKILLEDOCCUPATIONResponse">
        <wsdl:part name="_CORPORATION" type="tns:corporationType">
        </wsdl:part>
        <wsdl:part name="_SKILLEDOCCUPATION" type="tns:SkilledOccupationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_CORPORATION_SKILLEDOCCUPATIONRequest">
        <wsdl:part name="_COUNTRY" type="tns:Geographical-RegionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountryCorporationskilledoccupationSoap">
        <wsdl:operation name="get_CORPORATION_SKILLEDOCCUPATION">
            <wsdl:input message="tns:get_CORPORATION_SKILLEDOCCUPATIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_CORPORATION_SKILLEDOCCUPATIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountryCorporationskilledoccupationSoapBinding" type="CountryCorporationskilledoccupationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_CORPORATION_SKILLEDOCCUPATION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountryCorporationskilledoccupation"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CountryCorporationskilledoccupation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountryCorporationskilledoccupationService">
        <wsdl:port name="CountryCorporationskilledoccupationSoap"
                   binding="CountryCorporationskilledoccupationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CountryCorporationskilledoccupation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
