iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CreditcardaccountprintedmaterialpersonPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CreditcardaccountprintedmaterialpersonPrice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CreditcardaccountprintedmaterialpersonPrice"
                  targetNamespace="http://127.0.0.1/wsdl/CreditcardaccountprintedmaterialpersonPrice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 14:12:16 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CreditcardaccountprintedmaterialpersonPrice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Person"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#PrintedMaterial"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#CreditCardAccount"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="Person" type="tns:PersonType"/>
            <xsd:element name="PrintedMaterial" type="tns:PrintedMaterialType"/>
            <xsd:element name="CreditCardAccount" type="tns:CreditCardAccountType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PrintedMaterialType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PersonType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CreditCardAccountType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICEResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICERequest">
        <wsdl:part name="_PERSON" type="tns:PersonType">
        </wsdl:part>
        <wsdl:part name="_PRINTEDMATERIAL" type="tns:PrintedMaterialType">
        </wsdl:part>
        <wsdl:part name="_CREDITCARDACCOUNT" type="tns:CreditCardAccountType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CreditcardaccountprintedmaterialpersonPriceSoap">
        <wsdl:operation name="get_PRICE">
            <wsdl:input message="tns:get_PRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditcardaccountprintedmaterialpersonPriceSoapBinding"
                  type="tns:CreditcardaccountprintedmaterialpersonPriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CreditcardaccountprintedmaterialpersonPrice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CreditcardaccountprintedmaterialpersonPrice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditcardaccountprintedmaterialpersonPriceService">
        <wsdl:port name="CreditcardaccountprintedmaterialpersonPriceSoap"
                   binding="tns:CreditcardaccountprintedmaterialpersonPriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CreditcardaccountprintedmaterialpersonPrice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
