iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CreditcardaccountbookpersonRecommendedprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CreditcardaccountbookpersonRecommendedprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CreditcardaccountbookpersonRecommendedprice"
                  targetNamespace="http://127.0.0.1/wsdl/CreditcardaccountbookpersonRecommendedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Apr 28 11:39:11 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CreditcardaccountbookpersonRecommendedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Person"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Book"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#CreditCardAccount"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Person" type="tns:PersonType"/>
            <xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
            <xsd:element name="CreditCardAccount" type="tns:CreditCardAccountType"/>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="isTitled" type="tns:Title"/>
                    <xsd:element name="hasType" type="tns:Book-Type"/>
                    <xsd:element name="writtenBy" type="tns:Author"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Author">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Title">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PersonType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Book-Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CreditCardAccountType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICEResponse">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICERequest">
        <wsdl:part name="_PERSON" type="tns:PersonType">
        </wsdl:part>
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
        <wsdl:part name="_CREDITCARDACCOUNT" type="tns:CreditCardAccountType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CreditcardaccountbookpersonRecommendedpriceSoap">
        <wsdl:operation name="get_RECOMMENDEDPRICE">
            <wsdl:input message="tns:get_RECOMMENDEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditcardaccountbookpersonRecommendedpriceSoapBinding"
                  type="tns:CreditcardaccountbookpersonRecommendedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CreditcardaccountbookpersonRecommendedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CreditcardaccountbookpersonRecommendedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditcardaccountbookpersonRecommendedpriceService">
        <wsdl:port name="CreditcardaccountbookpersonRecommendedpriceSoap"
                   binding="tns:CreditcardaccountbookpersonRecommendedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CreditcardaccountbookpersonRecommendedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
