iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/CyclecarRecommendedpriceineuro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/CyclecarRecommendedpriceineuro"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CyclecarRecommendedpriceineuro"
                  targetNamespace="http://127.0.0.1/wsdl/CyclecarRecommendedpriceineuro">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 02:27:16 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/CyclecarRecommendedpriceineuro"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Car"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Cycle"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPriceInEuro"/>
            </xsd:annotation>
            <xsd:element name="RecommendedPriceInEuro" type="tns:RecommendedPriceInEuroType"/>
            <xsd:element name="Car" type="tns:CarType"/>
            <xsd:element name="Cycle" type="tns:CycleType"/>
            <xsd:simpleType name="RecommendedPriceInEuroType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CycleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICEINEURORequest">
        <wsdl:part name="_CAR" type="tns:CarType">
        </wsdl:part>
        <wsdl:part name="_CYCLE" type="tns:CycleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICEINEUROResponse">
        <wsdl:part name="_RECOMMENDEDPRICEINEURO" type="tns:RecommendedPriceInEuroType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CyclecarRecommendedpriceineuroSoap">
        <wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
            <wsdl:input message="tns:get_RECOMMENDEDPRICEINEURORequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICEINEUROResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CyclecarRecommendedpriceineuroSoapBinding" type="tns:CyclecarRecommendedpriceineuroSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICEINEURO">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CyclecarRecommendedpriceineuro"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/CyclecarRecommendedpriceineuro"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CyclecarRecommendedpriceineuroService">
        <wsdl:port name="CyclecarRecommendedpriceineuroSoap" binding="tns:CyclecarRecommendedpriceineuroSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/CyclecarRecommendedpriceineuro"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
