iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/DegreeLending.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/DegreeLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="DegreeLending" targetNamespace="http://127.0.0.1/wsdl/DegreeLending">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 14 12:50:37 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/DegreeLending" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Degree"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Lending"/>
            </xsd:annotation>
            <xsd:element name="Degree" type="tns:DegreeType"/>
            <xsd:element name="Lending" type="tns:LendingType"/>
            <xsd:simpleType name="LendingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DegreeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_LENDINGResponse">
        <wsdl:part name="_LENDING" type="tns:LendingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_LENDINGRequest">
        <wsdl:part name="_DEGREE" type="tns:DegreeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DegreeLendingSoap">
        <wsdl:operation name="get_LENDING">
            <wsdl:input message="tns:get_LENDINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_LENDINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DegreeLendingSoapBinding" type="tns:DegreeLendingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_LENDING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/DegreeLending"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/DegreeLending"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DegreeLendingService">
        <wsdl:port name="DegreeLendingSoap" binding="tns:DegreeLendingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/DegreeLending"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
