iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/degreegovernment_scholarship_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/DegreegovernmentScholarship"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/DegreegovernmentScholarship"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="DegreegovernmentScholarship"
                  targetNamespace="http://127.0.0.1/wsdl/DegreegovernmentScholarship">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 00:47:39 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/DegreegovernmentScholarship"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Government"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Degree"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Scholarship"/>
            </xsd:annotation>
            <xsd:element name="Government" type="GovernmentType"/>
            <xsd:element name="Scholarship" type="ScholarshipType"/>
            <xsd:element name="Degree" type="DegreeType"/>
            <xsd:simpleType name="GovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ScholarshipType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DegreeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SCHOLARSHIPRequest">
        <wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
        </wsdl:part>
        <wsdl:part name="_DEGREE" type="tns:DegreeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SCHOLARSHIPResponse">
        <wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DegreegovernmentScholarshipSoap">
        <wsdl:operation name="get_SCHOLARSHIP">
            <wsdl:input message="tns:get_SCHOLARSHIPRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SCHOLARSHIPResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DegreegovernmentScholarshipSoapBinding" type="DegreegovernmentScholarshipSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SCHOLARSHIP">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/DegreegovernmentScholarship"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/DegreegovernmentScholarship"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DegreegovernmentScholarshipService">
        <wsdl:port name="DegreegovernmentScholarshipSoap" binding="DegreegovernmentScholarshipSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/DegreegovernmentScholarship"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
