iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Droughtreport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Droughtreport" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Droughtreport" targetNamespace="http://127.0.0.1/wsdl/Droughtreport">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 14 19:21:24 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Droughtreport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Drought"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Report"/>
            </xsd:annotation>
            <xsd:element name="Report" type="tns:ReportType"/>
            <xsd:element name="Drought" type="tns:DroughtType"/>
            <xsd:simpleType name="ReportType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DroughtType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DROUGHT_REPORTRequest">
    </wsdl:message>
    <wsdl:message name="get_DROUGHT_REPORTResponse">
        <wsdl:part name="_DROUGHT" type="tns:DroughtType">
        </wsdl:part>
        <wsdl:part name="_REPORT" type="tns:ReportType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DroughtreportSoap">
        <wsdl:operation name="get_DROUGHT_REPORT">
            <wsdl:input message="tns:get_DROUGHT_REPORTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DROUGHT_REPORTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DroughtreportSoapBinding" type="tns:DroughtreportSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DROUGHT_REPORT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Droughtreport"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Droughtreport"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DroughtreportService">
        <wsdl:port name="DroughtreportSoap" binding="tns:DroughtreportSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Droughtreport"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
