iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/DrugstoreTea.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/DrugstoreTea" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="DrugstoreTea" targetNamespace="http://127.0.0.1/wsdl/DrugstoreTea">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 14 19:25:26 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/DrugstoreTea" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#DrugStore"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Tea"/>
            </xsd:annotation>
            <xsd:element name="DrugStore" type="tns:DrugStoreType"/>
            <xsd:element name="Tea" type="tns:TeaType"/>
            <xsd:simpleType name="TeaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DrugStoreType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TEARequest">
        <wsdl:part name="_DRUGSTORE" type="tns:DrugStoreType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TEAResponse">
        <wsdl:part name="_TEA" type="tns:TeaType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DrugstoreTeaSoap">
        <wsdl:operation name="get_TEA">
            <wsdl:input message="tns:get_TEARequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TEAResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DrugstoreTeaSoapBinding" type="tns:DrugstoreTeaSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TEA">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/DrugstoreTea"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/DrugstoreTea"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DrugstoreTeaService">
        <wsdl:port name="DrugstoreTeaSoap" binding="tns:DrugstoreTeaSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/DrugstoreTea"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
