iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Durationgeopolitical-entitycityAccommodation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Durationgeopolitical-entitycityAccommodation"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Durationgeopolitical-entitycityAccommodation"
                  targetNamespace="http://127.0.0.1/wsdl/Durationgeopolitical-entitycityAccommodation">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 14 19:28:27 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Durationgeopolitical-entitycityAccommodation"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/travel.owl#City"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geopolitical-Entity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/support.owl#Duration"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Accommodation"/>
            </xsd:annotation>
            <xsd:element name="Accommodation" type="tns:AccommodationType"/>
            <xsd:element name="Geopolitical-Entity" type="tns:Geopolitical-EntityType"/>
            <xsd:element name="City" type="tns:CityType"/>
            <xsd:element name="Duration" type="tns:DurationType"/>
            <xsd:complexType name="LuxuryHotel">
                <xsd:choice>
                    <xsd:element name="luxuryHotelID" type="tns:LuxuryHotelDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="hasRating" type="tns:LuxuryHotelAccommodationRating"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="AccommodationRating">
                <xsd:choice>
                    <xsd:element name="accommodationRatingID" type="tns:AccommodationRatingDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="CityType">
                <xsd:choice>
                    <xsd:element name="cityID" type="tns:CityDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="hasAccommodation" type="tns:LuxuryHotel"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="DurationType">
                <xsd:choice>
                    <xsd:element name="durationID" type="tns:DurationDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="has-unit-of-measure" type="tns:Time-Measure"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="LuxuryHotelAccommodationRating">
                <xsd:complexContent>
                    <xsd:restriction base="tns:AccommodationRating">
                        <xsd:choice>
                            <xsd:element name="accommodationRatingID" type="tns:LuxuryHotelAccommodationRatingDATA"/>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:simpleType name="AccommodationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
                <xsd:restriction base="tns:AccommodationRatingDATA">
                    <xsd:enumeration value="ThreeStarRating"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LuxuryHotelDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FourSeasons"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AccommodationRatingDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="TwoStarRating"/>
                    <xsd:enumeration value="OneStarRating"/>
                    <xsd:enumeration value="ThreeStarRating"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CityDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Cairns"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="DurationDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="twelve-month-duration"/>
                    <xsd:enumeration value="thirty-day-duration"/>
                    <xsd:enumeration value="twentyfour-hour-duration"/>
                    <xsd:enumeration value="twentyeight-day-duration"/>
                    <xsd:enumeration value="thirtyone-day-duration"/>
                    <xsd:enumeration value="seven-day-duration"/>
                    <xsd:enumeration value="twentynine-day-duration"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Geopolitical-EntityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Time-Measure">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="time-measure-day"/>
                    <xsd:enumeration value="time-measure-hour"/>
                    <xsd:enumeration value="time-measure-year"/>
                    <xsd:enumeration value="time-measure-second"/>
                    <xsd:enumeration value="time-measure-minute"/>
                    <xsd:enumeration value="time-measure-month"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_ACCOMMODATIONRequest">
        <wsdl:part name="_CITY" type="tns:CityType">
        </wsdl:part>
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
        </wsdl:part>
        <wsdl:part name="_DURATION" type="tns:DurationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_ACCOMMODATIONResponse">
        <wsdl:part name="_ACCOMMODATION" type="tns:AccommodationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Durationgeopolitical-entitycityAccommodationSoap">
        <wsdl:operation name="get_ACCOMMODATION">
            <wsdl:input message="tns:get_ACCOMMODATIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_ACCOMMODATIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Durationgeopolitical-entitycityAccommodationSoapBinding"
                  type="tns:Durationgeopolitical-entitycityAccommodationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_ACCOMMODATION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Durationgeopolitical-entitycityAccommodation"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Durationgeopolitical-entitycityAccommodation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Durationgeopolitical-entitycityAccommodationService">
        <wsdl:port name="Durationgeopolitical-entitycityAccommodationSoap"
                   binding="tns:Durationgeopolitical-entitycityAccommodationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Durationgeopolitical-entitycityAccommodation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
