iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Dvdplayermp3playerPricemessage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Dvdplayermp3playerPricemessage"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Dvdplayermp3playerPricemessage"
                  targetNamespace="http://127.0.0.1/wsdl/Dvdplayermp3playerPricemessage">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Apr 25 15:58:19 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Dvdplayermp3playerPricemessage"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#MP3Player"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#DVDPlayer"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Message"/>
            </xsd:annotation>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="Message" type="tns:MessageType"/>
            <xsd:element name="DVDPlayer" type="tns:DVDPlayerType"/>
            <xsd:element name="MP3Player" type="tns:MP3PlayerType"/>
            <xsd:complexType name="Time-Point">
                <xsd:sequence>
                    <xsd:element name="second-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="minute-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="hour-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MessageType">
                <xsd:sequence>
                    <xsd:element name="time-of-message" type="tns:Time-Point"/>
                    <xsd:element name="recipient-of-message" type="tns:Generic-Agent"/>
                    <xsd:element name="sender-of-message" type="tns:Generic-Agent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DVDPlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MP3PlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICE_MESSAGEResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_MESSAGE" type="tns:MessageType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICE_MESSAGERequest">
        <wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
        </wsdl:part>
        <wsdl:part name="_DVDPLAYER" type="tns:DVDPlayerType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Dvdplayermp3playerPricemessageSoap">
        <wsdl:operation name="get_PRICE_MESSAGE">
            <wsdl:input message="tns:get_PRICE_MESSAGERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICE_MESSAGEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Dvdplayermp3playerPricemessageSoapBinding" type="tns:Dvdplayermp3playerPricemessageSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE_MESSAGE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Dvdplayermp3playerPricemessage"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Dvdplayermp3playerPricemessage"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Dvdplayermp3playerPricemessageService">
        <wsdl:port name="Dvdplayermp3playerPricemessageSoap" binding="tns:Dvdplayermp3playerPricemessageSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Dvdplayermp3playerPricemessage"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
