iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Ebookorder1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Ebookorder1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Ebookorder1" targetNamespace="http://127.0.0.1/wsdl/Ebookorder1">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri May 15 20:12:18 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Ebookorder1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#User"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Book"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Title" type="tns:TitleType"/>
            <xsd:element name="User" type="tns:UserType"/>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="isTitled" type="tns:TitleType"/>
                    <xsd:element name="hasType" type="tns:Book-Type"/>
                    <xsd:element name="writtenBy" type="tns:Author"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Author">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Book-Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="UserType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getEBookResponse">
        <wsdl:part name="EBook" type="tns:BookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEBookRequest">
        <wsdl:part name="EBookRequest" type="tns:TitleType">
        </wsdl:part>
        <wsdl:part name="UserAccount" type="tns:UserType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Ebookorder1Soap">
        <wsdl:operation name="getEBook">
            <wsdl:input message="tns:getEBookRequest">
            </wsdl:input>
            <wsdl:output message="tns:getEBookResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Ebookorder1SoapBinding" type="tns:Ebookorder1Soap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEBook">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Ebookorder1"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Ebookorder1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Ebookorder1Service">
        <wsdl:port name="Ebookorder1Soap" binding="tns:Ebookorder1SoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Ebookorder1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
