iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Educational-employeePostal-address.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Educational-employeePostal-address"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Educational-employeePostal-address"
                  targetNamespace="http://127.0.0.1/wsdl/Educational-employeePostal-address">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri May 15 20:29:04 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Educational-employeePostal-address"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Educational-Employee"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Postal-Address"/>
            </xsd:annotation>
            <xsd:element name="Postal-Address" type="tns:Postal-AddressType"/>
            <xsd:element name="Educational-Employee" type="tns:Educational-EmployeeType"/>
            <xsd:complexType name="Educational-EmployeeType">
                <xsd:sequence>
                    <xsd:element name="works-for" type="tns:Educational-Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Postal-AddressType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Educational-Organization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_POSTAL-ADDRESSRequest">
        <wsdl:part name="_EDUCATIONAL-EMPLOYEE" type="tns:Educational-EmployeeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_POSTAL-ADDRESSResponse">
        <wsdl:part name="_POSTAL-ADDRESS" type="tns:Postal-AddressType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Educational-employeePostal-addressSoap">
        <wsdl:operation name="get_POSTAL-ADDRESS">
            <wsdl:input message="tns:get_POSTAL-ADDRESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_POSTAL-ADDRESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Educational-employeePostal-addressSoapBinding"
                  type="tns:Educational-employeePostal-addressSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_POSTAL-ADDRESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Educational-employeePostal-address"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Educational-employeePostal-address"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Educational-employeePostal-addressService">
        <wsdl:port name="Educational-employeePostal-addressSoap"
                   binding="tns:Educational-employeePostal-addressSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Educational-employeePostal-address"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
