iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/EmergencyPhysician_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Selectotherhospital" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Selectotherhospital" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Selectotherhospital" targetNamespace="http://127.0.0.1/wsdl/Selectotherhospital">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 14:52:05 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Selectotherhospital"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/EmergencyPhysicianOntology.owl#ListOfHospitals"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/EmergencyPhysicianOntology.owl#Hospital"/>
            </xsd:annotation>
            <xsd:element name="Hospital" type="HospitalType"/>
            <xsd:element name="ListOfHospitals" type="ListOfHospitalsType"/>
            <xsd:complexType name="ListOfHospitalsType">
                <xsd:sequence>
                    <xsd:element name="ListOfHospitals_consistsOf" type="HospitalType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="HospitalType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getSelectOtherHospital_SelectedHospitalResponse">
        <wsdl:part name="SelectOtherHospital_SelectedHospital" type="tns:HospitalType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSelectOtherHospital_SelectedHospitalRequest">
        <wsdl:part name="SelectOtherHospital_HospitalListFromEMA" type="tns:ListOfHospitalsType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SelectotherhospitalSoap">
        <wsdl:operation name="getSelectOtherHospital_SelectedHospital">
            <wsdl:input message="tns:getSelectOtherHospital_SelectedHospitalRequest">
            </wsdl:input>
            <wsdl:output message="tns:getSelectOtherHospital_SelectedHospitalResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SelectotherhospitalSoapBinding" type="SelectotherhospitalSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getSelectOtherHospital_SelectedHospital">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Selectotherhospital"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Selectotherhospital"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SelectotherhospitalService">
        <wsdl:port name="SelectotherhospitalSoap" binding="SelectotherhospitalSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Selectotherhospital"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
