iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/EmployeePostal-address1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/EmployeePostal-address1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="EmployeePostal-address1" targetNamespace="http://127.0.0.1/wsdl/EmployeePostal-address1">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri May 15 20:49:24 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/EmployeePostal-address1"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Employee"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Postal-Address"/>
            </xsd:annotation>
            <xsd:element name="Postal-Address" type="tns:Postal-AddressType"/>
            <xsd:element name="Employee" type="tns:EmployeeType"/>
            <xsd:complexType name="EmployeeType">
                <xsd:sequence>
                    <xsd:element name="has-job-title" type="xsd:string"/>
                    <xsd:element name="has-contract-type" type="tns:Employment-Contract-Type"/>
                    <xsd:element name="works-in-unit" type="tns:Organization-Unit"/>
                    <xsd:element name="works-for" type="tns:Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization">
                <xsd:sequence>
                    <xsd:element name="has-size" type="tns:OrganizationOrganization-Size"/>
                    <xsd:element name="organization-part-of" type="tns:Organization"/>
                    <xsd:element name="has-sub-unit" type="tns:Organization-Unit"/>
                    <xsd:element name="affiliated-person" type="tns:Affiliated-Person"/>
                    <xsd:element name="headed-by" type="tns:Affiliated-Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Affiliated-Person">
                <xsd:sequence>
                    <xsd:element name="has-affiliation" type="tns:Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Postal-AddressType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="OrganizationOrganization-Size">
                <xsd:restriction base="tns:Organization-Size">
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Size">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Employment-Contract-Type">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Temporary-Contract"/>
                    <xsd:enumeration value="Permanent-Contract"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Unit">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_POSTAL-ADDRESSRequest">
        <wsdl:part name="_EMPLOYEE" type="tns:EmployeeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_POSTAL-ADDRESSResponse">
        <wsdl:part name="_POSTAL-ADDRESS" type="tns:Postal-AddressType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmployeePostal-addressSoap">
        <wsdl:operation name="get_POSTAL-ADDRESS">
            <wsdl:input message="tns:get_POSTAL-ADDRESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_POSTAL-ADDRESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeePostal-addressSoapBinding" type="tns:EmployeePostal-addressSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_POSTAL-ADDRESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/EmployeePostal-address1"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/EmployeePostal-address1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeePostal-addressService">
        <wsdl:port name="EmployeePostal-addressSoap" binding="tns:EmployeePostal-addressSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/EmployeePostal-address1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
