iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/ExpensivecarRecommendedpricecolor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ExpensivecarRecommendedpricecolor"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ExpensivecarRecommendedpricecolor"
                  targetNamespace="http://127.0.0.1/wsdl/ExpensivecarRecommendedpricecolor">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri May 15 23:06:59 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ExpensivecarRecommendedpricecolor"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#ExpensiveCar"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Color"/>
            </xsd:annotation>
            <xsd:element name="ExpensiveCar" type="tns:ExpensiveCarType"/>
            <xsd:element name="Color" type="tns:ColorType"/>
            <xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ColorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ExpensiveCarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICE_COLORRequest">
        <wsdl:part name="_EXPENSIVECAR" type="tns:ExpensiveCarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICE_COLORResponse">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
        <wsdl:part name="_COLOR" type="tns:ColorType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ExpensivecarRecommendedpricecolorSoap">
        <wsdl:operation name="get_RECOMMENDEDPRICE_COLOR">
            <wsdl:input message="tns:get_RECOMMENDEDPRICE_COLORRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICE_COLORResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExpensivecarRecommendedpricecolorSoapBinding" type="tns:ExpensivecarRecommendedpricecolorSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICE_COLOR">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ExpensivecarRecommendedpricecolor"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ExpensivecarRecommendedpricecolor"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExpensivecarRecommendedpricecolorService">
        <wsdl:port name="ExpensivecarRecommendedpricecolorSoap"
                   binding="tns:ExpensivecarRecommendedpricecolorSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ExpensivecarRecommendedpricecolor"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
