iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/FoodTaxfreepricequantity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/FoodTaxfreepricequantity"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="FoodTaxfreepricequantity" targetNamespace="http://127.0.0.1/wsdl/FoodTaxfreepricequantity">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed May 20 19:50:13 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/FoodTaxfreepricequantity"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Food"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#TaxFreePrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/support.owl#Quantity"/>
            </xsd:annotation>
            <xsd:element name="TaxFreePrice" type="tns:TaxFreePriceType"/>
            <xsd:element name="Food" type="tns:FoodType"/>
            <xsd:element name="Quantity" type="tns:QuantityType"/>
            <xsd:simpleType name="TaxFreePriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="QuantityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TAXFREEPRICE_QUANTITYResponse">
        <wsdl:part name="_TAXFREEPRICE" type="tns:TaxFreePriceType">
        </wsdl:part>
        <wsdl:part name="_QUANTITY" type="tns:QuantityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TAXFREEPRICE_QUANTITYRequest">
        <wsdl:part name="_FOOD" type="tns:FoodType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FoodTaxfreepricequantitySoap">
        <wsdl:operation name="get_TAXFREEPRICE_QUANTITY">
            <wsdl:input message="tns:get_TAXFREEPRICE_QUANTITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TAXFREEPRICE_QUANTITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FoodTaxfreepricequantitySoapBinding" type="tns:FoodTaxfreepricequantitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TAXFREEPRICE_QUANTITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FoodTaxfreepricequantity"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FoodTaxfreepricequantity"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FoodTaxfreepricequantityService">
        <wsdl:port name="FoodTaxfreepricequantitySoap" binding="tns:FoodTaxfreepricequantitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/FoodTaxfreepricequantity"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
