iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/FoodTaxedpricequantity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/FoodTaxedpricequantity" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="FoodTaxedpricequantity" targetNamespace="http://127.0.0.1/wsdl/FoodTaxedpricequantity">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 21 20:01:14 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/FoodTaxedpricequantity"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Food"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/support.owl#Quantity"/>
            </xsd:annotation>
            <xsd:element name="TaxedPrice" type="tns:TaxedPriceType"/>
            <xsd:element name="Food" type="tns:FoodType"/>
            <xsd:element name="Quantity" type="tns:QuantityType"/>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="tns:Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="FoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="QuantityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TAXEDPRICE_QUANTITYRequest">
        <wsdl:part name="_FOOD" type="tns:FoodType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TAXEDPRICE_QUANTITYResponse">
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
        <wsdl:part name="_QUANTITY" type="tns:QuantityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FoodTaxedpricequantitySoap">
        <wsdl:operation name="get_TAXEDPRICE_QUANTITY">
            <wsdl:input message="tns:get_TAXEDPRICE_QUANTITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TAXEDPRICE_QUANTITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FoodTaxedpricequantitySoapBinding" type="tns:FoodTaxedpricequantitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TAXEDPRICE_QUANTITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FoodTaxedpricequantity"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FoodTaxedpricequantity"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FoodTaxedpricequantityService">
        <wsdl:port name="FoodTaxedpricequantitySoap" binding="tns:FoodTaxedpricequantitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/FoodTaxedpricequantity"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
