iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/FranceMap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/FranceMap" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="FranceMap" targetNamespace="http://127.0.0.1/wsdl/FranceMap">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 21 20:13:21 CEST 2009" targetNamespace="http://127.0.0.1/wsdl/FranceMap"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Map"/>
            </xsd:annotation>
            <xsd:element name="Map" type="tns:MapType"/>
            <xsd:simpleType name="MapType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_MAPResponse">
        <wsdl:part name="_MAP" type="tns:MapType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_MAPRequest">
    </wsdl:message>
    <wsdl:portType name="MapSoap">
        <wsdl:operation name="get_MAP">
            <wsdl:input message="tns:get_MAPRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_MAPResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MapSoapBinding" type="tns:MapSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_MAP">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FranceMap"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/FranceMap"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MapService">
        <wsdl:port name="MapSoap" binding="tns:MapSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/FranceMap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
