iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/geographical-regiongeographical-region_map_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Geographical-regiongeographical-regionMap"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geographical-regiongeographical-regionMap"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geographical-regiongeographical-regionMap"
                  targetNamespace="http://127.0.0.1/wsdl/Geographical-regiongeographical-regionMap">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed Jun 10 01:57:04 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geographical-regiongeographical-regionMap"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geographical-Region"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geographical-Region"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Map"/>
            </xsd:annotation>
            <xsd:element name="Map" type="MapType"/>
            <xsd:element name="Geographical-Region" type="Geographical-RegionType"/>
            <xsd:simpleType name="Geographical-RegionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MapType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_MAPRequest">
        <wsdl:part name="_GEOGRAPHICAL-REGION1" type="tns:Geographical-RegionType">
        </wsdl:part>
        <wsdl:part name="_GEOGRAPHICAL-REGION2" type="tns:Geographical-RegionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_MAPResponse">
        <wsdl:part name="_MAP" type="tns:MapType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geographical-regiongeographical-regionMapSoap">
        <wsdl:operation name="get_MAP">
            <wsdl:input message="tns:get_MAPRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_MAPResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geographical-regiongeographical-regionMapSoapBinding"
                  type="Geographical-regiongeographical-regionMapSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_MAP">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geographical-regiongeographical-regionMap"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geographical-regiongeographical-regionMap"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geographical-regiongeographical-regionMapService">
        <wsdl:port name="Geographical-regiongeographical-regionMapSoap"
                   binding="Geographical-regiongeographical-regionMapSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geographical-regiongeographical-regionMap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
