iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Geopolitical-entityWeathersystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geopolitical-entityWeathersystem"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geopolitical-entityWeathersystem"
                  targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityWeathersystem">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 21 20:43:53 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityWeathersystem"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geopolitical-Entity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#WeatherSystem"/>
            </xsd:annotation>
            <xsd:element name="Geopolitical-Entity" type="tns:Geopolitical-EntityType"/>
            <xsd:element name="WeatherSystem" type="tns:WeatherSystemType"/>
            <xsd:simpleType name="WeatherSystemType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geopolitical-EntityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_WEATHERSYSTEMRequest">
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_WEATHERSYSTEMResponse">
        <wsdl:part name="_WEATHERSYSTEM" type="tns:WeatherSystemType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geopolitical-entityWeathersystemSoap">
        <wsdl:operation name="get_WEATHERSYSTEM">
            <wsdl:input message="tns:get_WEATHERSYSTEMRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_WEATHERSYSTEMResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geopolitical-entityWeathersystemSoapBinding" type="tns:Geopolitical-entityWeathersystemSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_WEATHERSYSTEM">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityWeathersystem"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityWeathersystem"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geopolitical-entityWeathersystemService">
        <wsdl:port name="Geopolitical-entityWeathersystemSoap"
                   binding="tns:Geopolitical-entityWeathersystemSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geopolitical-entityWeathersystem"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
