iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/geopolitical-entity_professiontimeduration_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Geopolitical-entityProfessiontimeduration"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geopolitical-entityProfessiontimeduration"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geopolitical-entityProfessiontimeduration"
                  targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityProfessiontimeduration">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 25 01:15:14 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityProfessiontimeduration"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geopolitical-Entity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Profession"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#TimeDuration"/>
            </xsd:annotation>
            <xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
            <xsd:element name="Profession" type="ProfessionType"/>
            <xsd:element name="TimeDuration" type="TimeDurationType"/>
            <xsd:simpleType name="TimeDurationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ProfessionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geopolitical-EntityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PROFESSION_TIMEDURATIONRequest">
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PROFESSION_TIMEDURATIONResponse">
        <wsdl:part name="_PROFESSION" type="tns:ProfessionType">
        </wsdl:part>
        <wsdl:part name="_TIMEDURATION" type="tns:TimeDurationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geopolitical-entityProfessiontimedurationSoap">
        <wsdl:operation name="get_PROFESSION_TIMEDURATION">
            <wsdl:input message="tns:get_PROFESSION_TIMEDURATIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PROFESSION_TIMEDURATIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geopolitical-entityProfessiontimedurationSoapBinding"
                  type="Geopolitical-entityProfessiontimedurationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PROFESSION_TIMEDURATION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityProfessiontimeduration"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityProfessiontimeduration"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geopolitical-entityProfessiontimedurationService">
        <wsdl:port name="Geopolitical-entityProfessiontimedurationSoap"
                   binding="Geopolitical-entityProfessiontimedurationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geopolitical-entityProfessiontimeduration"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
