iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Geopolitical-entityWeatherprocess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geopolitical-entityWeatherprocess"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geopolitical-entityWeatherprocess"
                  targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityWeatherprocess">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 21 21:43:40 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityWeatherprocess"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geopolitical-Entity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#WeatherProcess"/>
            </xsd:annotation>
            <xsd:element name="Geopolitical-Entity" type="tns:Geopolitical-EntityType"/>
            <xsd:element name="WeatherProcess" type="tns:WeatherProcessType"/>
            <xsd:simpleType name="Geopolitical-EntityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="WeatherProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_WEATHERPROCESSRequest">
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_WEATHERPROCESSResponse">
        <wsdl:part name="_WEATHERPROCESS" type="tns:WeatherProcessType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geopolitical-entityWeatherprocessSoap">
        <wsdl:operation name="get_WEATHERPROCESS">
            <wsdl:input message="tns:get_WEATHERPROCESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_WEATHERPROCESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geopolitical-entityWeatherprocessSoapBinding" type="tns:Geopolitical-entityWeatherprocessSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_WEATHERPROCESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityWeatherprocess"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityWeatherprocess"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geopolitical-entityWeatherprocessService">
        <wsdl:port name="Geopolitical-entityWeatherprocessSoap"
                   binding="tns:Geopolitical-entityWeatherprocessSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geopolitical-entityWeatherprocess"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
