iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/geopolitical-entity_warmfront_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Geopolitical-entityWarmfront"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geopolitical-entityWarmfront"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geopolitical-entityWarmfront"
                  targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityWarmfront">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat May 23 02:31:51 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityWarmfront"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geopolitical-Entity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#WarmFront"/>
            </xsd:annotation>
            <xsd:element name="WarmFront" type="WarmFrontType"/>
            <xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
            <xsd:simpleType name="WarmFrontType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geopolitical-EntityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_WARMFRONTResponse">
        <wsdl:part name="_WARMFRONT" type="tns:WarmFrontType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_WARMFRONTRequest">
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geopolitical-entityWarmfrontSoap">
        <wsdl:operation name="get_WARMFRONT">
            <wsdl:input message="tns:get_WARMFRONTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_WARMFRONTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geopolitical-entityWarmfrontSoapBinding" type="Geopolitical-entityWarmfrontSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_WARMFRONT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityWarmfront"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityWarmfront"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geopolitical-entityWarmfrontService">
        <wsdl:port name="Geopolitical-entityWarmfrontSoap" binding="Geopolitical-entityWarmfrontSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geopolitical-entityWarmfront"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
