iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/geopolitical-entity_corporationoccupationaltrade_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Geopolitical-entityCorporationoccupationaltrade"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geopolitical-entityCorporationoccupationaltrade"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geopolitical-entityCorporationoccupationaltrade"
                  targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityCorporationoccupationaltrade">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat May 23 03:08:59 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityCorporationoccupationaltrade"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geopolitical-Entity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/finance_th_web.owl#corporation"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#OccupationalTrade"/>
            </xsd:annotation>
            <xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
            <xsd:element name="OccupationalTrade" type="OccupationalTradeType"/>
            <xsd:element name="corporation" type="corporationType"/>
            <xsd:simpleType name="OccupationalTradeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geopolitical-EntityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="corporationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_CORPORATION_OCCUPATIONALTRADERequest">
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_CORPORATION_OCCUPATIONALTRADEResponse">
        <wsdl:part name="_CORPORATION" type="tns:corporationType">
        </wsdl:part>
        <wsdl:part name="_OCCUPATIONALTRADE" type="tns:OccupationalTradeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geopolitical-entityCorporationoccupationaltradeSoap">
        <wsdl:operation name="get_CORPORATION_OCCUPATIONALTRADE">
            <wsdl:input message="tns:get_CORPORATION_OCCUPATIONALTRADERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_CORPORATION_OCCUPATIONALTRADEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geopolitical-entityCorporationoccupationaltradeSoapBinding"
                  type="Geopolitical-entityCorporationoccupationaltradeSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_CORPORATION_OCCUPATIONALTRADE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityCorporationoccupationaltrade"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityCorporationoccupationaltrade"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geopolitical-entityCorporationoccupationaltradeService">
        <wsdl:port name="Geopolitical-entityCorporationoccupationaltradeSoap"
                   binding="Geopolitical-entityCorporationoccupationaltradeSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geopolitical-entityCorporationoccupationaltrade"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
