iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/geopolitical-entity_bedandbreakfast_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Geopolitical-entityBedandbreakfast"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geopolitical-entityBedandbreakfast"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geopolitical-entityBedandbreakfast"
                  targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityBedandbreakfast">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat May 23 03:00:41 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityBedandbreakfast"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Geopolitical-Entity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#BedAndBreakfast"/>
            </xsd:annotation>
            <xsd:element name="BedAndBreakfast" type="BedAndBreakfastType"/>
            <xsd:element name="Geopolitical-Entity" type="Geopolitical-EntityType"/>
            <xsd:simpleType name="BedAndBreakfastType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geopolitical-EntityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_BEDANDBREAKFASTRequest">
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Geopolitical-EntityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_BEDANDBREAKFASTResponse">
        <wsdl:part name="_BEDANDBREAKFAST" type="tns:BedAndBreakfastType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geopolitical-entityBedandbreakfastSoap">
        <wsdl:operation name="get_BEDANDBREAKFAST">
            <wsdl:input message="tns:get_BEDANDBREAKFASTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_BEDANDBREAKFASTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geopolitical-entityBedandbreakfastSoapBinding" type="Geopolitical-entityBedandbreakfastSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_BEDANDBREAKFAST">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityBedandbreakfast"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityBedandbreakfast"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geopolitical-entityBedandbreakfastService">
        <wsdl:port name="Geopolitical-entityBedandbreakfastSoap"
                   binding="Geopolitical-entityBedandbreakfastSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geopolitical-entityBedandbreakfast"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
