iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/GetNonMedicalTransportAccount_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Getnonmedicaltransportaccount"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Getnonmedicaltransportaccount"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Getnonmedicaltransportaccount"
                  targetNamespace="http://127.0.0.1/wsdl/Getnonmedicaltransportaccount">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 25 23:45:07 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Getnonmedicaltransportaccount"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#DateTime"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#Address"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#PersonName"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#AccountPassword"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#AccountName"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#CreditCardNumber"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#Account"/>
            </xsd:annotation>
            <xsd:element name="CreditCardNumber" type="CreditCardNumberType"/>
            <xsd:element name="AccountPassword" type="AccountPasswordType"/>
            <xsd:element name="Account" type="AccountType"/>
            <xsd:element name="PersonName" type="PersonNameType"/>
            <xsd:element name="AccountName" type="AccountNameType"/>
            <xsd:element name="DateTime" type="DateTimeType"/>
            <xsd:element name="Address" type="AddressType"/>
            <xsd:simpleType name="AccountPasswordType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PersonNameType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CreditCardNumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AddressType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AccountNameType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AccountType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DateTimeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getGetNonMedicalTransportAccount_AccountRequest">
        <wsdl:part name="GetNonMedicalTransportAccount_CustomerCreditCardExpDate" type="tns:DateTimeType">
        </wsdl:part>
        <wsdl:part name="GetNonMedicalTransportAccount_CustomerAddress" type="tns:AddressType">
        </wsdl:part>
        <wsdl:part name="GetNonMedicalTransportAccount_CustomerName" type="tns:PersonNameType">
        </wsdl:part>
        <wsdl:part name="GetNonMedicalTransportAccount_CustomerDesiredPassword" type="tns:AccountPasswordType">
        </wsdl:part>
        <wsdl:part name="GetNonMedicalTransportAccount_CustomerDesiredAccountName" type="tns:AccountNameType">
        </wsdl:part>
        <wsdl:part name="GetNonMedicalTransportAccount_CustomerCreditCardNumber" type="tns:CreditCardNumberType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGetNonMedicalTransportAccount_AccountResponse">
        <wsdl:part name="GetNonMedicalTransportAccount_Account" type="tns:AccountType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GetnonmedicaltransportaccountSoap">
        <wsdl:operation name="getGetNonMedicalTransportAccount_Account">
            <wsdl:input message="tns:getGetNonMedicalTransportAccount_AccountRequest">
            </wsdl:input>
            <wsdl:output message="tns:getGetNonMedicalTransportAccount_AccountResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetnonmedicaltransportaccountSoapBinding" type="GetnonmedicaltransportaccountSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getGetNonMedicalTransportAccount_Account">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Getnonmedicaltransportaccount"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Getnonmedicaltransportaccount"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetnonmedicaltransportaccountService">
        <wsdl:port name="GetnonmedicaltransportaccountSoap" binding="GetnonmedicaltransportaccountSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Getnonmedicaltransportaccount"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
