iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/government-organization_profession_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Government-organizationProfession"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Government-organizationProfession"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Government-organizationProfession"
                  targetNamespace="http://127.0.0.1/wsdl/Government-organizationProfession">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 00:57:05 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Government-organizationProfession"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Government-Organization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Profession"/>
            </xsd:annotation>
            <xsd:element name="Profession" type="ProfessionType"/>
            <xsd:element name="Government-Organization" type="Government-OrganizationType"/>
            <xsd:simpleType name="Government-OrganizationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ProfessionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PROFESSIONResponse">
        <wsdl:part name="_PROFESSION" type="tns:ProfessionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PROFESSIONRequest">
        <wsdl:part name="_GOVERNMENT-ORGANIZATION" type="tns:Government-OrganizationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Government-organizationProfessionSoap">
        <wsdl:operation name="get_PROFESSION">
            <wsdl:input message="tns:get_PROFESSIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PROFESSIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Government-organizationProfessionSoapBinding" type="Government-organizationProfessionSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PROFESSION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Government-organizationProfession"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Government-organizationProfession"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Government-organizationProfessionService">
        <wsdl:port name="Government-organizationProfessionSoap" binding="Government-organizationProfessionSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Government-organizationProfession"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
