iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/governmentweapon_funding_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/GovernmentweaponFunding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/GovernmentweaponFunding" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="GovernmentweaponFunding" targetNamespace="http://127.0.0.1/wsdl/GovernmentweaponFunding">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 14:30:08 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/GovernmentweaponFunding"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Weapon"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Government"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Funding"/>
            </xsd:annotation>
            <xsd:element name="Government" type="GovernmentType"/>
            <xsd:element name="Weapon" type="WeaponType"/>
            <xsd:element name="Funding" type="FundingType"/>
            <xsd:simpleType name="GovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FundingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="WeaponType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FUNDINGRequest">
        <wsdl:part name="_WEAPON" type="tns:WeaponType">
        </wsdl:part>
        <wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FUNDINGResponse">
        <wsdl:part name="_FUNDING" type="tns:FundingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GovernmentweaponFundingSoap">
        <wsdl:operation name="get_FUNDING">
            <wsdl:input message="tns:get_FUNDINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FUNDINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GovernmentweaponFundingSoapBinding" type="GovernmentweaponFundingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FUNDING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/GovernmentweaponFunding"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/GovernmentweaponFunding"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GovernmentweaponFundingService">
        <wsdl:port name="GovernmentweaponFundingSoap" binding="GovernmentweaponFundingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/GovernmentweaponFunding"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
