iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/governmentdegree_welfare_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/GovernmentdegreeWelfare" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/GovernmentdegreeWelfare" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="GovernmentdegreeWelfare" targetNamespace="http://127.0.0.1/wsdl/GovernmentdegreeWelfare">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 02:00:40 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/GovernmentdegreeWelfare"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Degree"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Government"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Welfare"/>
            </xsd:annotation>
            <xsd:element name="Government" type="GovernmentType"/>
            <xsd:element name="Degree" type="DegreeType"/>
            <xsd:element name="Welfare" type="WelfareType"/>
            <xsd:simpleType name="GovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="WelfareType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DegreeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_WELFAREResponse">
        <wsdl:part name="_WELFARE" type="tns:WelfareType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_WELFARERequest">
        <wsdl:part name="_DEGREE" type="tns:DegreeType">
        </wsdl:part>
        <wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GovernmentdegreeWelfareSoap">
        <wsdl:operation name="get_WELFARE">
            <wsdl:input message="tns:get_WELFARERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_WELFAREResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GovernmentdegreeWelfareSoapBinding" type="GovernmentdegreeWelfareSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_WELFARE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/GovernmentdegreeWelfare"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/GovernmentdegreeWelfare"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GovernmentdegreeWelfareService">
        <wsdl:port name="GovernmentdegreeWelfareSoap" binding="GovernmentdegreeWelfareSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/GovernmentdegreeWelfare"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
