iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/grocerystore_sandwichquantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/GrocerystoreSandwichquantity"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/GrocerystoreSandwichquantity"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="GrocerystoreSandwichquantity"
                  targetNamespace="http://127.0.0.1/wsdl/GrocerystoreSandwichquantity">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 14:37:33 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/GrocerystoreSandwichquantity"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#GroceryStore"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Sandwich"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/support.owl#Quantity"/>
            </xsd:annotation>
            <xsd:element name="GroceryStore" type="GroceryStoreType"/>
            <xsd:element name="Sandwich" type="SandwichType"/>
            <xsd:element name="Quantity" type="QuantityType"/>
            <xsd:simpleType name="SandwichType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="GroceryStoreType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="QuantityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SANDWICH_QUANTITYResponse">
        <wsdl:part name="_SANDWICH" type="tns:SandwichType">
        </wsdl:part>
        <wsdl:part name="_QUANTITY" type="tns:QuantityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SANDWICH_QUANTITYRequest">
        <wsdl:part name="_GROCERYSTORE" type="tns:GroceryStoreType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GrocerystoreSandwichquantitySoap">
        <wsdl:operation name="get_SANDWICH_QUANTITY">
            <wsdl:input message="tns:get_SANDWICH_QUANTITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SANDWICH_QUANTITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GrocerystoreSandwichquantitySoapBinding" type="GrocerystoreSandwichquantitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SANDWICH_QUANTITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/GrocerystoreSandwichquantity"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/GrocerystoreSandwichquantity"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GrocerystoreSandwichquantityService">
        <wsdl:port name="GrocerystoreSandwichquantitySoap" binding="GrocerystoreSandwichquantitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/GrocerystoreSandwichquantity"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
