iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/HDP_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/HospitalSummarydiagnosticprocess"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/HospitalSummarydiagnosticprocess"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="HospitalSummarydiagnosticprocess"
                  targetNamespace="http://127.0.0.1/wsdl/HospitalSummarydiagnosticprocess">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 14:42:54 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/HospitalSummarydiagnosticprocess"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Hospital"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Summary"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#DiagnosticProcess"/>
            </xsd:annotation>
            <xsd:element name="DiagnosticProcess" type="DiagnosticProcessType"/>
            <xsd:element name="Hospital" type="HospitalType"/>
            <xsd:element name="Summary" type="SummaryType"/>
            <xsd:simpleType name="DiagnosticProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="SummaryType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="HospitalType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SUMMARY_DIAGNOSTICPROCESSRequest">
        <wsdl:part name="_HOSPITAL" type="tns:HospitalType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SUMMARY_DIAGNOSTICPROCESSResponse">
        <wsdl:part name="_SUMMARY" type="tns:SummaryType">
        </wsdl:part>
        <wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HospitalSummarydiagnosticprocessSoap">
        <wsdl:operation name="get_SUMMARY_DIAGNOSTICPROCESS">
            <wsdl:input message="tns:get_SUMMARY_DIAGNOSTICPROCESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SUMMARY_DIAGNOSTICPROCESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HospitalSummarydiagnosticprocessSoapBinding" type="HospitalSummarydiagnosticprocessSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SUMMARY_DIAGNOSTICPROCESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HospitalSummarydiagnosticprocess"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HospitalSummarydiagnosticprocess"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HospitalSummarydiagnosticprocessService">
        <wsdl:port name="HospitalSummarydiagnosticprocessSoap" binding="HospitalSummarydiagnosticprocessSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/HospitalSummarydiagnosticprocess"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
