iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/hiking_town_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/HikingTown" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/HikingTown" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="HikingTown" targetNamespace="http://127.0.0.1/wsdl/HikingTown">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 16:55:38 CEST 2009" targetNamespace="http://127.0.0.1/wsdl/HikingTown"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Hiking"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Town"/>
            </xsd:annotation>
            <xsd:element name="Hiking" type="HikingType"/>
            <xsd:element name="Town" type="TownType"/>
            <xsd:simpleType name="TownType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Coonabarabran"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="HikingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TOWNRequest">
        <wsdl:part name="_HIKING" type="tns:HikingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TOWNResponse">
        <wsdl:part name="_TOWN" type="tns:TownType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HikingTownSoap">
        <wsdl:operation name="get_TOWN">
            <wsdl:input message="tns:get_TOWNRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TOWNResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HikingTownSoapBinding" type="HikingTownSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TOWN">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HikingTown"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HikingTown"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HikingTownService">
        <wsdl:port name="HikingTownSoap" binding="HikingTownSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/HikingTown"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
