iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/hospital_diagnosticprocesstimemeasure_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/HospitalDiagnosticprocesstimemeasure"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/HospitalDiagnosticprocesstimemeasure"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="HospitalDiagnosticprocesstimemeasure"
                  targetNamespace="http://127.0.0.1/wsdl/HospitalDiagnosticprocesstimemeasure">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 17:17:30 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/HospitalDiagnosticprocesstimemeasure"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Hospital"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#DiagnosticProcess"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#TimeMeasure"/>
            </xsd:annotation>
            <xsd:element name="DiagnosticProcess" type="DiagnosticProcessType"/>
            <xsd:element name="TimeMeasure" type="TimeMeasureType"/>
            <xsd:element name="Hospital" type="HospitalType"/>
            <xsd:simpleType name="DiagnosticProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeMeasureType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="HospitalType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DIAGNOSTICPROCESS_TIMEMEASUREResponse">
        <wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
        </wsdl:part>
        <wsdl:part name="_TIMEMEASURE" type="tns:TimeMeasureType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_DIAGNOSTICPROCESS_TIMEMEASURERequest">
        <wsdl:part name="_HOSPITAL" type="tns:HospitalType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HospitalDiagnosticprocesstimemeasureSoap">
        <wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEMEASURE">
            <wsdl:input message="tns:get_DIAGNOSTICPROCESS_TIMEMEASURERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DIAGNOSTICPROCESS_TIMEMEASUREResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HospitalDiagnosticprocesstimemeasureSoapBinding"
                  type="HospitalDiagnosticprocesstimemeasureSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DIAGNOSTICPROCESS_TIMEMEASURE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HospitalDiagnosticprocesstimemeasure"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HospitalDiagnosticprocesstimemeasure"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HospitalDiagnosticprocesstimemeasureService">
        <wsdl:port name="HospitalDiagnosticprocesstimemeasureSoap"
                   binding="HospitalDiagnosticprocesstimemeasureSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/HospitalDiagnosticprocesstimemeasure"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
