iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/hospital_IIPsummary_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/HospitalIntentionalpsychologicalprocesssummary"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/HospitalIntentionalpsychologicalprocesssummary"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="HospitalIntentionalpsychologicalprocesssummary"
                  targetNamespace="http://127.0.0.1/wsdl/HospitalIntentionalpsychologicalprocesssummary">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 17:08:20 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/HospitalIntentionalpsychologicalprocesssummary"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Hospital"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#IntentionalPsychologicalProcess"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Summary"/>
            </xsd:annotation>
            <xsd:element name="Hospital" type="HospitalType"/>
            <xsd:element name="IntentionalPsychologicalProcess" type="IntentionalPsychologicalProcessType"/>
            <xsd:element name="Summary" type="SummaryType"/>
            <xsd:simpleType name="SummaryType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntentionalPsychologicalProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="HospitalType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYRequest">
        <wsdl:part name="_HOSPITAL" type="tns:HospitalType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYResponse">
        <wsdl:part name="_INTENTIONALPSYCHOLOGICALPROCESS" type="tns:IntentionalPsychologicalProcessType">
        </wsdl:part>
        <wsdl:part name="_SUMMARY" type="tns:SummaryType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HospitalIntentionalpsychologicalprocesssummarySoap">
        <wsdl:operation name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARY">
            <wsdl:input message="tns:get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HospitalIntentionalpsychologicalprocesssummarySoapBinding"
                  type="HospitalIntentionalpsychologicalprocesssummarySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_INTENTIONALPSYCHOLOGICALPROCESS_SUMMARY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HospitalIntentionalpsychologicalprocesssummary"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/HospitalIntentionalpsychologicalprocesssummary"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HospitalIntentionalpsychologicalprocesssummaryService">
        <wsdl:port name="HospitalIntentionalpsychologicalprocesssummarySoap"
                   binding="HospitalIntentionalpsychologicalprocesssummarySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/HospitalIntentionalpsychologicalprocesssummary"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
