iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/IsbnPublicationpublisher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/IsbnPublicationpublisher"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="IsbnPublicationpublisher" targetNamespace="http://127.0.0.1/wsdl/IsbnPublicationpublisher">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed May 06 19:33:11 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/IsbnPublicationpublisher"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#ISBN"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Publication"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Publisher"/>
            </xsd:annotation>
            <xsd:element name="Publication" type="tns:PublicationType"/>
            <xsd:element name="Publisher" type="tns:PublisherType"/>
            <xsd:element name="ISBN" type="tns:ISBNType"/>
            <xsd:complexType name="Publication-Reference">
                <xsd:sequence>
                    <xsd:element name="has-place-of-publication" type="tns:Location"/>
                    <xsd:element name="has-title" type="xsd:string"/>
                    <xsd:element name="has-author" type="tns:Generic-Agent"/>
                    <xsd:element name="has-date" type="tns:Calendar-Date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Calendar-Date">
                <xsd:sequence>
                    <xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="minute-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="hour-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="second-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PublicationType">
                <xsd:sequence>
                    <xsd:element name="has-publication-reference" type="tns:Publication-Reference"/>
                    <xsd:element name="cites-publication-reference" type="tns:Publication-Reference"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PublisherType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Location">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ISBNType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PUBLICATION_PUBLISHERRequest">
        <wsdl:part name="_ISBN" type="tns:ISBNType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PUBLICATION_PUBLISHERResponse">
        <wsdl:part name="_PUBLICATION" type="tns:PublicationType">
        </wsdl:part>
        <wsdl:part name="_PUBLISHER" type="tns:PublisherType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IsbnPublicationpublisherSoap">
        <wsdl:operation name="get_PUBLICATION_PUBLISHER">
            <wsdl:input message="tns:get_PUBLICATION_PUBLISHERRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PUBLICATION_PUBLISHERResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IsbnPublicationpublisherSoapBinding" type="tns:IsbnPublicationpublisherSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PUBLICATION_PUBLISHER">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/IsbnPublicationpublisher"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/IsbnPublicationpublisher"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IsbnPublicationpublisherService">
        <wsdl:port name="IsbnPublicationpublisherSoap" binding="tns:IsbnPublicationpublisherSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/IsbnPublicationpublisher"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
