iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/item-number_letter_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Item-numberLetter" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Item-numberLetter" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Item-numberLetter" targetNamespace="http://127.0.0.1/wsdl/Item-numberLetter">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon Jun 01 19:47:11 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Item-numberLetter"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Item-Number"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Letter"/>
            </xsd:annotation>
            <xsd:element name="Letter" type="LetterType"/>
            <xsd:element name="Item-Number" type="Item-NumberType"/>
            <xsd:simpleType name="LetterType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Item-NumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_LETTERResponse">
        <wsdl:part name="_LETTER" type="tns:LetterType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_LETTERRequest">
        <wsdl:part name="_ITEM-NUMBER" type="tns:Item-NumberType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Item-numberLetterSoap">
        <wsdl:operation name="get_LETTER">
            <wsdl:input message="tns:get_LETTERRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_LETTERResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Item-numberLetterSoapBinding" type="Item-numberLetterSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_LETTER">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Item-numberLetter"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Item-numberLetter"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Item-numberLetterService">
        <wsdl:port name="Item-numberLetterSoap" binding="Item-numberLetterSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Item-numberLetter"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
