iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Journal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Journal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Journal" targetNamespace="http://127.0.0.1/wsdl/Journal">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 11 11:29:50 CEST 2009" targetNamespace="http://127.0.0.1/wsdl/Journal"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Journal"/>
            </xsd:annotation>
            <xsd:element name="Journal" type="tns:JournalType"/>
            <xsd:complexType name="Publication-Reference">
                <xsd:sequence>
                    <xsd:element name="has-place-of-publication" type="tns:Location"/>
                    <xsd:element name="has-title" type="xsd:string"/>
                    <xsd:element name="has-author" type="tns:Generic-Agent"/>
                    <xsd:element name="has-date" type="tns:Calendar-Date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="JournalType">
                <xsd:sequence>
                    <xsd:element name="contains-article" type="tns:Publication"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Publication">
                <xsd:sequence>
                    <xsd:element name="has-publication-reference" type="tns:Publication-Reference"/>
                    <xsd:element name="cites-publication-reference" type="tns:Publication-Reference"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Calendar-Date">
                <xsd:sequence>
                    <xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="minute-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="hour-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="second-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Location">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_JOURNALRequest">
    </wsdl:message>
    <wsdl:message name="get_JOURNALResponse">
        <wsdl:part name="_JOURNAL" type="tns:JournalType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="JournalSoap">
        <wsdl:operation name="get_JOURNAL">
            <wsdl:input message="tns:get_JOURNALRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_JOURNALResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JournalSoapBinding" type="tns:JournalSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_JOURNAL">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Journal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Journal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JournalService">
        <wsdl:port name="JournalSoap" binding="tns:JournalSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Journal"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
