iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/legal-agentsurfing_destination_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Legal-agentsurfingDestination"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Legal-agentsurfingDestination"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Legal-agentsurfingDestination"
                  targetNamespace="http://127.0.0.1/wsdl/Legal-agentsurfingDestination">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 22:38:41 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Legal-agentsurfingDestination"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Surfing"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Legal-Agent"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Destination"/>
            </xsd:annotation>
            <xsd:element name="Destination" type="DestinationType"/>
            <xsd:element name="Legal-Agent" type="Legal-AgentType"/>
            <xsd:element name="Surfing" type="SurfingType"/>
            <xsd:simpleType name="Legal-AgentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DestinationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="SurfingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DESTINATIONResponse">
        <wsdl:part name="_DESTINATION" type="tns:DestinationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_DESTINATIONRequest">
        <wsdl:part name="_SURFING" type="tns:SurfingType">
        </wsdl:part>
        <wsdl:part name="_LEGAL-AGENT" type="tns:Legal-AgentType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Legal-agentsurfingDestinationSoap">
        <wsdl:operation name="get_DESTINATION">
            <wsdl:input message="tns:get_DESTINATIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DESTINATIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Legal-agentsurfingDestinationSoapBinding" type="Legal-agentsurfingDestinationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DESTINATION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Legal-agentsurfingDestination"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Legal-agentsurfingDestination"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Legal-agentsurfingDestinationService">
        <wsdl:port name="Legal-agentsurfingDestinationSoap" binding="Legal-agentsurfingDestinationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Legal-agentsurfingDestination"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
