iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/LinguisticexpressionVideomedia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/LinguisticexpressionVideomedia"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="LinguisticexpressionVideomedia"
                  targetNamespace="http://127.0.0.1/wsdl/LinguisticexpressionVideomedia">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 14:30:00 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/LinguisticexpressionVideomedia"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#LinguisticExpression"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#VideoMedia"/>
            </xsd:annotation>
            <xsd:element name="VideoMedia" type="tns:VideoMediaType"/>
            <xsd:element name="LinguisticExpression" type="tns:LinguisticExpressionType"/>
            <xsd:simpleType name="LinguisticExpressionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="VideoMediaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_VIDEOMEDIARequest">
        <wsdl:part name="_LINGUISTICEXPRESSION" type="tns:LinguisticExpressionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_VIDEOMEDIAResponse">
        <wsdl:part name="_VIDEOMEDIA" type="tns:VideoMediaType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LinguisticexpressionVideomediaSoap">
        <wsdl:operation name="get_VIDEOMEDIA">
            <wsdl:input message="tns:get_VIDEOMEDIARequest">
            </wsdl:input>
            <wsdl:output message="tns:get_VIDEOMEDIAResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LinguisticexpressionVideomediaSoapBinding" type="tns:LinguisticexpressionVideomediaSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_VIDEOMEDIA">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/LinguisticexpressionVideomedia"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/LinguisticexpressionVideomedia"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LinguisticexpressionVideomediaService">
        <wsdl:port name="LinguisticexpressionVideomediaSoap" binding="tns:LinguisticexpressionVideomediaSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/LinguisticexpressionVideomedia"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
