iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/MarkoPS_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/PreparedfoodPricetaxedpricestockmarket"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/PreparedfoodPricetaxedpricestockmarket"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PreparedfoodPricetaxedpricestockmarket"
                  targetNamespace="http://127.0.0.1/wsdl/PreparedfoodPricetaxedpricestockmarket">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 12:28:51 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/PreparedfoodPricetaxedpricestockmarket"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PreparedFood"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#StockMarket"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="PreparedFood" type="PreparedFoodType"/>
            <xsd:element name="TaxedPrice" type="TaxedPriceType"/>
            <xsd:element name="StockMarket" type="StockMarketType"/>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PreparedFoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="StockMarketType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICE_TAXEDPRICE_STOCKMARKETResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
        <wsdl:part name="_STOCKMARKET" type="tns:StockMarketType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICE_TAXEDPRICE_STOCKMARKETRequest">
        <wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PreparedfoodPricetaxedpricestockmarketSoap">
        <wsdl:operation name="get_PRICE_TAXEDPRICE_STOCKMARKET">
            <wsdl:input message="tns:get_PRICE_TAXEDPRICE_STOCKMARKETRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICE_TAXEDPRICE_STOCKMARKETResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PreparedfoodPricetaxedpricestockmarketSoapBinding"
                  type="PreparedfoodPricetaxedpricestockmarketSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE_TAXEDPRICE_STOCKMARKET">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodPricetaxedpricestockmarket"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodPricetaxedpricestockmarket"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PreparedfoodPricetaxedpricestockmarketService">
        <wsdl:port name="PreparedfoodPricetaxedpricestockmarketSoap"
                   binding="PreparedfoodPricetaxedpricestockmarketSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/PreparedfoodPricetaxedpricestockmarket"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
