iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/MaxpriceDrinks1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MaxpriceDrinks1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MaxpriceDrinks1" targetNamespace="http://127.0.0.1/wsdl/MaxpriceDrinks1">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 14 13:31:28 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MaxpriceDrinks1"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#MaxPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Drinks"/>
            </xsd:annotation>
            <xsd:element name="Drinks" type="tns:DrinksType"/>
            <xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
            <xsd:simpleType name="MaxPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DrinksType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DRINKSResponse">
        <wsdl:part name="_DRINKS" type="tns:DrinksType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_DRINKSRequest">
        <wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MaxpriceDrinksSoap">
        <wsdl:operation name="get_DRINKS">
            <wsdl:input message="tns:get_DRINKSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DRINKSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MaxpriceDrinksSoapBinding" type="tns:MaxpriceDrinksSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DRINKS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MaxpriceDrinks1"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MaxpriceDrinks1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MaxpriceDrinksService">
        <wsdl:port name="MaxpriceDrinksSoap" binding="tns:MaxpriceDrinksSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MaxpriceDrinks1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
