iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/MaxpriceColabreadorbiscuit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MaxpriceColabreadorbiscuit"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MaxpriceColabreadorbiscuit" targetNamespace="http://127.0.0.1/wsdl/MaxpriceColabreadorbiscuit">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed May 06 19:55:21 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MaxpriceColabreadorbiscuit"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#MaxPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Cola"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#BreadOrBiscuit"/>
            </xsd:annotation>
            <xsd:element name="Cola" type="tns:ColaType"/>
            <xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
            <xsd:element name="BreadOrBiscuit" type="tns:BreadOrBiscuitType"/>
            <xsd:simpleType name="BreadOrBiscuitType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ColaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MaxPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COLA_BREADORBISCUITRequest">
        <wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_COLA_BREADORBISCUITResponse">
        <wsdl:part name="_COLA" type="tns:ColaType">
        </wsdl:part>
        <wsdl:part name="_BREADORBISCUIT" type="tns:BreadOrBiscuitType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MaxpriceColabreadorbiscuitSoap">
        <wsdl:operation name="get_COLA_BREADORBISCUIT">
            <wsdl:input message="tns:get_COLA_BREADORBISCUITRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COLA_BREADORBISCUITResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MaxpriceColabreadorbiscuitSoapBinding" type="tns:MaxpriceColabreadorbiscuitSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COLA_BREADORBISCUIT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MaxpriceColabreadorbiscuit"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MaxpriceColabreadorbiscuit"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MaxpriceColabreadorbiscuitService">
        <wsdl:port name="MaxpriceColabreadorbiscuitSoap" binding="tns:MaxpriceColabreadorbiscuitSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MaxpriceColabreadorbiscuit"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
