iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/meat_taxedpricephysical-quantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/MeatTaxedpricephysical-quantity"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MeatTaxedpricephysical-quantity"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MeatTaxedpricephysical-quantity"
                  targetNamespace="http://127.0.0.1/wsdl/MeatTaxedpricephysical-quantity">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 12:45:50 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MeatTaxedpricephysical-quantity"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Meat"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/support.owl#Physical-Quantity"/>
            </xsd:annotation>
            <xsd:element name="TaxedPrice" type="TaxedPriceType"/>
            <xsd:element name="Meat" type="MeatType"/>
            <xsd:element name="Physical-Quantity" type="Physical-QuantityType"/>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Physical-QuantityType">
                <xsd:sequence>
                    <xsd:element name="has-magnitude" type="xsd:decimal"/>
                    <xsd:element name="has-unit-of-measure" type="Unit-Of-Measure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Unit-Of-Measure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MeatType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TAXEDPRICE_PHYSICAL-QUANTITYRequest">
        <wsdl:part name="_MEAT" type="tns:MeatType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TAXEDPRICE_PHYSICAL-QUANTITYResponse">
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
        <wsdl:part name="_PHYSICAL-QUANTITY" type="tns:Physical-QuantityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MeatTaxedpricephysical-quantitySoap">
        <wsdl:operation name="get_TAXEDPRICE_PHYSICAL-QUANTITY">
            <wsdl:input message="tns:get_TAXEDPRICE_PHYSICAL-QUANTITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TAXEDPRICE_PHYSICAL-QUANTITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MeatTaxedpricephysical-quantitySoapBinding" type="MeatTaxedpricephysical-quantitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TAXEDPRICE_PHYSICAL-QUANTITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MeatTaxedpricephysical-quantity"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MeatTaxedpricephysical-quantity"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MeatTaxedpricephysical-quantityService">
        <wsdl:port name="MeatTaxedpricephysical-quantitySoap" binding="MeatTaxedpricephysical-quantitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MeatTaxedpricephysical-quantity"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
