iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/medicalclinic_experimenting_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/MedicalclinicExperimenting" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MedicalclinicExperimenting"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MedicalclinicExperimenting" targetNamespace="http://127.0.0.1/wsdl/MedicalclinicExperimenting">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 17:19:29 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MedicalclinicExperimenting"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#MedicalClinic"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/SUMO.owl#Experimenting"/>
            </xsd:annotation>
            <xsd:element name="Experimenting" type="ExperimentingType"/>
            <xsd:element name="MedicalClinic" type="MedicalClinicType"/>
            <xsd:complexType name="SelfConnectedObject">
                <xsd:sequence>
                    <xsd:element name="BackFn" type="SelfConnectedObject"/>
                    <xsd:element name="onboard" type="Vehicle"/>
                    <xsd:element name="side" type="SelfConnectedObject"/>
                    <xsd:element name="bottom" type="SelfConnectedObject"/>
                    <xsd:element name="capacity" type="ConstantQuantity"/>
                    <xsd:element name="height" type="LengthMeasure"/>
                    <xsd:element name="FrontFn" type="SelfConnectedObject"/>
                    <xsd:element name="top" type="SelfConnectedObject"/>
                    <xsd:element name="contains" type="Object"/>
                    <xsd:element name="surface" type="SelfConnectedObject"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeopoliticalArea">
                <xsd:sequence>
                    <xsd:element name="JudiciaryFn" type="JudicialOrganization"/>
                    <xsd:element name="dependentGeopoliticalArea" type="GeopoliticalArea"/>
                    <xsd:element name="totalGDP" type="CurrencyMeasure"/>
                    <xsd:element name="CitizenryFn" type="GroupOfPeople"/>
                    <xsd:element name="GovernmentFn" type="Government"/>
                    <xsd:element name="currencyType" type="CurrencyMeasure"/>
                    <xsd:element name="legalSystemType" type="LegalSystemAttribute"/>
                    <xsd:element name="primaryGeopoliticalSubdivision" type="GeopoliticalArea"/>
                    <xsd:element name="LegislatureFn" type="LegislativeOrganization"/>
                    <xsd:element name="industryOfArea" type="Physical"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimePoint">
                <xsd:sequence>
                    <xsd:element name="before" type="TimePoint"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Woman">
                <xsd:sequence>
                    <xsd:element name="niece" type="Human"/>
                    <xsd:element name="aunt" type="Human"/>
                    <xsd:element name="wife" type="Man"/>
                    <xsd:element name="daughter" type="Human"/>
                    <xsd:element name="sister" type="Human"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConstantQuantity">
                <xsd:sequence>
                    <xsd:element name="MagnitudeFn" type="xsd:anyURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Physical">
                <xsd:sequence>
                    <xsd:element name="hasPurpose" type="Formula"/>
                    <xsd:element name="date" type="Day"/>
                    <xsd:element name="WhenFn" type="TimeInterval"/>
                    <xsd:element name="cooccur" type="Physical"/>
                    <xsd:element name="monetaryValue" type="CurrencyMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExperimentingType">
                <xsd:sequence>
                    <xsd:element name="experimentalControl" type="Object"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Man">
                <xsd:sequence>
                    <xsd:element name="uncle" type="Human"/>
                    <xsd:element name="brother" type="Human"/>
                    <xsd:element name="husband" type="Woman"/>
                    <xsd:element name="nephew" type="Human"/>
                    <xsd:element name="son" type="Human"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimeInterval">
                <xsd:sequence>
                    <xsd:element name="starts" type="TimeInterval"/>
                    <xsd:element name="finishes" type="TimeInterval"/>
                    <xsd:element name="BeginFn" type="TimePoint"/>
                    <xsd:element name="duration" type="TimeDuration"/>
                    <xsd:element name="during" type="TimeInterval"/>
                    <xsd:element name="EndFn" type="TimePoint"/>
                    <xsd:element name="earlier" type="TimeInterval"/>
                    <xsd:element name="meetsTemporally" type="TimeInterval"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Agent">
                <xsd:sequence>
                    <xsd:element name="financialAsset" type="Object"/>
                    <xsd:element name="leader" type="Human"/>
                    <xsd:element name="economyType" type="EconomicAttribute"/>
                    <xsd:element name="editor" type="Text"/>
                    <xsd:element name="authors" type="Text"/>
                    <xsd:element name="WealthFn" type="CurrencyMeasure"/>
                    <xsd:element name="PropertyFn" type="Set"/>
                    <xsd:element name="ExecutiveBranchFn" type="Organization"/>
                    <xsd:element name="customer" type="Corporation"/>
                    <xsd:element name="governmentType" type="FormOfGovernment"/>
                    <xsd:element name="leaderPosition" type="Position"/>
                    <xsd:element name="fiscalYearPeriod" type="TimeInterval"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CognitiveAgent">
                <xsd:sequence>
                    <xsd:element name="teacher" type="EducationalOrganization"/>
                    <xsd:element name="hasExpertise" type="FieldOfStudy"/>
                    <xsd:element name="affiliatedOrganization" type="CognitiveAgent"/>
                    <xsd:element name="dislikes" type="Object"/>
                    <xsd:element name="enjoys" type="IntentionalProcess"/>
                    <xsd:element name="defendant" type="LegalAction"/>
                    <xsd:element name="allegiance" type="CognitiveAgent"/>
                    <xsd:element name="disapproves" type="Formula"/>
                    <xsd:element name="wants" type="Physical"/>
                    <xsd:element name="plaintiff" type="LegalAction"/>
                    <xsd:element name="knows" type="Formula"/>
                    <xsd:element name="desires" type="Formula"/>
                    <xsd:element name="student" type="EducationalOrganization"/>
                    <xsd:element name="considers" type="Formula"/>
                    <xsd:element name="doubts" type="Formula"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Formula">
                <xsd:sequence>
                    <xsd:element name="ProbabilityFn" type="xsd:anyURI"/>
                    <xsd:element name="decreasesLikelihood" type="Formula"/>
                    <xsd:element name="independentProbability" type="Formula"/>
                    <xsd:element name="increasesLikelihood" type="Formula"/>
                    <xsd:element name="modalAttribute" type="NormativeAttribute"/>
                    <xsd:element name="entails" type="Formula"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FieldOfStudy">
                <xsd:sequence>
                    <xsd:element name="subField" type="FieldOfStudy"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FinancialTransaction">
                <xsd:sequence>
                    <xsd:element name="transactionAmount" type="CurrencyMeasure"/>
                    <xsd:element name="loss" type="CurrencyMeasure"/>
                    <xsd:element name="profit" type="CurrencyMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization">
                <xsd:sequence>
                    <xsd:element name="yearOfFounding" type="xsd:anyURI"/>
                    <xsd:element name="religiousAffiliationOfOrganization" type="BeliefGroup"/>
                    <xsd:element name="agentOperatesInArea" type="GeopoliticalArea"/>
                    <xsd:element name="subOrganization" type="Organization"/>
                    <xsd:element name="ideologicalAffiliationOfOrganization" type="FormOfGovernment"/>
                    <xsd:element name="headquartersOfOrganization" type="GeopoliticalArea"/>
                    <xsd:element name="publishes" type="Text"/>
                    <xsd:element name="employs" type="CognitiveAgent"/>
                    <xsd:element name="ancestorOrganization" type="Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Hole">
                <xsd:sequence>
                    <xsd:element name="HoleSkinFn" type="Object"/>
                    <xsd:element name="hole" type="SelfConnectedObject"/>
                    <xsd:element name="HoleHostFn" type="Object"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Text">
                <xsd:sequence>
                    <xsd:element name="registeredItem" type="Physical"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Set">
                <xsd:sequence>
                    <xsd:element name="subset" type="Set"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Human">
                <xsd:sequence>
                    <xsd:element name="intelligenceQuotient" type="xsd:anyURI"/>
                    <xsd:element name="grandfather" type="Man"/>
                    <xsd:element name="citizen" type="Nation"/>
                    <xsd:element name="ImmediateFamilyFn" type="FamilyGroup"/>
                    <xsd:element name="birthday" type="Day"/>
                    <xsd:element name="home" type="PermanentResidence"/>
                    <xsd:element name="stepmother" type="Woman"/>
                    <xsd:element name="tenant" type="Residence"/>
                    <xsd:element name="occupation" type="FinancialTransaction"/>
                    <xsd:element name="groupMember" type="GroupOfPeople"/>
                    <xsd:element name="neighbor" type="Human"/>
                    <xsd:element name="DescendantsFn" type="FamilyGroup"/>
                    <xsd:element name="grandmother" type="Man"/>
                    <xsd:element name="stepfather" type="Man"/>
                    <xsd:element name="cousin" type="Human"/>
                    <xsd:element name="stays" type="TemporaryResidence"/>
                    <xsd:element name="patientMedical" type="CognitiveAgent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Object">
                <xsd:sequence>
                    <xsd:element name="larger" type="Object"/>
                    <xsd:element name="deviceState" type="DeviceStateAttribute"/>
                    <xsd:element name="faces" type="DirectionalAttribute"/>
                    <xsd:element name="older" type="Object"/>
                    <xsd:element name="copy" type="Object"/>
                    <xsd:element name="uses" type="Agent"/>
                    <xsd:element name="exploits" type="Agent"/>
                    <xsd:element name="fills" type="Hole"/>
                    <xsd:element name="orbits" type="AstronomicalBody"/>
                    <xsd:element name="barometricPressure" type="AtmosphericPressureMeasure"/>
                    <xsd:element name="smaller" type="Object"/>
                    <xsd:element name="airTemperature" type="TemperatureMeasure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="AstronomicalBody">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Day">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Nation">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MedicalClinicType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="GroupOfPeople">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegalSystemAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Government">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DirectionalAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="BeliefGroup">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FamilyGroup">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegalAction">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeDuration">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="JudicialOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Vehicle">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="EducationalOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TemperatureMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LengthMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AtmosphericPressureMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LegislativeOrganization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CurrencyMeasure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PermanentResidence">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DeviceStateAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TemporaryResidence">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntentionalProcess">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="EconomicAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Corporation">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FormOfGovernment">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="NormativeAttribute">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Residence">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Position">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_EXPERIMENTINGResponse">
        <wsdl:part name="_EXPERIMENTING" type="tns:ExperimentingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_EXPERIMENTINGRequest">
        <wsdl:part name="_MEDICALCLINIC" type="tns:MedicalClinicType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MedicalclinicExperimentingSoap">
        <wsdl:operation name="get_EXPERIMENTING">
            <wsdl:input message="tns:get_EXPERIMENTINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_EXPERIMENTINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MedicalclinicExperimentingSoapBinding" type="MedicalclinicExperimentingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_EXPERIMENTING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MedicalclinicExperimenting"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MedicalclinicExperimenting"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MedicalclinicExperimentingService">
        <wsdl:port name="MedicalclinicExperimentingSoap" binding="MedicalclinicExperimentingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MedicalclinicExperimenting"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
