iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/mercantileorganization_food_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/MercantileorganizationFood" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MercantileorganizationFood"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MercantileorganizationFood" targetNamespace="http://127.0.0.1/wsdl/MercantileorganizationFood">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 12:10:18 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MercantileorganizationFood"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#MercantileOrganization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Food"/>
            </xsd:annotation>
            <xsd:element name="Food" type="FoodType"/>
            <xsd:element name="MercantileOrganization" type="MercantileOrganizationType"/>
            <xsd:simpleType name="FoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MercantileOrganizationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FOODResponse">
        <wsdl:part name="_FOOD" type="tns:FoodType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FOODRequest">
        <wsdl:part name="_MERCANTILEORGANIZATION" type="tns:MercantileOrganizationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MercantileorganizationFoodSoap">
        <wsdl:operation name="get_FOOD">
            <wsdl:input message="tns:get_FOODRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FOODResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MercantileorganizationFoodSoapBinding" type="MercantileorganizationFoodSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FOOD">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MercantileorganizationFood"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MercantileorganizationFood"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MercantileorganizationFoodService">
        <wsdl:port name="MercantileorganizationFoodSoap" binding="MercantileorganizationFoodSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MercantileorganizationFood"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
