iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/missilegovernment_giving_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/MissilegovernmentGiving" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MissilegovernmentGiving" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MissilegovernmentGiving" targetNamespace="http://127.0.0.1/wsdl/MissilegovernmentGiving">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 00:02:40 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MissilegovernmentGiving"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Government"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Missile"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Giving"/>
            </xsd:annotation>
            <xsd:element name="Giving" type="GivingType"/>
            <xsd:element name="Missile" type="MissileType"/>
            <xsd:element name="Government" type="GovernmentType"/>
            <xsd:simpleType name="GovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="GivingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MissileType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_GIVINGResponse">
        <wsdl:part name="_GIVING" type="tns:GivingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_GIVINGRequest">
        <wsdl:part name="_GOVERNMENT" type="tns:GovernmentType">
        </wsdl:part>
        <wsdl:part name="_MISSILE" type="tns:MissileType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MissilegovernmentGivingSoap">
        <wsdl:operation name="get_GIVING">
            <wsdl:input message="tns:get_GIVINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_GIVINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MissilegovernmentGivingSoapBinding" type="MissilegovernmentGivingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_GIVING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MissilegovernmentGiving"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MissilegovernmentGiving"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MissilegovernmentGivingService">
        <wsdl:port name="MissilegovernmentGivingSoap" binding="MissilegovernmentGivingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MissilegovernmentGiving"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
