iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/missilegovernmentorganization_funding_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/MissilegovernmentorganizationFunding"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MissilegovernmentorganizationFunding"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MissilegovernmentorganizationFunding"
                  targetNamespace="http://127.0.0.1/wsdl/MissilegovernmentorganizationFunding">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 00:06:39 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MissilegovernmentorganizationFunding"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#GovernmentOrganization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Missile"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Funding"/>
            </xsd:annotation>
            <xsd:element name="Missile" type="MissileType"/>
            <xsd:element name="GovernmentOrganization" type="GovernmentOrganizationType"/>
            <xsd:element name="Funding" type="FundingType"/>
            <xsd:simpleType name="GovernmentOrganizationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FundingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MissileType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FUNDINGRequest">
        <wsdl:part name="_GOVERNMENTORGANIZATION" type="tns:GovernmentOrganizationType">
        </wsdl:part>
        <wsdl:part name="_MISSILE" type="tns:MissileType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FUNDINGResponse">
        <wsdl:part name="_FUNDING" type="tns:FundingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MissilegovernmentorganizationFundingSoap">
        <wsdl:operation name="get_FUNDING">
            <wsdl:input message="tns:get_FUNDINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FUNDINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MissilegovernmentorganizationFundingSoapBinding"
                  type="MissilegovernmentorganizationFundingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FUNDING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MissilegovernmentorganizationFunding"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MissilegovernmentorganizationFunding"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MissilegovernmentorganizationFundingService">
        <wsdl:port name="MissilegovernmentorganizationFundingSoap"
                   binding="MissilegovernmentorganizationFundingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MissilegovernmentorganizationFunding"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
