iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/MissileFinancing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MissileFinancing" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MissileFinancing" targetNamespace="http://127.0.0.1/wsdl/MissileFinancing">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun May 10 17:36:55 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MissileFinancing"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Missile"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Financing"/>
            </xsd:annotation>
            <xsd:element name="Missile" type="tns:MissileType"/>
            <xsd:element name="Financing" type="tns:FinancingType"/>
            <xsd:simpleType name="MissileType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FinancingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FINANCINGResponse">
        <wsdl:part name="_FINANCING" type="tns:FinancingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FINANCINGRequest">
        <wsdl:part name="_MISSILE" type="tns:MissileType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MissileFinancingSoap">
        <wsdl:operation name="get_FINANCING">
            <wsdl:input message="tns:get_FINANCINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FINANCINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MissileFinancingSoapBinding" type="tns:MissileFinancingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FINANCING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MissileFinancing"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MissileFinancing"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MissileFinancingService">
        <wsdl:port name="MissileFinancingSoap" binding="tns:MissileFinancingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MissileFinancing"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
