iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/monograph_author_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/MonographAuthor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/MonographAuthor" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="MonographAuthor" targetNamespace="http://127.0.0.1/wsdl/MonographAuthor">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 17:53:43 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/MonographAuthor"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Monograph"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Author"/>
            </xsd:annotation>
            <xsd:element name="Author" type="AuthorType"/>
            <xsd:element name="Monograph" type="MonographType"/>
            <xsd:complexType name="MonographType">
                <xsd:sequence>
                    <xsd:element name="timePublished" type="Once"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Once">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_AUTHORResponse">
        <wsdl:part name="_AUTHOR" type="tns:AuthorType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_AUTHORRequest">
        <wsdl:part name="_MONOGRAPH" type="tns:MonographType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MonographAuthorSoap">
        <wsdl:operation name="get_AUTHOR">
            <wsdl:input message="tns:get_AUTHORRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_AUTHORResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MonographAuthorSoapBinding" type="MonographAuthorSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_AUTHOR">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MonographAuthor"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/MonographAuthor"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MonographAuthorService">
        <wsdl:port name="MonographAuthorSoap" binding="MonographAuthorSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/MonographAuthor"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
