iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/mp3player_maxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Mp3playerMaxprice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Mp3playerMaxprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Mp3playerMaxprice" targetNamespace="http://127.0.0.1/wsdl/Mp3playerMaxprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 12:11:39 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Mp3playerMaxprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#MP3Player"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#MaxPrice"/>
            </xsd:annotation>
            <xsd:element name="MaxPrice" type="MaxPriceType"/>
            <xsd:element name="MP3Player" type="MP3PlayerType"/>
            <xsd:simpleType name="MaxPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MP3PlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_MAXPRICERequest">
        <wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_MAXPRICEResponse">
        <wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Mp3playerMaxpriceSoap">
        <wsdl:operation name="get_MAXPRICE">
            <wsdl:input message="tns:get_MAXPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_MAXPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Mp3playerMaxpriceSoapBinding" type="Mp3playerMaxpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_MAXPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Mp3playerMaxprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Mp3playerMaxprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Mp3playerMaxpriceService">
        <wsdl:port name="Mp3playerMaxpriceSoap" binding="Mp3playerMaxpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Mp3playerMaxprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
