iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Mp3playerportabledvdplayerRecommendedpricequality.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Mp3playerportabledvdplayerRecommendedpricequality"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Mp3playerportabledvdplayerRecommendedpricequality"
                  targetNamespace="http://127.0.0.1/wsdl/Mp3playerportabledvdplayerRecommendedpricequality">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 11:33:00 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Mp3playerportabledvdplayerRecommendedpricequality"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#PortableDVDPlayer"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#MP3Player"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/finance_th_web.owl#quality"/>
            </xsd:annotation>
            <xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
            <xsd:element name="MP3Player" type="tns:MP3PlayerType"/>
            <xsd:element name="quality" type="tns:qualityType"/>
            <xsd:element name="PortableDVDPlayer" type="tns:PortableDVDPlayerType"/>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PortableDVDPlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MP3PlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="qualityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICE_QUALITYResponse">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
        <wsdl:part name="_QUALITY" type="tns:qualityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICE_QUALITYRequest">
        <wsdl:part name="_PORTABLEDVDPLAYER" type="tns:PortableDVDPlayerType">
        </wsdl:part>
        <wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Mp3playerportabledvdplayerRecommendedpricequalitySoap">
        <wsdl:operation name="get_RECOMMENDEDPRICE_QUALITY">
            <wsdl:input message="tns:get_RECOMMENDEDPRICE_QUALITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICE_QUALITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Mp3playerportabledvdplayerRecommendedpricequalitySoapBinding"
                  type="tns:Mp3playerportabledvdplayerRecommendedpricequalitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICE_QUALITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Mp3playerportabledvdplayerRecommendedpricequality"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Mp3playerportabledvdplayerRecommendedpricequality"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Mp3playerportabledvdplayerRecommendedpricequalityService">
        <wsdl:port name="Mp3playerportabledvdplayerRecommendedpricequalitySoap"
                   binding="tns:Mp3playerportabledvdplayerRecommendedpricequalitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Mp3playerportabledvdplayerRecommendedpricequality"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
