iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Mp3playercdplayermicrowaveovenPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Mp3playercdplayermicrowaveovenPrice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Mp3playercdplayermicrowaveovenPrice"
                  targetNamespace="http://127.0.0.1/wsdl/Mp3playercdplayermicrowaveovenPrice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 11:17:36 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Mp3playercdplayermicrowaveovenPrice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#MicrowaveOven"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#CDPlayer"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#MP3Player"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="MicrowaveOven" type="tns:MicrowaveOvenType"/>
            <xsd:element name="CDPlayer" type="tns:CDPlayerType"/>
            <xsd:element name="MP3Player" type="tns:MP3PlayerType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CDPlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MicrowaveOvenType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MP3PlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICEResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICERequest">
        <wsdl:part name="_MICROWAVEOVEN" type="tns:MicrowaveOvenType">
        </wsdl:part>
        <wsdl:part name="_CDPLAYER" type="tns:CDPlayerType">
        </wsdl:part>
        <wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Mp3playercdplayermicrowaveovenPriceSoap">
        <wsdl:operation name="get_PRICE">
            <wsdl:input message="tns:get_PRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Mp3playercdplayermicrowaveovenPriceSoapBinding"
                  type="tns:Mp3playercdplayermicrowaveovenPriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Mp3playercdplayermicrowaveovenPrice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Mp3playercdplayermicrowaveovenPrice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Mp3playercdplayermicrowaveovenPriceService">
        <wsdl:port name="Mp3playercdplayermicrowaveovenPriceSoap"
                   binding="tns:Mp3playercdplayermicrowaveovenPriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Mp3playercdplayermicrowaveovenPrice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
