iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/municipal-unit_professionparttimeposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Municipal-entityProfessionparttimeposition"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Municipal-entityProfessionparttimeposition"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Municipal-entityProfessionparttimeposition"
                  targetNamespace="http://127.0.0.1/wsdl/Municipal-entityProfessionparttimeposition">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 18:05:04 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Municipal-entityProfessionparttimeposition"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Municipal-Unit"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Profession"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PartTimePosition"/>
            </xsd:annotation>
            <xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
            <xsd:element name="Profession" type="ProfessionType"/>
            <xsd:element name="PartTimePosition" type="PartTimePositionType"/>
            <xsd:simpleType name="PartTimePositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ProfessionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Municipal-UnitType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PROFESSION_PARTTIMEPOSITIONRequest">
        <wsdl:part name="_MUNICIPAL-ENTITY" type="tns:Municipal-UnitType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PROFESSION_PARTTIMEPOSITIONResponse">
        <wsdl:part name="_PROFESSION" type="tns:ProfessionType">
        </wsdl:part>
        <wsdl:part name="_PARTTIMEPOSITION" type="tns:PartTimePositionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Municipal-entityProfessionparttimepositionSoap">
        <wsdl:operation name="get_PROFESSION_PARTTIMEPOSITION">
            <wsdl:input message="tns:get_PROFESSION_PARTTIMEPOSITIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PROFESSION_PARTTIMEPOSITIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Municipal-entityProfessionparttimepositionSoapBinding"
                  type="Municipal-entityProfessionparttimepositionSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PROFESSION_PARTTIMEPOSITION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Municipal-entityProfessionparttimeposition"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Municipal-entityProfessionparttimeposition"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Municipal-entityProfessionparttimepositionService">
        <wsdl:port name="Municipal-entityProfessionparttimepositionSoap"
                   binding="Municipal-entityProfessionparttimepositionSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Municipal-entityProfessionparttimeposition"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
