iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/municipal-unity_occupationaltradeparttimeposition_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Geopolitical-entityOccupationaltradeparttimeposition"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Geopolitical-entityOccupationaltradeparttimeposition"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Geopolitical-entityOccupationaltradeparttimeposition"
                  targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityOccupationaltradeparttimeposition">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 18:11:15 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Geopolitical-entityOccupationaltradeparttimeposition"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Municipal-Unit"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#OccupationalTrade"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PartTimePosition"/>
            </xsd:annotation>
            <xsd:element name="Municipal-Unit" type="Municipal-UnitType"/>
            <xsd:element name="OccupationalTrade" type="OccupationalTradeType"/>
            <xsd:element name="PartTimePosition" type="PartTimePositionType"/>
            <xsd:simpleType name="OccupationalTradeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PartTimePositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Municipal-UnitType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_OCCUPATIONALTRADE_PARTTIMEPOSITIONRequest">
        <wsdl:part name="_GEOPOLITICAL-ENTITY" type="tns:Municipal-UnitType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_OCCUPATIONALTRADE_PARTTIMEPOSITIONResponse">
        <wsdl:part name="_OCCUPATIONALTRADE" type="tns:OccupationalTradeType">
        </wsdl:part>
        <wsdl:part name="_PARTTIMEPOSITION" type="tns:PartTimePositionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Geopolitical-entityOccupationaltradeparttimepositionSoap">
        <wsdl:operation name="get_OCCUPATIONALTRADE_PARTTIMEPOSITION">
            <wsdl:input message="tns:get_OCCUPATIONALTRADE_PARTTIMEPOSITIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_OCCUPATIONALTRADE_PARTTIMEPOSITIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Geopolitical-entityOccupationaltradeparttimepositionSoapBinding"
                  type="Geopolitical-entityOccupationaltradeparttimepositionSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_OCCUPATIONALTRADE_PARTTIMEPOSITION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityOccupationaltradeparttimeposition"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Geopolitical-entityOccupationaltradeparttimeposition"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Geopolitical-entityOccupationaltradeparttimepositionService">
        <wsdl:port name="Geopolitical-entityOccupationaltradeparttimepositionSoap"
                   binding="Geopolitical-entityOccupationaltradeparttimepositionSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Geopolitical-entityOccupationaltradeparttimeposition"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
