iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/nationalgovernment_physical-quantityscholarshiplandarea_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/NationalgovernmentPhysical-quantityscholarshiplandarea"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/NationalgovernmentPhysical-quantityscholarshiplandarea"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="NationalgovernmentPhysical-quantityscholarshiplandarea"
                  targetNamespace="http://127.0.0.1/wsdl/NationalgovernmentPhysical-quantityscholarshiplandarea">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 18:45:46 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/NationalgovernmentPhysical-quantityscholarshiplandarea"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#NationalGovernment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/support.owl#Physical-Quantity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Scholarship"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#LandArea"/>
            </xsd:annotation>
            <xsd:element name="Scholarship" type="ScholarshipType"/>
            <xsd:element name="LandArea" type="LandAreaType"/>
            <xsd:element name="Physical-Quantity" type="Physical-QuantityType"/>
            <xsd:element name="NationalGovernment" type="NationalGovernmentType"/>
            <xsd:complexType name="Physical-QuantityType">
                <xsd:sequence>
                    <xsd:element name="has-magnitude" type="xsd:decimal"/>
                    <xsd:element name="has-unit-of-measure" type="Unit-Of-Measure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Unit-Of-Measure">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ScholarshipType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="NationalGovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="LandAreaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PHYSICAL-QUANTITY_SCHOLARSHIP_LANDAREARequest">
        <wsdl:part name="_NATIONALGOVERNMENT" type="tns:NationalGovernmentType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PHYSICAL-QUANTITY_SCHOLARSHIP_LANDAREAResponse">
        <wsdl:part name="_PHYSICAL-QUANTITY" type="tns:Physical-QuantityType">
        </wsdl:part>
        <wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
        </wsdl:part>
        <wsdl:part name="_LANDAREA" type="tns:LandAreaType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NationalgovernmentPhysical-quantityscholarshiplandareaSoap">
        <wsdl:operation name="get_PHYSICAL-QUANTITY_SCHOLARSHIP_LANDAREA">
            <wsdl:input message="tns:get_PHYSICAL-QUANTITY_SCHOLARSHIP_LANDAREARequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PHYSICAL-QUANTITY_SCHOLARSHIP_LANDAREAResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NationalgovernmentPhysical-quantityscholarshiplandareaSoapBinding"
                  type="NationalgovernmentPhysical-quantityscholarshiplandareaSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PHYSICAL-QUANTITY_SCHOLARSHIP_LANDAREA">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/NationalgovernmentPhysical-quantityscholarshiplandarea"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/NationalgovernmentPhysical-quantityscholarshiplandarea"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NationalgovernmentPhysical-quantityscholarshiplandareaService">
        <wsdl:port name="NationalgovernmentPhysical-quantityscholarshiplandareaSoap"
                   binding="NationalgovernmentPhysical-quantityscholarshiplandareaSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/NationalgovernmentPhysical-quantityscholarshiplandarea"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
