iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/nationalgovernment_scholarshipquantityduration_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/NationalgovernmentScholarshipquantityduration"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/NationalgovernmentScholarshipquantityduration"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="NationalgovernmentScholarshipquantityduration"
                  targetNamespace="http://127.0.0.1/wsdl/NationalgovernmentScholarshipquantityduration">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 18:52:14 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/NationalgovernmentScholarshipquantityduration"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#NationalGovernment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Scholarship"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/support.owl#Quantity"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/support.owl#Duration"/>
            </xsd:annotation>
            <xsd:element name="Scholarship" type="ScholarshipType"/>
            <xsd:element name="Duration" type="DurationType"/>
            <xsd:element name="Quantity" type="QuantityType"/>
            <xsd:element name="NationalGovernment" type="NationalGovernmentType"/>
            <xsd:complexType name="DurationType">
                <xsd:choice>
                    <xsd:element name="durationID" type="DurationDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="has-unit-of-measure" type="Time-Measure"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:simpleType name="ScholarshipType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DurationDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="twelve-month-duration"/>
                    <xsd:enumeration value="thirty-day-duration"/>
                    <xsd:enumeration value="twentyfour-hour-duration"/>
                    <xsd:enumeration value="twentyeight-day-duration"/>
                    <xsd:enumeration value="thirtyone-day-duration"/>
                    <xsd:enumeration value="seven-day-duration"/>
                    <xsd:enumeration value="twentynine-day-duration"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NationalGovernmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Time-Measure">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="time-measure-day"/>
                    <xsd:enumeration value="time-measure-hour"/>
                    <xsd:enumeration value="time-measure-year"/>
                    <xsd:enumeration value="time-measure-second"/>
                    <xsd:enumeration value="time-measure-minute"/>
                    <xsd:enumeration value="time-measure-month"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="QuantityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SCHOLARSHIP_QUANTITY_DURATIONResponse">
        <wsdl:part name="_SCHOLARSHIP" type="tns:ScholarshipType">
        </wsdl:part>
        <wsdl:part name="_QUANTITY" type="tns:QuantityType">
        </wsdl:part>
        <wsdl:part name="_DURATION" type="tns:DurationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SCHOLARSHIP_QUANTITY_DURATIONRequest">
        <wsdl:part name="_NATIONALGOVERNMENT" type="tns:NationalGovernmentType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NationalgovernmentScholarshipquantitydurationSoap">
        <wsdl:operation name="get_SCHOLARSHIP_QUANTITY_DURATION">
            <wsdl:input message="tns:get_SCHOLARSHIP_QUANTITY_DURATIONRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SCHOLARSHIP_QUANTITY_DURATIONResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NationalgovernmentScholarshipquantitydurationSoapBinding"
                  type="NationalgovernmentScholarshipquantitydurationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SCHOLARSHIP_QUANTITY_DURATION">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/NationalgovernmentScholarshipquantityduration"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/NationalgovernmentScholarshipquantityduration"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NationalgovernmentScholarshipquantitydurationService">
        <wsdl:port name="NationalgovernmentScholarshipquantitydurationSoap"
                   binding="NationalgovernmentScholarshipquantitydurationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/NationalgovernmentScholarshipquantityduration"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
