iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/PatientTransport_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Patienttransport" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Patienttransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Patienttransport" targetNamespace="http://127.0.0.1/wsdl/Patienttransport">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 00:12:41 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Patienttransport"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#GpsPosition"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#AccountPassword"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Diagnosis"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Hospital"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#MedicalRecords"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Acknowledgement"/>
            </xsd:annotation>
            <xsd:element name="MedicalRecords" type="MedicalRecordsType"/>
            <xsd:element name="Diagnosis" type="DiagnosisType"/>
            <xsd:element name="AccountPassword" type="AccountPasswordType"/>
            <xsd:element name="GpsPosition" type="GpsPositionType"/>
            <xsd:element name="Hospital" type="HospitalType"/>
            <xsd:element name="Acknowledgement" type="AcknowledgementType"/>
            <xsd:simpleType name="MedicalRecordsType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AccountPasswordType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="GpsPositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AcknowledgementType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DiagnosisType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="HospitalType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getSeePatientMedicalRecords_PatientMedicalRecordsPatientTransport_AcknowledgementResponse">
        <wsdl:part name="SeePatientMedicalRecords_PatientMedicalRecords" type="tns:MedicalRecordsType">
        </wsdl:part>
        <wsdl:part name="PatientTransport_Acknowledgement" type="tns:AcknowledgementType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSeePatientMedicalRecords_PatientMedicalRecordsPatientTransport_AcknowledgementRequest">
        <wsdl:part name="PatientTransport_PatientGpsPosition" type="tns:GpsPositionType">
        </wsdl:part>
        <wsdl:part name="SeePatientMedicalRecords_PhysicianPassword" type="tns:AccountPasswordType">
        </wsdl:part>
        <wsdl:part name="PatientTransport_Diagnosis" type="tns:DiagnosisType">
        </wsdl:part>
        <wsdl:part name="PatientTransport_ChosenHospital" type="tns:HospitalType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PatienttransportSoap">
        <wsdl:operation name="getSeePatientMedicalRecords_PatientMedicalRecordsPatientTransport_Acknowledgement">
            <wsdl:input
                    message="tns:getSeePatientMedicalRecords_PatientMedicalRecordsPatientTransport_AcknowledgementRequest">
            </wsdl:input>
            <wsdl:output
                    message="tns:getSeePatientMedicalRecords_PatientMedicalRecordsPatientTransport_AcknowledgementResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PatienttransportSoapBinding" type="PatienttransportSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getSeePatientMedicalRecords_PatientMedicalRecordsPatientTransport_Acknowledgement">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Patienttransport"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Patienttransport"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PatienttransportService">
        <wsdl:port name="PatienttransportSoap" binding="PatienttransportSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Patienttransport"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
