iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/person_address_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/PersonAddress" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/PersonAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PersonAddress" targetNamespace="http://127.0.0.1/wsdl/PersonAddress">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 00:20:21 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/PersonAddress" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Person"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Address"/>
            </xsd:annotation>
            <xsd:element name="Person" type="PersonType"/>
            <xsd:element name="Address" type="AddressType"/>
            <xsd:complexType name="Government">
                <xsd:sequence>
                    <xsd:element name="government-of-country" type="Country"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Currency">
                <xsd:sequence>
                    <xsd:element name="issued-by" type="Government"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Capital-City">
                <xsd:sequence>
                    <xsd:element name="is-capital-of" type="Country"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Country">
                <xsd:sequence>
                    <xsd:element name="has-government" type="Government"/>
                    <xsd:element name="has-currency" type="Currency"/>
                    <xsd:element name="has-capital" type="Capital-City"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AddressType">
                <xsd:sequence>
                    <xsd:element name="address-pretty-label" type="xsd:string"/>
                    <xsd:element name="address-building" type="xsd:string"/>
                    <xsd:element name="address-street" type="xsd:string"/>
                    <xsd:element name="address-number" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="address-postcode" type="xsd:string"/>
                    <xsd:element name="address-area" type="Local-District"/>
                    <xsd:element name="address-region" type="Geographical-Region"/>
                    <xsd:element name="address-country" type="Country"/>
                    <xsd:element name="address-city-or-village" type="Municipal-Unit"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PersonType">
                <xsd:sequence>
                    <xsd:element name="family-name" type="xsd:string"/>
                    <xsd:element name="full-name" type="xsd:string"/>
                    <xsd:element name="given-name" type="xsd:string"/>
                    <xsd:element name="has-gender" type="Gender"/>
                    <xsd:element name="has-appellation" type="Appellation"/>
                    <xsd:element name="has-academic-degree" type="Academic-Degree"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Local-District">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Academic-Degree">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="PhD"/>
                    <xsd:enumeration value="BSc"/>
                    <xsd:enumeration value="MSc"/>
                    <xsd:enumeration value="DEng"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Gender">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Male-Gender"/>
                    <xsd:enumeration value="Female-Gender"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Municipal-Unit">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Geographical-Region">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Appellation">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Mrs"/>
                    <xsd:enumeration value="Dr"/>
                    <xsd:enumeration value="Ms"/>
                    <xsd:enumeration value="Mr"/>
                    <xsd:enumeration value="Lady"/>
                    <xsd:enumeration value="Sir"/>
                    <xsd:enumeration value="Miss"/>
                    <xsd:enumeration value="Prof"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_ADDRESSRequest">
        <wsdl:part name="_PERSON" type="tns:PersonType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_ADDRESSResponse">
        <wsdl:part name="_ADDRESS" type="tns:AddressType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonAddressSoap">
        <wsdl:operation name="get_ADDRESS">
            <wsdl:input message="tns:get_ADDRESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_ADDRESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonAddressSoapBinding" type="PersonAddressSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_ADDRESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PersonAddress"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PersonAddress"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonAddressService">
        <wsdl:port name="PersonAddressSoap" binding="PersonAddressSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/PersonAddress"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
