iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/personmonographcreditcardaccount__service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Personmonographcreditcardaccount"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Personmonographcreditcardaccount"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Personmonographcreditcardaccount"
                  targetNamespace="http://127.0.0.1/wsdl/Personmonographcreditcardaccount">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 17:59:22 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Personmonographcreditcardaccount"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#CreditCardAccount"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Monograph"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Person"/>
            </xsd:annotation>
            <xsd:element name="Person" type="PersonType"/>
            <xsd:element name="Monograph" type="MonographType"/>
            <xsd:element name="CreditCardAccount" type="CreditCardAccountType"/>
            <xsd:complexType name="MonographType">
                <xsd:sequence>
                    <xsd:element name="timePublished" type="Once"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Once">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PersonType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CreditCardAccountType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getResponse">
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part name="_CREDITCARDACCOUNT" type="tns:CreditCardAccountType">
        </wsdl:part>
        <wsdl:part name="_MONOGRAPH" type="tns:MonographType">
        </wsdl:part>
        <wsdl:part name="_PERSON" type="tns:PersonType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonmonographcreditcardaccountSoap">
        <wsdl:operation name="get">
            <wsdl:input message="tns:getRequest">
            </wsdl:input>
            <wsdl:output message="tns:getResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonmonographcreditcardaccountSoapBinding" type="PersonmonographcreditcardaccountSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Personmonographcreditcardaccount"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Personmonographcreditcardaccount"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonmonographcreditcardaccountService">
        <wsdl:port name="PersonmonographcreditcardaccountSoap" binding="PersonmonographcreditcardaccountSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Personmonographcreditcardaccount"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
