iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Portabledvdplayermp3playerRecommendedpricetaxedprice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Portabledvdplayermp3playerRecommendedpricetaxedprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Portabledvdplayermp3playerRecommendedpricetaxedprice"
                  targetNamespace="http://127.0.0.1/wsdl/Portabledvdplayermp3playerRecommendedpricetaxedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 11:40:49 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Portabledvdplayermp3playerRecommendedpricetaxedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#MP3Player"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#PortableDVDPlayer"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
            </xsd:annotation>
            <xsd:element name="TaxedPrice" type="tns:TaxedPriceType"/>
            <xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
            <xsd:element name="MP3Player" type="tns:MP3PlayerType"/>
            <xsd:element name="PortableDVDPlayer" type="tns:PortableDVDPlayerType"/>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="tns:Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PortableDVDPlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MP3PlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICE_TAXEDPRICEResponse">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICE_TAXEDPRICERequest">
        <wsdl:part name="_MP3PLAYER" type="tns:MP3PlayerType">
        </wsdl:part>
        <wsdl:part name="_PORTABLEDVDPLAYER" type="tns:PortableDVDPlayerType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Portabledvdplayermp3playerRecommendedpricetaxedpriceSoap">
        <wsdl:operation name="get_RECOMMENDEDPRICE_TAXEDPRICE">
            <wsdl:input message="tns:get_RECOMMENDEDPRICE_TAXEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICE_TAXEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Portabledvdplayermp3playerRecommendedpricetaxedpriceSoapBinding"
                  type="tns:Portabledvdplayermp3playerRecommendedpricetaxedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICE_TAXEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Portabledvdplayermp3playerRecommendedpricetaxedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Portabledvdplayermp3playerRecommendedpricetaxedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Portabledvdplayermp3playerRecommendedpricetaxedpriceService">
        <wsdl:port name="Portabledvdplayermp3playerRecommendedpricetaxedpriceSoap"
                   binding="tns:Portabledvdplayermp3playerRecommendedpricetaxedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Portabledvdplayermp3playerRecommendedpricetaxedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
