iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/preparedfood_taxfreeprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/PreparedfoodTaxfreeprice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/PreparedfoodTaxfreeprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PreparedfoodTaxfreeprice" targetNamespace="http://127.0.0.1/wsdl/PreparedfoodTaxfreeprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 00:09:26 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/PreparedfoodTaxfreeprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PreparedFood"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#TaxFreePrice"/>
            </xsd:annotation>
            <xsd:element name="PreparedFood" type="PreparedFoodType"/>
            <xsd:element name="TaxFreePrice" type="TaxFreePriceType"/>
            <xsd:simpleType name="TaxFreePriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PreparedFoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TAXFREEPRICERequest">
        <wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TAXFREEPRICEResponse">
        <wsdl:part name="_TAXFREEPRICE" type="tns:TaxFreePriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PreparedfoodTaxfreepriceSoap">
        <wsdl:operation name="get_TAXFREEPRICE">
            <wsdl:input message="tns:get_TAXFREEPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TAXFREEPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PreparedfoodTaxfreepriceSoapBinding" type="PreparedfoodTaxfreepriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TAXFREEPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodTaxfreeprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodTaxfreeprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PreparedfoodTaxfreepriceService">
        <wsdl:port name="PreparedfoodTaxfreepriceSoap" binding="PreparedfoodTaxfreepriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/PreparedfoodTaxfreeprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
