iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/preparedfood_USTax_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceindollar"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceindollar"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PreparedfoodTaxedpriceindollar"
                  targetNamespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceindollar">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 19:06:18 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceindollar"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PreparedFood"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#TaxedPriceInDollar"/>
            </xsd:annotation>
            <xsd:element name="PreparedFood" type="PreparedFoodType"/>
            <xsd:element name="TaxedPriceInDollar" type="TaxedPriceInDollarType"/>
            <xsd:simpleType name="PreparedFoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TaxedPriceInDollarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TAXEDPRICEINDOLLARRequest">
        <wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TAXEDPRICEINDOLLARResponse">
        <wsdl:part name="_TAXEDPRICEINDOLLAR" type="tns:TaxedPriceInDollarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PreparedfoodTaxedpriceindollarSoap">
        <wsdl:operation name="get_TAXEDPRICEINDOLLAR">
            <wsdl:input message="tns:get_TAXEDPRICEINDOLLARRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TAXEDPRICEINDOLLARResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PreparedfoodTaxedpriceindollarSoapBinding" type="PreparedfoodTaxedpriceindollarSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TAXEDPRICEINDOLLAR">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceindollar"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceindollar"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PreparedfoodTaxedpriceindollarService">
        <wsdl:port name="PreparedfoodTaxedpriceindollarSoap" binding="PreparedfoodTaxedpriceindollarSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceindollar"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
