iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/preparedfood_SpainishTax_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceineuro"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceineuro"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PreparedfoodTaxedpriceineuro"
                  targetNamespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceineuro">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 17:05:38 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceineuro"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PreparedFood"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#TaxedPriceInEuro"/>
            </xsd:annotation>
            <xsd:element name="PreparedFood" type="PreparedFoodType"/>
            <xsd:element name="TaxedPriceInEuro" type="TaxedPriceInEuroType"/>
            <xsd:simpleType name="PreparedFoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TaxedPriceInEuroType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_TAXEDPRICEINEUROResponse">
        <wsdl:part name="_TAXEDPRICEINEURO" type="tns:TaxedPriceInEuroType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_TAXEDPRICEINEURORequest">
        <wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PreparedfoodTaxedpriceineuroSoap">
        <wsdl:operation name="get_TAXEDPRICEINEURO">
            <wsdl:input message="tns:get_TAXEDPRICEINEURORequest">
            </wsdl:input>
            <wsdl:output message="tns:get_TAXEDPRICEINEUROResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PreparedfoodTaxedpriceineuroSoapBinding" type="PreparedfoodTaxedpriceineuroSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_TAXEDPRICEINEURO">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceineuro"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceineuro"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PreparedfoodTaxedpriceineuroService">
        <wsdl:port name="PreparedfoodTaxedpriceineuroSoap" binding="PreparedfoodTaxedpriceineuroSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/PreparedfoodTaxedpriceineuro"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
