iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/PriceCoffeewithwhiskey.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/PriceCoffeewithwhiskey" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PriceCoffeewithwhiskey" targetNamespace="http://127.0.0.1/wsdl/PriceCoffeewithwhiskey">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 11 01:01:16 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/PriceCoffeewithwhiskey"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#CoffeeWithWhiskey"/>
            </xsd:annotation>
            <xsd:element name="CoffeeWithWhiskey" type="tns:CoffeeWithWhiskeyType"/>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CoffeeWithWhiskeyType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COFFEEWITHWHISKEYResponse">
        <wsdl:part name="_COFFEEWITHWHISKEY" type="tns:CoffeeWithWhiskeyType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_COFFEEWITHWHISKEYRequest">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PriceCoffeewithwhiskeySoap">
        <wsdl:operation name="get_COFFEEWITHWHISKEY">
            <wsdl:input message="tns:get_COFFEEWITHWHISKEYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COFFEEWITHWHISKEYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PriceCoffeewithwhiskeySoapBinding" type="tns:PriceCoffeewithwhiskeySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COFFEEWITHWHISKEY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PriceCoffeewithwhiskey"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/PriceCoffeewithwhiskey"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PriceCoffeewithwhiskeyService">
        <wsdl:port name="PriceCoffeewithwhiskeySoap" binding="tns:PriceCoffeewithwhiskeySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/PriceCoffeewithwhiskey"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
