iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/printedmaterialperson__service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Personprintedmaterial" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Personprintedmaterial" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Personprintedmaterial" targetNamespace="http://127.0.0.1/wsdl/Personprintedmaterial">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 15:48:17 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Personprintedmaterial"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#PrintedMaterial"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Person"/>
            </xsd:annotation>
            <xsd:element name="Person" type="PersonType"/>
            <xsd:element name="PrintedMaterial" type="PrintedMaterialType"/>
            <xsd:simpleType name="PrintedMaterialType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PersonType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getResponse">
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part name="_PRINTEDMATERIAL" type="tns:PrintedMaterialType">
        </wsdl:part>
        <wsdl:part name="_PERSON" type="tns:PersonType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonprintedmaterialSoap">
        <wsdl:operation name="get">
            <wsdl:input message="tns:getRequest">
            </wsdl:input>
            <wsdl:output message="tns:getResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonprintedmaterialSoapBinding" type="PersonprintedmaterialSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Personprintedmaterial"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Personprintedmaterial"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonprintedmaterialService">
        <wsdl:port name="PersonprintedmaterialSoap" binding="PersonprintedmaterialSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Personprintedmaterial"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
