iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/ProvideMedicalFlightInformation_services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Providemedicalflightinformation"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Providemedicalflightinformation"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Providemedicalflightinformation"
                  targetNamespace="http://127.0.0.1/wsdl/Providemedicalflightinformation">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 15:27:56 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Providemedicalflightinformation"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#FlightNumber"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#Account"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#Airport"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#Diagnosis"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#Treatment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#FlightCategory"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#DateTime"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#Airport"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/MedicalFlightCompanyOntology.owl#ListOfFlights"/>
            </xsd:annotation>
            <xsd:element name="ListOfFlights" type="ListOfFlightsType"/>
            <xsd:element name="Treatment" type="TreatmentType"/>
            <xsd:element name="Diagnosis" type="DiagnosisType"/>
            <xsd:element name="Account" type="AccountType"/>
            <xsd:element name="FlightCategory" type="FlightCategoryType"/>
            <xsd:element name="DateTime" type="DateTimeType"/>
            <xsd:element name="Airport" type="AirportType"/>
            <xsd:element name="FlightNumber" type="FlightNumberType"/>
            <xsd:complexType name="ListOfFlightsType">
                <xsd:sequence>
                    <xsd:element name="ListOfFlights_consistsOf" type="Flight"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="FlightCategoryType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FlightNumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DiagnosisType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AirportType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TreatmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Flight">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DateTimeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AccountType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getProvideMedicalFlightInformation_ListOfFlightsRequest">
        <wsdl:part name="BookMedicalFlight_FlightNumber" type="tns:FlightNumberType">
        </wsdl:part>
        <wsdl:part name="BookMedicalFlight_Account" type="tns:AccountType">
        </wsdl:part>
        <wsdl:part name="ProvideMedicalFlightInformation_DesiredArrivalAirport" type="tns:AirportType">
        </wsdl:part>
        <wsdl:part name="ProvideMedicalFlightInformation_Diagnosis" type="tns:DiagnosisType">
        </wsdl:part>
        <wsdl:part name="ProvideMedicalFlightInformation_DesiredTreatment" type="tns:TreatmentType">
        </wsdl:part>
        <wsdl:part name="ProvideMedicalFlightInformation_FlightCategory" type="tns:FlightCategoryType">
        </wsdl:part>
        <wsdl:part name="ProvideMedicalFlightInformation_DesiredDepartureDateTime" type="tns:DateTimeType">
        </wsdl:part>
        <wsdl:part name="ProvideMedicalFlightInformation_DesiredDepartureAirport" type="tns:AirportType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProvideMedicalFlightInformation_ListOfFlightsResponse">
        <wsdl:part name="ProvideMedicalFlightInformation_ListOfFlights" type="tns:ListOfFlightsType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ProvidemedicalflightinformationSoap">
        <wsdl:operation name="getProvideMedicalFlightInformation_ListOfFlights">
            <wsdl:input message="tns:getProvideMedicalFlightInformation_ListOfFlightsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getProvideMedicalFlightInformation_ListOfFlightsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProvidemedicalflightinformationSoapBinding" type="ProvidemedicalflightinformationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getProvideMedicalFlightInformation_ListOfFlights">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Providemedicalflightinformation"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Providemedicalflightinformation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProvidemedicalflightinformationService">
        <wsdl:port name="ProvidemedicalflightinformationSoap" binding="ProvidemedicalflightinformationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Providemedicalflightinformation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
