iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/ProvideNonMedicalTransportInformation_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Providenonmedicaltransportinformation"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Providenonmedicaltransportinformation"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Providenonmedicaltransportinformation"
                  targetNamespace="http://127.0.0.1/wsdl/Providenonmedicaltransportinformation">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 15:32:21 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Providenonmedicaltransportinformation"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#Vehicle"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#GpsPosition"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#DateTime"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#GpsPosition"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/NonMedicalTransportCompanyOntology.owl#ListOfTransports"/>
            </xsd:annotation>
            <xsd:element name="Vehicle" type="VehicleType"/>
            <xsd:element name="GpsPosition" type="GpsPositionType"/>
            <xsd:element name="ListOfTransports" type="ListOfTransportsType"/>
            <xsd:element name="DateTime" type="DateTimeType"/>
            <xsd:complexType name="ListOfTransportsType">
                <xsd:sequence>
                    <xsd:element name="ListOfTransports_consistsOf" type="Transport"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="GpsPositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="VehicleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DateTimeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Transport">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getProvideNonMedicalTransportInformation_ListOfTransportsRequest">
        <wsdl:part name="ProvideNonMedicalTransportInformation_DesiredTransportVehicle" type="tns:VehicleType">
        </wsdl:part>
        <wsdl:part name="ProvideNonMedicalTransportInformation_DestinationGpsPosition" type="tns:GpsPositionType">
        </wsdl:part>
        <wsdl:part name="ProvideNonMedicalTransportInformation_DesiredDepartureDateTime" type="tns:DateTimeType">
        </wsdl:part>
        <wsdl:part name="ProvideNonMedicalTransportInformation_DepartureGpsPosition" type="tns:GpsPositionType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProvideNonMedicalTransportInformation_ListOfTransportsResponse">
        <wsdl:part name="ProvideNonMedicalTransportInformation_ListOfTransports" type="tns:ListOfTransportsType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ProvidenonmedicaltransportinformationSoap">
        <wsdl:operation name="getProvideNonMedicalTransportInformation_ListOfTransports">
            <wsdl:input message="tns:getProvideNonMedicalTransportInformation_ListOfTransportsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getProvideNonMedicalTransportInformation_ListOfTransportsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProvidenonmedicaltransportinformationSoapBinding"
                  type="ProvidenonmedicaltransportinformationSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getProvideNonMedicalTransportInformation_ListOfTransports">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Providenonmedicaltransportinformation"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Providenonmedicaltransportinformation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProvidenonmedicaltransportinformationService">
        <wsdl:port name="ProvidenonmedicaltransportinformationSoap"
                   binding="ProvidenonmedicaltransportinformationSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Providenonmedicaltransportinformation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
