iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/publicationperson__service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Publicationperson" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Publicationperson" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Publicationperson" targetNamespace="http://127.0.0.1/wsdl/Publicationperson">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 16:00:15 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Publicationperson"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Person"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Publication"/>
            </xsd:annotation>
            <xsd:element name="Person" type="PersonType"/>
            <xsd:element name="Publication" type="PublicationType"/>
            <xsd:complexType name="PublicationType">
                <xsd:sequence>
                    <xsd:element name="publishedBy" type="Publisher"/>
                    <xsd:element name="datePublished" type="Date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Date">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Publisher">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PersonType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getResponse">
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part name="_PERSON" type="tns:PersonType">
        </wsdl:part>
        <wsdl:part name="_PUBLICATION" type="tns:PublicationType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PublicationpersonSoap">
        <wsdl:operation name="get">
            <wsdl:input message="tns:getRequest">
            </wsdl:input>
            <wsdl:output message="tns:getResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PublicationpersonSoapBinding" type="PublicationpersonSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publicationperson"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publicationperson"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PublicationpersonService">
        <wsdl:port name="PublicationpersonSoap" binding="PublicationpersonSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Publicationperson"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
