iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Publication-numberBookauthorpublisher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Publication-numberBookauthorpublisher"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Publication-numberBookauthorpublisher"
                  targetNamespace="http://127.0.0.1/wsdl/Publication-numberBookauthorpublisher">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed May 06 19:39:59 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Publication-numberBookauthorpublisher"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Publication-Number"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Book"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Author"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Publisher"/>
            </xsd:annotation>
            <xsd:element name="Book" type="tns:BookType"/>
            <xsd:element name="Author" type="tns:AuthorType"/>
            <xsd:element name="Publication-Number" type="tns:Publication-NumberType"/>
            <xsd:element name="Publisher" type="tns:PublisherType"/>
            <xsd:complexType name="Book-Reference">
                <xsd:sequence>
                    <xsd:element name="has-ISBN-number" type="xsd:string"/>
                    <xsd:element name="published-by" type="tns:Publishing-House"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="has-publication-reference" type="tns:Book-Reference"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PublisherType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Publication-NumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Publishing-House">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_BOOK_AUTHOR_PUBLISHERRequest">
        <wsdl:part name="_PUBLICATION-NUMBER" type="tns:Publication-NumberType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_BOOK_AUTHOR_PUBLISHERResponse">
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
        <wsdl:part name="_AUTHOR" type="tns:AuthorType">
        </wsdl:part>
        <wsdl:part name="_PUBLISHER" type="tns:PublisherType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Publication-numberBookauthorpublisherSoap">
        <wsdl:operation name="get_BOOK_AUTHOR_PUBLISHER">
            <wsdl:input message="tns:get_BOOK_AUTHOR_PUBLISHERRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_BOOK_AUTHOR_PUBLISHERResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Publication-numberBookauthorpublisherSoapBinding"
                  type="tns:Publication-numberBookauthorpublisherSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_BOOK_AUTHOR_PUBLISHER">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publication-numberBookauthorpublisher"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publication-numberBookauthorpublisher"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Publication-numberBookauthorpublisherService">
        <wsdl:port name="Publication-numberBookauthorpublisherSoap"
                   binding="tns:Publication-numberBookauthorpublisherSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Publication-numberBookauthorpublisher"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
