iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Publication-numberEdited-book.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Publication-numberEdited-book"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Publication-numberEdited-book"
                  targetNamespace="http://127.0.0.1/wsdl/Publication-numberEdited-book">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri May 15 20:24:02 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Publication-numberEdited-book"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Publication-Number"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Edited-Book"/>
            </xsd:annotation>
            <xsd:element name="Edited-Book" type="tns:Edited-BookType"/>
            <xsd:element name="Publication-Number" type="tns:Publication-NumberType"/>
            <xsd:complexType name="Person">
                <xsd:sequence>
                    <xsd:element name="family-name" type="xsd:string"/>
                    <xsd:element name="full-name" type="xsd:string"/>
                    <xsd:element name="given-name" type="xsd:string"/>
                    <xsd:element name="has-gender" type="tns:Gender"/>
                    <xsd:element name="has-appellation" type="tns:Appellation"/>
                    <xsd:element name="has-academic-degree" type="tns:Academic-Degree"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Edited-Book-Reference">
                <xsd:sequence>
                    <xsd:element name="edited-by" type="tns:Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Edited-BookType">
                <xsd:sequence>
                    <xsd:element name="has-publication-reference" type="tns:Edited-Book-Reference"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Academic-Degree">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="PhD"/>
                    <xsd:enumeration value="BSc"/>
                    <xsd:enumeration value="MSc"/>
                    <xsd:enumeration value="DEng"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Gender">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Male-Gender"/>
                    <xsd:enumeration value="Female-Gender"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Publication-NumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Appellation">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Mrs"/>
                    <xsd:enumeration value="Dr"/>
                    <xsd:enumeration value="Ms"/>
                    <xsd:enumeration value="Mr"/>
                    <xsd:enumeration value="Lady"/>
                    <xsd:enumeration value="Sir"/>
                    <xsd:enumeration value="Miss"/>
                    <xsd:enumeration value="Prof"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_EDITED-BOOKRequest">
        <wsdl:part name="_PUBLICATION-NUMBER" type="tns:Publication-NumberType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_EDITED-BOOKResponse">
        <wsdl:part name="_EDITED-BOOK" type="tns:Edited-BookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Publication-numberEdited-bookSoap">
        <wsdl:operation name="get_EDITED-BOOK">
            <wsdl:input message="tns:get_EDITED-BOOKRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_EDITED-BOOKResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Publication-numberEdited-bookSoapBinding" type="tns:Publication-numberEdited-bookSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_EDITED-BOOK">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publication-numberEdited-book"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Publication-numberEdited-book"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Publication-numberEdited-bookService">
        <wsdl:port name="Publication-numberEdited-bookSoap" binding="tns:Publication-numberEdited-bookSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Publication-numberEdited-book"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
