iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/recommendedpriceindollar_whiskeycoffee_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/RecommendedpriceindollarWhiskeycoffee"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RecommendedpriceindollarWhiskeycoffee"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RecommendedpriceindollarWhiskeycoffee"
                  targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceindollarWhiskeycoffee">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 19:07:32 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceindollarWhiskeycoffee"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPriceInDollar"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Whiskey"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Coffee"/>
            </xsd:annotation>
            <xsd:element name="Whiskey" type="WhiskeyType"/>
            <xsd:element name="Coffee" type="CoffeeType"/>
            <xsd:element name="RecommendedPriceInDollar" type="RecommendedPriceInDollarType"/>
            <xsd:simpleType name="CoffeeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="RecommendedPriceInDollarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="WhiskeyType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_WHISKEY_COFFEERequest">
        <wsdl:part name="_RECOMMENDEDPRICEINDOLLAR" type="tns:RecommendedPriceInDollarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_WHISKEY_COFFEEResponse">
        <wsdl:part name="_WHISKEY" type="tns:WhiskeyType">
        </wsdl:part>
        <wsdl:part name="_COFFEE" type="tns:CoffeeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RecommendedpriceindollarWhiskeycoffeeSoap">
        <wsdl:operation name="get_WHISKEY_COFFEE">
            <wsdl:input message="tns:get_WHISKEY_COFFEERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_WHISKEY_COFFEEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecommendedpriceindollarWhiskeycoffeeSoapBinding"
                  type="RecommendedpriceindollarWhiskeycoffeeSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_WHISKEY_COFFEE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceindollarWhiskeycoffee"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceindollarWhiskeycoffee"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecommendedpriceindollarWhiskeycoffeeService">
        <wsdl:port name="RecommendedpriceindollarWhiskeycoffeeSoap"
                   binding="RecommendedpriceindollarWhiskeycoffeeSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RecommendedpriceindollarWhiskeycoffee"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
