iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/RecommendedpriceIrishcoffeetasting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RecommendedpriceIrishcoffeetasting"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RecommendedpriceIrishcoffeetasting"
                  targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceIrishcoffeetasting">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 13:25:43 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceIrishcoffeetasting"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#IrishCoffee"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Tasting"/>
            </xsd:annotation>
            <xsd:element name="Tasting" type="tns:TastingType"/>
            <xsd:element name="IrishCoffee" type="tns:IrishCoffeeType"/>
            <xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
            <xsd:simpleType name="IrishCoffeeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TastingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_IRISHCOFFEE_TASTINGRequest">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_IRISHCOFFEE_TASTINGResponse">
        <wsdl:part name="_IRISHCOFFEE" type="tns:IrishCoffeeType">
        </wsdl:part>
        <wsdl:part name="_TASTING" type="tns:TastingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RecommendedpriceIrishcoffeetastingSoap">
        <wsdl:operation name="get_IRISHCOFFEE_TASTING">
            <wsdl:input message="tns:get_IRISHCOFFEE_TASTINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_IRISHCOFFEE_TASTINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecommendedpriceIrishcoffeetastingSoapBinding"
                  type="tns:RecommendedpriceIrishcoffeetastingSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_IRISHCOFFEE_TASTING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceIrishcoffeetasting"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceIrishcoffeetasting"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecommendedpriceIrishcoffeetastingService">
        <wsdl:port name="RecommendedpriceIrishcoffeetastingSoap"
                   binding="tns:RecommendedpriceIrishcoffeetastingSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RecommendedpriceIrishcoffeetasting"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
