iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/RecommendedpriceCoffeewithwhiskeycontentbearingobject.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RecommendedpriceCoffeewithwhiskeycontentbearingobject"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RecommendedpriceCoffeewithwhiskeycontentbearingobject"
                  targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewithwhiskeycontentbearingobject">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 11 01:03:10 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewithwhiskeycontentbearingobject"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#CoffeeWithWhiskey"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/SUMO.owl#ContentBearingObject"/>
            </xsd:annotation>
            <xsd:element name="CoffeeWithWhiskey" type="tns:CoffeeWithWhiskeyType"/>
            <xsd:element name="ContentBearingObject" type="tns:ContentBearingObjectType"/>
            <xsd:element name="RecommendedPrice" type="tns:RecommendedPriceType"/>
            <xsd:complexType name="SetOrClass">
                <xsd:sequence>
                    <xsd:element name="ComplementFn" type="tns:SetOrClass"/>
                    <xsd:element name="GeneralizedIntersectionFn" type="tns:SetOrClass"/>
                    <xsd:element name="GeneralizedUnionFn" type="tns:SetOrClass"/>
                    <xsd:element name="disjoint" type="tns:SetOrClass"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Collection">
                <xsd:sequence>
                    <xsd:element name="memberType" type="tns:SetOrClass"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Proposition">
                <xsd:sequence>
                    <xsd:element name="consistent" type="tns:Proposition"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContentBearingObjectType">
                <xsd:sequence>
                    <xsd:element name="inventory" type="tns:Collection"/>
                    <xsd:element name="containsInformation" type="tns:Proposition"/>
                    <xsd:element name="equivalentContentInstance" type="tns:ContentBearingObjectType"/>
                    <xsd:element name="equivalentContentClass" type="tns:ContentBearingObjectType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CoffeeWithWhiskeyType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COFFEEWITHWHISKEY_CONTENTBEARINGOBJECTRequest">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_COFFEEWITHWHISKEY_CONTENTBEARINGOBJECTResponse">
        <wsdl:part name="_COFFEEWITHWHISKEY" type="tns:CoffeeWithWhiskeyType">
        </wsdl:part>
        <wsdl:part name="_CONTENTBEARINGOBJECT" type="tns:ContentBearingObjectType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RecommendedpriceCoffeewithwhiskeycontentbearingobjectSoap">
        <wsdl:operation name="get_COFFEEWITHWHISKEY_CONTENTBEARINGOBJECT">
            <wsdl:input message="tns:get_COFFEEWITHWHISKEY_CONTENTBEARINGOBJECTRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COFFEEWITHWHISKEY_CONTENTBEARINGOBJECTResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecommendedpriceCoffeewithwhiskeycontentbearingobjectSoapBinding"
                  type="tns:RecommendedpriceCoffeewithwhiskeycontentbearingobjectSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COFFEEWITHWHISKEY_CONTENTBEARINGOBJECT">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewithwhiskeycontentbearingobject"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewithwhiskeycontentbearingobject"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecommendedpriceCoffeewithwhiskeycontentbearingobjectService">
        <wsdl:port name="RecommendedpriceCoffeewithwhiskeycontentbearingobjectSoap"
                   binding="tns:RecommendedpriceCoffeewithwhiskeycontentbearingobjectSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RecommendedpriceCoffeewithwhiskeycontentbearingobject"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
