iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/recommendedprice_coffeewhiskey_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/RecommendedpriceCoffeewhiskey"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RecommendedpriceCoffeewhiskey"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RecommendedpriceCoffeewhiskey"
                  targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewhiskey">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 16:17:10 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewhiskey"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Coffee"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Whiskey"/>
            </xsd:annotation>
            <xsd:element name="Whiskey" type="WhiskeyType"/>
            <xsd:element name="Coffee" type="CoffeeType"/>
            <xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
            <xsd:simpleType name="CoffeeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="WhiskeyType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COFFEE_WHISKEYResponse">
        <wsdl:part name="_COFFEE" type="tns:CoffeeType">
        </wsdl:part>
        <wsdl:part name="_WHISKEY" type="tns:WhiskeyType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_COFFEE_WHISKEYRequest">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RecommendedpriceCoffeewhiskeySoap">
        <wsdl:operation name="get_COFFEE_WHISKEY">
            <wsdl:input message="tns:get_COFFEE_WHISKEYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COFFEE_WHISKEYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecommendedpriceCoffeewhiskeySoapBinding" type="RecommendedpriceCoffeewhiskeySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COFFEE_WHISKEY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewhiskey"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RecommendedpriceCoffeewhiskey"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecommendedpriceCoffeewhiskeyService">
        <wsdl:port name="RecommendedpriceCoffeewhiskeySoap" binding="RecommendedpriceCoffeewhiskeySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RecommendedpriceCoffeewhiskey"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
