iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/researcher-in-academia_publication-referencepostal-address_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Researcher-in-academiaPublication-referencepostal-address"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Researcher-in-academiaPublication-referencepostal-address"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Researcher-in-academiaPublication-referencepostal-address"
                  targetNamespace="http://127.0.0.1/wsdl/Researcher-in-academiaPublication-referencepostal-address">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 16:58:47 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Researcher-in-academiaPublication-referencepostal-address"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Researcher-In-Academia"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Publication-Reference"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Postal-Address"/>
            </xsd:annotation>
            <xsd:element name="Publication-Reference" type="Publication-ReferenceType"/>
            <xsd:element name="Postal-Address" type="Postal-AddressType"/>
            <xsd:element name="Researcher-In-Academia" type="Researcher-In-AcademiaType"/>
            <xsd:complexType name="Publication-ReferenceType">
                <xsd:sequence>
                    <xsd:element name="has-place-of-publication" type="Location"/>
                    <xsd:element name="has-title" type="xsd:string"/>
                    <xsd:element name="has-author" type="Generic-Agent"/>
                    <xsd:element name="has-date" type="Calendar-Date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Calendar-Date">
                <xsd:sequence>
                    <xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element maxOccurs="1" name="minute-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element maxOccurs="1" name="hour-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element maxOccurs="1" name="second-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Location">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Researcher-In-AcademiaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Postal-AddressType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PUBLICATION-REFERENCE_POSTAL-ADDRESSRequest">
        <wsdl:part name="_RESEARCHER-IN-ACADEMIA" type="tns:Researcher-In-AcademiaType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PUBLICATION-REFERENCE_POSTAL-ADDRESSResponse">
        <wsdl:part name="_PUBLICATION-REFERENCE" type="tns:Publication-ReferenceType">
        </wsdl:part>
        <wsdl:part name="_POSTAL-ADDRESS" type="tns:Postal-AddressType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Researcher-in-academiaPublication-referencepostal-addressSoap">
        <wsdl:operation name="get_PUBLICATION-REFERENCE_POSTAL-ADDRESS">
            <wsdl:input message="tns:get_PUBLICATION-REFERENCE_POSTAL-ADDRESSRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PUBLICATION-REFERENCE_POSTAL-ADDRESSResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Researcher-in-academiaPublication-referencepostal-addressSoapBinding"
                  type="Researcher-in-academiaPublication-referencepostal-addressSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PUBLICATION-REFERENCE_POSTAL-ADDRESS">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Researcher-in-academiaPublication-referencepostal-address"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Researcher-in-academiaPublication-referencepostal-address"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Researcher-in-academiaPublication-referencepostal-addressService">
        <wsdl:port name="Researcher-in-academiaPublication-referencepostal-addressSoap"
                   binding="Researcher-in-academiaPublication-referencepostal-addressSoapBinding">
            <wsdlsoap:address
                    location="http://127.0.0.1/wsdl/Researcher-in-academiaPublication-referencepostal-address"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
