iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/research-fellow-in-academia_publication-reference_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Research-fellow-in-academiaPublication-reference"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Research-fellow-in-academiaPublication-reference"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Research-fellow-in-academiaPublication-reference"
                  targetNamespace="http://127.0.0.1/wsdl/Research-fellow-in-academiaPublication-reference">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 16:39:17 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Research-fellow-in-academiaPublication-reference"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/portal.owl#Research-Fellow-In-Academia"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Publication-Reference"/>
            </xsd:annotation>
            <xsd:element name="Publication-Reference" type="Publication-ReferenceType"/>
            <xsd:element name="Research-Fellow-In-Academia" type="Research-Fellow-In-AcademiaType"/>
            <xsd:complexType name="Publication-ReferenceType">
                <xsd:sequence>
                    <xsd:element name="has-place-of-publication" type="Location"/>
                    <xsd:element name="has-title" type="xsd:string"/>
                    <xsd:element name="has-author" type="Generic-Agent"/>
                    <xsd:element name="has-date" type="Calendar-Date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Calendar-Date">
                <xsd:sequence>
                    <xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element maxOccurs="1" name="minute-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element maxOccurs="1" name="hour-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element maxOccurs="1" name="second-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Location">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Research-Fellow-In-AcademiaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Generic-Agent">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PUBLICATION-REFERENCEResponse">
        <wsdl:part name="_PUBLICATION-REFERENCE" type="tns:Publication-ReferenceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PUBLICATION-REFERENCERequest">
        <wsdl:part name="_RESEARCH-FELLOW-IN-ACADEMIA" type="tns:Research-Fellow-In-AcademiaType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Research-fellow-in-academiaPublication-referenceSoap">
        <wsdl:operation name="get_PUBLICATION-REFERENCE">
            <wsdl:input message="tns:get_PUBLICATION-REFERENCERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PUBLICATION-REFERENCEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Research-fellow-in-academiaPublication-referenceSoapBinding"
                  type="Research-fellow-in-academiaPublication-referenceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PUBLICATION-REFERENCE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Research-fellow-in-academiaPublication-reference"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Research-fellow-in-academiaPublication-reference"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Research-fellow-in-academiaPublication-referenceService">
        <wsdl:port name="Research-fellow-in-academiaPublication-referenceSoap"
                   binding="Research-fellow-in-academiaPublication-referenceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Research-fellow-in-academiaPublication-reference"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
