iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/RetailstoreApple.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RetailstoreApple" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RetailstoreApple" targetNamespace="http://127.0.0.1/wsdl/RetailstoreApple">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 13:45:13 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RetailstoreApple"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#RetailStore"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#Apple"/>
            </xsd:annotation>
            <xsd:element name="Apple" type="tns:AppleType"/>
            <xsd:element name="RetailStore" type="tns:RetailStoreType"/>
            <xsd:simpleType name="RetailStoreType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AppleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_APPLEResponse">
        <wsdl:part name="_APPLE" type="tns:AppleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_APPLERequest">
        <wsdl:part name="_RETAILSTORE" type="tns:RetailStoreType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RetailstoreAppleSoap">
        <wsdl:operation name="get_APPLE">
            <wsdl:input message="tns:get_APPLERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_APPLEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RetailstoreAppleSoapBinding" type="tns:RetailstoreAppleSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_APPLE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstoreApple"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstoreApple"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RetailstoreAppleService">
        <wsdl:port name="RetailstoreAppleSoap" binding="tns:RetailstoreAppleSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RetailstoreApple"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
