iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/retailstore_preparedfoodquantity_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/RetailstorePreparedfoodquantity"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RetailstorePreparedfoodquantity"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RetailstorePreparedfoodquantity"
                  targetNamespace="http://127.0.0.1/wsdl/RetailstorePreparedfoodquantity">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 17:08:01 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RetailstorePreparedfoodquantity"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#RetailStore"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#PreparedFood"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/support.owl#Quantity"/>
            </xsd:annotation>
            <xsd:element name="PreparedFood" type="PreparedFoodType"/>
            <xsd:element name="Quantity" type="QuantityType"/>
            <xsd:element name="RetailStore" type="RetailStoreType"/>
            <xsd:simpleType name="PreparedFoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="RetailStoreType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="QuantityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PREPAREDFOOD_QUANTITYRequest">
        <wsdl:part name="_RETAILSTORE" type="tns:RetailStoreType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PREPAREDFOOD_QUANTITYResponse">
        <wsdl:part name="_PREPAREDFOOD" type="tns:PreparedFoodType">
        </wsdl:part>
        <wsdl:part name="_QUANTITY" type="tns:QuantityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RetailstorePreparedfoodquantitySoap">
        <wsdl:operation name="get_PREPAREDFOOD_QUANTITY">
            <wsdl:input message="tns:get_PREPAREDFOOD_QUANTITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PREPAREDFOOD_QUANTITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RetailstorePreparedfoodquantitySoapBinding" type="RetailstorePreparedfoodquantitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PREPAREDFOOD_QUANTITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstorePreparedfoodquantity"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstorePreparedfoodquantity"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RetailstorePreparedfoodquantityService">
        <wsdl:port name="RetailstorePreparedfoodquantitySoap" binding="RetailstorePreparedfoodquantitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RetailstorePreparedfoodquantity"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
