iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/retailstore_foodquality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/RetailstoreFoodquality" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RetailstoreFoodquality" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RetailstoreFoodquality" targetNamespace="http://127.0.0.1/wsdl/RetailstoreFoodquality">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Wed Jun 10 17:52:43 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RetailstoreFoodquality"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#RetailStore"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Food"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/finance_th_web.owl#quality"/>
            </xsd:annotation>
            <xsd:element name="Food" type="FoodType"/>
            <xsd:element name="quality" type="qualityType"/>
            <xsd:element name="RetailStore" type="RetailStoreType"/>
            <xsd:simpleType name="FoodType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="RetailStoreType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="qualityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FOOD_QUALITYRequest">
        <wsdl:part name="_RETAILSTORE" type="tns:RetailStoreType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FOOD_QUALITYResponse">
        <wsdl:part name="_FOOD" type="tns:FoodType">
        </wsdl:part>
        <wsdl:part name="_QUALITY" type="tns:qualityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RetailstoreFoodqualitySoap">
        <wsdl:operation name="get_FOOD_QUALITY">
            <wsdl:input message="tns:get_FOOD_QUALITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FOOD_QUALITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RetailstoreFoodqualitySoapBinding" type="RetailstoreFoodqualitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FOOD_QUALITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstoreFoodquality"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstoreFoodquality"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RetailstoreFoodqualityService">
        <wsdl:port name="RetailstoreFoodqualitySoap" binding="RetailstoreFoodqualitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RetailstoreFoodquality"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
