iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/retailstore_slrprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/RetailstoreSlrprice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RetailstoreSlrprice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RetailstoreSlrprice" targetNamespace="http://127.0.0.1/wsdl/RetailstoreSlrprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 17:26:47 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RetailstoreSlrprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#RetailStore"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#SLR"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="SLR" type="SLRType"/>
            <xsd:element name="RetailStore" type="RetailStoreType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SLRType">
                <xsd:sequence>
                    <xsd:element name="hasViewFinder" type="SLRViewerWindow"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="SLRViewerWindow">
                <xsd:restriction base="ViewerWindow">
                    <xsd:enumeration value="ThroughTheLens"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ViewerWindow">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AtTheBack"/>
                    <xsd:enumeration value="ReverseGalelian"/>
                    <xsd:enumeration value="WindowOnTopOfCamera"/>
                    <xsd:enumeration value="SingleLensReflector"/>
                    <xsd:enumeration value="RealImageZoom"/>
                    <xsd:enumeration value="ThroughTheLens"/>
                    <xsd:enumeration value="OnTheside"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="RetailStoreType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_SLR_PRICEResponse">
        <wsdl:part name="_SLR" type="tns:SLRType">
        </wsdl:part>
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_SLR_PRICERequest">
        <wsdl:part name="_RETAILSTORE" type="tns:RetailStoreType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RetailstoreSlrpriceSoap">
        <wsdl:operation name="get_SLR_PRICE">
            <wsdl:input message="tns:get_SLR_PRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_SLR_PRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RetailstoreSlrpriceSoapBinding" type="RetailstoreSlrpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_SLR_PRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstoreSlrprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RetailstoreSlrprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RetailstoreSlrpriceService">
        <wsdl:port name="RetailstoreSlrpriceSoap" binding="RetailstoreSlrpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RetailstoreSlrprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
