iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/romanticnovel_publisher_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/RomanticPublisher" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/RomanticPublisher" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="RomanticPublisher" targetNamespace="http://127.0.0.1/wsdl/RomanticPublisher">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 19:04:13 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/RomanticPublisher"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#RomanticNovel"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Publisher"/>
            </xsd:annotation>
            <xsd:element name="RomanticNovel" type="RomanticNovelType"/>
            <xsd:element name="Publisher" type="PublisherType"/>
            <xsd:simpleType name="PublisherType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="RomanticNovelType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PUBLISHERResponse">
        <wsdl:part name="_PUBLISHER" type="tns:PublisherType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PUBLISHERRequest">
        <wsdl:part name="_ROMANTIC" type="tns:RomanticNovelType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RomanticPublisherSoap">
        <wsdl:operation name="get_PUBLISHER">
            <wsdl:input message="tns:get_PUBLISHERRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PUBLISHERResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RomanticPublisherSoapBinding" type="RomanticPublisherSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PUBLISHER">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RomanticPublisher"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/RomanticPublisher"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RomanticPublisherService">
        <wsdl:port name="RomanticPublisherSoap" binding="RomanticPublisherSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/RomanticPublisher"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
