iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/sciencefictionbook_authortaxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/SciencefictionbookAuthortaxedprice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/SciencefictionbookAuthortaxedprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="SciencefictionbookAuthortaxedprice"
                  targetNamespace="http://127.0.0.1/wsdl/SciencefictionbookAuthortaxedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 23:50:49 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/SciencefictionbookAuthortaxedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#ScienceFictionBook"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Author"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
            </xsd:annotation>
            <xsd:element name="Author" type="AuthorType"/>
            <xsd:element name="TaxedPrice" type="TaxedPriceType"/>
            <xsd:element name="ScienceFictionBook" type="ScienceFictionBookType"/>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ScienceFictionBookType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_AUTHOR_TAXEDPRICEResponse">
        <wsdl:part name="_AUTHOR" type="tns:AuthorType">
        </wsdl:part>
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_AUTHOR_TAXEDPRICERequest">
        <wsdl:part name="_SCIENCEFICTIONBOOK" type="tns:ScienceFictionBookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SciencefictionbookAuthortaxedpriceSoap">
        <wsdl:operation name="get_AUTHOR_TAXEDPRICE">
            <wsdl:input message="tns:get_AUTHOR_TAXEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_AUTHOR_TAXEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SciencefictionbookAuthortaxedpriceSoapBinding" type="SciencefictionbookAuthortaxedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_AUTHOR_TAXEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/SciencefictionbookAuthortaxedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/SciencefictionbookAuthortaxedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SciencefictionbookAuthortaxedpriceService">
        <wsdl:port name="SciencefictionbookAuthortaxedpriceSoap"
                   binding="SciencefictionbookAuthortaxedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/SciencefictionbookAuthortaxedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
