iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/sciencefictionbook_authorbook-type_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/SciencefictionbookAuthorbook-type"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/SciencefictionbookAuthorbook-type"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="SciencefictionbookAuthorbook-type"
                  targetNamespace="http://127.0.0.1/wsdl/SciencefictionbookAuthorbook-type">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 23:45:21 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/SciencefictionbookAuthorbook-type"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#ScienceFictionBook"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Author"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Book-Type"/>
            </xsd:annotation>
            <xsd:element name="Author" type="AuthorType"/>
            <xsd:element name="Book-Type" type="Book-TypeType"/>
            <xsd:element name="ScienceFictionBook" type="ScienceFictionBookType"/>
            <xsd:simpleType name="Book-TypeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ScienceFictionBookType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_AUTHOR_BOOK-TYPEResponse">
        <wsdl:part name="_AUTHOR" type="tns:AuthorType">
        </wsdl:part>
        <wsdl:part name="_BOOK-TYPE" type="tns:Book-TypeType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_AUTHOR_BOOK-TYPERequest">
        <wsdl:part name="_SCIENCEFICTIONBOOK" type="tns:ScienceFictionBookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SciencefictionbookAuthorbook-typeSoap">
        <wsdl:operation name="get_AUTHOR_BOOK-TYPE">
            <wsdl:input message="tns:get_AUTHOR_BOOK-TYPERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_AUTHOR_BOOK-TYPEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SciencefictionbookAuthorbook-typeSoapBinding" type="SciencefictionbookAuthorbook-typeSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_AUTHOR_BOOK-TYPE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/SciencefictionbookAuthorbook-type"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/SciencefictionbookAuthorbook-type"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SciencefictionbookAuthorbook-typeService">
        <wsdl:port name="SciencefictionbookAuthorbook-typeSoap" binding="SciencefictionbookAuthorbook-typeSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/SciencefictionbookAuthorbook-type"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
