iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/SeePatientMedicalRecords_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Seepatientmedicalrecords" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Seepatientmedicalrecords"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Seepatientmedicalrecords" targetNamespace="http://127.0.0.1/wsdl/Seepatientmedicalrecords">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 23:57:00 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Seepatientmedicalrecords"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#AccountPassword"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Authorization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#HealthInsuranceNumber"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#PhysicianID"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#MedicalRecords"/>
            </xsd:annotation>
            <xsd:element name="MedicalRecords" type="MedicalRecordsType"/>
            <xsd:element name="HealthInsuranceNumber" type="HealthInsuranceNumberType"/>
            <xsd:element name="PhysicianID" type="PhysicianIDType"/>
            <xsd:element name="AccountPassword" type="AccountPasswordType"/>
            <xsd:element name="Authorization" type="AuthorizationType"/>
            <xsd:simpleType name="MedicalRecordsType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AccountPasswordType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorizationType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PhysicianIDType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="HealthInsuranceNumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getSeePatientMedicalRecords_PatientMedicalRecordsRequest">
        <wsdl:part name="SeePatientMedicalRecords_PhysicianPassword" type="tns:AccountPasswordType">
        </wsdl:part>
        <wsdl:part name="SeePatientMedicalRecords_PhysicianAuthorization" type="tns:AuthorizationType">
        </wsdl:part>
        <wsdl:part name="SeePatientMedicalRecords_PatientHealthInsuranceNumber" type="tns:HealthInsuranceNumberType">
        </wsdl:part>
        <wsdl:part name="SeePatientMedicalRecords_PhysicianID" type="tns:PhysicianIDType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSeePatientMedicalRecords_PatientMedicalRecordsResponse">
        <wsdl:part name="SeePatientMedicalRecords_PatientMedicalRecords" type="tns:MedicalRecordsType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SeepatientmedicalrecordsSoap">
        <wsdl:operation name="getSeePatientMedicalRecords_PatientMedicalRecords">
            <wsdl:input message="tns:getSeePatientMedicalRecords_PatientMedicalRecordsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getSeePatientMedicalRecords_PatientMedicalRecordsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SeepatientmedicalrecordsSoapBinding" type="SeepatientmedicalrecordsSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getSeePatientMedicalRecords_PatientMedicalRecords">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Seepatientmedicalrecords"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Seepatientmedicalrecords"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SeepatientmedicalrecordsService">
        <wsdl:port name="SeepatientmedicalrecordsSoap" binding="SeepatientmedicalrecordsSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Seepatientmedicalrecords"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
