iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/SetUpCostAndHealingPlan_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Setupcostandhealingplan" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Setupcostandhealingplan" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Setupcostandhealingplan" targetNamespace="http://127.0.0.1/wsdl/Setupcostandhealingplan">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 15:15:09 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Setupcostandhealingplan"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#GpsPosition"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Treatment"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#DateTime"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Diagnosis"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#HealthInsuranceNumber"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Drug"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#PersonName"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#PhysicianID"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#Acknowledgement"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/HospitalPhysicianOntology.owl#CostAndHealingPlan"/>
            </xsd:annotation>
            <xsd:element name="Acknowledgement" type="AcknowledgementType"/>
            <xsd:element name="CostAndHealingPlan" type="CostAndHealingPlanType"/>
            <xsd:element name="GpsPosition" type="GpsPositionType"/>
            <xsd:element name="Treatment" type="TreatmentType"/>
            <xsd:element name="PersonName" type="PersonNameType"/>
            <xsd:element name="HealthInsuranceNumber" type="HealthInsuranceNumberType"/>
            <xsd:element name="DateTime" type="DateTimeType"/>
            <xsd:element name="Diagnosis" type="DiagnosisType"/>
            <xsd:element name="Drug" type="DrugType"/>
            <xsd:element name="PhysicianID" type="PhysicianIDType"/>
            <xsd:simpleType name="GpsPositionType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CostAndHealingPlanType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AcknowledgementType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PhysicianIDType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DiagnosisType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DrugType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TreatmentType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="DateTimeType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="HealthInsuranceNumberType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PersonNameType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message
            name="getUpdatePatientMedicalRecords_AcknowledgementSetUpCostAndHealingPlan_CostAndHealingPlanRequest">
        <wsdl:part name="PatientTransport_PatientGpsPosition" type="tns:GpsPositionType">
        </wsdl:part>
        <wsdl:part name="UpdatePatientMedicalRecords_Treatment" type="tns:TreatmentType">
        </wsdl:part>
        <wsdl:part name="SetUpCostAndHealingPlan_TreatmentDateTime" type="tns:DateTimeType">
        </wsdl:part>
        <wsdl:part name="SetUpCostAndHealingPlan_Diagnosis" type="tns:DiagnosisType">
        </wsdl:part>
        <wsdl:part name="SetUpCostAndHealingPlan_PatientHealthInsuranceNumber" type="tns:HealthInsuranceNumberType">
        </wsdl:part>
        <wsdl:part name="SetUpCostAndHealingPlan_RequiredDrugs" type="tns:DrugType">
        </wsdl:part>
        <wsdl:part name="SetUpCostAndHealingPlan_PatientName" type="tns:PersonNameType">
        </wsdl:part>
        <wsdl:part name="SetUpCostAndHealingPlan_PhysicianID" type="tns:PhysicianIDType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message
            name="getUpdatePatientMedicalRecords_AcknowledgementSetUpCostAndHealingPlan_CostAndHealingPlanResponse">
        <wsdl:part name="UpdatePatientMedicalRecords_Acknowledgement" type="tns:AcknowledgementType">
        </wsdl:part>
        <wsdl:part name="SetUpCostAndHealingPlan_CostAndHealingPlan" type="tns:CostAndHealingPlanType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SetupcostandhealingplanSoap">
        <wsdl:operation name="getUpdatePatientMedicalRecords_AcknowledgementSetUpCostAndHealingPlan_CostAndHealingPlan">
            <wsdl:input
                    message="tns:getUpdatePatientMedicalRecords_AcknowledgementSetUpCostAndHealingPlan_CostAndHealingPlanRequest">
            </wsdl:input>
            <wsdl:output
                    message="tns:getUpdatePatientMedicalRecords_AcknowledgementSetUpCostAndHealingPlan_CostAndHealingPlanResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SetupcostandhealingplanSoapBinding" type="SetupcostandhealingplanSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUpdatePatientMedicalRecords_AcknowledgementSetUpCostAndHealingPlan_CostAndHealingPlan">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Setupcostandhealingplan"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Setupcostandhealingplan"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SetupcostandhealingplanService">
        <wsdl:port name="SetupcostandhealingplanSoap" binding="SetupcostandhealingplanSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Setupcostandhealingplan"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
