iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/SFNRecommendedPrice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Userscience-fiction-novelRecommendedprice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Userscience-fiction-novelRecommendedprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Userscience-fiction-novelRecommendedprice"
                  targetNamespace="http://127.0.0.1/wsdl/Userscience-fiction-novelRecommendedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 21:14:15 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Userscience-fiction-novelRecommendedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Science-Fiction-Novel"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#User"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
            </xsd:annotation>
            <xsd:element name="Science-Fiction-Novel" type="Science-Fiction-NovelType"/>
            <xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
            <xsd:element name="User" type="UserType"/>
            <xsd:complexType name="Science-Fiction-NovelType">
                <xsd:sequence>
                    <xsd:element name="hasGenre" type="Science-Fiction"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Science-Fiction">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="UserType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICERequest">
        <wsdl:part name="_SCIENCE-FICTION-NOVEL" type="tns:Science-Fiction-NovelType">
        </wsdl:part>
        <wsdl:part name="_USER" type="tns:UserType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICEResponse">
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Userscience-fiction-novelRecommendedpriceSoap">
        <wsdl:operation name="get_RECOMMENDEDPRICE">
            <wsdl:input message="tns:get_RECOMMENDEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Userscience-fiction-novelRecommendedpriceSoapBinding"
                  type="Userscience-fiction-novelRecommendedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Userscience-fiction-novelRecommendedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Userscience-fiction-novelRecommendedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Userscience-fiction-novelRecommendedpriceService">
        <wsdl:port name="Userscience-fiction-novelRecommendedpriceSoap"
                   binding="Userscience-fiction-novelRecommendedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Userscience-fiction-novelRecommendedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
