iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/ShoppingmallPricedigitalanalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ShoppingmallPricedigitalanalog"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ShoppingmallPricedigitalanalog"
                  targetNamespace="http://127.0.0.1/wsdl/ShoppingmallPricedigitalanalog">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Thu May 14 13:14:56 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ShoppingmallPricedigitalanalog"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#ShoppingMall"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#Digital"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#Analog"/>
            </xsd:annotation>
            <xsd:element name="Analog" type="tns:AnalogType"/>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="Digital" type="tns:DigitalType"/>
            <xsd:element name="ShoppingMall" type="tns:ShoppingMallType"/>
            <xsd:complexType name="Film">
                <xsd:sequence>
                    <xsd:element name="speed" type="xsd:int"/>
                    <xsd:element name="colour" type="xsd:string"/>
                    <xsd:element name="noOfExposures" type="xsd:int"/>
                    <xsd:element name="dxCoding" type="xsd:boolean"/>
                    <xsd:element name="hasImageCapturingDeviceType" type="tns:FilmImageCapturingDeviceType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ImageSensors">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDeviceType" type="tns:ImageSensorsImageCapturingDeviceType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DigitalType">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDevice" type="tns:ImageSensors"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AnalogType">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDevice" type="tns:Film"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ImageCapturingDeviceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CMOSdevice"/>
                    <xsd:enumeration value="Standard35mmFilm"/>
                    <xsd:enumeration value="APSFILM"/>
                    <xsd:enumeration value="Old110mm"/>
                    <xsd:enumeration value="CCD-array"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FilmImageCapturingDeviceType">
                <xsd:restriction base="tns:ImageCapturingDeviceType">
                    <xsd:enumeration value="APSFILM"/>
                    <xsd:enumeration value="Standard35mmFilm"/>
                    <xsd:enumeration value="Old110mm"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ImageSensorsImageCapturingDeviceType">
                <xsd:restriction base="tns:ImageCapturingDeviceType">
                    <xsd:enumeration value="CCD-array"/>
                    <xsd:enumeration value="CMOSdevice"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ShoppingMallType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICE_DIGITAL_ANALOGRequest">
        <wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICE_DIGITAL_ANALOGResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_DIGITAL" type="tns:DigitalType">
        </wsdl:part>
        <wsdl:part name="_ANALOG" type="tns:AnalogType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShoppingmallPricedigitalanalogSoap">
        <wsdl:operation name="get_PRICE_DIGITAL_ANALOG">
            <wsdl:input message="tns:get_PRICE_DIGITAL_ANALOGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICE_DIGITAL_ANALOGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingmallPricedigitalanalogSoapBinding" type="tns:ShoppingmallPricedigitalanalogSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE_DIGITAL_ANALOG">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallPricedigitalanalog"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallPricedigitalanalog"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShoppingmallPricedigitalanalogService">
        <wsdl:port name="ShoppingmallPricedigitalanalogSoap" binding="tns:ShoppingmallPricedigitalanalogSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ShoppingmallPricedigitalanalog"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
