iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/shoppingmall_purchaseableitemprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/ShoppingmallPurchaseableitemprice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ShoppingmallPurchaseableitemprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ShoppingmallPurchaseableitemprice"
                  targetNamespace="http://127.0.0.1/wsdl/ShoppingmallPurchaseableitemprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Jun 05 00:01:27 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ShoppingmallPurchaseableitemprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#ShoppingMall"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/extendedCamera.owl#PurchaseableItem"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="ShoppingMall" type="ShoppingMallType"/>
            <xsd:element name="PurchaseableItem" type="PurchaseableItemType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="PurchaseableItemType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ShoppingMallType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PURCHASEABLEITEM_PRICEResponse">
        <wsdl:part name="_PURCHASEABLEITEM" type="tns:PurchaseableItemType">
        </wsdl:part>
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PURCHASEABLEITEM_PRICERequest">
        <wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShoppingmallPurchaseableitempriceSoap">
        <wsdl:operation name="get_PURCHASEABLEITEM_PRICE">
            <wsdl:input message="tns:get_PURCHASEABLEITEM_PRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PURCHASEABLEITEM_PRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingmallPurchaseableitempriceSoapBinding" type="ShoppingmallPurchaseableitempriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PURCHASEABLEITEM_PRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallPurchaseableitemprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallPurchaseableitemprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShoppingmallPurchaseableitempriceService">
        <wsdl:port name="ShoppingmallPurchaseableitempriceSoap" binding="ShoppingmallPurchaseableitempriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ShoppingmallPurchaseableitemprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
