iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/ShoppingmallAnalogpricecalendar-date.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ShoppingmallAnalogpricecalendar-date"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ShoppingmallAnalogpricecalendar-date"
                  targetNamespace="http://127.0.0.1/wsdl/ShoppingmallAnalogpricecalendar-date">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 05 13:30:33 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ShoppingmallAnalogpricecalendar-date"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#ShoppingMall"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#Analog"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/support.owl#Calendar-Date"/>
            </xsd:annotation>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="Analog" type="tns:AnalogType"/>
            <xsd:element name="Calendar-Date" type="tns:Calendar-DateType"/>
            <xsd:element name="ShoppingMall" type="tns:ShoppingMallType"/>
            <xsd:complexType name="Calendar-DateType">
                <xsd:sequence>
                    <xsd:element name="month-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="year-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="minute-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="hour-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="second-of" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="day-of" type="xsd:nonNegativeInteger"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Film">
                <xsd:sequence>
                    <xsd:element name="speed" type="xsd:int"/>
                    <xsd:element name="colour" type="xsd:string"/>
                    <xsd:element name="noOfExposures" type="xsd:int"/>
                    <xsd:element name="dxCoding" type="xsd:boolean"/>
                    <xsd:element name="hasImageCapturingDeviceType" type="tns:FilmImageCapturingDeviceType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AnalogType">
                <xsd:sequence>
                    <xsd:element name="hasImageCapturingDevice" type="tns:Film"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ImageCapturingDeviceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CMOSdevice"/>
                    <xsd:enumeration value="Standard35mmFilm"/>
                    <xsd:enumeration value="APSFILM"/>
                    <xsd:enumeration value="Old110mm"/>
                    <xsd:enumeration value="CCD-array"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="FilmImageCapturingDeviceType">
                <xsd:restriction base="tns:ImageCapturingDeviceType">
                    <xsd:enumeration value="APSFILM"/>
                    <xsd:enumeration value="Standard35mmFilm"/>
                    <xsd:enumeration value="Old110mm"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ShoppingMallType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_ANALOG_PRICE_CALENDAR-DATERequest">
        <wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_ANALOG_PRICE_CALENDAR-DATEResponse">
        <wsdl:part name="_ANALOG" type="tns:AnalogType">
        </wsdl:part>
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_CALENDAR-DATE" type="tns:Calendar-DateType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShoppingmallAnalogpricecalendar-dateSoap">
        <wsdl:operation name="get_ANALOG_PRICE_CALENDAR-DATE">
            <wsdl:input message="tns:get_ANALOG_PRICE_CALENDAR-DATERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_ANALOG_PRICE_CALENDAR-DATEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingmallAnalogpricecalendar-dateSoapBinding"
                  type="tns:ShoppingmallAnalogpricecalendar-dateSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_ANALOG_PRICE_CALENDAR-DATE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallAnalogpricecalendar-date"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallAnalogpricecalendar-date"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShoppingmallAnalogpricecalendar-dateService">
        <wsdl:port name="ShoppingmallAnalogpricecalendar-dateSoap"
                   binding="tns:ShoppingmallAnalogpricecalendar-dateSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ShoppingmallAnalogpricecalendar-date"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
