iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/shoppingmall_compacttaxedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/ShoppingmallCompacttaxedprice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ShoppingmallCompacttaxedprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ShoppingmallCompacttaxedprice"
                  targetNamespace="http://127.0.0.1/wsdl/ShoppingmallCompacttaxedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 15:20:43 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ShoppingmallCompacttaxedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#ShoppingMall"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#Compact"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
            </xsd:annotation>
            <xsd:element name="TaxedPrice" type="TaxedPriceType"/>
            <xsd:element name="Compact" type="CompactType"/>
            <xsd:element name="ShoppingMall" type="ShoppingMallType"/>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CompactType">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ShoppingMallType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COMPACT_TAXEDPRICEResponse">
        <wsdl:part name="_COMPACT" type="tns:CompactType">
        </wsdl:part>
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_COMPACT_TAXEDPRICERequest">
        <wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShoppingmallCompacttaxedpriceSoap">
        <wsdl:operation name="get_COMPACT_TAXEDPRICE">
            <wsdl:input message="tns:get_COMPACT_TAXEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COMPACT_TAXEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingmallCompacttaxedpriceSoapBinding" type="ShoppingmallCompacttaxedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COMPACT_TAXEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallCompacttaxedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallCompacttaxedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShoppingmallCompacttaxedpriceService">
        <wsdl:port name="ShoppingmallCompacttaxedpriceSoap" binding="ShoppingmallCompacttaxedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ShoppingmallCompacttaxedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
