iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/ShoppingmallMaxpricedigital-video.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ShoppingmallMaxpricedigital-video"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ShoppingmallMaxpricedigital-video"
                  targetNamespace="http://127.0.0.1/wsdl/ShoppingmallMaxpricedigital-video">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 12 17:07:57 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ShoppingmallMaxpricedigital-video"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#ShoppingMall"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#MaxPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/extendedCamera.owl#Digital-Video"/>
            </xsd:annotation>
            <xsd:element name="Digital-Video" type="tns:Digital-VideoType"/>
            <xsd:element name="MaxPrice" type="tns:MaxPriceType"/>
            <xsd:element name="ShoppingMall" type="tns:ShoppingMallType"/>
            <xsd:simpleType name="MaxPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Digital-VideoType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ShoppingMallType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_MAXPRICE_DIGITAL-VIDEORequest">
        <wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_MAXPRICE_DIGITAL-VIDEOResponse">
        <wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
        </wsdl:part>
        <wsdl:part name="_DIGITAL-VIDEO" type="tns:Digital-VideoType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShoppingmallMaxpricedigital-videoSoap">
        <wsdl:operation name="get_MAXPRICE_DIGITAL-VIDEO">
            <wsdl:input message="tns:get_MAXPRICE_DIGITAL-VIDEORequest">
            </wsdl:input>
            <wsdl:output message="tns:get_MAXPRICE_DIGITAL-VIDEOResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingmallMaxpricedigital-videoSoapBinding" type="tns:ShoppingmallMaxpricedigital-videoSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_MAXPRICE_DIGITAL-VIDEO">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallMaxpricedigital-video"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallMaxpricedigital-video"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShoppingmallMaxpricedigital-videoService">
        <wsdl:port name="ShoppingmallMaxpricedigital-videoSoap"
                   binding="tns:ShoppingmallMaxpricedigital-videoSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ShoppingmallMaxpricedigital-video"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
