iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/shoppingmall_pricecellphonewithcamera_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/ShoppingmallPricecellphonewithcamera"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/ShoppingmallPricecellphonewithcamera"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ShoppingmallPricecellphonewithcamera"
                  targetNamespace="http://127.0.0.1/wsdl/ShoppingmallPricecellphonewithcamera">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 15:33:56 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/ShoppingmallPricecellphonewithcamera"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/Mid-level-ontology.owl#ShoppingMall"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/extendedCamera.owl#CellPhoneWithCamera"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="CellPhoneWithCamera" type="CellPhoneWithCameraType"/>
            <xsd:element name="ShoppingMall" type="ShoppingMallType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Range">
                <xsd:sequence>
                    <xsd:element name="steps" type="xsd:string"/>
                    <xsd:element name="min" type="xsd:float"/>
                    <xsd:element name="max" type="xsd:float"/>
                    <xsd:element name="units" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Body">
                <xsd:sequence>
                    <xsd:element name="shutter-speed" type="Range"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CellPhoneWithCameraType">
                <xsd:sequence>
                    <xsd:element name="hasPart" type="CellPhoneCamera"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CellPhoneCamera">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="hasBody" type="Body"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ShoppingMallType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICE_CELLPHONEWITHCAMERARequest">
        <wsdl:part name="_SHOPPINGMALL" type="tns:ShoppingMallType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICE_CELLPHONEWITHCAMERAResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_CELLPHONEWITHCAMERA" type="tns:CellPhoneWithCameraType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShoppingmallPricecellphonewithcameraSoap">
        <wsdl:operation name="get_PRICE_CELLPHONEWITHCAMERA">
            <wsdl:input message="tns:get_PRICE_CELLPHONEWITHCAMERARequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICE_CELLPHONEWITHCAMERAResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingmallPricecellphonewithcameraSoapBinding"
                  type="ShoppingmallPricecellphonewithcameraSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE_CELLPHONEWITHCAMERA">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallPricecellphonewithcamera"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/ShoppingmallPricecellphonewithcamera"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShoppingmallPricecellphonewithcameraService">
        <wsdl:port name="ShoppingmallPricecellphonewithcameraSoap"
                   binding="ShoppingmallPricecellphonewithcameraSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/ShoppingmallPricecellphonewithcamera"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
