iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/short-story_authormaxprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Short-storyAuthormaxprice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Short-storyAuthormaxprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Short-storyAuthormaxprice" targetNamespace="http://127.0.0.1/wsdl/Short-storyAuthormaxprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 15:28:35 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Short-storyAuthormaxprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Short-Story"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Author"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#MaxPrice"/>
            </xsd:annotation>
            <xsd:element name="Author" type="AuthorType"/>
            <xsd:element name="Short-Story" type="Short-StoryType"/>
            <xsd:element name="MaxPrice" type="MaxPriceType"/>
            <xsd:complexType name="Short-StoryType">
                <xsd:sequence>
                    <xsd:element name="hasSize" type="Small"/>
                    <xsd:element name="hasType" type="Paper-Back"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Small">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Paper-Back">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="MaxPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="AuthorType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_AUTHOR_MAXPRICEResponse">
        <wsdl:part name="_AUTHOR" type="tns:AuthorType">
        </wsdl:part>
        <wsdl:part name="_MAXPRICE" type="tns:MaxPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_AUTHOR_MAXPRICERequest">
        <wsdl:part name="_SHORT-STORY" type="tns:Short-StoryType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Short-storyAuthormaxpriceSoap">
        <wsdl:operation name="get_AUTHOR_MAXPRICE">
            <wsdl:input message="tns:get_AUTHOR_MAXPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_AUTHOR_MAXPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Short-storyAuthormaxpriceSoapBinding" type="Short-storyAuthormaxpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_AUTHOR_MAXPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Short-storyAuthormaxprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Short-storyAuthormaxprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Short-storyAuthormaxpriceService">
        <wsdl:port name="Short-storyAuthormaxpriceSoap" binding="Short-storyAuthormaxpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Short-storyAuthormaxprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
