iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/surfingorganization_city_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/SurfingorganizationCity" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/SurfingorganizationCity" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="SurfingorganizationCity" targetNamespace="http://127.0.0.1/wsdl/SurfingorganizationCity">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Jun 06 22:41:23 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/SurfingorganizationCity"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Organization"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/travel.owl#Surfing"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/travel.owl#City"/>
            </xsd:annotation>
            <xsd:element name="Organization" type="OrganizationType"/>
            <xsd:element name="City" type="CityType"/>
            <xsd:element name="Surfing" type="SurfingType"/>
            <xsd:complexType name="LuxuryHotel">
                <xsd:choice>
                    <xsd:element name="luxuryHotelID" type="LuxuryHotelDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="hasRating" type="LuxuryHotelAccommodationRating"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="OrganizationType">
                <xsd:sequence>
                    <xsd:element name="has-size" type="OrganizationOrganization-Size"/>
                    <xsd:element name="organization-part-of" type="OrganizationType"/>
                    <xsd:element name="has-sub-unit" type="Organization-Unit"/>
                    <xsd:element name="affiliated-person" type="Affiliated-Person"/>
                    <xsd:element name="headed-by" type="Affiliated-Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccommodationRating">
                <xsd:choice>
                    <xsd:element name="accommodationRatingID" type="AccommodationRatingDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="CityType">
                <xsd:choice>
                    <xsd:element name="cityID" type="CityDATA"/>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element name="hasAccommodation" type="LuxuryHotel"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="Affiliated-Person">
                <xsd:sequence>
                    <xsd:element name="has-affiliation" type="OrganizationType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LuxuryHotelAccommodationRating">
                <xsd:complexContent>
                    <xsd:restriction base="AccommodationRating">
                        <xsd:choice>
                            <xsd:element name="accommodationRatingID" type="LuxuryHotelAccommodationRatingDATA"/>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:simpleType name="LuxuryHotelAccommodationRatingDATA">
                <xsd:restriction base="AccommodationRatingDATA">
                    <xsd:enumeration value="ThreeStarRating"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LuxuryHotelDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FourSeasons"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="OrganizationOrganization-Size">
                <xsd:restriction base="Organization-Size">
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AccommodationRatingDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="TwoStarRating"/>
                    <xsd:enumeration value="OneStarRating"/>
                    <xsd:enumeration value="ThreeStarRating"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CityDATA">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Cairns"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Size">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="medium-size"/>
                    <xsd:enumeration value="small-size"/>
                    <xsd:enumeration value="micro-size"/>
                    <xsd:enumeration value="large-size"/>
                    <xsd:enumeration value="very-large-size"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SurfingType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Organization-Unit">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_CITYRequest">
        <wsdl:part name="_ORGANIZATION" type="tns:OrganizationType">
        </wsdl:part>
        <wsdl:part name="_SURFING" type="tns:SurfingType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_CITYResponse">
        <wsdl:part name="_CITY" type="tns:CityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SurfingorganizationCitySoap">
        <wsdl:operation name="get_CITY">
            <wsdl:input message="tns:get_CITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_CITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SurfingorganizationCitySoapBinding" type="SurfingorganizationCitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_CITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/SurfingorganizationCity"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/SurfingorganizationCity"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SurfingorganizationCityService">
        <wsdl:port name="SurfingorganizationCitySoap" binding="SurfingorganizationCitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/SurfingorganizationCity"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
