iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/TitleActionfilm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleActionfilm" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleActionfilm" targetNamespace="http://127.0.0.1/wsdl/TitleActionfilm">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sat Apr 25 16:10:42 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleActionfilm"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#ActionFilm"/>
            </xsd:annotation>
            <xsd:element name="ActionFilm" type="tns:ActionFilmType"/>
            <xsd:element name="Title" type="tns:TitleType"/>
            <xsd:simpleType name="ActionFilmType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_ACTIONFILMResponse">
        <wsdl:part name="_ACTIONFILM" type="tns:ActionFilmType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_ACTIONFILMRequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleActionfilmSoap">
        <wsdl:operation name="get_ACTIONFILM">
            <wsdl:input message="tns:get_ACTIONFILMRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_ACTIONFILMResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleActionfilmSoapBinding" type="tns:TitleActionfilmSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_ACTIONFILM">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleActionfilm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleActionfilm"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleActionfilmService">
        <wsdl:port name="TitleActionfilmSoap" binding="tns:TitleActionfilmSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleActionfilm"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
