iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/title_filmpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/TitleFilmpricequality" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleFilmpricequality" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleFilmpricequality" targetNamespace="http://127.0.0.1/wsdl/TitleFilmpricequality">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 19:38:54 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleFilmpricequality"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/my_ontology.owl#Film"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/finance_th_web.owl#quality"/>
            </xsd:annotation>
            <xsd:element name="Price" type="PriceType"/>
            <xsd:element name="Film" type="FilmType"/>
            <xsd:element name="Title" type="TitleType"/>
            <xsd:element name="quality" type="qualityType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FilmType">
                <xsd:sequence>
                    <xsd:element name="Title"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="qualityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_FILM_PRICE_QUALITYResponse">
        <wsdl:part name="_FILM" type="tns:FilmType">
        </wsdl:part>
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_QUALITY" type="tns:qualityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_FILM_PRICE_QUALITYRequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleFilmpricequalitySoap">
        <wsdl:operation name="get_FILM_PRICE_QUALITY">
            <wsdl:input message="tns:get_FILM_PRICE_QUALITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_FILM_PRICE_QUALITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleFilmpricequalitySoapBinding" type="TitleFilmpricequalitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_FILM_PRICE_QUALITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleFilmpricequality"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleFilmpricequality"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleFilmpricequalityService">
        <wsdl:port name="TitleFilmpricequalitySoap" binding="TitleFilmpricequalitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleFilmpricequality"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
