iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/title_videomediarecommendedprice_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/TitleVideomediarecommendedprice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleVideomediarecommendedprice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleVideomediarecommendedprice"
                  targetNamespace="http://127.0.0.1/wsdl/TitleVideomediarecommendedprice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 21:20:20 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleVideomediarecommendedprice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#VideoMedia"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPrice"/>
            </xsd:annotation>
            <xsd:element name="Title" type="TitleType"/>
            <xsd:element name="RecommendedPrice" type="RecommendedPriceType"/>
            <xsd:element name="VideoMedia" type="VideoMediaType"/>
            <xsd:simpleType name="RecommendedPriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="VideoMediaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_VIDEOMEDIA_RECOMMENDEDPRICERequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_VIDEOMEDIA_RECOMMENDEDPRICEResponse">
        <wsdl:part name="_VIDEOMEDIA" type="tns:VideoMediaType">
        </wsdl:part>
        <wsdl:part name="_RECOMMENDEDPRICE" type="tns:RecommendedPriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleVideomediarecommendedpriceSoap">
        <wsdl:operation name="get_VIDEOMEDIA_RECOMMENDEDPRICE">
            <wsdl:input message="tns:get_VIDEOMEDIA_RECOMMENDEDPRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_VIDEOMEDIA_RECOMMENDEDPRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleVideomediarecommendedpriceSoapBinding" type="TitleVideomediarecommendedpriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_VIDEOMEDIA_RECOMMENDEDPRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleVideomediarecommendedprice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleVideomediarecommendedprice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleVideomediarecommendedpriceService">
        <wsdl:port name="TitleVideomediarecommendedpriceSoap" binding="TitleVideomediarecommendedpriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleVideomediarecommendedprice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
