iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/TitleVhsdvd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleVhsdvd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleVhsdvd" targetNamespace="http://127.0.0.1/wsdl/TitleVhsdvd">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 12 17:11:25 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleVhsdvd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#VHS"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#DVD"/>
            </xsd:annotation>
            <xsd:element name="VHS" type="tns:VHSType"/>
            <xsd:element name="Title" type="tns:TitleType"/>
            <xsd:element name="DVD" type="tns:DVDType"/>
            <xsd:simpleType name="DVDType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="VHSType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_VHS_DVDRequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_VHS_DVDResponse">
        <wsdl:part name="_VHS" type="tns:VHSType">
        </wsdl:part>
        <wsdl:part name="_DVD" type="tns:DVDType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleVhsdvdSoap">
        <wsdl:operation name="get_VHS_DVD">
            <wsdl:input message="tns:get_VHS_DVDRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_VHS_DVDResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleVhsdvdSoapBinding" type="tns:TitleVhsdvdSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_VHS_DVD">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleVhsdvd"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleVhsdvd"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleVhsdvdService">
        <wsdl:port name="TitleVhsdvdSoap" binding="tns:TitleVhsdvdSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleVhsdvd"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
