iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/title_mediataxedpricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/TitleMediataxedpricequality"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleMediataxedpricequality"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleMediataxedpricequality"
                  targetNamespace="http://127.0.0.1/wsdl/TitleMediataxedpricequality">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 00:57:24 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleMediataxedpricequality"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#Media"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#TaxedPrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/finance_th_web.owl#quality"/>
            </xsd:annotation>
            <xsd:element name="TaxedPrice" type="TaxedPriceType"/>
            <xsd:element name="Media" type="MediaType"/>
            <xsd:element name="Title" type="TitleType"/>
            <xsd:element name="quality" type="qualityType"/>
            <xsd:complexType name="TaxedPriceType">
                <xsd:sequence>
                    <xsd:element name="Fine" type="Thing"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="MediaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Thing">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="qualityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_MEDIA_TAXEDPRICE_QUALITYResponse">
        <wsdl:part name="_MEDIA" type="tns:MediaType">
        </wsdl:part>
        <wsdl:part name="_TAXEDPRICE" type="tns:TaxedPriceType">
        </wsdl:part>
        <wsdl:part name="_QUALITY" type="tns:qualityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_MEDIA_TAXEDPRICE_QUALITYRequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleMediataxedpricequalitySoap">
        <wsdl:operation name="get_MEDIA_TAXEDPRICE_QUALITY">
            <wsdl:input message="tns:get_MEDIA_TAXEDPRICE_QUALITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_MEDIA_TAXEDPRICE_QUALITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleMediataxedpricequalitySoapBinding" type="TitleMediataxedpricequalitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_MEDIA_TAXEDPRICE_QUALITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleMediataxedpricequality"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleMediataxedpricequality"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleMediataxedpricequalityService">
        <wsdl:port name="TitleMediataxedpricequalitySoap" binding="TitleMediataxedpricequalitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleMediataxedpricequality"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
