iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/title_comedyfilm_Megaservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/TitleComedyfilm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleComedyfilm" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleComedyfilm" targetNamespace="http://127.0.0.1/wsdl/TitleComedyfilm">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue Jun 02 17:23:00 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleComedyfilm"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#ComedyFilm"/>
            </xsd:annotation>
            <xsd:element name="Title" type="TitleType"/>
            <xsd:element name="ComedyFilm" type="ComedyFilmType"/>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ComedyFilmType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_COMEDYFILMResponse">
        <wsdl:part name="_COMEDYFILM" type="tns:ComedyFilmType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_COMEDYFILMRequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleComedyfilmSoap">
        <wsdl:operation name="get_COMEDYFILM">
            <wsdl:input message="tns:get_COMEDYFILMRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_COMEDYFILMResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleComedyfilmSoapBinding" type="TitleComedyfilmSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_COMEDYFILM">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleComedyfilm"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleComedyfilm"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleComedyfilmService">
        <wsdl:port name="TitleComedyfilmSoap" binding="TitleComedyfilmSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleComedyfilm"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
