iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/title_videomediataxfreepricequality_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/TitleVideomediataxfreepricequality"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleVideomediataxfreepricequality"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleVideomediataxfreepricequality"
                  targetNamespace="http://127.0.0.1/wsdl/TitleVideomediataxfreepricequality">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 18:45:52 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleVideomediataxfreepricequality"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#VideoMedia"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#TaxFreePrice"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/finance_th_web.owl#quality"/>
            </xsd:annotation>
            <xsd:element name="Title" type="TitleType"/>
            <xsd:element name="TaxFreePrice" type="TaxFreePriceType"/>
            <xsd:element name="VideoMedia" type="VideoMediaType"/>
            <xsd:element name="quality" type="qualityType"/>
            <xsd:simpleType name="TaxFreePriceType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="qualityType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="VideoMediaType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_VIDEOMEDIA_TAXFREEPRICE_QUALITYResponse">
        <wsdl:part name="_VIDEOMEDIA" type="tns:VideoMediaType">
        </wsdl:part>
        <wsdl:part name="_TAXFREEPRICE" type="tns:TaxFreePriceType">
        </wsdl:part>
        <wsdl:part name="_QUALITY" type="tns:qualityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_VIDEOMEDIA_TAXFREEPRICE_QUALITYRequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleVideomediataxfreepricequalitySoap">
        <wsdl:operation name="get_VIDEOMEDIA_TAXFREEPRICE_QUALITY">
            <wsdl:input message="tns:get_VIDEOMEDIA_TAXFREEPRICE_QUALITYRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_VIDEOMEDIA_TAXFREEPRICE_QUALITYResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleVideomediataxfreepricequalitySoapBinding" type="TitleVideomediataxfreepricequalitySoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_VIDEOMEDIA_TAXFREEPRICE_QUALITY">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleVideomediataxfreepricequality"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleVideomediataxfreepricequality"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleVideomediataxfreepricequalityService">
        <wsdl:port name="TitleVideomediataxfreepricequalitySoap"
                   binding="TitleVideomediataxfreepricequalitySoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleVideomediataxfreepricequality"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
