iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/TitleCdpricesoftware.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/TitleCdpricesoftware" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="TitleCdpricesoftware" targetNamespace="http://127.0.0.1/wsdl/TitleCdpricesoftware">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Mon May 04 16:33:36 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/TitleCdpricesoftware"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/books.owl#Title"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#CD"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/univ-bench.owl#Software"/>
            </xsd:annotation>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="Title" type="tns:TitleType"/>
            <xsd:element name="Software" type="tns:SoftwareType"/>
            <xsd:element name="CD" type="tns:CDType"/>
            <xsd:complexType name="SoftwareType">
                <xsd:sequence>
                    <xsd:element name="softwareDocumentation" type="tns:Publication"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="CDType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Publication">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TitleType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_CD_PRICE_SOFTWARERequest">
        <wsdl:part name="_TITLE" type="tns:TitleType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_CD_PRICE_SOFTWAREResponse">
        <wsdl:part name="_CD" type="tns:CDType">
        </wsdl:part>
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
        <wsdl:part name="_SOFTWARE" type="tns:SoftwareType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TitleCdpricesoftwareSoap">
        <wsdl:operation name="get_CD_PRICE_SOFTWARE">
            <wsdl:input message="tns:get_CD_PRICE_SOFTWARERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_CD_PRICE_SOFTWAREResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TitleCdpricesoftwareSoapBinding" type="tns:TitleCdpricesoftwareSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_CD_PRICE_SOFTWARE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleCdpricesoftware"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/TitleCdpricesoftware"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TitleCdpricesoftwareService">
        <wsdl:port name="TitleCdpricesoftwareSoap" binding="tns:TitleCdpricesoftwareSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/TitleCdpricesoftware"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
