iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/Tizonbook_recommendedpriceindollar_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/BookRecommendedpriceindollar"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/BookRecommendedpriceindollar"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="BookRecommendedpriceindollar"
                  targetNamespace="http://127.0.0.1/wsdl/BookRecommendedpriceindollar">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 18:52:25 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/BookRecommendedpriceindollar"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/books.owl#Book"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/concept.owl#RecommendedPriceInDollar"/>
            </xsd:annotation>
            <xsd:element name="Book" type="BookType"/>
            <xsd:element name="RecommendedPriceInDollar" type="RecommendedPriceInDollarType"/>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element name="isTitled" type="Title"/>
                    <xsd:element name="hasType" type="Book-Type"/>
                    <xsd:element name="writtenBy" type="Author"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="RecommendedPriceInDollarType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Author">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Title">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Book-Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_RECOMMENDEDPRICEINDOLLARRequest">
        <wsdl:part name="_BOOK" type="tns:BookType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_RECOMMENDEDPRICEINDOLLARResponse">
        <wsdl:part name="_RECOMMENDEDPRICEINDOLLAR" type="tns:RecommendedPriceInDollarType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookRecommendedpriceindollarSoap">
        <wsdl:operation name="get_RECOMMENDEDPRICEINDOLLAR">
            <wsdl:input message="tns:get_RECOMMENDEDPRICEINDOLLARRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_RECOMMENDEDPRICEINDOLLARResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookRecommendedpriceindollarSoapBinding" type="BookRecommendedpriceindollarSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_RECOMMENDEDPRICEINDOLLAR">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookRecommendedpriceindollar"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/BookRecommendedpriceindollar"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookRecommendedpriceindollarService">
        <wsdl:port name="BookRecommendedpriceindollarSoap" binding="BookRecommendedpriceindollarSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/BookRecommendedpriceindollar"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
