iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/university_academic-support-staff_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/UniversityAcademic-support-staff"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/UniversityAcademic-support-staff"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="UniversityAcademic-support-staff"
                  targetNamespace="http://127.0.0.1/wsdl/UniversityAcademic-support-staff">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Sun Jun 07 19:10:41 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/UniversityAcademic-support-staff"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#University"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/portal.owl#Academic-Support-Staff"/>
            </xsd:annotation>
            <xsd:element name="Academic-Support-Staff" type="Academic-Support-StaffType"/>
            <xsd:element name="University" type="UniversityType"/>
            <xsd:complexType name="Academic-Support-StaffType">
                <xsd:sequence>
                    <xsd:element name="works-for" type="Higher-Educational-Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Educational-Employee">
                <xsd:sequence>
                    <xsd:element name="works-for" type="Educational-Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UniversityType">
                <xsd:sequence>
                    <xsd:element name="has-faculty" type="University-Faculty"/>
                    <xsd:element name="has-vice-chancellor" type="Educational-Employee"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Higher-Educational-Organization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="University-Faculty">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Educational-Organization">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_ACADEMIC-SUPPORT-STAFFRequest">
        <wsdl:part name="_UNIVERSITY" type="tns:UniversityType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_ACADEMIC-SUPPORT-STAFFResponse">
        <wsdl:part name="_ACADEMIC-SUPPORT-STAFF" type="tns:Academic-Support-StaffType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UniversityAcademic-support-staffSoap">
        <wsdl:operation name="get_ACADEMIC-SUPPORT-STAFF">
            <wsdl:input message="tns:get_ACADEMIC-SUPPORT-STAFFRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_ACADEMIC-SUPPORT-STAFFResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UniversityAcademic-support-staffSoapBinding" type="UniversityAcademic-support-staffSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_ACADEMIC-SUPPORT-STAFF">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/UniversityAcademic-support-staff"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/UniversityAcademic-support-staff"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UniversityAcademic-support-staffService">
        <wsdl:port name="UniversityAcademic-support-staffSoap" binding="UniversityAcademic-support-staffSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/UniversityAcademic-support-staff"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
