iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/UnsuccessfulDiagnosis_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://127.0.0.1/wsdl/Diagnosticprocessreasoning" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/Diagnosticprocessreasoning"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="Diagnosticprocessreasoning" targetNamespace="http://127.0.0.1/wsdl/Diagnosticprocessreasoning">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Tue May 26 17:09:43 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/Diagnosticprocessreasoning"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#DiagnosticProcess"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/SUMO.owl#Reasoning"/>
            </xsd:annotation>
            <xsd:element name="Reasoning" type="ReasoningType"/>
            <xsd:element name="DiagnosticProcess" type="DiagnosticProcessType"/>
            <xsd:simpleType name="DiagnosticProcessType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="ReasoningType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_DIAGNOSTICPROCESS_REASONINGResponse">
        <wsdl:part name="_DIAGNOSTICPROCESS" type="tns:DiagnosticProcessType">
        </wsdl:part>
        <wsdl:part name="_REASONING" type="tns:ReasoningType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_DIAGNOSTICPROCESS_REASONINGRequest">
    </wsdl:message>
    <wsdl:portType name="DiagnosticprocessreasoningSoap">
        <wsdl:operation name="get_DIAGNOSTICPROCESS_REASONING">
            <wsdl:input message="tns:get_DIAGNOSTICPROCESS_REASONINGRequest">
            </wsdl:input>
            <wsdl:output message="tns:get_DIAGNOSTICPROCESS_REASONINGResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DiagnosticprocessreasoningSoapBinding" type="DiagnosticprocessreasoningSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_DIAGNOSTICPROCESS_REASONING">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Diagnosticprocessreasoning"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/Diagnosticprocessreasoning"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DiagnosticprocessreasoningService">
        <wsdl:port name="DiagnosticprocessreasoningSoap" binding="DiagnosticprocessreasoningSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/Diagnosticprocessreasoning"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
