iserve-test-resources/src/main/resources/OWLS-TC3/htdocs/wsdl/WirelessplayerwmaplayerPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://127.0.0.1/wsdl/WirelessplayerwmaplayerPrice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="WirelessplayerwmaplayerPrice"
                  targetNamespace="http://127.0.0.1/wsdl/WirelessplayerwmaplayerPrice">
    <wsdl:types>
        <xsd:schema version="OWLS2WSDL Fri Apr 24 21:46:15 CEST 2009"
                    targetNamespace="http://127.0.0.1/wsdl/WirelessplayerwmaplayerPrice"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:annotation>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#WMAPlayer"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-SimpleType) of http://127.0.0.1/ontology/my_ontology.owl#WirelessPlayer"/>
                <xsd:documentation
                        source="Translation (OWL2XSD-ComplexType) of http://127.0.0.1/ontology/concept.owl#Price"/>
            </xsd:annotation>
            <xsd:element name="Price" type="tns:PriceType"/>
            <xsd:element name="WirelessPlayer" type="tns:WirelessPlayerType"/>
            <xsd:element name="WMAPlayer" type="tns:WMAPlayerType"/>
            <xsd:complexType name="PriceType">
                <xsd:sequence>
                    <xsd:element name="currency" type="tns:Currency"/>
                    <xsd:element name="amount" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="WMAPlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="Currency">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="WirelessPlayerType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="get_PRICERequest">
        <wsdl:part name="_WMAPLAYER" type="tns:WMAPlayerType">
        </wsdl:part>
        <wsdl:part name="_WIRELESSPLAYER" type="tns:WirelessPlayerType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_PRICEResponse">
        <wsdl:part name="_PRICE" type="tns:PriceType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WirelessplayerwmaplayerPriceSoap">
        <wsdl:operation name="get_PRICE">
            <wsdl:input message="tns:get_PRICERequest">
            </wsdl:input>
            <wsdl:output message="tns:get_PRICEResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WirelessplayerwmaplayerPriceSoapBinding" type="tns:WirelessplayerwmaplayerPriceSoap">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_PRICE">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/WirelessplayerwmaplayerPrice"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://127.0.0.1/wsdl/WirelessplayerwmaplayerPrice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WirelessplayerwmaplayerPriceService">
        <wsdl:port name="WirelessplayerwmaplayerPriceSoap" binding="tns:WirelessplayerwmaplayerPriceSoapBinding">
            <wsdlsoap:address location="http://127.0.0.1/wsdl/WirelessplayerwmaplayerPrice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
