iserve-test-resources/src/main/resources/jgd-services/5742_6801_DOTSGeoCoder_GetGeoLocationWorldwide_by_serviceobjects.net.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.serviceobjects.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  targetNamespace="http://www.serviceobjects.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">

            <s:complexType name="Err">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
                </s:sequence>
            </s:complexType>

            <s:element name="GetGeoLocationWorldwide"
                       sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>

                        <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="GetGeoLocationWorldwideResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetGeoLocationWorldwideResult"
                                   type="tns:ArrayOfGeocodeCityWorldwideInfo"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:complexType name="ArrayOfGeocodeCityWorldwideInfo">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="GeocodeCityWorldwideInfo" nillable="true"
                               type="tns:GeocodeCityWorldwideInfo"/>
                </s:sequence>
            </s:complexType>

            <s:complexType name="GeocodeCityWorldwideInfo"
                           sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://proton.semanticweb.org/2005/04/protonu#City">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
                </s:sequence>
            </s:complexType>

            <s:element name="ArrayOfGeocodeCityWorldwideInfo" nillable="true"
                       type="tns:ArrayOfGeocodeCityWorldwideInfo"/>

        </s:schema>
    </wsdl:types>

    <wsdl:message name="GetGeoLocationWorldwideSoapIn">
        <wsdl:part name="parameters" element="tns:GetGeoLocationWorldwide"/>
    </wsdl:message>

    <wsdl:message name="GetGeoLocationWorldwideSoapOut">
        <wsdl:part name="parameters" element="tns:GetGeoLocationWorldwideResponse"/>
    </wsdl:message>

    <wsdl:message name="GetGeoLocationWorldwideHttpGetIn"
                  sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
        <wsdl:part name="City" type="s:string"/>
        <wsdl:part name="Region" type="s:string"/>
        <wsdl:part name="Country" type="s:string"/>
        <wsdl:part name="LicenseKey" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="GetGeoLocationWorldwideHttpGetOut">
        <wsdl:part name="Body" element="tns:ArrayOfGeocodeCityWorldwideInfo"/>
    </wsdl:message>

    <wsdl:message name="GetGeoLocationWorldwideHttpPostIn"
                  sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
        <wsdl:part name="City" type="s:string"/>
        <wsdl:part name="Region" type="s:string"/>
        <wsdl:part name="Country" type="s:string"/>
        <wsdl:part name="LicenseKey" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="GetGeoLocationWorldwideHttpPostOut">
        <wsdl:part name="Body" element="tns:ArrayOfGeocodeCityWorldwideInfo"/>
    </wsdl:message>

    <wsdl:portType name="DOTSGeoCoderSoap">
        <wsdl:operation name="GetGeoLocationWorldwide"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Lat Lon information for a given worldwide
                city. Multiple matches can be filtered by country or region(state, province etc.)
            </documentation>
            <wsdl:input message="tns:GetGeoLocationWorldwideSoapIn"/>
            <wsdl:output message="tns:GetGeoLocationWorldwideSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="DOTSGeoCoderHttpGet">
        <wsdl:operation name="GetGeoLocationWorldwide"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Lat Lon information for a given worldwide
                city. Multiple matches can be filtered by country or region(state, province etc.)
            </documentation>
            <wsdl:input message="tns:GetGeoLocationWorldwideHttpGetIn"/>
            <wsdl:output message="tns:GetGeoLocationWorldwideHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="DOTSGeoCoderHttpPost">
        <wsdl:operation name="GetGeoLocationWorldwide"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Lat Lon information for a given worldwide
                city. Multiple matches can be filtered by country or region(state, province etc.)
            </documentation>
            <wsdl:input message="tns:GetGeoLocationWorldwideHttpPostIn"/>
            <wsdl:output message="tns:GetGeoLocationWorldwideHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DOTSGeoCoderSoap" type="tns:DOTSGeoCoderSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="GetGeoLocationWorldwide">
            <soap:operation soapAction="http://www.serviceobjects.com/GetGeoLocationWorldwide" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="DOTSGeoCoderHttpGet" type="tns:DOTSGeoCoderHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="GetGeoLocationWorldwide">
            <http:operation location="/GetGeoLocationWorldwide"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="DOTSGeoCoderHttpPost" type="tns:DOTSGeoCoderHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="GetGeoLocationWorldwide">
            <http:operation location="/GetGeoLocationWorldwide"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
                  name="DOTSGeoCoder">
        <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at
            <a href='http://www.serviceobjects.com/products/default.asp' target='new'>our website</a>
            <br/>
            <br/>
            <a href='http://www.serviceobjects.com' target='new'>
                <img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/>
            </a>
        </documentation>
        <wsdl:port name="DOTSGeoCoderSoap" binding="tns:DOTSGeoCoderSoap">
            <soap:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx"/>
        </wsdl:port>
        <wsdl:port name="DOTSGeoCoderHttpGet" binding="tns:DOTSGeoCoderHttpGet">
            <http:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx"/>
        </wsdl:port>
        <wsdl:port name="DOTSGeoCoderHttpPost" binding="tns:DOTSGeoCoderHttpPost">
            <http:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
