iserve-test-resources/src/main/resources/jgd-services/5766_6808_GeoPlaces_GetDistanceBetweenPlaces_by_CodeBump.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://skats.net/services/"
                  xmlns:s1="http://skats.net/services/literalTypes" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://skats.net/services/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GeoPlaces
        uk.ac.open.kmi.iserve.commons.model.Service is the evolution of ZipCode Lookup service. It enhances ZipCode
        Lookup by adding support for city names. Now you can find near by zip codes and cities, find distance between
        zip codes and cities, get coordinates of zip codes and cities. Place's coordinates are determined using an
        approximate center point of the shape.
    </wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://skats.net/services/">
            <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>

            <s:complexType name="AuthenticationHeader">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SessionID" type="s:string"/>
                </s:sequence>
            </s:complexType>

        </s:schema>

        <s:schema elementFormDefault="qualified" targetNamespace="http://skats.net/services/literalTypes">

            <s:element name="float" type="s:float"/>

        </s:schema>
    </wsdl:types>

    <wsdl:message name="GetDistanceBetweenPlacesSoapIn">
        <wsdl:part name="place1" type="s:string"
                   sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location"/>
        <wsdl:part name="state1" type="s:string"/>
        <wsdl:part name="place2" type="s:string"/>
        <wsdl:part name="state2" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="GetDistanceBetweenPlacesSoapOut">
        <wsdl:part name="GetDistanceBetweenPlacesResult" type="s:float"
                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance"/>
    </wsdl:message>

    <wsdl:message name="GetDistanceBetweenPlacesAuthenticationHeader">
        <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
    </wsdl:message>

    <wsdl:message name="GetDistanceBetweenPlacesHttpGetIn">
        <wsdl:part name="place1" type="s:string"
                   sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location"/>
        <wsdl:part name="state1" type="s:string"/>
        <wsdl:part name="place2" type="s:string"/>
        <wsdl:part name="state2" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="GetDistanceBetweenPlacesHttpGetOut">
        <wsdl:part name="Body" element="s1:float"
                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance"/>
    </wsdl:message>

    <wsdl:message name="GetDistanceBetweenPlacesHttpPostIn">
        <wsdl:part name="place1" type="s:string"
                   sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location"/>
        <wsdl:part name="state1" type="s:string"/>
        <wsdl:part name="place2" type="s:string"/>
        <wsdl:part name="state2" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="GetDistanceBetweenPlacesHttpPostOut">
        <wsdl:part name="Body" element="s1:float"
                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance"/>
    </wsdl:message>

    <wsdl:portType name="GeoPlacesSoap">
        <wsdl:operation name="GetDistanceBetweenPlaces"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a distance in miles between two
                geo places. Parameters: place1 - place name (65 char max), state1 - 2 letter state code (not required
                for zip codes), place2 - place name (65 char max), state2 - 2 letter state code (not required for zip
                codes).
            </wsdl:documentation>
            <wsdl:input message="tns:GetDistanceBetweenPlacesSoapIn"/>
            <wsdl:output message="tns:GetDistanceBetweenPlacesSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="GeoPlacesHttpGet">
        <wsdl:operation name="GetDistanceBetweenPlaces"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a distance in miles between two
                geo places. Parameters: place1 - place name (65 char max), state1 - 2 letter state code (not required
                for zip codes), place2 - place name (65 char max), state2 - 2 letter state code (not required for zip
                codes).
            </wsdl:documentation>
            <wsdl:input message="tns:GetDistanceBetweenPlacesHttpGetIn"/>
            <wsdl:output message="tns:GetDistanceBetweenPlacesHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="GeoPlacesHttpPost">
        <wsdl:operation name="GetDistanceBetweenPlaces"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a distance in miles between two
                geo places. Parameters: place1 - place name (65 char max), state1 - 2 letter state code (not required
                for zip codes), place2 - place name (65 char max), state2 - 2 letter state code (not required for zip
                codes).
            </wsdl:documentation>
            <wsdl:input message="tns:GetDistanceBetweenPlacesHttpPostIn"/>
            <wsdl:output message="tns:GetDistanceBetweenPlacesHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GeoPlacesSoap" type="tns:GeoPlacesSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <wsdl:operation name="GetDistanceBetweenPlaces">
            <soap:operation soapAction="http://skats.net/services/GetDistanceBetweenPlaces" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="http://skats.net/services/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                <soap:header message="tns:GetDistanceBetweenPlacesAuthenticationHeader" part="AuthenticationHeader"
                             use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://skats.net/services/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="http://skats.net/services/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="GeoPlacesSoap12" type="tns:GeoPlacesSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <wsdl:operation name="GetDistanceBetweenPlaces">
            <soap12:operation soapAction="http://skats.net/services/GetDistanceBetweenPlaces" style="rpc"/>
            <wsdl:input>
                <soap12:body use="encoded" namespace="http://skats.net/services/"
                             encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
                <soap12:header message="tns:GetDistanceBetweenPlacesAuthenticationHeader" part="AuthenticationHeader"
                               use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding"
                               namespace="http://skats.net/services/"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="encoded" namespace="http://skats.net/services/"
                             encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="GeoPlacesHttpGet" type="tns:GeoPlacesHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="GetDistanceBetweenPlaces">
            <http:operation location="/GetDistanceBetweenPlaces"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="GeoPlacesHttpPost" type="tns:GeoPlacesHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="GetDistanceBetweenPlaces">
            <http:operation location="/GetDistanceBetweenPlaces"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationDistanceLookup"
                  name="GeoPlaces">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GeoPlaces
            uk.ac.open.kmi.iserve.commons.model.Service is the evolution of ZipCode Lookup service. It enhances ZipCode
            Lookup by adding support for city names. Now you can find near by zip codes and cities, find distance
            between zip codes and cities, get coordinates of zip codes and cities. Place's coordinates are determined
            using an approximate center point of the shape.
        </wsdl:documentation>
        <wsdl:port name="GeoPlacesSoap" binding="tns:GeoPlacesSoap">
            <soap:address location="http://codebump.com/services/placelookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="GeoPlacesSoap12" binding="tns:GeoPlacesSoap12">
            <soap12:address location="http://codebump.com/services/placelookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="GeoPlacesHttpGet" binding="tns:GeoPlacesHttpGet">
            <http:address location="http://codebump.com/services/placelookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="GeoPlacesHttpPost" binding="tns:GeoPlacesHttpPost">
            <http:address location="http://codebump.com/services/placelookup.asmx"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
