iserve-test-resources/src/main/resources/jgd-services/5768_6807_GeoCodeService_geocode_address_by_geocoder.us.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<definitions name="GeoCoder"
             xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://rpc.geocoder.us/Geo/Coder/US/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/"
                    elementFormDefault="unqualified">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:complexType name="ArrayOfGeocoderAddressResult">
                <complexContent>
                    <restriction base="SOAP-ENC:Array">
                        <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:GeocoderAddressResult[]"/>
                    </restriction>
                </complexContent>
            </xsd:complexType>
            <xsd:complexType name="GeocoderAddressResult">
                <xsd:all>
                    <xsd:element name="number" type="xsd:int"/>
                    <xsd:element name="zip" type="xsd:int"/>
                    <xsd:element name="suffix" type="xsd:string"/>
                    <xsd:element name="prefix" type="xsd:string"/>
                    <xsd:element name="type" type="xsd:string"/>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="lat" type="xsd:float"/>
                    <xsd:element name="long" type="xsd:float"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="geocodeAddressRequest">
        <part name="address" type="xsd:string"
              sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    </message>

    <message name="geocodeAddressResponse">
        <part name="results" type="tns:ArrayOfGeocoderAddressResult"
              sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress"/>
    </message>

    <portType name="GeoCode_PortType">
        <operation name="geocode_address" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <input message="tns:geocodeAddressRequest"/>
            <output message="tns:geocodeAddressResponse"/>
        </operation>
    </portType>

    <binding name="GeoCode_Binding" type="tns:GeoCode_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="geocode_address">
            <soap:operation style="rpc" soapAction="http://rpc.geocoder.us/Geo/Coder/US#geocode_address"/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://rpc.geocoder.us/Geo/Coder/US/"
                           use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://rpc.geocoder.us/Geo/Coder/US/"
                           use="encoded"/>
            </output>
        </operation>
    </binding>

    <service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
             name="GeoCode_Service">
        <documentation>WSDL File for Geo Coder - Written by Scott Gunn (scott_gunn*AT*email.com) Modified by Douglass
            Davis
        </documentation>
        <port binding="tns:GeoCode_Binding" name="GeoCode_Port">
            <soap:address location="http://rpc.geocoder.us/service/soap/"/>
        </port>
    </service>
</definitions>
