iserve-test-resources/src/main/resources/jgd-services/5810_6793_AddressLookup_CityStateToZipCodeMatcher_by_cdyne.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws.cdyne.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service corrects U.S. addresses, provides
        geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip codes
        (and Canadian Postal Codes) to city and state names. We also offer PMSA, CMSA, and various other codes.
        <b>BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.</b>
    </wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">

            <s:complexType name="ArrayOfAnyType">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
                </s:sequence>
            </s:complexType>

            <s:element name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType"/>

        </s:schema>

    </wsdl:types>

    <wsdl:message name="CityStateToZipCodeMatcherSoapIn">
        <wsdl:part name="parameters" element="tns:CityStateToZipCodeMatcher"
                   sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#City http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    </wsdl:message>

    <wsdl:message name="CityStateToZipCodeMatcherSoapOut">
        <wsdl:part name="parameters" element="tns:CityStateToZipCodeMatcherResponse"
                   sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PostalCodeArea"/>
    </wsdl:message>

    <wsdl:message name="CityStateToZipCodeMatcherHttpGetIn">
        <wsdl:part name="City" type="s:string"
                   sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#City http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
        <wsdl:part name="StateAbbrev" type="s:string"/>
        <wsdl:part name="IgnoreBadCitySpelling" type="s:string"/>
        <wsdl:part name="LicenseKey" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="CityStateToZipCodeMatcherHttpGetOut">
        <wsdl:part name="Body" element="tns:ArrayOfAnyType"
                   sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PostalCodeArea"/>
    </wsdl:message>

    <wsdl:message name="CityStateToZipCodeMatcherHttpPostIn">
        <wsdl:part name="City" type="s:string"
                   sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#City http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
        <wsdl:part name="StateAbbrev" type="s:string"/>
        <wsdl:part name="IgnoreBadCitySpelling" type="s:string"/>
        <wsdl:part name="LicenseKey" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="CityStateToZipCodeMatcherHttpPostOut">
        <wsdl:part name="Body" element="tns:ArrayOfAnyType"
                   sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PostalCodeArea"/>
    </wsdl:message>


    <wsdl:portType name="AddressLookupSoap">
        <wsdl:operation name="CityStateToZipCodeMatcher"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all possible zipcodes for a
                city/state combination.<b>For this function to work you must put true or false in
                    IgnoreBadCitySpelling</b>. That flag will allow you to have cities zipcodes that have the city name
                spelled incorrectly. This function is far more accurate with that flag set to false. Use a licensekey of
                0 for testing.
            </wsdl:documentation>
            <wsdl:input message="tns:CityStateToZipCodeMatcherSoapIn"/>
            <wsdl:output message="tns:CityStateToZipCodeMatcherSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="AddressLookupHttpGet">
        <wsdl:operation name="CityStateToZipCodeMatcher"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all possible zipcodes for a
                city/state combination.<b>For this function to work you must put true or false in
                    IgnoreBadCitySpelling</b>. That flag will allow you to have cities zipcodes that have the city name
                spelled incorrectly. This function is far more accurate with that flag set to false. Use a licensekey of
                0 for testing.
            </wsdl:documentation>
            <wsdl:input message="tns:CityStateToZipCodeMatcherHttpGetIn"/>
            <wsdl:output message="tns:CityStateToZipCodeMatcherHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="AddressLookupHttpPost">
        <wsdl:operation name="CityStateToZipCodeMatcher"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all possible zipcodes for a
                city/state combination.<b>For this function to work you must put true or false in
                    IgnoreBadCitySpelling</b>. That flag will allow you to have cities zipcodes that have the city name
                spelled incorrectly. This function is far more accurate with that flag set to false. Use a licensekey of
                0 for testing.
            </wsdl:documentation>
            <wsdl:input message="tns:CityStateToZipCodeMatcherHttpPostIn"/>
            <wsdl:output message="tns:CityStateToZipCodeMatcherHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AddressLookupSoap" type="tns:AddressLookupSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CityStateToZipCodeMatcher">
            <soap:operation soapAction="http://ws.cdyne.com/CityStateToZipCodeMatcher" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="AddressLookupSoap12" type="tns:AddressLookupSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CityStateToZipCodeMatcher">
            <soap12:operation soapAction="http://ws.cdyne.com/CityStateToZipCodeMatcher" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="AddressLookupHttpGet" type="tns:AddressLookupHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="CityStateToZipCodeMatcher">
            <http:operation location="/CityStateToZipCodeMatcher"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="AddressLookupHttpPost" type="tns:AddressLookupHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="CityStateToZipCodeMatcher">
            <http:operation location="/CityStateToZipCodeMatcher"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
                  name="AddressLookup">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service corrects U.S. addresses, provides
            geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip
            codes (and Canadian Postal Codes) to city and state names. We also offer PMSA, CMSA, and various other
            codes.
            <b>BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.</b>
        </wsdl:documentation>

        <wsdl:port name="AddressLookupSoap" binding="tns:AddressLookupSoap">
            <soap:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="AddressLookupSoap12" binding="tns:AddressLookupSoap12">
            <soap12:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="AddressLookupHttpGet" binding="tns:AddressLookupHttpGet">
            <http:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>

        <wsdl:port name="AddressLookupHttpPost" binding="tns:AddressLookupHttpPost">
            <http:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
