iserve-test-resources/src/main/resources/jgd-services/5812_6794_AddressLookup_ReturnCityState_by_cdyne.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws.cdyne.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service corrects U.S. addresses, provides
        geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip codes
        (and Canadian Postal Codes) to city and state names. We also offer PMSA, CMSA, and various other codes.
        <b>BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.</b>
    </wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">

            <s:complexType name="Address"
                           sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress http://proton.semanticweb.org/2005/04/protont#Location http://fusion.cs.uni-jena.de/geographydataset.owl#RectangularGeographicArea http://proton.semanticweb.org/2005/04/protonu#TimeZone http://fusion.cs.uni-jena.de/geographydataset.owl#PhoneCode">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ServiceError" type="s:boolean"/>
                    <s:element minOccurs="1" maxOccurs="1" name="AddressError" type="s:boolean"/>

                    <s:element minOccurs="1" maxOccurs="1" name="AddressFoundBeMoreSpecific" type="s:boolean"/>
                    <s:element minOccurs="1" maxOccurs="1" name="CheckDigit" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="NeededCorrection" type="s:boolean"/>
                    <s:element minOccurs="1" maxOccurs="1" name="FromLongitude" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="FromLatitude" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ToLongitude" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ToLatitude" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="AvgLongitude" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="AvgLatitude" type="s:decimal"/>

                    <s:element minOccurs="1" maxOccurs="1" name="hasDaylightSavings" type="s:boolean"/>
                    <s:element minOccurs="1" maxOccurs="1" name="LLCertainty" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="CountyNum" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddress" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddress2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PrimaryLow" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PrimaryHigh" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PriEO" type="s:string"/>

                    <s:element minOccurs="0" maxOccurs="1" name="SecEO" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="SecondaryLow" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="SecondaryHigh" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Secondary" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Extra" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string"/>

                    <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DeliveryPoint" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CSKey" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="UpdateKey" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="RecordTypeCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CongressDistrictNumber" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="FIPS" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="FinanceNumber" type="s:string"/>

                    <s:element minOccurs="0" maxOccurs="1" name="CMSA" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PMSA" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="MSA" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="MA" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PreferredCityName" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CensusBlockNum" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CensusTractNum" type="s:string"/>

                    <s:element minOccurs="0" maxOccurs="1" name="Primary" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PrefixDirection" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PostDirection" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="SecondaryNumber" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="StateLegislativeUpper" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="StateLegislativeLower" type="s:string"/>
                </s:sequence>

            </s:complexType>

            <s:element name="ReturnCityState">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string"
                                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#PostalCode"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="ReturnCityStateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ReturnCityStateResult" type="tns:Address"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="Address" nillable="true" type="tns:Address"/>
        </s:schema>

    </wsdl:types>

    <wsdl:message name="ReturnCityStateSoapIn">
        <wsdl:part name="parameters" element="tns:ReturnCityState"/>
    </wsdl:message>

    <wsdl:message name="ReturnCityStateSoapOut">
        <wsdl:part name="parameters" element="tns:ReturnCityStateResponse"/>
    </wsdl:message>

    <wsdl:message name="ReturnCityStateHttpGetIn">
        <wsdl:part name="zipcode" type="s:string"
                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#PostalCode"/>
        <wsdl:part name="LicenseKey" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="ReturnCityStateHttpGetOut">
        <wsdl:part name="Body" element="tns:Address"/>
    </wsdl:message>

    <wsdl:message name="ReturnCityStateHttpPostIn">
        <wsdl:part name="zipcode" type="s:string"
                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#PostalCode"/>
        <wsdl:part name="LicenseKey" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="ReturnCityStateHttpPostOut">
        <wsdl:part name="Body" element="tns:Address"/>
    </wsdl:message>

    <wsdl:portType name="AddressLookupSoap">
        <wsdl:operation name="ReturnCityState"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks a zipcode and returns City, State,
                Lat, Long and more. The latitude and longitude will be more precise with a plus 4. We have added
                Canadian Postal Codes to this mix. This is the only function that will pull Canadian Geo and City
                information.
            </wsdl:documentation>
            <wsdl:input message="tns:ReturnCityStateSoapIn"/>
            <wsdl:output message="tns:ReturnCityStateSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="AddressLookupHttpGet">
        <wsdl:operation name="ReturnCityState"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks a zipcode and returns City, State,
                Lat, Long and more. The latitude and longitude will be more precise with a plus 4. We have added
                Canadian Postal Codes to this mix. This is the only function that will pull Canadian Geo and City
                information.
            </wsdl:documentation>
            <wsdl:input message="tns:ReturnCityStateHttpGetIn"/>
            <wsdl:output message="tns:ReturnCityStateHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="AddressLookupHttpPost">
        <wsdl:operation name="ReturnCityState"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks a zipcode and returns City, State,
                Lat, Long and more. The latitude and longitude will be more precise with a plus 4. We have added
                Canadian Postal Codes to this mix. This is the only function that will pull Canadian Geo and City
                information.
            </wsdl:documentation>
            <wsdl:input message="tns:ReturnCityStateHttpPostIn"/>
            <wsdl:output message="tns:ReturnCityStateHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AddressLookupSoap" type="tns:AddressLookupSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReturnCityState">
            <soap:operation soapAction="http://ws.cdyne.com/ReturnCityState" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="AddressLookupSoap12" type="tns:AddressLookupSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReturnCityState">
            <soap12:operation soapAction="http://ws.cdyne.com/ReturnCityState" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="AddressLookupHttpGet" type="tns:AddressLookupHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="ReturnCityState">
            <http:operation location="/ReturnCityState"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="AddressLookupHttpPost" type="tns:AddressLookupHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="ReturnCityState">
            <http:operation location="/ReturnCityState"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
                  name="AddressLookup">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service corrects U.S. addresses, provides
            geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip
            codes (and Canadian Postal Codes) to city and state names. We also offer PMSA, CMSA, and various other
            codes.
            <b>BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.</b>
        </wsdl:documentation>

        <wsdl:port name="AddressLookupSoap" binding="tns:AddressLookupSoap">
            <soap:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="AddressLookupSoap12" binding="tns:AddressLookupSoap12">
            <soap12:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="AddressLookupHttpGet" binding="tns:AddressLookupHttpGet">
            <http:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>
        <wsdl:port name="AddressLookupHttpPost" binding="tns:AddressLookupHttpPost">
            <http:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx"/>
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>
