iserve-test-resources/src/main/resources/jgd-services/5815_6863_Yahoo!_Maps_Web_Services_-_Geocoding_API.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://local.yahooapis.com/MapsService/V1/"
                  targetNamespace="http://local.yahooapis.com/MapsService/V1/">
    <wsdl:documentation>This is a WSDL 1.1 comment that has been created for a RESTful service for evaluation and
        testing purposes.
        It is not guaranteed to be correct or appropriate.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://local.yahooapis.com/MapsService/V1/">
            <xsd:annotation>This type information has been semi-automatically generated. It properly represents the
                semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used
                by the service.
            </xsd:annotation>
            <xsd:complexType name="Output"
                             sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="address" type="xsd:anyType">
                        <xsd:annotation>The matching address, if one is found, together with the level at which a match
                            was detected (address, street, zip+4, zip+2, zip, city, state, country)
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="geographic_location" type="xsd:anyType">
                        <xsd:annotation>The coordinates corresponding to the address found.</xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="level" type="xsd:string">
                        <xsd:annotation>The level at which the match was detected.</xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Output" nillable="true" type="tns:Output"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGetIn">
        <wsdl:part name="address" type="xsd:string"
                   sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
            <wsdl:documentation>An address to geocode.</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGetOut">
        <wsdl:part name="Body" element="tns:Output">
            <wsdl:documentation></wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGet">
        <wsdl:operation name="Yahoo__Maps_Web_Services_-_Geocoding_API"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation>The Geocoding Web uk.ac.open.kmi.iserve.commons.model.Service allows you to find the
                specific latitude and longitude for an address. It works for many countries world wide.
            </wsdl:documentation>
            <wsdl:input message="tns:Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGetIn"/>
            <wsdl:output message="tns:Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGet"
                  type="tns:Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="Yahoo__Maps_Web_Services_-_Geocoding_API">
            <http:operation location="geocode"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
                  name="Yahoo__Maps_Web_Services_-_Geocoding_API">
        <wsdl:port name="Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGet"
                   binding="tns:Yahoo__Maps_Web_Services_-_Geocoding_APIHttpGet">
            <http:address location="http://local.yahooapis.com/MapsService/V1/"/>
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>
