iserve-test-resources/src/main/resources/jgd-services/5842_6845_geocoder.us_Zip_Code_to_Zip_Code_Distances.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://geocoder.us/service/" targetNamespace="http://geocoder.us/service/">
    <wsdl:documentation>This is a WSDL 1.1 comment that has been created for a RESTful service for evaluation and
        testing purposes.
        It is not guaranteed to be correct or appropriate. The binding information in particular may likely not be
        correct.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://geocoder.us/service/">
            <xsd:annotation>This type information has been semi-automatically generated. It properly represents the
                semantics of the service's parameters, but does not necessarily match the schema actually used by the
                service.
            </xsd:annotation>
            <xsd:complexType name="Output"
                             sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance http://proton.semanticweb.org/2005/04/protont#Location">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="distance" type="xsd:string">
                        <xsd:annotation>The distance in miles between the given US zips.</xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="location1" type="xsd:string">
                        <xsd:annotation>The coordinates corresponding to the first zip which were used for the
                            computation of the distance.
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="location2" type="xsd:string">
                        <xsd:annotation>The coordinates corresponding to the second zip which were used for the
                            computation of the distance.
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Output" nillable="true" type="tns:Output"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGetIn">
        <wsdl:part name="zip1" type="xsd:string"
                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#PostalCode">
            <wsdl:documentation>The first zip code</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="zip2" type="xsd:string">
            <wsdl:documentation>The second zip code</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGetOut">
        <wsdl:part name="Body" element="tns:Output">
            <wsdl:documentation></wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGet">
        <wsdl:operation name="geocoder.us_Zip_Code_to_Zip_Code_Distances"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation>Computes the distance in miles between two given US zip codes.</wsdl:documentation>
            <wsdl:input message="tns:geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGetIn"/>
            <wsdl:output message="tns:geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGet"
                  type="tns:geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="geocoder.us_Zip_Code_to_Zip_Code_Distances">
            <http:operation location="distance"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service
            sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationDistanceLookup"
            name="geocoder.us_Zip_Code_to_Zip_Code_Distances">
        <wsdl:port name="geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGet"
                   binding="tns:geocoder.us_Zip_Code_to_Zip_Code_DistancesHttpGet">
            <http:address location="http://geocoder.us/service/"/>
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>
