iserve-test-resources/src/main/resources/jgd-services/5871_6854_MetaCarta_Location_Finder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://ondemand.metacarta.com/webservices/LocationFinder/"
                  targetNamespace="http://ondemand.metacarta.com/webservices/LocationFinder/">
    <wsdl:documentation>This is a WSDL 1.1 comment that has been created for a RESTful service for evaluation and
        testing purposes.
        It is not guaranteed to be correct or appropriate.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://ondemand.metacarta.com/webservices/LocationFinder/">
            <xsd:annotation>This type information has been semi-automatically generated. It properly represents the
                semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used
                by the service.
            </xsd:annotation>
            <xsd:complexType name="Output"
                             sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress http://fusion.cs.uni-jena.de/geographydataset.owl#Map">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="locations" type="xsd:anyType">
                        <xsd:annotation>A list of locations matching the given query together with their geographic
                            coordinates.
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="image" type="xsd:anyURI">
                        <xsd:annotation>An image with the locations returned displayed on the image.</xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Output" nillable="true" type="tns:Output"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MetaCarta_Location_FinderHttpGetIn">
        <wsdl:part name="version" type="xsd:string">
            <wsdl:documentation>Required
                default value: input other than the allowed value raises an error message
                allowed values: 1.0.0
                usage: The requestor must specify the API version they wish to use. The API requires a valid version
                parameter.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="query" type="xsd:string"
                   sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
            <wsdl:documentation>Required
                default value: ''
                allowed values: string
                usage: The query string is the input for which a LocationFinder search is initiated.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="geometry" type="xsd:string">
            <wsdl:documentation>Optional
                default value: None
                allowed values: true, false
                usage: If this is set to true, the LocationFinder will return geometries for features when available.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="width" type="xsd:string">
            <wsdl:documentation>Optional
                default value: 512
                allowed values: positive integer
                usage: Determines the width of the image returned by the PNG LocationFinder output.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="height" type="xsd:string">
            <wsdl:documentation>Optional
                default value: 383
                allowed values: positive integer
                usage: Determines the height of the image returned by the PNG LocationFinder output
            </wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MetaCarta_Location_FinderHttpGetOut">
        <wsdl:part name="Body" element="tns:Output">
            <wsdl:documentation></wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MetaCarta_Location_FinderHttpGet">
        <wsdl:operation name="MetaCarta_Location_Finder"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation>A simple gazetteer lookup. Gives a list of location names which match the query
                parameter including all the available information about the locations (at least their geographic
                coordinates).
            </wsdl:documentation>
            <wsdl:input message="tns:MetaCarta_Location_FinderHttpGetIn"/>
            <wsdl:output message="tns:MetaCarta_Location_FinderHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MetaCarta_Location_FinderHttpGet" type="tns:MetaCarta_Location_FinderHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="MetaCarta_Location_Finder">
            <http:operation location="JSON"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service
            sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EntityLocationService http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EntityMappingService"
            name="MetaCarta_Location_Finder">
        <wsdl:port name="MetaCarta_Location_FinderHttpGet" binding="tns:MetaCarta_Location_FinderHttpGet">
            <http:address location="http://ondemand.metacarta.com/webservices/LocationFinder/"/>
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>
