iserve-test-resources/src/main/resources/jgd-services/5878_6853_MultiMap_Geocoding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://clients.multimap.com/" targetNamespace="http://clients.multimap.com/">
    <wsdl:documentation>This is a WSDL 1.1 comment that has been created for a RESTful service for evaluation and
        testing purposes.
        It is not guaranteed to be correct or appropriate.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://clients.multimap.com/">
            <xsd:annotation>This type information has been semi-automatically generated. It properly represents the
                semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used
                by the service.
            </xsd:annotation>
            <xsd:complexType name="Output"
                             sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="location" type="xsd:anyType">
                        <xsd:annotation>One or more matching geocoded locations</xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="address_information" type="xsd:anyType">
                        <xsd:annotation>Complete address information for the geocoded locations.</xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Output" nillable="true" type="tns:Output"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MultiMap_GeocodingHttpGetIn">
        <wsdl:part name="street" type="xsd:string"
                   sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Address">
            <wsdl:documentation>This parameter refers to the street, optionally including a building number, for the
                input address.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="region_state" type="xsd:string">
            <wsdl:documentation>This parameter refers to the region for the input address; it is a synonym for state.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="postalCode" type="xsd:string">
            <wsdl:documentation>This parameter refers to the postal code for the input address.</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="countryCode" type="xsd:string">
            <wsdl:documentation>This parameter refers to the two-letter ISO country code for the input address.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="city" type="xsd:string">
            <wsdl:documentation>This parameter refers to the city, town or suburb for the input address.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="qs" type="xsd:string"
                   sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
            <wsdl:documentation>This is a 'quick search' parameter which refers to an address or place name entered as a
                single string, preferably with countryCode. Either this or the structured data needs to be provided.
            </wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MultiMap_GeocodingHttpGetOut">
        <wsdl:part name="Body" element="tns:Output">
            <wsdl:documentation></wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MultiMap_GeocodingHttpGet">
        <wsdl:operation name="MultiMap_Geocoding"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation>The Multimap API V1.2 Geocoding web service module allows you to find the specific
                latitude and longitude for an address world wide. The address can be provided as either a single string
                or a structured set of parameters.
            </wsdl:documentation>
            <wsdl:input message="tns:MultiMap_GeocodingHttpGetIn"/>
            <wsdl:output message="tns:MultiMap_GeocodingHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultiMap_GeocodingHttpGet" type="tns:MultiMap_GeocodingHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="MultiMap_Geocoding">
            <http:operation location="API/geocode/1.2/"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
                  name="MultiMap_Geocoding">
        <wsdl:port name="MultiMap_GeocodingHttpGet" binding="tns:MultiMap_GeocodingHttpGet">
            <http:address location="http://clients.multimap.com/"/>
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>
