iserve-test-resources/src/main/resources/jgd-services/5894_6858_NAC_Location_Based_Traffic_Information_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://mlbs.net/nacgeoservicesv4.5/" targetNamespace="http://mlbs.net/nacgeoservicesv4.5/">
    <wsdl:documentation>This is a WSDL 1.1 comment that has been created for a RESTful service for evaluation and
        testing purposes.
        It is not guaranteed to be correct or appropriate.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://mlbs.net/nacgeoservicesv4.5/">
            <xsd:annotation>This type information has been semi-automatically generated. It properly represents the
                semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used
                by the service.
            </xsd:annotation>
            <xsd:complexType name="Output"
                             sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#Map http://fusion.cs.uni-jena.de/geographydataset.owl#TrafficIncident">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="MapImageURL" type="xsd:anyURI">
                        <xsd:annotation>A url pointing to a map displaying the found traffic incidents (if a map was
                            requested).
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Incidents" type="xsd:anyType">
                        <xsd:annotation>Each incident is shown in Incidents with Incident Number, Name, Universal
                            Address, (Longitude, Latitude), CreatedTime, Divert, ExpectedDelay, ExpectedDuration,
                            FullDescription, LastUpdated, Severity, StandardMessage, and TrafficAreaID separated by
                            semicolons, and ending with an exclaimation mark. Here is the explanation of the parameters
                            of incidents:

                            * Incident Number: the number of each incident shown on the map.
                            * Name: A name assigned to the specific incident. Typically a comment (street name,
                            intersection, etc.) of where the incident is occurring.
                            * Created: The date and time when the traffic incident data was created in Pacific Time,
                            regardless of the location of the traffic incident.
                            * Divert: Specifies whether this incident is causing a traffic diversion. Values are either
                            True or False.
                            * ExpectedDelay: The estimated traffic slowdown caused by the incident.
                            * ExpectedDuration: The estimated amount of time that the incident will persist.
                            * FullDescription: A full comment of the traffic incident.
                            * LastUpdated: The date and time when the traffic incident data was last updated in Pacific
                            Time, regardless of the location of the traffic incident.
                            * Severity: The severity of the incident. Values for this property include Severe, High,
                            Medium, Low, and Unknown.
                            * StandardMessage: A brief comment of the incident type.
                            * TrafficAreaID: The EntityID of the TrafficArea polygon which contains this incident.
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Hotspots" type="xsd:anyType">
                        <xsd:annotation>The corresponding pixel coordinates (top, bottom, left, right) of the hotspot of
                            each traffic incident on the map have been found in Hotspots which lists the hot spot of the
                            map center and then the hot spots of the traffic incidents in the same order as Incidents
                            separated by semicolons.
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Output" nillable="true" type="tns:Output"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="NAC_Location_Based_Traffic_Information_ServiceHttpGetIn">
        <wsdl:part name="userID" type="xsd:string">
            <wsdl:documentation>A valid user id to authenticate for the service.</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="LatLng" type="xsd:string"
                   sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#CircularGeographicArea">
            <wsdl:documentation>The geographic coordinates (southwest, northeast) of the center.</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="ImageWidth" type="xsd:string">
            <wsdl:documentation>ImageWidth is the map image width in pixels</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="ImageHeight" type="xsd:string">
            <wsdl:documentation>ImageHeight is the map image height in pixels</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="ImageFormat" type="xsd:string">
            <wsdl:documentation>ImageFormat is the image format of the map and can be "gif" or "png"
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="language" type="xsd:string">
            <wsdl:documentation>Language is the language you want for the result. It can be "en" for British English,
                "en-US" for US English, "es" for Spanish, "de" for German, "fr" for French, "it" for Italian, "nl" for
                Dutch, "pt" for Portuguese, and "sv" for Swedish. It's optional. The default language is "en" for Europe
                and "en-US" for North America.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="range" type="xsd:string">
            <wsdl:documentation>Range is the length/width of the searching area in km, and must be larger than 0 and
                smaller than 400.
            </wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="ShowMap" type="xsd:string">
            <wsdl:documentation>ShowMap is to indicate whether the map showing all the found locations is requested, and
                can be yes (more expensive) or no.
            </wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="NAC_Location_Based_Traffic_Information_ServiceHttpGetOut">
        <wsdl:part name="Body" element="tns:Output">
            <wsdl:documentation></wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NAC_Location_Based_Traffic_Information_ServiceHttpGet">
        <wsdl:operation name="NAC_Location_Based_Traffic_Information_Service"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:documentation>This service is based on http get request/XML response model to provide traffic
                information. Currently, it covers only major metropolitans of the United States.
            </wsdl:documentation>
            <wsdl:input message="tns:NAC_Location_Based_Traffic_Information_ServiceHttpGetIn"/>
            <wsdl:output message="tns:NAC_Location_Based_Traffic_Information_ServiceHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NAC_Location_Based_Traffic_Information_ServiceHttpGet"
                  type="tns:NAC_Location_Based_Traffic_Information_ServiceHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="NAC_Location_Based_Traffic_Information_Service">
            <http:operation location="xmlgettrafficinfo.aspx"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service
            sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EntityLocationService http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EntityMappingService"
            name="NAC_Location_Based_Traffic_Information_Service">
        <wsdl:port name="NAC_Location_Based_Traffic_Information_ServiceHttpGet"
                   binding="tns:NAC_Location_Based_Traffic_Information_ServiceHttpGet">
            <http:address location="http://mlbs.net/nacgeoservicesv4.5/"/>
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>
