iserve-test-resources/src/main/resources/jgd-services/5902_6813_StrikeIron_Address_Distance_Calculator_Web_Service_2.0.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Knowledge Media Institute - The Open University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
            <s:element name="AddressToAddressDistance"
                       sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Address">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Location1" type="tns:AddressInput"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Location2" type="tns:AddressInput"/>
                        <s:element minOccurs="1" maxOccurs="1" name="UnitOfMeasure" type="tns:UnitOfMeasure"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="AddressInput">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="city_state_zip" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="country" type="tns:CountryCode"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="CountryCode">
                <s:restriction base="s:string">
                    <s:enumeration value="US"/>
                    <s:enumeration value="CA"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="UnitOfMeasure">
                <s:restriction base="s:string">
                    <s:enumeration value="Miles"/>
                    <s:enumeration value="NauticalMiles"/>
                    <s:enumeration value="Meters"/>
                    <s:enumeration value="Kilometers"/>
                    <s:enumeration value="Yards"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="AddressToAddressDistanceResponse"
                       sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="AddressToAddressDistanceResult" type="s:double"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ResponseInfo" type="tns:ResponseInfo"/>
            <s:complexType name="ResponseInfo">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
        <xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
            <xs:complexType name="LicenseInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
                    <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UnregisteredUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RegisteredUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UserID" type="xs:string"/>
                    <xs:element minOccurs="0" name="Password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
            <xs:complexType name="SubscriptionInfo">
                <xs:sequence>
                    <xs:element name="LicenseStatusCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
                    <xs:element name="LicenseActionCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
                    <xs:element name="RemainingHits" type="xs:int"/>
                    <xs:element name="Amount" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="AddressToAddressDistanceSoapIn">
        <wsdl:part name="parameters" element="tns:AddressToAddressDistance"/>
    </wsdl:message>

    <wsdl:message name="AddressToAddressDistanceSoapOut">
        <wsdl:part name="parameters" element="tns:AddressToAddressDistanceResponse"/>
    </wsdl:message>

    <wsdl:message name="AddressToAddressDistanceResponseInfo">
        <wsdl:part name="ResponseInfo" element="tns:ResponseInfo"/>
    </wsdl:message>

    <wsdl:message name="LicenseInfoMessage">
        <wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo"/>
    </wsdl:message>

    <wsdl:message name="SubscriptionInfoMessage">
        <wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo"/>
    </wsdl:message>

    <wsdl:portType name="AddressDistanceCalculatorSoap">
        <wsdl:operation name="AddressToAddressDistance"
                        sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
            <wsdl:input message="tns:AddressToAddressDistanceSoapIn"/>
            <wsdl:output message="tns:AddressToAddressDistanceSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AddressDistanceCalculatorSoap" type="tns:AddressDistanceCalculatorSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddressToAddressDistance">
            <soap:operation soapAction="http://www.strikeiron.com/AddressToAddressDistance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:AddressToAddressDistanceResponseInfo" part="ResponseInfo" use="literal"/>
                <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationDistanceLookup"
                  name="AddressDistanceCalculator">
        <wsdl:port name="AddressDistanceCalculatorSoap" binding="tns:AddressDistanceCalculatorSoap">
            <soap:address location="http://ws.strikeiron.com/StrikeIron/AddressDistanceCalculator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
