iserve-sal-rest/src/test/resources/soa4re/soa4re-localfood_sa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://localfoodadvisor.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localfoodadvisor.com/"> 
  <wsdl:types> 
    <s:schema elementFormDefault="qualified" targetNamespace="http://localfoodadvisor.com/"> 
      <s:element name="Setup"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="1" name="AppId" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="0" name="AppPW" type="s:string"/> 
            <s:element maxOccurs="1" minOccurs="0" name="FieldName" type="s:string"/> 
            <s:element maxOccurs="1" minOccurs="1" name="ForDetail" type="s:boolean"/> 
            <s:element maxOccurs="1" minOccurs="1" name="ForWord" type="s:boolean"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Count" type="s:short"/> 
            <s:element maxOccurs="1" minOccurs="1" name="MaxCharCount" type="s:short"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:element name="SetupResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="0" name="SetupResult" type="s:string"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:element name="Detail"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="1" name="AppId" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="0" name="AppPW" type="s:string"/> 
            <s:element maxOccurs="1" minOccurs="1" name="ProducerId" type="s:int"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:element name="DetailResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="0" name="DetailResult" type="tns:rtProducerWSDetailData"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="rtProducerWSDetailData"> 
        <s:sequence> 
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Address" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Phone" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Fax" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Email" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Website" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Categories" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Outlets" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Awards" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Breeds" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Speciality" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Latitude" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Longitude" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="URL" type="tns:xString"/> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="xString"> 
        <s:complexContent mixed="false"> 
          <s:extension base="tns:xBaseType"> 
            <s:sequence> 
              <s:element maxOccurs="1" minOccurs="0" name="Value" type="s:string"/> 
            </s:sequence> 
          </s:extension> 
        </s:complexContent> 
      </s:complexType> 
      <s:complexType name="xBaseType"> 
        <s:sequence> 
          <s:element maxOccurs="1" minOccurs="1" name="IsNull" type="s:boolean"/> 
        </s:sequence> 
      </s:complexType> 
      <s:element name="Search"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="1" name="AppId" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="0" name="AppPW" type="s:string"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Category" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Organic" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Breed" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Speciality" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="ChefAwards" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="MediaAwards" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="RegionalAwards" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="OtherAwards" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Outlet" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Region" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="County" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="0" name="Keywords" type="s:string"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Range" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Longitude" type="s:decimal"/> 
            <s:element maxOccurs="1" minOccurs="1" name="Latitude" type="s:decimal"/> 
            <s:element maxOccurs="1" minOccurs="0" name="Limit" type="s:string"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:element name="SearchResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="0" name="SearchResult" type="tns:ArrayOfRtProducerWSSearchData"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="ArrayOfRtProducerWSSearchData"> 
        <s:sequence> 
          <s:element maxOccurs="unbounded" minOccurs="0" name="rtProducerWSSearchData" nillable="true" type="tns:rtProducerWSSearchData"/> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="rtProducerWSSearchData"> 
        <s:sequence> 
          <s:element maxOccurs="1" minOccurs="0" name="ID" type="tns:xInt32"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Phone" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Fax" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Email" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Website" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Latitude" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Longitude" type="tns:xString"/> 
          <s:element maxOccurs="1" minOccurs="0" name="Limit" type="tns:xString"/> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="xInt32"> 
        <s:complexContent mixed="false"> 
          <s:extension base="tns:xNumberBaseClass"> 
            <s:sequence> 
              <s:element maxOccurs="1" minOccurs="1" name="Value" type="s:int"/> 
              <s:element maxOccurs="1" minOccurs="0" name="ValueAsString" type="s:string"/> 
            </s:sequence> 
          </s:extension> 
        </s:complexContent> 
      </s:complexType> 
      <s:complexType name="xNumberBaseClass"> 
        <s:complexContent mixed="false"> 
          <s:extension base="tns:xBaseType"> 
            <s:sequence> 
              <s:element maxOccurs="1" minOccurs="1" name="IsError" type="s:boolean"/> 
            </s:sequence> 
          </s:extension> 
        </s:complexContent> 
      </s:complexType> 
      <s:element name="Options"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="1" name="AppId" type="s:int"/> 
            <s:element maxOccurs="1" minOccurs="0" name="AppPW" type="s:string"/> 
            <s:element maxOccurs="1" minOccurs="0" name="FieldName" type="s:string"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:element name="OptionsResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="0" name="OptionsResult" type="tns:ArrayOfListItem"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
      <s:complexType name="ArrayOfListItem"> 
        <s:sequence> 
          <s:element maxOccurs="unbounded" minOccurs="0" name="ListItem" nillable="true" type="tns:ListItem"/> 
        </s:sequence> 
      </s:complexType> 
      <s:complexType name="ListItem"> 
        <s:sequence> 
          <s:element default="true" maxOccurs="1" minOccurs="0" name="Enabled" type="s:boolean"/> 
          <s:element default="false" maxOccurs="1" minOccurs="0" name="Selected" type="s:boolean"/> 
          <s:element default="" maxOccurs="1" minOccurs="0" name="Text" type="s:string"/> 
          <s:element default="" maxOccurs="1" minOccurs="0" name="Value" type="s:string"/> 
        </s:sequence> 
      </s:complexType> 
      <s:element name="GetErrors"> 
        <s:complexType/> 
      </s:element> 
      <s:element name="GetErrorsResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element maxOccurs="1" minOccurs="0" name="GetErrorsResult" type="s:string"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element> 
    </s:schema> 
  </wsdl:types> 
  <wsdl:message name="SetupSoapIn"> 
    <wsdl:part element="tns:Setup" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="SetupSoapOut"> 
    <wsdl:part element="tns:SetupResponse" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="DetailSoapIn"> 
    <wsdl:part element="tns:Detail" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="DetailSoapOut"> 
    <wsdl:part element="tns:DetailResponse" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="SearchSoapIn"> 
    <wsdl:part element="tns:Search" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="SearchSoapOut"> 
    <wsdl:part element="tns:SearchResponse" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="OptionsSoapIn"> 
    <wsdl:part element="tns:Options" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="OptionsSoapOut"> 
    <wsdl:part element="tns:OptionsResponse" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="GetErrorsSoapIn"> 
    <wsdl:part element="tns:GetErrors" name="parameters"/> 
  </wsdl:message> 
  <wsdl:message name="GetErrorsSoapOut"> 
    <wsdl:part element="tns:GetErrorsResponse" name="parameters"/> 
  </wsdl:message> 
  <wsdl:portType name="LFAProducerSearchSoap"> 
    <wsdl:operation name="Setup"> 
      <wsdl:input message="tns:SetupSoapIn"/> 
      <wsdl:output message="tns:SetupSoapOut"/> 
    </wsdl:operation> 
    <wsdl:operation name="Detail"> 
      <wsdl:input message="tns:DetailSoapIn"/> 
      <wsdl:output message="tns:DetailSoapOut"/> 
    </wsdl:operation> 
    <wsdl:operation name="Search"> 
      <wsdl:input message="tns:SearchSoapIn"/> 
      <wsdl:output message="tns:SearchSoapOut"/> 
    </wsdl:operation> 
    <wsdl:operation name="Options"> 
      <wsdl:input message="tns:OptionsSoapIn"/> 
      <wsdl:output message="tns:OptionsSoapOut"/> 
    </wsdl:operation> 
    <wsdl:operation name="GetErrors"> 
      <wsdl:input message="tns:GetErrorsSoapIn"/> 
      <wsdl:output message="tns:GetErrorsSoapOut"/> 
    </wsdl:operation> 
  </wsdl:portType> 
  <wsdl:binding name="LFAProducerSearchSoap" type="tns:LFAProducerSearchSoap"> 
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/> 
    <wsdl:operation name="Setup"> 
      <soap:operation soapAction="http://localfoodadvisor.com/Setup" style="document"/> 
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="Detail"> 
      <soap:operation soapAction="http://localfoodadvisor.com/Detail" style="document"/> 
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="Search" sawsdl:modelReference="http://hanival-projects.at/ontologies/SOA4RE.rdf#FoodInformation"> 
      <soap:operation soapAction="http://localfoodadvisor.com/Search" style="document"/> 
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="Options"> 
      <soap:operation soapAction="http://localfoodadvisor.com/Options" style="document"/> 
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="GetErrors"> 
      <soap:operation soapAction="http://localfoodadvisor.com/GetErrors" style="document"/> 
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding> 
  <wsdl:binding name="LFAProducerSearchSoap12" type="tns:LFAProducerSearchSoap"> 
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/> 
    <wsdl:operation name="Setup"> 
      <soap12:operation soapAction="http://localfoodadvisor.com/Setup" style="document"/> 
      <wsdl:input> 
        <soap12:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="Detail"> 
      <soap12:operation soapAction="http://localfoodadvisor.com/Detail" style="document"/> 
      <wsdl:input> 
        <soap12:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="Search" sawsdl:modelReference="http://hanival-projects.at/ontologies/SOA4RE.rdf#FoodInformation"> 
      <soap12:operation soapAction="http://localfoodadvisor.com/Search" style="document"/> 
      <wsdl:input> 
        <soap12:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="Options"> 
      <soap12:operation soapAction="http://localfoodadvisor.com/Options" style="document"/> 
      <wsdl:input> 
        <soap12:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="GetErrors"> 
      <soap12:operation soapAction="http://localfoodadvisor.com/GetErrors" style="document"/> 
      <wsdl:input> 
        <soap12:body use="literal"/> 
      </wsdl:input> 
      <wsdl:output> 
        <soap12:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding> 
  <wsdl:service name="LFAProducerSearch" sawsdl:modelReference="http://hanival-projects.at/ontologies/SOA4RE.rdf#FoodInformation"> 
    <wsdl:port binding="tns:LFAProducerSearchSoap" name="LFAProducerSearchSoap"> 
      <soap:address location="http://www.localfoodadvisor.com/api/search.asmx"/> 
    </wsdl:port> 
    <wsdl:port binding="tns:LFAProducerSearchSoap12" name="LFAProducerSearchSoap12"> 
      <soap12:address location="http://www.localfoodadvisor.com/api/search.asmx"/> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions> 
 

