iserve2-sal-rest/src/test/resources/jgd-services/5704_6846_GeoNames_FindNearbyPostalCodes1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.geonames.org/" targetNamespace="http://ws.geonames.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://ws.geonames.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output"
      sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PostalCodeArea
                             http://fusion.cs.uni-jena.de/geographydataset.owl#GeographicDistance">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="postalcode" type="xsd:string">
						<xsd:annotation>
							Postal codes close to the given point. The
							codes are returned together with the
							corresponding city name, the precise
							location, the distance from the given point
							and some more information.
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="countryCode" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="lat" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="lng" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="distance" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="adminCode1" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="adminName1" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="adminCode2" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="adminName2" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="adminCode3" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="adminName3" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GeoNames_FindNearbyPostalCodes1HttpGetIn">
                                               <!-- the model reference below should be on the message because it really applies to radius+lat+lng -->
		<wsdl:part name="radius" type="xsd:string" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#CircularGeographicArea">
			<wsdl:documentation>The radius in km (up to 50 km) for places to be included in the result set. Finetune the number of results to be returned using the maxRows parameter.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="style" type="xsd:string">
			<wsdl:documentation>SHORT,MEDIUM,LONG,FULL (default = MEDIUM), verbosity of returned xml document</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="lat" type="xsd:string">
			<wsdl:documentation>Latitude of the search centre</wsdl:documentation>
		</wsdl:part>
        <wsdl:part name="lng" type="xsd:string">
        	<wsdl:documentation>Longitude of the search centre</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="maxRows" type="xsd:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#ResultsCountLimit">
			<wsdl:documentation>Determines the maximun number of places to be returned (optional, default = 5).</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="country" type="xsd:string">
			<wsdl:documentation>Restrict the search to this country, optional, default = all countries.</wsdl:documentation>
		</wsdl:part>

	</wsdl:message>
	<wsdl:message name="GeoNames_FindNearbyPostalCodes1HttpGetOut">
		<wsdl:part name="Body" element="tns:Output">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GeoNames_FindNearbyPostalCodes1HttpGet">
		<wsdl:operation name="GeoNames_FindNearbyPostalCodes1" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
			<wsdl:documentation>Find postal codes close to the given location</wsdl:documentation>
				<wsdl:input message="tns:GeoNames_FindNearbyPostalCodes1HttpGetIn"/>
				<wsdl:output message="tns:GeoNames_FindNearbyPostalCodes1HttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GeoNames_FindNearbyPostalCodes1HttpGet" type="tns:GeoNames_FindNearbyPostalCodes1HttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="GeoNames_FindNearbyPostalCodes1">
			<http:operation location="findNearbyPostalCodes"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
        name="GeoNames_FindNearbyPostalCodes1">
		<wsdl:port name="GeoNames_FindNearbyPostalCodes1HttpGet" binding="tns:GeoNames_FindNearbyPostalCodes1HttpGet">
			<http:address location="http://ws.geonames.org/"/>
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
