iserve2-sal-rest/src/test/resources/jgd-services/5720_6849_GeoNames_SRTM3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.geonames.org/" targetNamespace="http://ws.geonames.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://ws.geonames.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#Elevation">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="elevation" type="xsd:double">
					<xsd:annotation>The elevation in meters according to srtm3, ocean areas have been masked as "no data" and have been assigned a value of -32768 </xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GeoNames_SRTM3HttpGetIn" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
		<wsdl:part name="lat" type="xsd:string">
			<wsdl:documentation>Latitude of a point identified by lat/lng</wsdl:documentation>
		</wsdl:part>
        <wsdl:part name="lng" type="xsd:string">
        	<wsdl:documentation>Longitude of a point identified by lat/lng</wsdl:documentation>
        </wsdl:part>
        <wsdl:part name="type" type="xsd:string">
			<wsdl:documentation>optional parameter to toggle from plain text output to XML output (type=xml)</wsdl:documentation>
		</wsdl:part>

	</wsdl:message>
	<wsdl:message name="GeoNames_SRTM3HttpGetOut">
		<wsdl:part name="Body" element="tns:Output">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GeoNames_SRTM3HttpGet">
		<wsdl:operation name="GeoNames_SRTM3" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
			<wsdl:documentation>Shuttle Radar Topography Mission (SRTM) elevation data. SRTM consisted of a specially modified radar system that flew onboard the Space Shuttle Endeavour during an 11-day mission in February of 2000. The dataset covers land areas between 60 degrees north and 56 degrees south.
This web service is using SRTM3 data with data points located every 3-arc-second (approximately 90 meters) on a latitude/longitude grid.</wsdl:documentation>
				<wsdl:input message="tns:GeoNames_SRTM3HttpGetIn"/>
				<wsdl:output message="tns:GeoNames_SRTM3HttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GeoNames_SRTM3HttpGet" type="tns:GeoNames_SRTM3HttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="GeoNames_SRTM3">
			<http:operation location="srtm3"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#InformationAboutLocationLookup"
        name="GeoNames_SRTM3">
		<wsdl:port name="GeoNames_SRTM3HttpGet" binding="tns:GeoNames_SRTM3HttpGet">
			<http:address location="http://ws.geonames.org/"/>
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
