iserve2-sal-rest/src/test/resources/jgd-services/5738_6800_DOTSGeoCoder_GetGeoLocation_by_serviceobjects.net.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.serviceobjects.com/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.serviceobjects.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
    
      <s:element name="GetGeoLocation" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Address">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />

            <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:complexType name="Location" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PostalCodeArea">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />

          <s:element minOccurs="0" maxOccurs="1" name="Tract" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Block" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LevelDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
    
      <s:complexType name="Err">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>

      <s:element name="Location" nillable="true" type="tns:Location" />

    </s:schema>
  </wsdl:types>

  <wsdl:message name="GetGeoLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetGeoLocation" />
  </wsdl:message>

  <wsdl:message name="GetGeoLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetGeoLocationResponse" />
  </wsdl:message>

  <wsdl:message name="GetGeoLocationHttpGetIn">
    <wsdl:part name="Address" type="s:string"  sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Address"/>
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="PostalCode" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>

  <wsdl:message name="GetGeoLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:Location" />
  </wsdl:message>

  <wsdl:message name="GetGeoLocationHttpPostIn">
    <wsdl:part name="Address" type="s:string"  sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protonu#Address"/>
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="PostalCode" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>

  <wsdl:message name="GetGeoLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:Location" />
  </wsdl:message>

  <wsdl:portType name="DOTSGeoCoderSoap">
    <wsdl:operation name="GetGeoLocation" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns latitude and longitude of a given US address.</documentation>
      <wsdl:input message="tns:GetGeoLocationSoapIn" />
      <wsdl:output message="tns:GetGeoLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="DOTSGeoCoderHttpGet">
    <wsdl:operation name="GetGeoLocation" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns latitude and longitude of a given US address.</documentation>
      <wsdl:input message="tns:GetGeoLocationHttpGetIn" />
      <wsdl:output message="tns:GetGeoLocationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:portType name="DOTSGeoCoderHttpPost">
    <wsdl:operation name="GetGeoLocation" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns latitude and longitude of a given US address.</documentation>
      <wsdl:input message="tns:GetGeoLocationHttpPostIn" />
      <wsdl:output message="tns:GetGeoLocationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DOTSGeoCoderSoap" type="tns:DOTSGeoCoderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetGeoLocation">
      <soap:operation soapAction="http://www.serviceobjects.com/GetGeoLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="DOTSGeoCoderHttpGet" type="tns:DOTSGeoCoderHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetGeoLocation">
      <http:operation location="/GetGeoLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="DOTSGeoCoderHttpPost" type="tns:DOTSGeoCoderHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetGeoLocation">
      <http:operation location="/GetGeoLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
  name="DOTSGeoCoder">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at <a href='http://www.serviceobjects.com/products/default.asp' target='new'>our website</a><br/><br/><a href='http://www.serviceobjects.com' target='new'><img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/></a></documentation>
    <wsdl:port name="DOTSGeoCoderSoap" binding="tns:DOTSGeoCoderSoap">
      <soap:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx" />
    </wsdl:port>
    <wsdl:port name="DOTSGeoCoderHttpGet" binding="tns:DOTSGeoCoderHttpGet">
      <http:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx" />
    </wsdl:port>
    <wsdl:port name="DOTSGeoCoderHttpPost" binding="tns:DOTSGeoCoderHttpPost">
      <http:address location="http://ws2.serviceobjects.net/gcr/GeoCoder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
