iserve2-sal-rest/src/test/resources/jgd-services/5765_6809_GeoPlaces_GetPlaceDetails_ZipCode_by_CodeBump.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://skats.net/services/" xmlns:s1="http://skats.net/services/literalTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://skats.net/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GeoPlaces Service is the evolution of ZipCode Lookup service. It enhances ZipCode Lookup by adding support for city names. Now you can find near by zip codes and cities, find distance between zip codes and cities, get coordinates of zip codes and cities. Place's coordinates are determined using an approximate center point of the shape.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://skats.net/services/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 
      <s:simpleType name="GeoPlaceType">
        <s:restriction base="s:string">
          <s:enumeration value="ZipCode" />
          <s:enumeration value="City" />
          <s:enumeration value="State" />
          <s:enumeration value="ThreeDigitZipCode" />
          <s:enumeration value="AreaCode" />
        </s:restriction>
      </s:simpleType>

      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SessionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      
      <s:complexType name="GeoPlaceDetails" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Type" type="tns:GeoPlaceType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LatDegrees" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LonDegrees" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LatRadians" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LonRadians" type="s:float" />
        </s:sequence>
      </s:complexType>

     </s:schema>

    <s:schema elementFormDefault="qualified" targetNamespace="http://skats.net/services/literalTypes">

      <s:element name="GeoPlaceDetails" nillable="true" type="s1:GeoPlaceDetails" />
      
      <s:complexType name="GeoPlaceDetails" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s1:GeoPlaceType" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LatDegrees" type="s:float" />

          <s:element minOccurs="1" maxOccurs="1" name="LonDegrees" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="LatRadians" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="LonRadians" type="s:float" />
        </s:sequence>
      </s:complexType>
      
      <s:simpleType name="GeoPlaceType">
        <s:restriction base="s:string">
          <s:enumeration value="ZipCode" />
          <s:enumeration value="City" />

          <s:enumeration value="State" />
          <s:enumeration value="ThreeDigitZipCode" />
          <s:enumeration value="AreaCode" />
        </s:restriction>
      </s:simpleType>

    </s:schema>
  </wsdl:types>

  <wsdl:message name="GetPlaceDetailsSoapIn">
    <wsdl:part name="place" type="s:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    <wsdl:part name="state" type="s:string" />
  </wsdl:message>

  <wsdl:message name="GetPlaceDetailsSoapOut">
    <wsdl:part name="GetPlaceDetailsResult" type="tns:GeoPlaceDetails" />
  </wsdl:message>

  <wsdl:message name="GetPlaceDetailsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader" />
  </wsdl:message>

  <wsdl:message name="GetPlaceDetailsHttpGetIn">
    <wsdl:part name="place" type="s:string"  sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    <wsdl:part name="state" type="s:string" />
  </wsdl:message>

  <wsdl:message name="GetPlaceDetailsHttpGetOut">
    <wsdl:part name="Body" element="s1:GeoPlaceDetails" />
  </wsdl:message>

  <wsdl:message name="GetPlaceDetailsHttpPostIn">
    <wsdl:part name="place" type="s:string"  sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/>
    <wsdl:part name="state" type="s:string" />
  </wsdl:message>

  <wsdl:message name="GetPlaceDetailsHttpPostOut">
    <wsdl:part name="Body" element="s1:GeoPlaceDetails" />
  </wsdl:message>

  <wsdl:portType name="GeoPlacesSoap">
    <wsdl:operation name="GetPlaceDetails" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a geo place details: name, type, state and coordinates. Parameters: place - place name (65 char max), state - 2 letter state code (not required for zip codes).</wsdl:documentation>
      <wsdl:input message="tns:GetPlaceDetailsSoapIn" />
      <wsdl:output message="tns:GetPlaceDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="GeoPlacesHttpGet">
    <wsdl:operation name="GetPlaceDetails" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a geo place details: name, type, state and coordinates. Parameters: place - place name (65 char max), state - 2 letter state code (not required for zip codes).</wsdl:documentation>
      <wsdl:input message="tns:GetPlaceDetailsHttpGetIn" />
      <wsdl:output message="tns:GetPlaceDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
 
  <wsdl:portType name="GeoPlacesHttpPost">
    <wsdl:operation name="GetPlaceDetails" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a geo place details: name, type, state and coordinates. Parameters: place - place name (65 char max), state - 2 letter state code (not required for zip codes).</wsdl:documentation>
      <wsdl:input message="tns:GetPlaceDetailsHttpPostIn" />
      <wsdl:output message="tns:GetPlaceDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GeoPlacesSoap" type="tns:GeoPlacesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetPlaceDetails">
      <soap:operation soapAction="http://skats.net/services/GetPlaceDetails" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header message="tns:GetPlaceDetailsAuthenticationHeader" part="AuthenticationHeader" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://skats.net/services/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="GeoPlacesSoap12" type="tns:GeoPlacesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetPlaceDetails">
      <soap12:operation soapAction="http://skats.net/services/GetPlaceDetails" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
        <soap12:header message="tns:GetPlaceDetailsAuthenticationHeader" part="AuthenticationHeader" use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://skats.net/services/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://skats.net/services/" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="GeoPlacesHttpGet" type="tns:GeoPlacesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPlaceDetails">
      <http:operation location="/GetPlaceDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="GeoPlacesHttpPost" type="tns:GeoPlacesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPlaceDetails">
      <http:operation location="/GetPlaceDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
  name="GeoPlaces">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GeoPlaces Service is the evolution of ZipCode Lookup service. It enhances ZipCode Lookup by adding support for city names. Now you can find near by zip codes and cities, find distance between zip codes and cities, get coordinates of zip codes and cities. Place's coordinates are determined using an approximate center point of the shape.</wsdl:documentation>
    <wsdl:port name="GeoPlacesSoap" binding="tns:GeoPlacesSoap">
      <soap:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoPlacesSoap12" binding="tns:GeoPlacesSoap12">
      <soap12:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoPlacesHttpGet" binding="tns:GeoPlacesHttpGet">
      <http:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoPlacesHttpPost" binding="tns:GeoPlacesHttpPost">
      <http:address location="http://codebump.com/services/placelookup.asmx" />
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
