iserve2-sal-rest/src/test/resources/jgd-services/5767_6806_GeoCodeService_geocode_by_geocoder.us.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions name="GeoCoder" 
             xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:tns="http://rpc.geocoder.us/Geo/Coder/US/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/">
   <types>
      <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.geocoder.us/Geo/Coder/US/" elementFormDefault="unqualified">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/" /> 
         <xsd:complexType name="ArrayOfGeocoderResult" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress http://proton.semanticweb.org/2005/04/protont#Location">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:GeocoderResult[]" /> 
               </restriction>
            </complexContent>
         </xsd:complexType>
         <xsd:complexType name="GeocoderResult">
            <xsd:all>
               <xsd:element name="zip" type="xsd:int" /> 
               <xsd:element name="state" type="xsd:string" /> 
               <xsd:element name="city" type="xsd:string" /> 
               <xsd:element name="lat" type="xsd:float" /> 
               <xsd:element name="long" type="xsd:float" /> 
               <xsd:element name="number" type="xsd:int" /> 
               <xsd:element name="suffix" type="xsd:string" /> 
               <xsd:element name="prefix" type="xsd:string" /> 
               <xsd:element name="type" type="xsd:string" /> 
               <xsd:element name="street" type="xsd:string" /> 
               <xsd:element name="suffix1" type="xsd:string" /> 
               <xsd:element name="prefix1" type="xsd:string" /> 
               <xsd:element name="type1" type="xsd:string" /> 
               <xsd:element name="street1" type="xsd:string" /> 
               <xsd:element name="suffix2" type="xsd:string" /> 
               <xsd:element name="prefix2" type="xsd:string" /> 
               <xsd:element name="type2" type="xsd:string" /> 
               <xsd:element name="street2" type="xsd:string" /> 
            </xsd:all>
         </xsd:complexType>
       </xsd:schema>
   </types>

   <message name="geocodeRequest">
      <part name="location" type="xsd:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress"/> 
   </message>
   <message name="geocodeResponse">
      <part name="results" type="tns:ArrayOfGeocoderResult" /> 
   </message>

   <portType name="GeoCode_PortType">
      <operation name="geocode" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
         <input message="tns:geocodeRequest" /> 
         <output message="tns:geocodeResponse" /> 
      </operation>
   </portType>

   <binding name="GeoCode_Binding" type="tns:GeoCode_PortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" /> 
      <operation name="geocode">
         <soap:operation style="rpc" soapAction="http://rpc.geocoder.us/Geo/Coder/US#geocode" /> 
         <input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                       namespace="http://rpc.geocoder.us/Geo/Coder/US/" 
                       use="encoded" /> 
         </input>
         <output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                       namespace="http://rpc.geocoder.us/Geo/Coder/US/" 
                       use="encoded" /> 
         </output>
      </operation>
   </binding>
 
   <service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup"
   name="GeoCode_Service">
      <documentation>WSDL File for Geo Coder - Written by Scott Gunn (scott_gunn*AT*email.com) Modified by Douglass Davis</documentation> 
      <port binding="tns:GeoCode_Binding" name="GeoCode_Port">
         <soap:address location="http://rpc.geocoder.us/service/soap/" /> 
      </port>
   </service>
</definitions>
