iserve2-sal-rest/src/test/resources/jgd-services/5862_6805_GeoCoderService_SearchRawAddress_by_isharemaps.com.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.astuntechnology.com/locate42" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.astuntechnology.com/locate42">
<types>
  <xsd:schema targetNamespace="http://www.astuntechnology.com/locate42">
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />

 <xsd:complexType name="LocationResult">
  <xsd:all>
   <xsd:element name="EntityName" type="xsd:string"/>
   <xsd:element name="x" type="xsd:string"/>
   <xsd:element name="y" type="xsd:string"/>
   <xsd:element name="z" type="xsd:string"/>
   <xsd:element name="score" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>

 <xsd:complexType name="LocationResultCollection" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:LocationResult[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>

<xsd:complexType name="SingleRawAddressSpec" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#ResultsCountLimit">
  <xsd:all>
   <xsd:element name="rawAddress" type="xsd:string"/>
   <xsd:element name="count" type="xsd:int"/>
   <xsd:element name="threshold" type="xsd:double"/>
   <xsd:element name="licensekey" type="xsd:string"/>
   <xsd:element name="coordsys" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>

</xsd:schema>
</types>

<message name="SearchRawAddressRequest"><part name="rawaddrspec" type="tns:SingleRawAddressSpec" /></message>
<message name="SearchRawAddressResponse"><part name="return" type="tns:LocationResultCollection" /></message>

<portType name="GeoCoderServicePortType">
	<operation name="SearchRawAddress" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
		<input message="tns:SearchRawAddressRequest"/>
		<output message="tns:SearchRawAddressResponse"/>
	</operation>
</portType>

<binding name="GeoCoderServiceBinding" type="tns:GeoCoderServicePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="SearchRawAddress">
		<soap:operation soapAction="http://www.astuntechnology.com/isharemaps_on_demand/v2_1/geocoder.php/SearchRawAddress" style="rpc"/>
		<input>
			<soap:body use="encoded" namespace="http://www.astuntechnology.com/locate42" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body use="encoded" namespace="http://www.astuntechnology.com/locate42" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>
<service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#LocationLookup" name="GeoCoderService"><port name="GeoCoderServicePort" binding="tns:GeoCoderServiceBinding"><soap:address location="http://www.astuntechnology.com/isharemaps_on_demand/v2_1/geocoder.php"/></port></service>
</definitions>
