iserve2-sal-rest/src/test/resources/jgd-services/5866_6812_RenderServiceSoap_by_isharemaps.com.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.astuntechnology.com/locate42" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.astuntechnology.com/locate42">
<types><xsd:schema targetNamespace="http://www.astuntechnology.com/locate42">
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />

 <xsd:complexType name="MapViewDefinition">
  <xsd:all>
   <xsd:element name="x" type="xsd:double"/>
   <xsd:element name="y" type="xsd:double"/>
   <xsd:element name="minX" type="xsd:double"/>
   <xsd:element name="minY" type="xsd:double"/>
   <xsd:element name="maxX" type="xsd:double"/>
   <xsd:element name="maxY" type="xsd:double"/>
   <xsd:element name="zoom" type="xsd:double"/>
  </xsd:all>
 </xsd:complexType>
 
 <xsd:complexType name="MapSpecification" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#RectangularGeographicArea">
  <xsd:all>
   <xsd:element name="mapView" type="tns:MapViewDefinition"/>
   <xsd:element name="licensekey" type="xsd:string"/>
   <xsd:element name="width" type="xsd:int"/>
   <xsd:element name="height" type="xsd:int"/>
   <xsd:element name="source" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>

 <xsd:complexType name="MapImage" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#Map">
  <xsd:all>
   <xsd:element name="mapView" type="tns:MapViewDefinition"/>
   <xsd:element name="url" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>

</xsd:schema>
</types>

<message name="GetMapImageRequest"><part name="mapSpecication" type="tns:MapSpecification" /></message>
<message name="GetMapImageResponse"><part name="return" type="tns:MapImage" /></message>

<portType name="RenderServiceSoapPortType">
	<operation name="GetMapImage" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
		<input message="tns:GetMapImageRequest"/>
		<output message="tns:GetMapImageResponse"/>
	</operation>

</portType>

<binding name="RenderServiceSoapBinding" type="tns:RenderServiceSoapPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="GetMapImage">
		<soap:operation soapAction="http://www.astuntechnology.com/isharemaps_on_demand/v2/renderservice.php/GetMapImage" style="rpc"/>
		<input>
			<soap:body use="encoded" namespace="http://www.astuntechnology.com/locate42" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body use="encoded" namespace="http://www.astuntechnology.com/locate42" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#MappingService" name="RenderServiceSoap">
	<port name="RenderServiceSoapPort" binding="tns:RenderServiceSoapBinding">
		<soap:address location="http://www.astuntechnology.com/isharemaps_on_demand/v2/renderservice.php"/>
	</port>
</service>

</definitions>
