iserve2-sal-rest/src/test/resources/jgd-services/5872_6852_MetaCarta_Query_Parser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ondemand.metacarta.com/webservices/QueryParser/JSON/" targetNamespace="http://ondemand.metacarta.com/webservices/QueryParser/JSON/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://ondemand.metacarta.com/webservices/QueryParser/JSON/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress http://fusion.cs.uni-jena.de/geographydataset.owl#Map">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="locations" type="xsd:anyType">
					<xsd:annotation>A list of locations matching the given query together with their geographic coordinates.</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="image" type="xsd:anyURI">
					<xsd:annotation>An image with the locations returned displayed on the image.</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MetaCarta_Query_ParserHttpGetIn">
		<wsdl:part name="version" type="xsd:string">
			<wsdl:documentation>Required
default value: input other than the allowed value raises an error message
allowed values: 1.0.0
usage: The requestor must specify the API version they wish to use. The API requires a valid version parameter.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="query" type="xsd:string" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
			<wsdl:documentation>Required. The query string is the input for which a QueryParser search is initiated. It may consist of a location without a query part.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="width" type="xsd:string">
			<wsdl:documentation>Optional
default value: 512
allowed values: positive integer
usage: Determines the width of the image returned by the PNG QueryParser output.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="height" type="xsd:string">
			<wsdl:documentation>Optional
default value: 383
allowed values: positive integer
usage: Determines the height of the image returned by the PNG QueryParser output</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="bbox" type="xsd:string" sawsdl:modelReference="http://fusion.cs.uni-jena.de/geographydataset.owl#RectangularGeographicArea">
			<wsdl:documentation>bbox:
    Optional
    default value: -180,-90,180,90
    allowed values: a comma separated string of minlon,minlat,maxlon,maxlat
    usage: Defines the query's geographic extent. If no locations are found in the bounding box, but one is found outside the bounding box, a warning will be issued, but the query will succeed.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MetaCarta_Query_ParserHttpGetOut">
		<wsdl:part name="Body" element="tns:Output">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MetaCarta_Query_ParserHttpGet">
		<wsdl:operation name="MetaCarta_Query_Parser" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
			<wsdl:documentation>The QueryParser allows the ability to enter a string like "Food in Cambridge" and get a result that splits the location query apart from the textual query, allowing you to create a location search interface using a single query field.</wsdl:documentation>
				<wsdl:input message="tns:MetaCarta_Query_ParserHttpGetIn"/>
				<wsdl:output message="tns:MetaCarta_Query_ParserHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MetaCarta_Query_ParserHttpGet" type="tns:MetaCarta_Query_ParserHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="MetaCarta_Query_Parser">
			<http:operation location="basic"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EntityMappingService http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#EntityLocationService"
        name="MetaCarta_Query_Parser">
		<wsdl:port name="MetaCarta_Query_ParserHttpGet" binding="tns:MetaCarta_Query_ParserHttpGet">
			<http:address location="http://ondemand.metacarta.com/webservices/QueryParser/JSON/"/>
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
