iserve2-sal-rest/src/test/resources/jgd-services/5898_6856_MySocietyGazetteer_GetPopulationDensityGazeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gaze.mysociety.org/" targetNamespace="http://gaze.mysociety.org/">
	<wsdl:documentation>This is a WSDL 1.1 description that has been created for a RESTful service for evaluation and testing purposes.
It is not guaranteed to be correct or appropriate.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://gaze.mysociety.org/">
			<xsd:annotation>This type information has been semi-automatically generated. It properly represents the semantics of the service's parameters, but is not guaranteed to precisely match the schema actually used by the service.</xsd:annotation>
			<xsd:complexType name="Output" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#PopulationDensity">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="population_density" type="xsd:double">
					<xsd:annotation>The estimated population density in persons per square kilometer at the given point.</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Output" nillable="true" type="tns:Output"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGetIn">
		<wsdl:part name="lat" type="xsd:string" sawsdl:modelReference="http://proton.semanticweb.org/2005/04/protont#Location">
			<wsdl:documentation>The lat coordinate of the point of interest.</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="lon" type="xsd:string">
			<wsdl:documentation>The long coordinate of the point of interest.</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGetOut">
		<wsdl:part name="Body" element="tns:Output">
			<wsdl:documentation></wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGet">
		<wsdl:operation name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_Service" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
			<wsdl:documentation>Return an estimate of the population density at (lat, lon), in persons per square kilometer, as a decimal number followed by a line feed.</wsdl:documentation>
				<wsdl:input message="tns:MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGetIn"/>
				<wsdl:output message="tns:MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGet" type="tns:MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_Service">
			<http:operation location="gaze-rest?f=get_population_density;"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#InformationAboutLocationLookup"
        name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_Service">
		<wsdl:port name="MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGet" binding="tns:MySociety_Gazetteer_Get_Population_Density_Gaze_Web_ServiceHttpGet">
			<http:address location="http://gaze.mysociety.org/"/>
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
