iserve2-sal-rest/src/test/resources/jgd-services/5912_6792_AddressLookup_CheckAddress_by_cdyne.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.cdyne.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service corrects U.S. addresses, provides geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip codes (and Canadian Postal Codes) to city and state names.  We also offer PMSA, CMSA, and various other codes. <b>BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.</b></wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">

      <s:complexType name="Address" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#SpecificAddress http://proton.semanticweb.org/2005/04/protont#Location http://fusion.cs.uni-jena.de/geographydataset.owl#RectangularGeographicArea http://proton.semanticweb.org/2005/04/protonu#TimeZone http://fusion.cs.uni-jena.de/geographydataset.owl#PhoneCode">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ServiceError" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressError" type="s:boolean" />

          <s:element minOccurs="1" maxOccurs="1" name="AddressFoundBeMoreSpecific" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckDigit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NeededCorrection" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FromLongitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FromLatitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToLongitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToLatitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgLongitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgLatitude" type="s:decimal" />

          <s:element minOccurs="1" maxOccurs="1" name="hasDaylightSavings" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LLCertainty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CountyNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryLow" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryHigh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriEO" type="s:string" />

          <s:element minOccurs="0" maxOccurs="1" name="SecEO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryLow" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryHigh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Secondary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string" />

          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPoint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CongressDistrictNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FinanceNumber" type="s:string" />

          <s:element minOccurs="0" maxOccurs="1" name="CMSA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PMSA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreferredCityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CensusBlockNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CensusTractNum" type="s:string" />

          <s:element minOccurs="0" maxOccurs="1" name="Primary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrefixDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateLegislativeUpper" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateLegislativeLower" type="s:string" />
        </s:sequence>

      </s:complexType>

      <s:element name="CheckAddress" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>

        </s:complexType>
      </s:element>
      <s:element name="CheckAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAddressResult" type="tns:Address" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="Address" nillable="true" type="tns:Address" />

    </s:schema>

  </wsdl:types>

  <wsdl:message name="CheckAddressSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAddress" />
  </wsdl:message>

  <wsdl:message name="CheckAddressSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAddressResponse" />
  </wsdl:message>

  <wsdl:message name="CheckAddressHttpGetIn" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
    <wsdl:part name="AddressLine" type="s:string" />
    <wsdl:part name="ZipCode" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="StateAbbrev" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
 
  <wsdl:message name="CheckAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:Address" />
  </wsdl:message>

  <wsdl:message name="CheckAddressHttpPostIn" sawsdl:modelReference="http://iserve.kmi.open.ac.uk/2010/05/s3eval/data.rdfs#RawAddress">
    <wsdl:part name="AddressLine" type="s:string" />
    <wsdl:part name="ZipCode" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="StateAbbrev" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>

  <wsdl:message name="CheckAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:Address" />
  </wsdl:message>

  <wsdl:portType name="AddressLookupSoap">
    <wsdl:operation name="CheckAddress" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method checks an address with 1 line and only returns 1 match.</wsdl:documentation>
      <wsdl:input message="tns:CheckAddressSoapIn" />
      <wsdl:output message="tns:CheckAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="AddressLookupHttpGet">
    <wsdl:operation name="CheckAddress" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method checks an address with 1 line and only returns 1 match.</wsdl:documentation>
      <wsdl:input message="tns:CheckAddressHttpGetIn" />
      <wsdl:output message="tns:CheckAddressHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="AddressLookupHttpPost">
    <wsdl:operation name="CheckAddress" sawsdl:modelReference="http://www.w3.org/ns/wsdl-extensions#SafeInteraction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method checks an address with 1 line and only returns 1 match.</wsdl:documentation>
      <wsdl:input message="tns:CheckAddressHttpPostIn" />
      <wsdl:output message="tns:CheckAddressHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AddressLookupSoap" type="tns:AddressLookupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAddress">
      <soap:operation soapAction="http://ws.cdyne.com/CheckAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="AddressLookupSoap12" type="tns:AddressLookupSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAddress">
      <soap12:operation soapAction="http://ws.cdyne.com/CheckAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="AddressLookupHttpGet" type="tns:AddressLookupHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckAddress">
      <http:operation location="/CheckAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="AddressLookupHttpPost" type="tns:AddressLookupHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckAddress">
      <http:operation location="/CheckAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service sawsdl:modelReference=" http://iserve.kmi.open.ac.uk/2010/05/s3eval/func.rdfs#ContactInformationVerifier"
  name="AddressLookup">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service corrects U.S. addresses, provides geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip codes (and Canadian Postal Codes) to city and state names.  We also offer PMSA, CMSA, and various other codes. <b>BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.</b></wsdl:documentation>

    <wsdl:port name="AddressLookupSoap" binding="tns:AddressLookupSoap">
      <soap:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx" />
    </wsdl:port>
    <wsdl:port name="AddressLookupSoap12" binding="tns:AddressLookupSoap12">
      <soap12:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx" />
    </wsdl:port>
    <wsdl:port name="AddressLookupHttpGet" binding="tns:AddressLookupHttpGet">
      <http:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx" />
    </wsdl:port>

    <wsdl:port name="AddressLookupHttpPost" binding="tns:AddressLookupHttpPost">
      <http:address location="http://ws.cdyne.com/psaddress/addresslookup.asmx" />
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
