iserve-crawler/src/test/resources/WSDLs/binarysearch.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ebi.ac.uk/intact/binarysearch/wsclient/generated" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ebi.ac.uk/intact/binarysearch/wsclient/generated" name="BinarySearchService">
<types>
<xsd:schema>
<xsd:import namespace="http://ebi.ac.uk/intact/binarysearch/wsclient/generated" schemaLocation="http://www.ebi.ac.uk:80/intact/binary-search-ws/binarysearch?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getVersion">
<part name="parameters" element="tns:getVersion"></part>
</message>
<message name="getVersionResponse">
<part name="parameters" element="tns:getVersionResponse"></part>
</message>
<message name="findBinaryInteractions">
<part name="parameters" element="tns:findBinaryInteractions"></part>
</message>
<message name="findBinaryInteractionsResponse">
<part name="parameters" element="tns:findBinaryInteractionsResponse"></part>
</message>
<message name="findBinaryInteractionsLimited">
<part name="parameters" element="tns:findBinaryInteractionsLimited"></part>
</message>
<message name="findBinaryInteractionsLimitedResponse">
<part name="parameters" element="tns:findBinaryInteractionsLimitedResponse"></part>
</message>
<portType name="BinarySearch">
<operation name="getVersion">
<input message="tns:getVersion"></input>
<output message="tns:getVersionResponse"></output>
</operation>
<operation name="findBinaryInteractions">
<input message="tns:findBinaryInteractions"></input>
<output message="tns:findBinaryInteractionsResponse"></output>
</operation>
<operation name="findBinaryInteractionsLimited">
<input message="tns:findBinaryInteractionsLimited"></input>
<output message="tns:findBinaryInteractionsLimitedResponse"></output>
</operation>
</portType>
<binding name="BinarySearchPortBinding" type="tns:BinarySearch">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findBinaryInteractions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findBinaryInteractionsLimited">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BinarySearchService">
<port name="BinarySearchPort" binding="tns:BinarySearchPortBinding">
<soap:address location="http://www.ebi.ac.uk:80/intact/binary-search-ws/binarysearch"></soap:address>
</port>
</service>
</definitions>