iserve-crawler/src/test/resources/WSDLs/caBIOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" xmlns:reactome="http://www.reactome.org/caBIOWebApp/schema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!--WSDL created by Apache Axis version: 1.3
        Built on Oct 05, 2005 (05:23:37 EDT)-->

    <!-- XML schema type defintions -->

     <wsdl:types>

          <schema xmlns="http://www.w3.org/2001/XMLSchema">

               <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

               <import namespace="http://schemas.xmlsoap.org/wsdl/"/>

            <!--  To validate this wsdl file using Eclipse, schemaLocation must indicate as
                schemaLocation="caBIOExtensionsXMLSchema.xsd". Otherwise, the validation
                cannot pass. However, to use this wsdl in the axis engine, the full URL
                should be used. -->

               <import namespace="http://www.reactome.org/caBIOWebApp/schema" schemaLocation="http://www.reactome.org:8080/caBIOWebApp/docs/caBIOExtensionsXMLSchema.xsd"/>

            <!-- import namespace="http://www.reactome.org/caBIOWebApp/schema"
                schemaLocation="caBIOExtensionsXMLSchema.xsd" / -->

          </schema>

     </wsdl:types>

    <!-- All messages to be used in Operations -->

     <wsdl:message name="queryByObjectsRequest">

          <wsdl:part name="objects" type="reactome:ArrayOfAnyType"/>

     </wsdl:message>

     <wsdl:message name="listByQueryRequest">

          <wsdl:part name="clsName" type="soapenc:string"/>

          <wsdl:part name="propertyName" type="soapenc:string"/>

          <wsdl:part name="propertyValue" type="xsd:anyType"/>

     </wsdl:message>

     <wsdl:message name="queryPathwaysForReferenceIdentifiersResponse">

          <wsdl:part name="queryPathwaysForReferenceIdentifiersReturn" type="reactome:ArrayOfPathway"/>

     </wsdl:message>

     <wsdl:message name="queryPathwaysForEntitiesResponse">

          <wsdl:part name="queryPathwaysForEntitiesReturn" type="reactome:ArrayOfPathway"/>

     </wsdl:message>

     <wsdl:message name="listTopLevelPathwaysRequest"/>

     <wsdl:message name="queryByIdResponse">

          <wsdl:part name="queryByIdReturn" type="xsd:anyType"/>

     </wsdl:message>

     <wsdl:message name="listObjectsResponse">

          <wsdl:part name="listObjectsReturn" type="reactome:ArrayOfAnyType"/>

     </wsdl:message>

     <wsdl:message name="listTopLevelPathwaysResponse">

          <wsdl:part name="listTopLevelPathwaysReturn" type="reactome:ArrayOfPathway"/>

     </wsdl:message>

     <wsdl:message name="queryByIdRequest">

          <wsdl:part name="dbId" type="xsd:long"/>

     </wsdl:message>

     <wsdl:message name="listByQueryResponse">

          <wsdl:part name="listByQueryReturn" type="reactome:ArrayOfAnyType"/>

     </wsdl:message>

     <wsdl:message name="queryPathwaysForEntitiesRequest">

          <wsdl:part name="entities" type="reactome:ArrayOfEventEntity"/>

     </wsdl:message>

     <wsdl:message name="generatePathwayDiagramInSVGResponse">

          <wsdl:part name="generatePathwayDiagramInSVGReturn" type="soapenc:string"/>

     </wsdl:message>

     <wsdl:message name="loadPathwayForIdResponse">

          <wsdl:part name="loadPathwayForIdReturn" type="reactome:Pathway"/>

     </wsdl:message>

     <wsdl:message name="queryByObjectRequest">

          <wsdl:part name="searchCriteria" type="xsd:anyType"/>

     </wsdl:message>

     <wsdl:message name="queryByIdsRequest">

          <wsdl:part name="ids" type="reactome:ArrayOfLong"/>

     </wsdl:message>

     <wsdl:message name="loadPathwayForIdRequest">

          <wsdl:part name="dbId" type="xsd:long"/>

     </wsdl:message>

     <wsdl:message name="loadPathwayForObjectRequest">

          <wsdl:part name="pathway" type="reactome:Pathway"/>

     </wsdl:message>

     <wsdl:message name="queryByObjectResponse">

          <wsdl:part name="queryByObjectReturn" type="xsd:anyType"/>

     </wsdl:message>

     <wsdl:message name="loadPathwayForObjectResponse">

          <wsdl:part name="loadPathwayForObjectReturn" type="reactome:Pathway"/>

     </wsdl:message>

     <wsdl:message name="listObjectsRequest">

          <wsdl:part name="clsNames" type="soapenc:string"/>

          <wsdl:part name="startIndex" type="xsd:int"/>

          <wsdl:part name="length" type="xsd:int"/>

     </wsdl:message>

     <wsdl:message name="listPathwayParticipantsRequest">

          <wsdl:part name="pathway" type="reactome:Pathway"/>

     </wsdl:message>

     <wsdl:message name="queryByIdsResponse">

          <wsdl:part name="queryByIdsReturn" type="reactome:ArrayOfAnyType"/>

     </wsdl:message>

     <wsdl:message name="generatePathwayDiagramInSVGRequest">

          <wsdl:part name="pathway" type="reactome:Pathway"/>

     </wsdl:message>

     <wsdl:message name="listPathwayParticipantsResponse">

          <wsdl:part name="listPathwayParticipantsReturn" type="reactome:ArrayOfEventEntity"/>

     </wsdl:message>

     <wsdl:message name="queryByObjectsResponse">

          <wsdl:part name="queryByObjectsReturn" type="reactome:ArrayOfAnyType"/>

     </wsdl:message>

     <wsdl:message name="ReactomeRemoteException">

          <wsdl:part name="fault" type="reactome:ReactomeRemoteException"/>

     </wsdl:message>

     <wsdl:message name="InstanceNotFoundException">

          <wsdl:part name="fault" type="reactome:InstanceNotFoundException"/>

     </wsdl:message>

     <wsdl:message name="QueryNotSupportedException">

          <wsdl:part name="fault" type="reactome:QueryNotSupportedException"/>

     </wsdl:message>

     <wsdl:message name="queryPathwaysForReferenceIdentifiersRequest">

          <wsdl:part name="referenceIdentifiers" type="reactome:ArrayOfString"/>

     </wsdl:message>

     <wsdl:message name="getMaxSizeInListObjectsRequest"/>

     <wsdl:message name="getMaxSizeInListObjectsResponse">

          <wsdl:part name="maxSizeInListObjects" type="xsd:int"/>

     </wsdl:message>

     <wsdl:message name="generatePathwayDiagramInSVGForIdRequest">

          <wsdl:part name="pathwayId" type="xsd:long"/>

     </wsdl:message>

     <wsdl:message name="generatePathwayDiagramInSVGForIdResponse">

          <wsdl:part name="generatePathwayDiagramInSVGForIdReturn" type="soapenc:string"/>

     </wsdl:message>

     <wsdl:message name="listPathwayParticipantsForIdRequest">

          <wsdl:part name="pathwayId" type="xsd:long"/>

     </wsdl:message>

     <wsdl:message name="listPathwayParticipantsForIdResponse">

          <wsdl:part name="listPathwayParticipantsForIdReturn" type="reactome:ArrayOfEventEntity"/>

     </wsdl:message>

     <wsdl:message name="queryPathwaysForEntityIdsRequest">

          <wsdl:part name="entityIds" type="reactome:ArrayOfLong"/>

     </wsdl:message>

     <wsdl:message name="queryPathwaysForEntityIdsResponse">

          <wsdl:part name="listPathwaysForEntityIdsReturn" type="reactome:ArrayOfPathway"/>

     </wsdl:message>

    <!-- portType defintions -->

     <wsdl:portType name="CaBioDomainWSEndPoint">

          <wsdl:operation name="listByQuery" parameterOrder="clsName propertyName propertyValue">

               <wsdl:documentation>
Query for an array of objects whose class name is specified and one of whose property values should be matched for the specified values.
               </wsdl:documentation>

               <wsdl:input message="impl:listByQueryRequest" name="listByQueryRequest"/>

               <wsdl:output message="impl:listByQueryResponse" name="listByQueryResponse"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="listObjects" parameterOrder="clsNames startIndex length">

               <wsdl:documentation>
Get a list of Objects by specifying a class name and its start index and the total length for the list.
               </wsdl:documentation>

               <wsdl:input message="impl:listObjectsRequest" name="listObjectsRequest"/>

               <wsdl:output message="impl:listObjectsResponse" name="listObjectsResponse"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="listTopLevelPathways">

               <wsdl:documentation>
Get the list of all top level pathways. A top level pathway is a pathway that is not contained by another pathway in the hierarchical tree.
               </wsdl:documentation>

               <wsdl:input message="impl:listTopLevelPathwaysRequest" name="listTopLevelPathwaysRequest"/>

               <wsdl:output message="impl:listTopLevelPathwaysResponse" name="listTopLevelPathwaysResponse"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="queryById" parameterOrder="dbId">

               <wsdl:documentation>
Query for an object by specifying a DB_ID.
               </wsdl:documentation>

               <wsdl:input message="impl:queryByIdRequest" name="queryByIdRequest"/>

               <wsdl:output message="impl:queryByIdResponse" name="queryByIdResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="queryByObject" parameterOrder="searchCriteria">

               <wsdl:documentation>
Query for an object by specifying an Object. This Object should have id specified.
               </wsdl:documentation>

               <wsdl:input message="impl:queryByObjectRequest" name="queryByObjectRequest"/>

               <wsdl:output message="impl:queryByObjectResponse" name="queryByObjectResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="queryByIds" parameterOrder="ids">

               <wsdl:input message="impl:queryByIdsRequest" name="queryByIdsRequest"/>

               <wsdl:output message="impl:queryByIdsResponse" name="queryByIdsResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="queryByObjects" parameterOrder="objects">

               <wsdl:input message="impl:queryByObjectsRequest" name="queryByObjectsRequest"/>

               <wsdl:output message="impl:queryByObjectsResponse" name="queryByObjectsResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="queryPathwaysForReferenceIdentifiers" parameterOrder="referenceIdentifiers">

               <wsdl:input message="impl:queryPathwaysForReferenceIdentifiersRequest" name="queryPathwaysForReferenceIdentifiersRequest"/>

               <wsdl:output message="impl:queryPathwaysForReferenceIdentifiersResponse" name="queryPathwaysForReferenceIdentifiersResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="queryPathwaysForEntities" parameterOrder="entities">

               <wsdl:input message="impl:queryPathwaysForEntitiesRequest" name="queryPathwaysForEntitiesRequest"/>

               <wsdl:output message="impl:queryPathwaysForEntitiesResponse" name="queryPathwaysForEntitiesResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>

        
          <wsdl:operation name="queryPathwaysForEntityIds" parameterOrder="entityIds">

               <wsdl:input message="impl:queryPathwaysForEntityIdsRequest" name="queryPathwaysForEntityIdsRequest"/>

               <wsdl:output message="impl:queryPathwaysForEntityIdsResponse" name="queryPathwaysForEntityIdsResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>
        

          <wsdl:operation name="generatePathwayDiagramInSVG" parameterOrder="pathway">

               <wsdl:documentation>
Generat a SVG diagram for the specified Pathway object. The diagram is generated by using dot from the graphviz package.
               </wsdl:documentation>

               <wsdl:input message="impl:generatePathwayDiagramInSVGRequest" name="generatePathwayDiagramInSVGRequest"/>

               <wsdl:output message="impl:generatePathwayDiagramInSVGResponse" name="generatePathwayDiagramInSVGResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>

        
          <wsdl:operation name="generatePathwayDiagramInSVGForId" parameterOrder="pathwayId">

               <wsdl:documentation>
Generat a SVG diagram for the specified Pathway id. The diagram is generated by using dot from the graphviz package.
               </wsdl:documentation>

               <wsdl:input message="impl:generatePathwayDiagramInSVGForIdRequest" name="generatePathwayDiagramInSVGForIdRequest"/>

               <wsdl:output message="impl:generatePathwayDiagramInSVGForIdResponse" name="generatePathwayDiagramInSVGForIdResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>
        

          <wsdl:operation name="loadPathwayForId" parameterOrder="dbId">

               <wsdl:input message="impl:loadPathwayForIdRequest" name="loadPathwayForIdRequest"/>

               <wsdl:output message="impl:loadPathwayForIdResponse" name="loadPathwayForIdResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="loadPathwayForObject" parameterOrder="pathway">

               <wsdl:input message="impl:loadPathwayForObjectRequest" name="loadPathwayForObjectRequest"/>

               <wsdl:output message="impl:loadPathwayForObjectResponse" name="loadPathwayForObjectResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>


          <wsdl:operation name="listPathwayParticipants" parameterOrder="pathway">

               <wsdl:input message="impl:listPathwayParticipantsRequest" name="listPathwayParticipantsRequest"/>

               <wsdl:output message="impl:listPathwayParticipantsResponse" name="listPathwayParticipantsResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>

        
          <wsdl:operation name="listPathwayParticipantsForId" parameterOrder="pathwayId">

               <wsdl:input message="impl:listPathwayParticipantsForIdRequest" name="listPathwayParticipantsForIdRequest"/>

               <wsdl:output message="impl:listPathwayParticipantsForIdResponse" name="listPathwayParticipantsForIdResponse"/>

               <wsdl:fault message="impl:InstanceNotFoundException" name="InstanceNotFoundException"/>

               <wsdl:fault message="impl:QueryNotSupportedException" name="QueryNotSupportedException"/>

               <wsdl:fault message="impl:ReactomeRemoteException" name="ReactomeRemoteException"/>

          </wsdl:operation>
        
        
          <wsdl:operation name="getMaxSizeInListObjects">

               <wsdl:input message="impl:getMaxSizeInListObjectsRequest" name="getMaxSizeInListObjectsRequest"/>

               <wsdl:output message="impl:getMaxSizeInListObjectsResponse" name="getMaxSizeInListObjectsResponse"/>

          </wsdl:operation>

        
     </wsdl:portType>

    <!-- Binding defintions -->

     <wsdl:binding name="caBIOServiceSoapBinding" type="impl:CaBioDomainWSEndPoint">

          <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

          <wsdl:operation name="listByQuery">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="listByQueryRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="listByQueryResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>
                
               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="listObjects">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="listObjectsRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="listObjectsResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="listTopLevelPathways">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="listTopLevelPathwaysRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="listTopLevelPathwaysResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="queryById">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="queryByIdRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="queryByIdResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="queryByObject">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="queryByObjectRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="queryByObjectResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>
                        
               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="queryByIds">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="queryByIdsRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="queryByIdsResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="queryByObjects">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="queryByObjectsRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="queryByObjectsResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>
                                    
               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>

        
          <wsdl:operation name="queryPathwaysForReferenceIdentifiers">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="queryPathwaysForReferenceIdentifiersRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="queryPathwaysForReferenceIdentifiersResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>
        

          <wsdl:operation name="queryPathwaysForEntities">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="queryPathwaysForEntitiesRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="queryPathwaysForEntitiesResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>
            
               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>

        
          <wsdl:operation name="queryPathwaysForEntityIds">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="queryPathwaysForEntityIdsRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="queryPathwaysForEntityIdsResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>
            
               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>
        

          <wsdl:operation name="generatePathwayDiagramInSVG">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="generatePathwayDiagramInSVGRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="generatePathwayDiagramInSVGResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>

        
          <wsdl:operation name="generatePathwayDiagramInSVGForId">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="generatePathwayDiagramInSVGForIdRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="generatePathwayDiagramInSVGForIdResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>
        

          <wsdl:operation name="loadPathwayForId">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="loadPathwayForIdRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="loadPathwayForIdResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="loadPathwayForObject">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="loadPathwayForObjectRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="loadPathwayForObjectResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>


          <wsdl:operation name="listPathwayParticipants">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="listPathwayParticipantsRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="listPathwayParticipantsResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>
           
               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>

        
          <wsdl:operation name="listPathwayParticipantsForId">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="listPathwayParticipantsForIdRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="listPathwayParticipantsForIdResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

               <wsdl:fault name="InstanceNotFoundException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InstanceNotFoundException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

               <wsdl:fault name="QueryNotSupportedException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="QueryNotSupportedException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>
           
               <wsdl:fault name="ReactomeRemoteException">

                    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ReactomeRemoteException" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:fault>

          </wsdl:operation>

        
          <wsdl:operation name="getMaxSizeInListObjects">

               <wsdlsoap:operation soapAction=""/>

               <wsdl:input name="getMaxSizeInListObjectsRequest">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:input>

               <wsdl:output name="getMaxSizeInListObjectsResponse">

                    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService" use="encoded"/>

               </wsdl:output>

          </wsdl:operation>

     </wsdl:binding>

    <!-- Service defintion -->

     <wsdl:service name="CaBioDomainWSEndPointService">

          <wsdl:port binding="impl:caBIOServiceSoapBinding" name="caBIOService">

               <wsdlsoap:address location="http://www.reactome.org:8080/caBIOWebApp/services/caBIOService"/>

          </wsdl:port>

     </wsdl:service>


</wsdl:definitions>
