iserve-crawler/src/test/resources/WSDLs/CoilsWS.wsdl

<?xml version="1.0"?>
<definitions name="Coils_Service" 
 targetNamespace="http://gbio.ibcp.fr:8090/Coils_Service"  
 xmlns:tns="http://gbio.ibcp.fr:8090/Coils_Service"   
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="submitCoilsRequest">
        <part name="Sequences" type="xsd:string"/>
    </message>
    <message name="submitCoilsResponse">
        <part name="JobId" type="xsd:string"/>
    </message>
    
    <message name="checkStatusCoilsRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="checkStatusCoilsResponse">
        <part name="Status" type="xsd:string"/>
    </message>
    
    <message name="getResultsCoilsRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="getResultsCoilsResponse">
        <part name="CoiledCoils" type="xsd:string"/>
    </message>

    <message name="cancelCoilsRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="cancelCoilsResponse">
        <part name="Status" type="xsd:string"/>
    </message>

    <portType name="CoilsPortType">
        <operation name="submitCoils">
            <documentation>Submit a sequence an get a jobID</documentation>
            <input message="tns:submitCoilsRequest"/>
            <output message="tns:submitCoilsResponse"/>
        </operation>
        <operation name="checkStatusCoils">
            <documentation>Submit a jobID and get the status</documentation>
            <input message="tns:checkStatusCoilsRequest"/>
            <output message="tns:checkStatusCoilsResponse"/>
        </operation>
        <operation name="getResultsCoils">
            <documentation>
            When job is finish, submit a jobid and get the results</documentation>
            <input message="tns:getResultsCoilsRequest"/>
            <output message="tns:getResultsCoilsResponse"/>
        </operation>
        <operation name="cancelCoils">
            <documentation>When some thing is wrong, cancel your job</documentation>
            <input message="tns:cancelCoilsRequest"/>
            <output message="tns:cancelCoilsResponse"/>
        </operation>        
    </portType>

    <binding name="CoilsBinding" type="tns:CoilsPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitCoils">
            <soap:operation
             soapAction="urn:CoilsWS.wsdl#submitCoils"/>
            <input>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="checkStatusCoils">
            <soap:operation
             soapAction="urn:CoilsWS.wsdl#checkStatusCoils"/>
            <input>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getResultsCoils">
            <soap:operation
             soapAction="urn:CoilsWS.wsdl#getResultsCoils"/>
            <input>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="cancelCoils">
            <soap:operation
             soapAction="urn:CoilsWS.wsdl#cancelCoils"/>
            <input>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Coils_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    
    <service name="Coils_Service">
        <documentation>Coils @ IBCP (http://gbio-pbil.ibcp.fr)</documentation>
        <port name="CoilsPort" binding="tns:CoilsBinding">
            <soap:address location="http://gbio.ibcp.fr:8090/Coils_Service"/>
        </port>
    </service>
    
</definitions>