iserve-crawler/src/test/resources/WSDLs/dialign.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" xmlns:aml="http://hobit.sourceforge.net/xsds/20060126/alignmentML" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" xmlns:seq="http://hobit.sourceforge.net/xsds/20060102/sequenceML" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://schemas.bioservices.net/2006/01/biotypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Mar 07, 2006 (01:01:46 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060126/alignmentML"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060102/sequenceML"/>
   <import namespace="http://schemas.bioservices.net/2006/01/biotypes"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xs_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xs:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="dialignException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:import location="http://hobit.sourceforge.net/xsds/20060102/sequenceML.xsd" namespace="http://hobit.sourceforge.net/xsds/20060102/sequenceML"/>

   <wsdl:import location="http://hobit.sourceforge.net/xsds/20060126/alignmentML.xsd" namespace="http://hobit.sourceforge.net/xsds/20060126/alignmentML"/>

   <wsdl:message name="response_msfRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getVersionsResponse">

      <wsdl:part name="getVersionsReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="requestResponse">

      <wsdl:part name="requestResponse" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getVersionsRequest">

   </wsdl:message>

   <wsdl:message name="responseRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_origRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="requestRequest">

      <wsdl:part name="email" type="soapenc:string"/>

      <wsdl:part element="seq:sequenceML" name="inDoc" type="apachesoap:Document"/>

      <wsdl:part name="array_params" type="impl:ArrayOf_xs_anyType"/>

   </wsdl:message>

   <wsdl:message name="dialignException">

      <wsdl:part name="fault" type="impl:dialignException"/>

   </wsdl:message>

   <wsdl:message name="response_msfResponse">

      <wsdl:part name="response_msfReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="responseResponse">

      <wsdl:part name="responseResponse" type="aml:alignmentML"/>

   </wsdl:message>

   <wsdl:message name="request_origRequest">

      <wsdl:part name="email" type="soapenc:string"/>

      <wsdl:part name="inputSequences" type="soapenc:string"/>

      <wsdl:part name="input_params" type="impl:ArrayOf_xs_anyType"/>

   </wsdl:message>

   <wsdl:message name="response_fastaRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_fastaResponse">

      <wsdl:part name="response_fastaReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="request_origResponse">

      <wsdl:part name="request_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_origResponse">

      <wsdl:part name="response_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="dialignImplementation">

      <wsdl:operation name="request" parameterOrder="email inDoc array_params">

         <wsdl:input message="impl:requestRequest" name="requestRequest"/>

         <wsdl:output message="impl:requestResponse" name="requestResponse"/>

         <wsdl:fault message="impl:dialignException" name="dialignException"/>

      </wsdl:operation>

      <wsdl:operation name="response" parameterOrder="id">

         <wsdl:input message="impl:responseRequest" name="responseRequest"/>

         <wsdl:output message="impl:responseResponse" name="responseResponse"/>

         <wsdl:fault message="impl:dialignException" name="dialignException"/>

      </wsdl:operation>

      <wsdl:operation name="request_orig" parameterOrder="email inputSequences input_params">

         <wsdl:input message="impl:request_origRequest" name="request_origRequest"/>

         <wsdl:output message="impl:request_origResponse" name="request_origResponse"/>

         <wsdl:fault message="impl:dialignException" name="dialignException"/>

      </wsdl:operation>

      <wsdl:operation name="response_orig" parameterOrder="id">

         <wsdl:input message="impl:response_origRequest" name="response_origRequest"/>

         <wsdl:output message="impl:response_origResponse" name="response_origResponse"/>

         <wsdl:fault message="impl:dialignException" name="dialignException"/>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdl:input message="impl:getVersionsRequest" name="getVersionsRequest"/>

         <wsdl:output message="impl:getVersionsResponse" name="getVersionsResponse"/>

         <wsdl:fault message="impl:dialignException" name="dialignException"/>

      </wsdl:operation>

      <wsdl:operation name="response_fasta" parameterOrder="id">

         <wsdl:input message="impl:response_fastaRequest" name="response_fastaRequest"/>

         <wsdl:output message="impl:response_fastaResponse" name="response_fastaResponse"/>

         <wsdl:fault message="impl:dialignException" name="dialignException"/>

      </wsdl:operation>

      <wsdl:operation name="response_msf" parameterOrder="id">

         <wsdl:input message="impl:response_msfRequest" name="response_msfRequest"/>

         <wsdl:output message="impl:response_msfResponse" name="response_msfResponse"/>

         <wsdl:fault message="impl:dialignException" name="dialignException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="dialignPortSoapBinding" type="impl:dialignImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="request">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="requestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="dialignException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="dialignException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="responseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="responseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="dialignException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="dialignException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="request_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="request_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dialign.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="request_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="dialignException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="dialignException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dialign.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="dialignException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="dialignException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dialign.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="dialignException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="dialignException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_fasta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_fastaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dialign.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_fastaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="dialignException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="dialignException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_msf">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_msfRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dialign.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_msfResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="dialignException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="dialignException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="dialignImplementationService">

      <wsdl:port binding="impl:dialignPortSoapBinding" name="dialignPort">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/dialign/axis/dialignPort"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
