iserve-crawler/src/test/resources/WSDLs/dssp.wsdl

<?xml version="1.0"?>

<definitions name="DSSPService"
             targetNamespace="http://utopia.cs.manchester.ac.uk/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://utopia.cs.manchester.ac.uk/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    
    <documentation>
        DSSP: Definition of secondary structure of proteins given a set of 3D coordinates.
        The DSSP program defines secondary structure, geometrical features and solvent exposure of proteins, given atomic coordinates in Protein Data Bank format. The program does NOT PREDICT protein structure. According to the Science Citation Index (July 1995), the program has been cited in the scientific literature more than 1000 times.
        Authors of the DSSP method:
        Wolfgang Kabsch and Chris Sander, MPI MF, Heidelberg, 1983.
        Reference: Kabsch,W. and Sander,C. (1983) Biopolymers 22, 2577-2637
    </documentation>
    
    
    <types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://utopia.cs.manchester.ac.uk/"
                    xmlns:tns="http://utopia.cs.manchester.ac.uk/"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:element name="runDSSP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PDBStream" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="runDSSPResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="DSSPStream" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="runDSSPByID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PDBCode" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="runDSSPByIDResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="DSSPStream" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
    </types>

    
    <message name="DSSPAnnotationRequestMsg">
        <part name="inputWrapper" element="tns:runDSSP" />
    </message>
    <message name="DSSPAnnotationResponseMsg">
        <part name="outputWrapper" element="tns:runDSSPResponse" />
    </message>
    
    <message name="DSSPAnnotationByIDRequestMsg">
        <part name="inputWrapper" element="tns:runDSSPByID" />
    </message>
    <message name="DSSPAnnotationByIDResponseMsg">
        <part name="outputWrapper" element="tns:runDSSPByIDResponse" />
    </message>
    
    
    <portType name="DSSPAnnotationPortType">
        <operation name="runDSSP">
            <documentation>Takes a PDB file as input; calculates and returns a DSSP file</documentation>
            <input message="tns:DSSPAnnotationRequestMsg" />
            <output message="tns:DSSPAnnotationResponseMsg" />
        </operation>
        <operation name="runDSSPByID">
            <documentation>Takes a PDB code as input; calculates and returns a DSSP file</documentation>
            <input message="tns:DSSPAnnotationByIDRequestMsg" />
            <output message="tns:DSSPAnnotationByIDResponseMsg" />
        </operation>
    </portType>
    
    
    <binding name="DSSPAnnotationBinding" type="tns:DSSPAnnotationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="runDSSP">
            <soap:operation soapAction="http://utopia.cs.manchester.ac.uk/runDSSP" />
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </output>
        </operation>
        <operation name="runDSSPByID">
            <soap:operation soapAction="http://utopia.cs.manchester.ac.uk/runDSSPByID" />
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </output>
        </operation>
    </binding>

    
    <service name="DSSPAnnotationService">    
        <port name="DSSPAnnotationPort" binding="tns:DSSPAnnotationBinding">
            <soap:address location="http://utopia.cs.manchester.ac.uk/cgi-bin/dssp.cgi" />
        </port>
    </service>
    
</definitions>
