iserve-crawler/src/test/resources/WSDLs/e2g.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Mar 07, 2006 (01:01:46 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="e2gException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="e2gException">

      <wsdl:part name="fault" type="impl:e2gException"/>

   </wsdl:message>

   <wsdl:message name="responseResponse">

      <wsdl:part name="responseReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getVersionsRequest">

   </wsdl:message>

   <wsdl:message name="getVersionsResponse">

      <wsdl:part name="getVersionsReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="requestRequest">

      <wsdl:part name="param" type="impl:ArrayOf_xsd_anyType"/>

      <wsdl:part name="sequence" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="responseRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="requestResponse">

      <wsdl:part name="requestReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="e2gImplementation">

      <wsdl:operation name="request" parameterOrder="param sequence">

         <wsdl:input message="impl:requestRequest" name="requestRequest"/>

         <wsdl:output message="impl:requestResponse" name="requestResponse"/>

         <wsdl:fault message="impl:e2gException" name="e2gException"/>

      </wsdl:operation>

      <wsdl:operation name="response" parameterOrder="id">

         <wsdl:input message="impl:responseRequest" name="responseRequest"/>

         <wsdl:output message="impl:responseResponse" name="responseResponse"/>

         <wsdl:fault message="impl:e2gException" name="e2gException"/>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdl:input message="impl:getVersionsRequest" name="getVersionsRequest"/>

         <wsdl:output message="impl:getVersionsResponse" name="getVersionsResponse"/>

         <wsdl:fault message="impl:e2gException" name="e2gException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="e2gPortSoapBinding" type="impl:e2gImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="request">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://e2g.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="requestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="e2gException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="e2gException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="responseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://e2g.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="responseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="e2gException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="e2gException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://e2g.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="e2gException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="e2gException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="e2gImplementationService">

      <wsdl:port binding="impl:e2gPortSoapBinding" name="e2gPort">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/e2g/axis/e2gPort"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
