iserve-crawler/src/test/resources/WSDLs/ELMdb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://api.bioinfo.no/stylesheets/WSDLDocumentation.xslt"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Jan Christian Bryne (University of Bergen) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:elm="http://elm.eu.org/ELM" xmlns:ei="http://elm.eu.org/ELMInstance" xmlns:fs="http://elm.eu.org/FunctionalSite" xmlns:tns="http://elm.eu.org/ELMdb" name="ELMdb" targetNamespace="http://elm.eu.org/ELMdb">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:elm="http://elm.eu.org/ELM" xmlns:ei="http://elm.eu.org/ELMInstance" xmlns:fs="http://elm.eu.org/FunctionalSite" xmlns:tns="http://elm.eu.org/ELMdb" targetNamespace="http://elm.eu.org/ELMdb">
			<xs:import namespace="http://elm.eu.org/ELM" schemaLocation="http://api.bioinfo.no/schema/ELM.xsd"/>
			<xs:import namespace="http://elm.eu.org/ELMInstance" schemaLocation="http://api.bioinfo.no/schema/ELMInstance.xsd"/>
			<xs:import namespace="http://elm.eu.org/FunctionalSite" schemaLocation="http://api.bioinfo.no/schema/FunctionalSite.xsd"/>
			<xs:element name="getAllELMs">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllELMsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="elm:ELM" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELM">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ELMAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="elm:ELM"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMByIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ELMIdentifier" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMByIdentifierResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="elm:ELM"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMsByTextSearch">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QueryText" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMsByTextSearchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="elm:ELM" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMsBySequenceMatch">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QuerySequence" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMsBySequenceMatchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="elm:ELM" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllELMInstances">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllELMInstancesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ei:ELMInstance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMInstance">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ELMInstanceAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMInstanceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ei:ELMInstance"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMInstanceBySequenceMatch">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Sequence" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMInstanceBySequenceMatchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ei:ELMInstance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMInstanceBySequenceAccession">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SequenceAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getELMInstanceBySequenceAccessionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ei:ELMInstance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllFunctionalSites">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllFunctionalSitesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fs:FunctionalSite" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getFunctionalSite">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FunctionalSiteAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getFunctionalSiteResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fs:FunctionalSite"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getFunctionalSitesByTextSearch">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QueryText" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getFunctionalSitesByTextSearchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fs:FunctionalSite" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ELMAccessionFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FaultDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ELMInstanceAccessionFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FaultDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FunctionalSiteAccessionFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FaultDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ELMIdentifierFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FaultDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="getAllELMsRequestMsg">
		<part name="parameters" element="tns:getAllELMs"/>
	</message>
	<message name="getAllELMsResponseMsg">
		<part name="parameters" element="tns:getAllELMsResponse"/>
	</message>
	<message name="getELMRequestMsg">
		<part name="parameters" element="tns:getELM"/>
	</message>
	<message name="getELMResponseMsg">
		<part name="parameters" element="tns:getELMResponse"/>
	</message>
	<message name="getELMByIdentifierRequestMsg">
		<part name="parameters" element="tns:getELMByIdentifier"/>
	</message>
	<message name="getELMByIdentifierResponseMsg">
		<part name="parameters" element="tns:getELMByIdentifierResponse"/>
	</message>
	<message name="getELMsByTextSearchRequestMsg">
		<part name="parameters" element="tns:getELMsByTextSearch"/>
	</message>
	<message name="getELMsByTextSearchResponseMsg">
		<part name="parameters" element="tns:getELMsByTextSearchResponse"/>
	</message>
	<message name="getELMsBySequenceMatchRequestMsg">
		<part name="parameters" element="tns:getELMsBySequenceMatch"/>
	</message>
	<message name="getELMsBySequenceMatchResponseMsg">
		<part name="parameters" element="tns:getELMsBySequenceMatchResponse"/>
	</message>
	<message name="getAllELMInstancesRequestMsg">
		<part name="parameters" element="tns:getAllELMInstances"/>
	</message>
	<message name="getAllELMInstancesResponseMsg">
		<part name="parameters" element="tns:getAllELMInstancesResponse"/>
	</message>
	<message name="getELMInstanceRequestMsg">
		<part name="parameters" element="tns:getELMInstance"/>
	</message>
	<message name="getELMInstanceResponseMsg">
		<part name="parameters" element="tns:getELMInstanceResponse"/>
	</message>
	<message name="getAllFunctionalSitesRequestMsg">
		<part name="parameters" element="tns:getAllFunctionalSites"/>
	</message>
	<message name="getAllFunctionalSitesResponseMsg">
		<part name="parameters" element="tns:getAllFunctionalSitesResponse"/>
	</message>
	<message name="getFunctionalSiteRequestMsg">
		<part name="parameters" element="tns:getFunctionalSite"/>
	</message>
	<message name="getFunctionalSiteResponseMsg">
		<part name="parameters" element="tns:getFunctionalSiteResponse"/>
	</message>
	<message name="getFunctionalSitesByTextSearchRequestMsg">
		<part name="parameters" element="tns:getFunctionalSitesByTextSearch"/>
	</message>
	<message name="getFunctionalSitesByTextSearchResponseMsg">
		<part name="parameters" element="tns:getFunctionalSitesByTextSearchResponse"/>
	</message>
	<message name="ELMAccessionFaultMsg">
		<part name="fault" element="tns:ELMAccessionFault"/>
	</message>
	<message name="ELMIdentifierFaultMsg">
		<part name="fault" element="tns:ELMIdentifierFault"/>
	</message>
	<message name="ELMInstanceAccessionFaultMsg">
		<part name="fault" element="tns:ELMInstanceAccessionFault"/>
	</message>
	<message name="FunctionalSiteAccessionFaultMsg">
		<part name="fault" element="tns:FunctionalSiteAccessionFault"/>
	</message>
	<message name="getELMInstanceBySequenceMatchRequestMsg">
		<part name="parameter" element="tns:getELMInstanceBySequenceMatch"/>
	</message>
	<message name="getELMInstanceBySequenceMatchResponseMsg">
		<part name="parameter" element="tns:getELMInstanceBySequenceMatchResponse"/>
	</message>
	<message name="getELMInstanceBySequenceAccessionRequestMsg">
		<part name="parameter" element="tns:getELMInstanceBySequenceAccession"/>
	</message>
	<message name="getELMInstanceBySequenceAccessionResponseMsg">
		<part name="parameter" element="tns:getELMInstanceBySequenceAccessionResponse"/>
	</message>
	<portType name="ELMdb">
		<operation name="getAllELMs">
			<documentation>Retrives all ELMs present in the database</documentation>
			<input message="tns:getAllELMsRequestMsg"/>
			<output message="tns:getAllELMsResponseMsg"/>
		</operation>
		<operation name="getELM">
			<documentation>Retrives an ELM by it's accession</documentation>
			<input message="tns:getELMRequestMsg"/>
			<output message="tns:getELMResponseMsg"/>
			<fault name="ELMAccessionFault" message="tns:ELMAccessionFaultMsg"/>
		</operation>
		<operation name="getELMByIdentifier">
			<documentation>Retives an ELM by it's identifier</documentation>
			<input message="tns:getELMByIdentifierRequestMsg"/>
			<output message="tns:getELMByIdentifierResponseMsg"/>
			<fault name="ELMIdentifierFault" message="tns:ELMIdentifierFaultMsg"/>
		</operation>
		<operation name="getELMsByTextSearch">
			<documentation>Retrives a list of ELMs that has descriptions or identifiers that match parts of a query text</documentation>
			<input message="tns:getELMsByTextSearchRequestMsg"/>
			<output message="tns:getELMsByTextSearchResponseMsg"/>
		</operation>
		<operation name="getELMsBySequenceMatch">
			<documentation>Retrives ELMs that has motifs matching parts of the query sequence</documentation>
			<input message="tns:getELMsBySequenceMatchRequestMsg"/>
			<output message="tns:getELMsBySequenceMatchResponseMsg"/>
		</operation>
		<operation name="getAllELMInstances">
			<documentation>Retrives all ELMInstances in the database</documentation>
			<input message="tns:getAllELMInstancesRequestMsg"/>
			<output message="tns:getAllELMInstancesResponseMsg"/>
		</operation>
		<operation name="getELMInstance">
			<documentation>Retrives an ELMInstace by its accession</documentation>
			<input message="tns:getELMInstanceRequestMsg"/>
			<output message="tns:getELMInstanceResponseMsg"/>
			<fault name="ELMInstanceAccessionFault" message="tns:ELMInstanceAccessionFaultMsg"/>
		</operation>
		<operation name="getAllFunctionalSites">
			<documentation>Retrives all functional sites in the database</documentation>
			<input message="tns:getAllFunctionalSitesRequestMsg"/>
			<output message="tns:getAllFunctionalSitesResponseMsg"/>
		</operation>
		<operation name="getFunctionalSite">
			<documentation>Retrives a FunctionalSite by its accession</documentation>
			<input message="tns:getFunctionalSiteRequestMsg"/>
			<output message="tns:getFunctionalSiteResponseMsg"/>
			<fault name="FunctionalSiteAccessionFault" message="tns:FunctionalSiteAccessionFaultMsg"/>
		</operation>
		<operation name="getFunctionalSitesByTextSearch">
			<documentation>Retrives FunctionalSites that has descriptions or identifier matching parts of the query text</documentation>
			<input message="tns:getFunctionalSitesByTextSearchRequestMsg"/>
			<output message="tns:getFunctionalSitesByTextSearchResponseMsg"/>
		</operation>
		<operation name="getELMInstanceBySequenceMatch">
			<documentation>Retrive all ELM Instances present in the provided sequence.</documentation>
			<input message="tns:getELMInstanceBySequenceMatchRequestMsg"/>
			<output message="tns:getELMInstanceBySequenceMatchResponseMsg"/>
		</operation>
		<operation name="GetELMInstanceBySequenceAccession">
			<documentation>Retrive all ELM Instances present in the sequence belonging the provided SwissProt accession.</documentation>
			<input message="tns:getELMInstanceBySequenceAccessionRequestMsg"/>
			<output message="tns:getELMInstanceBySequenceAccessionResponseMsg"/>
		</operation>
	</portType>
	<binding name="ELMdbBinding" type="tns:ELMdb">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getAllELMs">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getAllELMs"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getELM">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getELM"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
			<fault name="ELMAccessionFault">
				<soap:fault name="ELMAccessionFault" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</fault>
		</operation>
		<operation name="getELMByIdentifier">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getELMByIdentifier"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
			<fault name="ELMIdentifierFault">
				<soap:fault name="ELMIdentifierFault" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</fault>
		</operation>
		<operation name="getELMsByTextSearch">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getELMsByTextSearch"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getELMsBySequenceMatch">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getELMsBySequenceMatch"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAllELMInstances">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getAllELMInstances"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getELMInstance">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getELMInstance"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ELMInstanceAccessionFault">
				<soap:fault name="ELMInstanceAccessionFault" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</fault>
		</operation>
		<operation name="getAllFunctionalSites">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getAllFunctionalSites"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getFunctionalSite">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getFunctionalSite"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
			<fault name="FunctionalSiteAccessionFault">
				<soap:fault name="FunctionalSiteAccessionFault" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</fault>
		</operation>
		<operation name="getFunctionalSitesByTextSearch">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getFunctionalSitesByTextSearch"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getELMInstanceBySequenceMatch">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/getELMInstanceBySequenceMatch"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetELMInstanceBySequenceAccession">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/GetELMInstanceBySequenceAccession"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="ELMdb">
		<documentation>
		This is a Web service interface to the ELM database. The ELM database contains descriptions of functional sites, representations of functional sites (ELMs) and known instances of ELMs (ELMInstances).
			<doc:ServiceDocumentation xmlns:doc="http://www.bccs.uib.no/ServiceDocumentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.bccs.uib.no/ServiceDocumentation http://api.bioinfo.no/schema/ServiceDocumentation.xsd">
	<doc:Reference>ELM server: a new resource for investigating short functional sites in modular eukaryotic proteins.
Puntervoll, P., Linding, R., Gemünd, C., Chabanis-Davidson, S., Mattingsdal, M., Cameron, S., Martin, D. M. A., Ausiello, G., Brannetti, B., Costantini, A., 
Ferr, F., Maselli, V., Via, A., Cesareni, G., Diella, F., Superti-Furga, G., Wyrwicz, L., Ramu, C., McGuigan, C., Gudavalli, R., Letunic, I., Bork, P.,
Rychlewski, L., Küster, B., Helmer-Citterich, M., Hunter, W. N., Aasland, R., Gibson, T. J. (2003). Nucleic Acids Res., 31: 3625-3630.</doc:Reference>
	<doc:WebSite>http://elm.eu.org</doc:WebSite>
	<doc:Version>1.0 (production service)</doc:Version>
	<doc:SampleClient>http://api.bioinfo.no/clients/ELMdb.py</doc:SampleClient>
</doc:ServiceDocumentation></documentation>
		<port name="ELMdb" binding="tns:ELMdbBinding">
			<soap:address location="http://api.bioinfo.no/services/ELMdb"/>
		</port>
	</service>
</definitions>
