iserve-crawler/src/test/resources/WSDLs/ELMInstanceMapper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://api.bioinfo.no/stylesheets/WSDLDocumentation.xslt"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Jan Christian Bryne (University of Bergen) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ei="http://elm.eu.org/ELMInstance" xmlns:eip="http://elm.eu.org/ELMInstancePrediction" xmlns:tns="http://elm.eu.org/ELMInstanceMapper" xmlns:ns="http://elm.eu.org/ELM" name="ELMInstanceMapper" targetNamespace="http://elm.eu.org/ELMInstanceMapper">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ei="http://elm.eu.org/ELMInstance" xmlns:eip="http://elm.eu.org/ELMInstancePrediction" xmlns:tns="http://elm.eu.org/ELMInstanceMapper" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://elm.eu.org/ELMInstanceMapper">
			<xs:import namespace="http://elm.eu.org/ELMInstancePrediction" schemaLocation="http://api.bioinfo.no/schema/ELMInstancePrediction.xsd"/>
			<xs:element name="runInstanceMapper">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QuerySequence" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="runInstanceMapperResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eip:ELMInstancePrediction" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RunJob">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QuerySequence" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="JobIdentifier" type="xs:string"/>
			<xs:element name="RunJobResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:JobIdentifier"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CancelJob">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobIdentifier" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="JobCancelled" type="xs:boolean"/>
			<xs:element name="CancelJobResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:JobCancelled"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:JobIdentifier"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="xs:string"/>
			<xs:element name="GetStatusResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Status"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobIdentifier" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetResultResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eip:ELMInstancePrediction" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FaultDescription" type="xs:string"/>
			<xs:element name="JobIdentifierFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:FaultDescription"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="runInstanceMapper">
		<part name="parameters" element="tns:runInstanceMapper"/>
	</message>
	<message name="runInstanceMapperResponseMsg">
		<part name="parameters" element="tns:runInstanceMapperResponse"/>
	</message>
	<message name="RunJobMsg">
		<part name="parameters" element="tns:RunJob"/>
	</message>
	<message name="RunJobResponseMsg">
		<part name="parameters" element="tns:RunJobResponse"/>
	</message>
	<message name="CancelJobMsg">
		<part name="parameters" element="tns:CancelJob"/>
	</message>
	<message name="CancelJobResponseMsg">
		<part name="parameters" element="tns:CancelJobResponse"/>
	</message>
	<message name="GetStatusMsg">
		<part name="parameters" element="tns:GetStatus"/>
	</message>
	<message name="GetStatusResponseMsg">
		<part name="parameters" element="tns:GetStatusResponse"/>
	</message>
	<message name="GetResultMsg">
		<part name="parameters" element="tns:GetResult"/>
	</message>
	<message name="GetResultResponseMsg">
		<part name="parameters" element="tns:GetResultResponse"/>
	</message>
	<message name="JobIdentifierFaultMsg">
		<part name="fault" element="tns:JobIdentifierFault"/>
	</message>
	<portType name="ELMInstanceMapper">
		<operation name="runInstanceMapper">
			<documentation>This operation runs the mapprer directly. You should only use this operation with short query sequences. On times with a high load on the server, you might experience timeouts using this operation.</documentation>
			<input message="tns:runInstanceMapper"/>
			<output message="tns:runInstanceMapperResponseMsg"/>
		</operation>
		<operation name="RunJob">
			<documentation>This operation is the initial operation in a stateful interaction with the service.</documentation>
			<input message="tns:RunJobMsg"/>
			<output message="tns:RunJobResponseMsg"/>
		</operation>
		<operation name="CancelJob">
			<documentation>This operation cancel an existing job identified by it's jobIdentifier.</documentation>
			<input message="tns:CancelJobMsg"/>
			<output message="tns:CancelJobResponseMsg"/>
			<fault name="JobIdentifierFault" message="tns:JobIdentifierFaultMsg"/>
		</operation>
		<operation name="GetStatus">
			<documentation>This operation returns the status of a job identified by it's jobIdentifier. A client should use this operation to be aware when the results are available.</documentation>
			<input message="tns:GetStatusMsg"/>
			<output message="tns:GetStatusResponseMsg"/>
			<fault name="JobIdentifierFault" message="tns:JobIdentifierFaultMsg"/>
		</operation>
		<operation name="GetResult">
			<documentation>This operation returns the resulting predictions.</documentation>
			<input message="tns:GetResultMsg"/>
			<output message="tns:GetResultResponseMsg"/>
			<fault name="JobIdentifierFault" message="tns:JobIdentifierFaultMsg"/>
		</operation>
	</portType>
	<binding name="ELMInstanceMapperBinding" type="tns:ELMInstanceMapper">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="runInstanceMapper">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/runInstanceMapper"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RunJob">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/RunJob"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CancelJob">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/CancelJob"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="JobIdentifierFault">
				<soap:fault name="JobIdentifierFault" use="literal"/>
			</fault>
		</operation>
		<operation name="GetStatus">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/GetStatus"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="JobIdentifierFault">
				<soap:fault name="JobIdentifierFault" use="literal"/>
			</fault>
		</operation>
		<operation name="GetResult">
			<soap:operation soapAction="http://elm.eu.org/ELMdb/GetResult"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="JobIdentifierFault">
				<soap:fault name="JobIdentifierFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ELMInstanceMapper">
		<documentation>This  WSDL file describe the ELM Instance Mapper Web Service. It compares a query protein sequence with sequences known to contain ELM Instances.
		<doc:ServiceDocumentation xmlns:doc="http://www.bccs.uib.no/ServiceDocumentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.bccs.uib.no/ServiceDocumentation http://api.bioinfo.no/schema/ServiceDocumentation.xsd">
				<doc:Reference>ELM server: a new resource for investigating short functional sites in modular eukaryotic proteins.
	Puntervoll, P., Linding, R., Gemnd, C., Chabanis-Davidson, S., Mattingsdal, M., Cameron, S., Martin, D. M. A., Ausiello, G., Brannetti, B., Costantini, A., 
	Ferr, F., Maselli, V., Via, A., Cesareni, G., Diella, F., Superti-Furga, G., Wyrwicz, L., Ramu, C., McGuigan, C., Gudavalli, R., Letunic, I., Bork, P.,
	Rychlewski, L., Kster, B., Helmer-Citterich, M., Hunter, W. N., Aasland, R., Gibson, T. J. (2003). Nucleic Acids Res., 31: 3625-3630.</doc:Reference>
				<doc:WebSite>http://elm.eu.org</doc:WebSite>
				<doc:SampleClient>http://api.bioinfo.no/clients/instanceMapper.py</doc:SampleClient>
			</doc:ServiceDocumentation>
		</documentation>
		<port name="ELMInstanceMapper" binding="tns:ELMInstanceMapperBinding">
			<soap:address location="http://api.bioinfo.no/services/ELMInstanceMapper"/>
		</port>
	</service>
</definitions>
