iserve-crawler/src/test/resources/WSDLs/EMBLNucleotideSequenceWebService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The EMBL Nucleotide Sequence Database constitutes Europe's primary nucleotide sequence resource.This webservice currently provides access to over 16.8 million records, consisting of 19.6 billion nucleotides . It also provides access to completed genomes, including the human genome, the fruit fly, and C. elegans</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetEMBLNucleotideSequence_Bsml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InternationalAccessionNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEMBLNucleotideSequence_BsmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEMBLNucleotideSequence_BsmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEMBLNucleotideSequence_AGAVE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InternationalAccessionNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEMBLNucleotideSequence_AGAVEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEMBLNucleotideSequence_AGAVEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEMBLNucleotideSequence_BsmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetEMBLNucleotideSequence_Bsml" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_BsmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetEMBLNucleotideSequence_BsmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_AGAVESoapIn">
    <wsdl:part name="parameters" element="tns:GetEMBLNucleotideSequence_AGAVE" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_AGAVESoapOut">
    <wsdl:part name="parameters" element="tns:GetEMBLNucleotideSequence_AGAVEResponse" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_BsmlHttpGetIn">
    <wsdl:part name="InternationalAccessionNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_BsmlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_AGAVEHttpGetIn">
    <wsdl:part name="InternationalAccessionNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_AGAVEHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_BsmlHttpPostIn">
    <wsdl:part name="InternationalAccessionNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_BsmlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_AGAVEHttpPostIn">
    <wsdl:part name="InternationalAccessionNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEMBLNucleotideSequence_AGAVEHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="EMBLNucleotideSequenceWebServiceSoap">
    <wsdl:operation name="GetEMBLNucleotideSequence_Bsml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get EMBL Nucleotide Sequence Data in Bsml format</wsdl:documentation>
      <wsdl:input message="tns:GetEMBLNucleotideSequence_BsmlSoapIn" />
      <wsdl:output message="tns:GetEMBLNucleotideSequence_BsmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEMBLNucleotideSequence_AGAVE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get EMBL Nucleotide Sequence Data in AGAVE format</wsdl:documentation>
      <wsdl:input message="tns:GetEMBLNucleotideSequence_AGAVESoapIn" />
      <wsdl:output message="tns:GetEMBLNucleotideSequence_AGAVESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EMBLNucleotideSequenceWebServiceHttpGet">
    <wsdl:operation name="GetEMBLNucleotideSequence_Bsml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get EMBL Nucleotide Sequence Data in Bsml format</wsdl:documentation>
      <wsdl:input message="tns:GetEMBLNucleotideSequence_BsmlHttpGetIn" />
      <wsdl:output message="tns:GetEMBLNucleotideSequence_BsmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEMBLNucleotideSequence_AGAVE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get EMBL Nucleotide Sequence Data in AGAVE format</wsdl:documentation>
      <wsdl:input message="tns:GetEMBLNucleotideSequence_AGAVEHttpGetIn" />
      <wsdl:output message="tns:GetEMBLNucleotideSequence_AGAVEHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EMBLNucleotideSequenceWebServiceHttpPost">
    <wsdl:operation name="GetEMBLNucleotideSequence_Bsml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get EMBL Nucleotide Sequence Data in Bsml format</wsdl:documentation>
      <wsdl:input message="tns:GetEMBLNucleotideSequence_BsmlHttpPostIn" />
      <wsdl:output message="tns:GetEMBLNucleotideSequence_BsmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEMBLNucleotideSequence_AGAVE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get EMBL Nucleotide Sequence Data in AGAVE format</wsdl:documentation>
      <wsdl:input message="tns:GetEMBLNucleotideSequence_AGAVEHttpPostIn" />
      <wsdl:output message="tns:GetEMBLNucleotideSequence_AGAVEHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EMBLNucleotideSequenceWebServiceSoap" type="tns:EMBLNucleotideSequenceWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEMBLNucleotideSequence_Bsml">
      <soap:operation soapAction="http://www.webserviceX.NET/GetEMBLNucleotideSequence_Bsml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEMBLNucleotideSequence_AGAVE">
      <soap:operation soapAction="http://www.webserviceX.NET/GetEMBLNucleotideSequence_AGAVE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EMBLNucleotideSequenceWebServiceSoap12" type="tns:EMBLNucleotideSequenceWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEMBLNucleotideSequence_Bsml">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetEMBLNucleotideSequence_Bsml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEMBLNucleotideSequence_AGAVE">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetEMBLNucleotideSequence_AGAVE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EMBLNucleotideSequenceWebServiceHttpGet" type="tns:EMBLNucleotideSequenceWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetEMBLNucleotideSequence_Bsml">
      <http:operation location="/GetEMBLNucleotideSequence_Bsml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEMBLNucleotideSequence_AGAVE">
      <http:operation location="/GetEMBLNucleotideSequence_AGAVE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EMBLNucleotideSequenceWebServiceHttpPost" type="tns:EMBLNucleotideSequenceWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetEMBLNucleotideSequence_Bsml">
      <http:operation location="/GetEMBLNucleotideSequence_Bsml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEMBLNucleotideSequence_AGAVE">
      <http:operation location="/GetEMBLNucleotideSequence_AGAVE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EMBLNucleotideSequenceWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The EMBL Nucleotide Sequence Database constitutes Europe's primary nucleotide sequence resource.This webservice currently provides access to over 16.8 million records, consisting of 19.6 billion nucleotides . It also provides access to completed genomes, including the human genome, the fruit fly, and C. elegans</wsdl:documentation>
    <wsdl:port name="EMBLNucleotideSequenceWebServiceSoap" binding="tns:EMBLNucleotideSequenceWebServiceSoap">
      <soap:address location="http://www.webservicex.com/EMBLNucleotideSequenceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EMBLNucleotideSequenceWebServiceSoap12" binding="tns:EMBLNucleotideSequenceWebServiceSoap12">
      <soap12:address location="http://www.webservicex.com/EMBLNucleotideSequenceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EMBLNucleotideSequenceWebServiceHttpGet" binding="tns:EMBLNucleotideSequenceWebServiceHttpGet">
      <http:address location="http://www.webservicex.com/EMBLNucleotideSequenceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EMBLNucleotideSequenceWebServiceHttpPost" binding="tns:EMBLNucleotideSequenceWebServiceHttpPost">
      <http:address location="http://www.webservicex.com/EMBLNucleotideSequenceWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>