iserve-crawler/src/test/resources/WSDLs/embnet.mafft.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" xmlns:intf="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://share.soaplab.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://share.soaplab.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SoaplabExceptionBean">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SoaplabException">
    <sequence>
     <element name="faultInfo" nillable="true" type="tns1:SoaplabExceptionBean"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://share.soaplab.org"/>
   <import namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://share.soaplab.org"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_apachesoap_Map">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="apachesoap:Map[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="destroyResponse">

   </wsdl:message>

   <wsdl:message name="runRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="describeResponse">

      <wsdl:part name="describeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="destroyRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="describeRequest">

   </wsdl:message>

   <wsdl:message name="waitForResponse">

   </wsdl:message>

   <wsdl:message name="getEndedResponse">

      <wsdl:part name="getEndedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getAnalysisTypeResponse">

      <wsdl:part name="getAnalysisTypeReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="runNotifiableRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="notificationDescriptor" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResultSpecResponse">

      <wsdl:part name="getResultSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </wsdl:message>

   <wsdl:message name="getElapsedResponse">

      <wsdl:part name="getElapsedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part name="getStatusReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getEndedRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createAndRunRequest">

      <wsdl:part name="inputs" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getInputSpecResponse">

      <wsdl:part name="getInputSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </wsdl:message>

   <wsdl:message name="getSomeResultsResponse">

      <wsdl:part name="getSomeResultsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getSomeResultsRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

      <wsdl:part name="resultNames" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="SoaplabException">

      <wsdl:part name="fault" type="tns1:SoaplabException"/>

   </wsdl:message>

   <wsdl:message name="getAnalysisTypeRequest">

   </wsdl:message>

   <wsdl:message name="getInputSpecRequest">

   </wsdl:message>

   <wsdl:message name="getCreatedRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="terminateRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="runResponse">

   </wsdl:message>

   <wsdl:message name="getCharacteristicsRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCharacteristicsResponse">

      <wsdl:part name="getCharacteristicsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="waitForRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResultSpecRequest">

   </wsdl:message>

   <wsdl:message name="createJobRequest">

      <wsdl:part name="inputs" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getStartedResponse">

      <wsdl:part name="getStartedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="createJobResponse">

      <wsdl:part name="createJobReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResultsRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="runAndWaitForResponse">

      <wsdl:part name="runAndWaitForReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getCreatedResponse">

      <wsdl:part name="getCreatedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="createAndRunNotifiableResponse">

      <wsdl:part name="createAndRunNotifiableReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="runNotifiableResponse">

   </wsdl:message>

   <wsdl:message name="getLastEventResponse">

      <wsdl:part name="getLastEventReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getElapsedRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getStartedRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResultsResponse">

      <wsdl:part name="getResultsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="createAndRunResponse">

      <wsdl:part name="createAndRunReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getLastEventRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNotificationDescriptorResponse">

      <wsdl:part name="getNotificationDescriptorReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createAndRunNotifiableRequest">

      <wsdl:part name="inputs" type="apachesoap:Map"/>

      <wsdl:part name="notificationDescriptor" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="runAndWaitForRequest">

      <wsdl:part name="inputs" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="terminateResponse">

   </wsdl:message>

   <wsdl:message name="getNotificationDescriptorRequest">

      <wsdl:part name="jobId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="AnalysisService">

      <wsdl:operation name="run" parameterOrder="jobId">

         <wsdl:input message="impl:runRequest" name="runRequest"/>

         <wsdl:output message="impl:runResponse" name="runResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="destroy" parameterOrder="jobId">

         <wsdl:input message="impl:destroyRequest" name="destroyRequest"/>

         <wsdl:output message="impl:destroyResponse" name="destroyResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="terminate" parameterOrder="jobId">

         <wsdl:input message="impl:terminateRequest" name="terminateRequest"/>

         <wsdl:output message="impl:terminateResponse" name="terminateResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getStatus" parameterOrder="jobId">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="runAndWaitFor" parameterOrder="inputs">

         <wsdl:input message="impl:runAndWaitForRequest" name="runAndWaitForRequest"/>

         <wsdl:output message="impl:runAndWaitForResponse" name="runAndWaitForResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getResults" parameterOrder="jobId">

         <wsdl:input message="impl:getResultsRequest" name="getResultsRequest"/>

         <wsdl:output message="impl:getResultsResponse" name="getResultsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getSomeResults" parameterOrder="jobId resultNames">

         <wsdl:input message="impl:getSomeResultsRequest" name="getSomeResultsRequest"/>

         <wsdl:output message="impl:getSomeResultsResponse" name="getSomeResultsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="describe">

         <wsdl:input message="impl:describeRequest" name="describeRequest"/>

         <wsdl:output message="impl:describeResponse" name="describeResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getLastEvent" parameterOrder="jobId">

         <wsdl:input message="impl:getLastEventRequest" name="getLastEventRequest"/>

         <wsdl:output message="impl:getLastEventResponse" name="getLastEventResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createAndRun" parameterOrder="inputs">

         <wsdl:input message="impl:createAndRunRequest" name="createAndRunRequest"/>

         <wsdl:output message="impl:createAndRunResponse" name="createAndRunResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="waitFor" parameterOrder="jobId">

         <wsdl:input message="impl:waitForRequest" name="waitForRequest"/>

         <wsdl:output message="impl:waitForResponse" name="waitForResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getInputSpec">

         <wsdl:input message="impl:getInputSpecRequest" name="getInputSpecRequest"/>

         <wsdl:output message="impl:getInputSpecResponse" name="getInputSpecResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getResultSpec">

         <wsdl:input message="impl:getResultSpecRequest" name="getResultSpecRequest"/>

         <wsdl:output message="impl:getResultSpecResponse" name="getResultSpecResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getAnalysisType">

         <wsdl:input message="impl:getAnalysisTypeRequest" name="getAnalysisTypeRequest"/>

         <wsdl:output message="impl:getAnalysisTypeResponse" name="getAnalysisTypeResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createJob" parameterOrder="inputs">

         <wsdl:input message="impl:createJobRequest" name="createJobRequest"/>

         <wsdl:output message="impl:createJobResponse" name="createJobResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="runNotifiable" parameterOrder="jobId notificationDescriptor">

         <wsdl:input message="impl:runNotifiableRequest" name="runNotifiableRequest"/>

         <wsdl:output message="impl:runNotifiableResponse" name="runNotifiableResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createAndRunNotifiable" parameterOrder="inputs notificationDescriptor">

         <wsdl:input message="impl:createAndRunNotifiableRequest" name="createAndRunNotifiableRequest"/>

         <wsdl:output message="impl:createAndRunNotifiableResponse" name="createAndRunNotifiableResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getNotificationDescriptor" parameterOrder="jobId">

         <wsdl:input message="impl:getNotificationDescriptorRequest" name="getNotificationDescriptorRequest"/>

         <wsdl:output message="impl:getNotificationDescriptorResponse" name="getNotificationDescriptorResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getCharacteristics" parameterOrder="jobId">

         <wsdl:input message="impl:getCharacteristicsRequest" name="getCharacteristicsRequest"/>

         <wsdl:output message="impl:getCharacteristicsResponse" name="getCharacteristicsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getCreated" parameterOrder="jobId">

         <wsdl:input message="impl:getCreatedRequest" name="getCreatedRequest"/>

         <wsdl:output message="impl:getCreatedResponse" name="getCreatedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getStarted" parameterOrder="jobId">

         <wsdl:input message="impl:getStartedRequest" name="getStartedRequest"/>

         <wsdl:output message="impl:getStartedResponse" name="getStartedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getEnded" parameterOrder="jobId">

         <wsdl:input message="impl:getEndedRequest" name="getEndedRequest"/>

         <wsdl:output message="impl:getEndedResponse" name="getEndedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getElapsed" parameterOrder="jobId">

         <wsdl:input message="impl:getElapsedRequest" name="getElapsedRequest"/>

         <wsdl:output message="impl:getElapsedResponse" name="getElapsedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="embnet.mafftSoapBinding" type="impl:AnalysisService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="run">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="destroy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="destroyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="destroyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="terminate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="terminateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="terminateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="runAndWaitFor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runAndWaitForRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runAndWaitForResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResultsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSomeResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSomeResultsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSomeResultsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="describe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="describeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="describeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLastEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLastEventRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLastEventResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createAndRun">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAndRunRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAndRunResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="waitFor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="waitForRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="waitForResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getInputSpec">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInputSpecRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getInputSpecResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getResultSpec">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultSpecRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResultSpecResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAnalysisType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnalysisTypeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAnalysisTypeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createJobRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createJobResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="runNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNotifiableRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNotifiableResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createAndRunNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAndRunNotifiableRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAndRunNotifiableResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getNotificationDescriptor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotificationDescriptorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNotificationDescriptorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCharacteristics">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCharacteristicsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCharacteristicsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCreated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCreatedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCreatedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStarted">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStartedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStartedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getEnded">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEndedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEndedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getElapsed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getElapsedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis1.protocol.services.soaplab.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getElapsedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SoaplabException" namespace="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AnalysisServiceService">

      <wsdl:port binding="impl:embnet.mafftSoapBinding" name="embnet.mafft">

         <wsdlsoap:address location="http://wsembnet.vital-it.ch/soaplab2-axis/services/embnet.mafft"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
