iserve-crawler/src/test/resources/WSDLs/FastaWS.wsdl

<?xml version="1.0"?>
<definitions name="Fasta_Service" 
 targetNamespace="http://gbio.ibcp.fr:8090/Fasta_Service"  
 xmlns:tns="http://gbio.ibcp.fr:8090/Fasta_Service"   
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="submitFastaRequest">
        <part name="Sequence" type="xsd:string"/>
        <part name="SeqDatabase" type="xsd:string"/>
    </message>
    <message name="submitFastaResponse">
        <part name="JobId" type="xsd:string"/>
    </message>
    
    <message name="checkStatusFastaRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="checkStatusFastaResponse">
        <part name="Status" type="xsd:string"/>
    </message>
    
    <message name="getResultsFastaRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="getResultsFastaResponse">
        <part name="SeqSimilar" type="xsd:string"/>
        <part name="Logout" type="xsd:string"/>
    </message>

    <message name="cancelFastaRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="cancelFastaResponse">
        <part name="Status" type="xsd:string"/>
    </message>

    <portType name="FastaPortType">
        <operation name="submitFasta">
            <documentation>Submit a sequence an get a jobID</documentation>
            <input message="tns:submitFastaRequest"/>
            <output message="tns:submitFastaResponse"/>
        </operation>
        <operation name="checkStatusFasta">
            <documentation>Submit a jobID and get the status</documentation>
            <input message="tns:checkStatusFastaRequest"/>
            <output message="tns:checkStatusFastaResponse"/>
        </operation>
        <operation name="getResultsFasta">
            <documentation>
            When job is finish, submit a jobid and get the results</documentation>
            <input message="tns:getResultsFastaRequest"/>
            <output message="tns:getResultsFastaResponse"/>
        </operation>
        <operation name="cancelFasta">
            <documentation>When some thing is wrong, cancel your job</documentation>
            <input message="tns:cancelFastaRequest"/>
            <output message="tns:cancelFastaResponse"/>
        </operation>
    </portType>

    <binding name="FastaBinding" type="tns:FastaPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitFasta">
            <soap:operation
             soapAction="urn:FastaWS.wsdl#submitFasta"/>
            <input>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="checkStatusFasta">
            <soap:operation
             soapAction="urn:FastaWS.wsdl#checkStatusFasta"/>
            <input>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getResultsFasta">
            <soap:operation
             soapAction="urn:FastaWS.wsdl#getResultsFasta"/>
            <input>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="cancelFasta">
            <soap:operation
             soapAction="urn:FastaWS.wsdl#cancelFasta"/>
            <input>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Fasta_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    
    <service name="Fasta_Service">
        <documentation>Fasta @ IBCP (http://gbio-pbil.ibcp.fr)</documentation>
        <port name="FastaPort" binding="tns:FastaBinding">
            <soap:address location="http://gbio.ibcp.fr:8090/Fasta_Service"/>
        </port>
    </service>
    
</definitions>