iserve-crawler/src/test/resources/WSDLs/FindingRelationshipsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.fulltextwebservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.fulltextwebservices/" name="FindingRelationshipsService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.fulltextwebservices/" schemaLocation="http://gnode1.mib.man.ac.uk:8080/FullTextWebServices/FindingRelationshipsService?xsd=1"/>
</xsd:schema>
</types>
<message name="findMetaboliteLocalisationRelationships">
<part name="parameters" element="tns:findMetaboliteLocalisationRelationships"/>
</message>
<message name="findMetaboliteLocalisationRelationshipsResponse">
<part name="parameters" element="tns:findMetaboliteLocalisationRelationshipsResponse"/>
</message>
<message name="findProteinLocalisationRelationships">
<part name="parameters" element="tns:findProteinLocalisationRelationships"/>
</message>
<message name="findProteinLocalisationRelationshipsResponse">
<part name="parameters" element="tns:findProteinLocalisationRelationshipsResponse"/>
</message>
<message name="findProteinInteractionRelationships">
<part name="parameters" element="tns:findProteinInteractionRelationships"/>
</message>
<message name="findProteinInteractionRelationshipsResponse">
<part name="parameters" element="tns:findProteinInteractionRelationshipsResponse"/>
</message>
<message name="findTermRelationships">
<part name="parameters" element="tns:findTermRelationships"/>
</message>
<message name="findTermRelationshipsResponse">
<part name="parameters" element="tns:findTermRelationshipsResponse"/>
</message>
<portType name="FindingRelationships">
<operation name="findMetaboliteLocalisationRelationships">
<input wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findMetaboliteLocalisationRelationshipsRequest" message="tns:findMetaboliteLocalisationRelationships"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findMetaboliteLocalisationRelationshipsResponse" message="tns:findMetaboliteLocalisationRelationshipsResponse"/>
</operation>
<operation name="findProteinLocalisationRelationships">
<input wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findProteinLocalisationRelationshipsRequest" message="tns:findProteinLocalisationRelationships"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findProteinLocalisationRelationshipsResponse" message="tns:findProteinLocalisationRelationshipsResponse"/>
</operation>
<operation name="findProteinInteractionRelationships">
<input wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findProteinInteractionRelationshipsRequest" message="tns:findProteinInteractionRelationships"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findProteinInteractionRelationshipsResponse" message="tns:findProteinInteractionRelationshipsResponse"/>
</operation>
<operation name="findTermRelationships">
<input wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findTermRelationshipsRequest" message="tns:findTermRelationships"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingRelationships/findTermRelationshipsResponse" message="tns:findTermRelationshipsResponse"/>
</operation>
</portType>
<binding name="FindingRelationshipsPortBinding" type="tns:FindingRelationships">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findMetaboliteLocalisationRelationships">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProteinLocalisationRelationships">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProteinInteractionRelationships">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTermRelationships">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FindingRelationshipsService">
<port name="FindingRelationshipsPort" binding="tns:FindingRelationshipsPortBinding">
<soap:address location="http://gnode1.mib.man.ac.uk:8080/FullTextWebServices/FindingRelationshipsService"/>
</port>
</service>
</definitions>