iserve-crawler/src/test/resources/WSDLs/FindingThingsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.fulltextwebservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.fulltextwebservices/" name="FindingThingsService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.fulltextwebservices/" schemaLocation="http://gnode1.mib.man.ac.uk:8080/FullTextWebServices/FindingThingsService?xsd=1"/>
</xsd:schema>
</types>
<message name="findCellTypesInText">
<part name="parameters" element="tns:findCellTypesInText"/>
</message>
<message name="findCellTypesInTextResponse">
<part name="parameters" element="tns:findCellTypesInTextResponse"/>
</message>
<message name="findTissueTypesInText">
<part name="parameters" element="tns:findTissueTypesInText"/>
</message>
<message name="findTissueTypesInTextResponse">
<part name="parameters" element="tns:findTissueTypesInTextResponse"/>
</message>
<message name="findSynonymsInText">
<part name="parameters" element="tns:findSynonymsInText"/>
</message>
<message name="findSynonymsInTextResponse">
<part name="parameters" element="tns:findSynonymsInTextResponse"/>
</message>
<message name="findSynonymsInTexts">
<part name="parameters" element="tns:findSynonymsInTexts"/>
</message>
<message name="findSynonymsInTextsResponse">
<part name="parameters" element="tns:findSynonymsInTextsResponse"/>
</message>
<portType name="FindingThings">
<operation name="findCellTypesInText">
<input wsam:Action="http://webservices.fulltextwebservices/FindingThings/findCellTypesInTextRequest" message="tns:findCellTypesInText"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingThings/findCellTypesInTextResponse" message="tns:findCellTypesInTextResponse"/>
</operation>
<operation name="findTissueTypesInText">
<input wsam:Action="http://webservices.fulltextwebservices/FindingThings/findTissueTypesInTextRequest" message="tns:findTissueTypesInText"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingThings/findTissueTypesInTextResponse" message="tns:findTissueTypesInTextResponse"/>
</operation>
<operation name="findSynonymsInText">
<input wsam:Action="http://webservices.fulltextwebservices/FindingThings/findSynonymsInTextRequest" message="tns:findSynonymsInText"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingThings/findSynonymsInTextResponse" message="tns:findSynonymsInTextResponse"/>
</operation>
<operation name="findSynonymsInTexts">
<input wsam:Action="http://webservices.fulltextwebservices/FindingThings/findSynonymsInTextsRequest" message="tns:findSynonymsInTexts"/>
<output wsam:Action="http://webservices.fulltextwebservices/FindingThings/findSynonymsInTextsResponse" message="tns:findSynonymsInTextsResponse"/>
</operation>
</portType>
<binding name="FindingThingsPortBinding" type="tns:FindingThings">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCellTypesInText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTissueTypesInText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSynonymsInText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSynonymsInTexts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FindingThingsService">
<port name="FindingThingsPort" binding="tns:FindingThingsPortBinding">
<soap:address location="http://gnode1.mib.man.ac.uk:8080/FullTextWebServices/FindingThingsService"/>
</port>
</service>
</definitions>