iserve-crawler/src/test/resources/WSDLs/get_medoc_TROPGENE_RICE_GCP_Study_GCP_Germplasm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.test.cirad.fr" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.service.test.cirad.fr" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>get_medoc_TROPGENE_RICE_GCP_Study_GCP_Germplasm</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.test.cirad.fr">
            <xs:element name="method">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="input" nillable="true" sawsdl:modelReference="http://gcpdomainmodel.org/GCPDM#GCP_Study" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="methodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" sawsdl:modelReference="http://gcpdomainmodel.org/GCPDM#GCP_Germplasm" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="methodRequest">
    <wsdl:part name="parameters" element="ns:method">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="methodResponse">
    <wsdl:part name="parameters" element="ns:methodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmPortType">
    <wsdl:operation name="method">
      <wsdl:input message="ns:methodRequest" wsaw:Action="urn:method">
    </wsdl:input>
      <wsdl:output message="ns:methodResponse" wsaw:Action="urn:methodResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmSoap12Binding" type="ns:get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="method">
      <soap12:operation soapAction="urn:method" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpBinding" type="ns:get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="method">
      <http:operation location="method"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmSoap11Binding" type="ns:get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="method">
      <soap:operation soapAction="urn:method" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_Germplasm">
    <wsdl:port name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpSoap12Endpoint" binding="ns:get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmSoap12Binding">
      <soap12:address location="http://gohelle.cirad.fr:8080/BioSemantic_webapp/services/get_medoc_TROPGENE_RICE_GCP_Study_GCP_Germplasm.get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpSoap11Endpoint" binding="ns:get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmSoap11Binding">
      <soap:address location="http://gohelle.cirad.fr:8080/BioSemantic_webapp/services/get_medoc_TROPGENE_RICE_GCP_Study_GCP_Germplasm.get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpEndpoint" binding="ns:get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpBinding">
      <http:address location="http://gohelle.cirad.fr:8080/BioSemantic_webapp/services/get_medoc_TROPGENE_RICE_GCP_Study_GCP_Germplasm.get_medoc_TROPGENE_RICE_GCP_Study_GCP_GermplasmHttpEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
