iserve-crawler/src/test/resources/WSDLs/GetTropgeneMarkerSPARQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneMarkerSPARQL" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneMarkerSPARQL" xmlns:intf="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneMarkerSPARQL" xmlns:tns1="http://axis.test.jwollbrett.com" xmlns:tns2="http://servlet.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://axis.test.jwollbrett.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servlet.javax"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="init">
    <complexType>
     <sequence>
      <element name="config" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="initResponse">
    <complexType/>
   </element>
   <element name="markers">
    <complexType>
     <sequence>
      <element name="studyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="markersResponse">
    <complexType>
     <sequence>
      <element name="markersReturn" type="apachesoap:Vector"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servlet.javax"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="markersResponse">

      <wsdl:part element="tns1:markersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="initResponse">

      <wsdl:part element="tns1:initResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="initRequest">

      <wsdl:part element="tns1:init" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="markersRequest">

      <wsdl:part element="tns1:markers" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="GetTropgeneMarkerSPARQL">

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest"/>

         <wsdl:output message="impl:initResponse" name="initResponse"/>

      </wsdl:operation>

      <wsdl:operation name="markers">

         <wsdl:input message="impl:markersRequest" name="markersRequest"/>

         <wsdl:output message="impl:markersResponse" name="markersResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetTropgeneMarkerSPARQLSoapBinding" type="impl:GetTropgeneMarkerSPARQL">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="markers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="markersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="markersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetTropgeneMarkerSPARQLService">

      <wsdl:port binding="impl:GetTropgeneMarkerSPARQLSoapBinding" name="GetTropgeneMarkerSPARQL">

         <wsdlsoap:address location="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneMarkerSPARQL"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
