iserve-crawler/src/test/resources/WSDLs/GetTropgeneDnaSampleSPARQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneDnaSampleSPARQL" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneDnaSampleSPARQL" xmlns:intf="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneDnaSampleSPARQL" xmlns:tns1="http://axis.test.jwollbrett.com" xmlns:tns2="http://servlet.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://axis.test.jwollbrett.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servlet.javax"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="init">
    <complexType>
     <sequence>
      <element name="config" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="initResponse">
    <complexType/>
   </element>
   <element name="dnaSamples">
    <complexType>
     <sequence>
      <element name="studyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dnaSamplesResponse">
    <complexType>
     <sequence>
      <element name="dnaSamplesReturn" type="apachesoap:Vector"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servlet.javax"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="dnaSamplesRequest">

      <wsdl:part element="tns1:dnaSamples" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="dnaSamplesResponse">

      <wsdl:part element="tns1:dnaSamplesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="initRequest">

      <wsdl:part element="tns1:init" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="initResponse">

      <wsdl:part element="tns1:initResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="GetTropgeneDnaSampleSPARQL">

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest"/>

         <wsdl:output message="impl:initResponse" name="initResponse"/>

      </wsdl:operation>

      <wsdl:operation name="dnaSamples">

         <wsdl:input message="impl:dnaSamplesRequest" name="dnaSamplesRequest"/>

         <wsdl:output message="impl:dnaSamplesResponse" name="dnaSamplesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetTropgeneDnaSampleSPARQLSoapBinding" type="impl:GetTropgeneDnaSampleSPARQL">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dnaSamples">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dnaSamplesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dnaSamplesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetTropgeneDnaSampleSPARQLService">

      <wsdl:port binding="impl:GetTropgeneDnaSampleSPARQLSoapBinding" name="GetTropgeneDnaSampleSPARQL">

         <wsdlsoap:address location="http://gohelle.cirad.fr:8080/testWS/services/GetTropgeneDnaSampleSPARQL"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
