iserve-crawler/src/test/resources/WSDLs/globplot.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://globplot.embl.de/stylesheets/WSDLDocumentation.xslt"?>
<!-- created by Kate Gould 21st October 2007 -->
<!-- edited by Kate Gould 15th July 2008 -->

<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:gpp="http://globplot.embl.de/GlobPlotPrediction" 
  xmlns:tns="http://globplot.embl.de/GlobPlotter"  
  name="GlobPlotter" 
  targetNamespace="http://globplot.embl.de/GlobPlotter">

<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:gpp="http://globplot.embl.de/GlobPlotPrediction"
		xmlns:tns="http://globplot.embl.de/GlobPlotter" 
		targetNamespace="http://globplot.embl.de/GlobPlotter">

		<xs:import namespace="http://globplot.embl.de/GlobPlotPrediction" 
				   schemaLocation="http://globplot.embl.de/webservice/schema/GlobPlotPrediction.xsd"/>
		
		<xs:element name="runGlobPlotter">
		<xs:complexType>
        <xs:sequence>
                 
            <xs:element name="sequenceIdentifier" type="xs:string" minOccurs = "1" maxOccurs="1"/>
            <xs:element name="querySequence" type="xs:string" minOccurs = "1" maxOccurs="1"/>
            <xs:element name="propensity" default="Russell/Linding" minOccurs = "1" maxOccurs="1">

                <xs:annotation>
                    <xs:documentation>The propensity on which the tendency for disorder/globularity is based.
                           		      refer to: http://globplot.embl.de/html/propensities.html for more details
                            	      on various propensities.
                    </xs:documentation>
                </xs:annotation>
                                
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Russell/Linding"/>
                        <xs:enumeration value="B-factors 3.5 std.dev"/>
                        <xs:enumeration value="B-factors 2.0 std.dev (Less stringent)"/>
                        <xs:enumeration value="REMARK-465 (Missing X-RAY coordinates)"/>
                        <xs:enumeration value="Deleage/Roux (Old scale)"/>
                        <xs:enumeration value="Hopp-Woods hydrophilicities"/>
                        <xs:enumeration value="Kyle-Doolittle hydrophilicities"/>
                    </xs:restriction>
                </xs:simpleType>
            
            </xs:element>
                    
            <!-- if this value is left with the default value of "no" all subsequent values are ignored -->
            <xs:element name="includeMainGraphics" minOccurs="0" maxOccurs="1" default="no">
            
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            
            </xs:element>
                    
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="disorderFrames_minimumPeakWidth" minOccurs="0" maxOccurs="1" default="5">
                
                <xs:annotation>
                    <xs:documentation>The minimum peak width for the disorder prediction.</xs:documentation>
                    </xs:annotation>
                    
                    <xs:simpleType>
                        <xs:restriction base="xs:nonNegativeInteger"/>
                    </xs:simpleType>
            
            </xs:element>
                    
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="disorderFrames_maximumJoinDistance" minOccurs="0" maxOccurs="1" default="4">
                
                <xs:annotation>
                    <xs:documentation>The maximum join distance for the disorder prediction.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger"/>
                </xs:simpleType>
            
            </xs:element>
                    
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="globularityFrames_minimumDomainLength" minOccurs="0" maxOccurs="1" default="74">
                
                <xs:annotation>
                    <xs:documentation>The minimum domain length(peak width) for the globular domain prediction.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger"/>
                </xs:simpleType>
            
            </xs:element>
                    
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="globularityFrames_maximumLinkerLength" minOccurs="0" maxOccurs="1" default="15">
            
                <xs:annotation>
                    <xs:documentation>The maximum linker length(join distance) for the globular domain prediction.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger"/>
                </xs:simpleType>
            
            </xs:element>
                    
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="smoothingSettings_firstDerivativeSavitzkyGolayFrame" minOccurs="0" maxOccurs="1" default="10">
            
                <xs:annotation>
                    <xs:documentation>The first derivative Savitzky-Golay frame value.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger"/>
                </xs:simpleType>
                
            </xs:element>
                        
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="smoothingSettings_secondDerivativeSavitzkyGolayFrame" minOccurs="0" maxOccurs="1" default="10">
                <xs:annotation>
                    <xs:documentation>The second derivative Savitzky-Golay frame value.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger"/>
                </xs:simpleType>
                
            </xs:element>
                
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="titleOfGraphics" minOccurs="0" maxOccurs="1">
                
                <xs:annotation>
                    <xs:documentation>The title for the generated graphics.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            
            </xs:element>
                    
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="performSmartPfamDomainPredictionInGraphics" minOccurs="0" maxOccurs="1" default="yes">
                 
                <xs:annotation>
                    <xs:documentation>This value determines whether to include SMART Pfam Domain prediction info. in the graph.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                         <xs:enumeration value="yes"/>
                         <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
                    
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="includeRawPlotInMainGraphics" minOccurs="0" maxOccurs="1" default="no">
            
                <xs:annotation>
                    <xs:documentation>This value determines whether to include SMART Pfam Domain prediction info. in the graph.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
                
            </xs:element>
              	
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="includeDydxPlotGraphics" minOccurs="0" maxOccurs="1" default="no">
                
                <xs:annotation>
                    <xs:documentation>This value determines whether to include dydx plot info. in the graph.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
                
            </xs:element>
            		
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="includeSmoothedResultFile" minOccurs="0" maxOccurs="1" default="no">
                
                <xs:annotation>
                    <xs:documentation>This value determines whether to return a file containing the smoothed results details.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
                	
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="includeDisorderGlobularDomainRangesFile" minOccurs="0" maxOccurs="1" default="no">
                
                <xs:annotation>
                    <xs:documentation>This value determines whether to return a file containing the disorder and globular domain ranges results details.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
                
            </xs:element>
                	
            <!-- the includeMainGraphics element must be set to "yes" for this element setting to affect the output details -->
            <xs:element name="includeDydxPlotFile" minOccurs="0" maxOccurs="1" default="no">
            
                <xs:annotation>
                    <xs:documentation>This value determines whether to return a file containing the dydx results details.</xs:documentation>
                </xs:annotation>
                
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
                
        </xs:sequence>
        </xs:complexType>
		</xs:element>

		<xs:element name="runGlobPlotterResponse">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="gpp:GlobPlotPrediction" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>

		</xs:element>
		</xs:schema>
</types>
	
<message name="runGlobPlotterRequestMsg">
	<part name="parameters" element="tns:runGlobPlotter"/>
</message>
<message name="runGlobPlotterResponseMsg">
	<part name="parameters" element="tns:runGlobPlotterResponse"/>
</message>
	
<portType name="GlobPlotter">
	<operation name="runGlobPlotter">
		<documentation>This operation runs the GlobPlot application directly.</documentation>
		<input message="tns:runGlobPlotterRequestMsg"/>
		<output message="tns:runGlobPlotterResponseMsg"/>
	</operation>
</portType>
	
<binding name="GlobPlotterBinding" type="tns:GlobPlotter">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="runGlobPlotter">
		<soap:operation soapAction="http://globplot.embl.de/GlobPlot/runGlobPlotter"/>
		<input>
			<soap:body use="literal"/>
		</input>

		<output>
			<soap:body use="literal"/>
		</output>
	</operation>
</binding>
	
<service name="GlobPlotter">
	<documentation>This  WSDL file describe the GlobPlot Web Service. It performs intrinsic protein disorder, domain and globularity prediction.
	<doc:ServiceDocumentation xmlns:doc="http://www.bccs.uib.no/ServiceDocumentation" 
                              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                              xsi:schemaLocation="http://www.bccs.uib.no/ServiceDocumentation http://globplot.embl.de/webservice/schema/ServiceDocumentation.xsd">
        <doc:Reference>GlobPlot: Exploring Protein Sequences for Globularity and Disorder
                       Rune Linding, Robert B. Russell, Victor Neduva and Toby J. Gibson
                       (Nucleic Acids Research, 2003, Vol. 31, No. 13 3701-3708)</doc:Reference>
        <doc:WebSite>http://globplot.embl.de</doc:WebSite>
        <doc:SampleClient>http://globplot.embl.de/clients/globPlotClient.txt</doc:SampleClient>
    </doc:ServiceDocumentation>
	</documentation>
		
    <port name="GlobPlotter" binding="tns:GlobPlotterBinding">
	    <soap:address location="http://luna.embl.de:8080/axis2/services/GlobPlotter"/>
	</port>
</service>

</definitions>
