iserve-crawler/src/test/resources/WSDLs/GnovaSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GnovaSearch"
   targetNamespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://cheminfo.informatics.indiana.edu/GnovaSearch"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <message name="exactsearchRequest">
      <part name="smile_string" type="xsd:string"/>			
   </message>
   <message name="exactsearchResponse">
      <part name="match_summary" type="xsd:string"/>
   </message>
   
   <message name="similaritysearchRequest">
      <part name="smile_string" type="xsd:string"/>			
      <part name="tanimoto_coefficient" type="xsd:float"/>
   </message>
   <message name="similaritysearchResponse">
      <part name="search_summary" type="xsd:string"/>
   </message>

   <message name="prefilterRequest">
      <part name="smile_string" type="xsd:string"/>			
      <part name="tanimoto_coefficient" type="xsd:float"/>
   </message>
   <message name="prefilterResponse">
      <part name="filter_file" type="xsd:string"/>
   </message>
   
   <portType name="compoundsearch_PortType">
      <operation name="exactsearch">
         <input message="tns:exactsearchRequest"/>
         <output message="tns:exactsearchResponse"/>
      </operation>
      <operation name="similaritysearch">
         <input message="tns:similaritysearchRequest"/>
         <output message="tns:similaritysearchResponse"/>
      </operation>
      <operation name="prefilter">
         <input message="tns:prefilterRequest"/>
         <output message="tns:prefilterResponse"/>
      </operation>      
   </portType>
   
   <binding name="compoundsearch_Binding" type="tns:compoundsearch_PortType">
      <soap:binding style="rpc" 
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="exactsearch">
         <soap:operation soapAction="http://cheminfo.informatics.indiana.edu/GnovaSearch#exactsearch"/>
         <input>
            <soap:body 
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
               use="encoded"/>
         </output>
      </operation>
      <operation name="similaritysearch">
         <soap:operation soapAction="http://cheminfo.informatics.indiana.edu/GnovaSearch#similaritysearch"/>
         <input>
            <soap:body 
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
               use="encoded"/>
         </output>
      </operation>
      <operation name="prefilter">
         <soap:operation soapAction="http://cheminfo.informatics.indiana.edu/GnovaSearch#prefilter"/>
         <input>
            <soap:body 
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
               use="encoded"/>
         </output>
      </operation>
   </binding>

   <service name="compoundsearch_Service">
      <documentation>This is a wsdl interface for the CICC (Chemical Informatics and Cyberinfrastructure Collaboratory) 
      database projects developed at school of informatics of Indiana University. The current version supports canonical
      smile search, which is based on the gNova Cartridge offered by gNova Scientific Software.</documentation>
      <port binding="tns:compoundsearch_Binding" name="compoundsearch_Port">
         <soap:address 
            location="http://cheminfo.informatics.indiana.edu/cicc/cgi-bin/gnovasearch.cgi"/>
      </port>
   </service>
</definitions>
