iserve-crawler/src/test/resources/WSDLs/GorIWS.wsdl

<?xml version="1.0"?>
<definitions name="GorI_Service" 
 targetNamespace="http://gbio.ibcp.fr:8090/GorI_Service"  
 xmlns:tns="http://gbio.ibcp.fr:8090/GorI_Service"   
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="submitGorIRequest">
        <part name="Sequence" type="xsd:string"/>
    </message>
    <message name="submitGorIResponse">
        <part name="JobId" type="xsd:string"/>
    </message>
    
    <message name="checkStatusGorIRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="checkStatusGorIResponse">
        <part name="Status" type="xsd:string"/>
    </message>
    
    <message name="getResultsGorIRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="getResultsGorIResponse">
        <part name="SecStructure" type="xsd:string"/>
    </message>

    <message name="cancelGorIRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="cancelGorIResponse">
        <part name="Status" type="xsd:string"/>
    </message>

    <portType name="GorIPortType">
        <operation name="submitGorI">
            <documentation>Submit a sequence an get a jobID</documentation>
            <input message="tns:submitGorIRequest"/>
            <output message="tns:submitGorIResponse"/>
        </operation>
        <operation name="checkStatusGorI">
            <documentation>Submit a jobID and get the status</documentation>
            <input message="tns:checkStatusGorIRequest"/>
            <output message="tns:checkStatusGorIResponse"/>
        </operation>
        <operation name="getResultsGorI">
            <documentation>>When job is finish, submit a jobid and get the results</documentation>
            <input message="tns:getResultsGorIRequest"/>
            <output message="tns:getResultsGorIResponse"/>
        </operation>
        <operation name="cancelGorI">
            <documentation>When some thing is wrong, cancel your job</documentation>
            <input message="tns:cancelGorIRequest"/>
            <output message="tns:cancelGorIResponse"/>
        </operation>
    </portType>

    <binding name="GorIBinding" type="tns:GorIPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitGorI">
            <soap:operation
             soapAction="urn:GorIWS.wsdl#submitGorI"/>
            <input>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="checkStatusGorI">
            <soap:operation
             soapAction="urn:GorIWS.wsdl#checkStatusGorI"/>
            <input>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getResultsGorI">
            <soap:operation
             soapAction="urn:GorIWS.wsdl#getResultsGorI"/>
            <input>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="cancelGorI">
            <soap:operation
             soapAction="urn:GorIWS.wsdl#cancelGorI"/>
            <input>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:GorI_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    
    <service name="GorI_Service">
        <documentation>GorI @ IBCP (http://gbio-pbil.ibcp.fr)</documentation>
        <port name="GorIPort" binding="tns:GorIBinding">
            <soap:address location="http://gbio.ibcp.fr:8090/GorI_Service"/>
        </port>
    </service>
    
</definitions>