iserve-crawler/src/test/resources/WSDLs/iHOP-SOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!--
	$Id: iHOP-SOAP.wsdl 1810 2011-02-28 15:41:56Z jmfernandez $
	The information in this file was obtained from the iHOP server
	developed and created by Robert Hoffmann. iHOP - Information Hyperlinked over Proteins
	is licensed under a Creative Commons Attribution 2.5 License (http://creativecommons.org/licenses/by/2.5/).
	
	The information in this file was obtained using the iHOP web services
	developed and created by José María Fernández González, CNIO.

	The iHOP server is accessible at http://www.ihop-net.org/
	
	The iHOP web services documentation and specifications
	are accessible at http://www.ihop-net.org/UniPub/iHOP/webservices/

	Please cite the use of this data and webservices in your works as
	- "A Gene Network for Navigating the Literature. Hoffmann, R., Valencia, A. Nature Genetics 36, 664 (2004)"
	- "iHOP web services. Fernández, JM., Hoffmann, R., Valencia, A. Nucleic Acid Res. Web Server Issue (2007)"
	- "iHOP - http://www.ihop-net.org/"
	- "iHOP web services - http://www.ihop-net.org/UniPub/iHOP/webservices/"

	Electronic services, which are based on this data, must provide
	credit and links to the iHOP server (http://www.ihop-net.org) visible
	to all users whenever iHOP data is displayed in its original or a derivate form.

	Electronic services, which are based on these web services, must also provide
	credit and links to the iHOP web services (http://www.ihop-net.org/UniPub/iHOP/webservices)
	visible to all users whenever iHOP data from these services is displayed
	in its original or a derivate form.

	Technical information:
	
	The data provided here is itself a derivate of original iHOP data.
	The web service XML schema and generators were created by
	José María Fernández González and were partially funded by
	the ORIEL project (IST-2001-32688) and ENFIN Network of Excellence
	(LSHG-CT-2005-518254).
	
	Acknowledgments:
	iHOP server and end user interface are supported and provided by
	cBio@MSKCC (Computational Biological Center at Memorial Sloan-Kettering Cancer Center).
	Without their continuous support, iHOP web services could not be working just now!
	
	Also, iHOP web services server and developers site are supported and provided by
	CNIO (Centro Nacional de Investigaciones Oncológicas, Spanish National Cancer
	Research Center) groups SCompBio (Structural and Computational Biology) and UBio
	(Bioinformatics Unit).
-->


<definitions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml iHOP-XML.xsd"
	name='iHOP_SOAP_1.1'
	targetNamespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml'
	xmlns:tns='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml'
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<documentation><![CDATA[iHOP SOAP services, described in WSDL
It uses XML export schema designed for ORIEL
Funded by ORIEL project (IST-2001-32688)]]></documentation>
	
	<!-- imports -->
	<import namespace="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml" location="iHOP-XML.xsd" />
	
	<!-- Type declaration, although most of the work was done in iHOP-XML.xsd -->
	<types>
		<xsd:schema targetNamespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' elementFormDefault="qualified">
			<xsd:include schemaLocation="iHOP-XML.xsd" />
			
			<xsd:complexType name='iHOPabstractSOAPContainer'>
				<xsd:choice>
					<xsd:element ref='tns:iHOPabstract'/>
					<xsd:element ref='tns:iHOPSOAPNotFound' />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name='iHOPrelatedSymbolsSOAPContainer'>
				<xsd:choice>
					<xsd:element ref='tns:iHOPrelatedSymbols'/>
					<xsd:element ref='tns:iHOPSOAPNotFound' />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name='iHOPguessedSymbolIdSOAPContainer'>
				<xsd:choice>
					<xsd:element ref='tns:iHOPguessedSymbolId'/>
					<xsd:element ref='tns:iHOPSOAPNotFound' />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name='iHOPdefinitionListSOAPContainer'>
				<xsd:choice>
					<xsd:element ref='tns:iHOPdefinitionList'/>
					<xsd:element ref='tns:iHOPSOAPNotFound' />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name='iHOPsymbolInfoSOAPContainer'>
				<xsd:choice>
					<xsd:element ref='tns:iHOPsymbolInfo'/>
					<xsd:element ref='tns:iHOPSOAPNotFound' />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name='iHOPinteractionListSOAPContainer'>
				<xsd:choice>
					<xsd:element ref='tns:iHOPinteractionList'/>
					<xsd:element ref='tns:iHOPSOAPNotFound' />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name='iHOPLatestSentencesSOAPContainer'>
				<xsd:choice>
					<xsd:element ref='tns:iHOPLatestSentences'/>
					<xsd:element ref='tns:iHOPSOAPNotFound' />
				</xsd:choice>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<!-- Now, the message definitions! -->
	
	<!-- getPubMed -->
	<message name='getPubMedFromPMIDRequest'>
		<!--
		<part name='pmid' type='xsd:positiveInteger'>
		-->
		<part name='pmid' type='xsd:int'>
			<documentation>Input parameter that indicates a PMID (PubMed identifier)</documentation>
		</part>
	</message>
	
	<message name='getPubMedFromIHOPRequest'>
		<!--
		<part name='ihoppmid' type='xsd:positiveInteger'>
		-->
		<part name='ihoppmid' type='xsd:int'>
			<documentation>Input parameter that indicates an iHOP publication id</documentation>
		</part>
	</message>
	
	<message name='getPubMedResponse'>
		<part name='result' type='tns:iHOPabstractSOAPContainer'>
			<documentation>Output parameter which contains a enriched abstract</documentation>
		</part>
	</message>
	
	<!-- getRelatedSymbols -->
	<!--
		Input messages reused by guessSymbolIdFromSymbolText
	-->
	<message name='getRelatedSymbolsRequest'>
		<part name='input' type='xsd:string'>
			<documentation>Input parameter that indicates the query (a piece of gene symbol, a UniProt gene name, etc...)</documentation>
		</part>
	</message>
	
	<message name='getRelatedSymbolsWithTaxIdRequest'>
		<part name='input' type='xsd:string'>
			<documentation>Input parameter that indicates the query (a piece of gene symbol, a UniProt gene name, etc...)</documentation>
		</part>
		<!--
		<part name='taxid' type='xsd:positiveInteger'>
		-->
		<part name='taxid' type='xsd:int'>
			<documentation>This parameter is an NCBI TaxID, and it restricts the search to the organism it represents</documentation>
		</part>
	</message>
	
	<message name='getRelatedSymbolsResponse'>
		<part name='result' type='tns:iHOPrelatedSymbolsSOAPContainer'>
			<documentation>Output parameter which contains the possible iHOP symbols by similarity search</documentation>
		</part>
	</message>
	
	<!-- guessSymbolIdFromSymbolText -->
	<message name='guessSymbolIdFromSymbolTextResponse'>
		<part name='result' type='tns:iHOPguessedSymbolIdSOAPContainer'>
			<documentation>Output parameter which contains the nearest iHOP symbol ID by similarity search</documentation>
		</part>
	</message>

	<!-- Generic -->
	<!--
		Reused by:
			getSymbolDefinitions
			getSymbolInfo
			getSymbolInteractions
			other...
	-->
	<message name='referenceRequest'>
		<part name='reference' type='xsd:string'>
			<documentation>Input parameter that indicates the query (biological database reference)</documentation>
		</part>
	</message>
	
	<message name='referenceAndNamespaceRequest'>
		<part name='reference' type='xsd:string'>
			<documentation>Input parameter that indicates the query (biological database reference)</documentation>
		</part>
		<part name='namespace' type='xsd:string'>
			<documentation>Input parameter that indicates the domain of the query (namespace of biological database reference, see http://www.ihop-net.org/UniPub/iHOP/info/dev/in.html)</documentation>
		</part>
	</message>
	
	<message name='symbolRequest'>
		<part name='symbol' type='xsd:string'>
			<documentation>Input parameter which should be a canonical symbol name</documentation>
		</part>
	</message>
	
	<message name='symbolAndTaxIdRequest'>
		<part name='symbol' type='xsd:string'>
			<documentation>Input parameter which should be a canonical symbol name</documentation>
		</part>
		<!--
		<part name='taxid' type='xsd:positiveInteger'>
		-->
		<part name='taxid' type='xsd:int'>
			<documentation>Input parameter which is an NCBI TaxId</documentation>
		</part>
	</message>
	
	<message name='iHOPRequest'>
		<!--
		<part name='ihopid' type='xsd:positiveInteger'>
		-->
		<part name='ihopid' type='xsd:int'>
			<documentation>Input parameter which is an iHOP symbol id</documentation>
		</part>
	</message>
	
	<!-- getSymbolDefinitions -->
	<message name='getSymbolDefinitionsResponse'>
		<part name='result' type='tns:iHOPdefinitionListSOAPContainer'>
			<documentation>Output parameter which contains the definitions that iHOP has used to caracterize a gene symbol</documentation>
		</part>
	</message>
	
	<!-- getSymbolInfo -->
	<message name='getSymbolInfoResponse'>
		<part name='result' type='tns:iHOPsymbolInfoSOAPContainer'>
			<documentation>Output parameter which contains the known information about the input gene symbol</documentation>
		</part>
	</message>
	
	<!-- getSymbolInteractions -->
	<message name='getSymbolInteractionsResponse'>
		<part name='result' type='tns:iHOPinteractionListSOAPContainer'>
			<documentation>Output parameter which contains the identified interaction evidences between a given gene symbol and other ones</documentation>
		</part>
	</message>
	
	<!-- getLatestSymbolInformation -->
	<message name='getLatestSymbolInformationResponse'>
		<part name='result' type='tns:iHOPLatestSentencesSOAPContainer'>
			<documentation>Output parameter which contains the latest evidences between a given gene symbol and other ones</documentation>
		</part>
	</message>
	
	<!-- Now, the portTypes -->
	<portType name='iHOP_SOAP_PortType'>
		<!-- getPubMed -->
		<operation name='getPubMedFromPMID'>
			<documentation>It takes a PMID, and it returns the associated abstract if it exist and it is inside iHOP.</documentation>
			<input message='tns:getPubMedFromPMIDRequest' />
			<output message='tns:getPubMedResponse' />
		</operation>
		
		<operation name='getPubMedFromIHOP'>
			<documentation>It takes an iHOP publication id, and it returns the associated abstract if it exist and it is inside iHOP.</documentation>
			<input message='tns:getPubMedFromIHOPRequest' />
			<output message='tns:getPubMedResponse' />
		</operation>
		
		<!-- getRelatedSymbols -->
		<operation name='getRelatedSymbols'>
			<documentation>It takes a putative gene symbol as input. It returns a XML with the list of iHOP symbols which could best fit with the input.</documentation>
			<input message='tns:getRelatedSymbolsRequest' />
			<output message='tns:getRelatedSymbolsResponse' />
		</operation>
		
		<operation name='getRelatedSymbolsWithTaxId'>
			<documentation>It takes a putative gene symbol and an NCBI Tax ID as input. It returns a XML with the list of iHOP symbols which could best fit with the input and are attached to the organism specified.</documentation>
			<input message='tns:getRelatedSymbolsWithTaxIdRequest' />
			<output message='tns:getRelatedSymbolsResponse' />
		</operation>
		
		<!-- getSymbolsFromReference -->
		<operation name='getSymbolsFromReference'>
			<documentation>It takes a biological database reference as input. It returns a XML with the list of iHOP symbols which could best fit with the input.</documentation>
			<input message='tns:referenceRequest' />
			<output message='tns:getRelatedSymbolsResponse' />
		</operation>
		
		<!-- getSymbolsFromReferenceAndNamespace -->
		<operation name='getSymbolsFromReferenceAndNamespace'>
			<documentation>It takes a biological database reference and its namespace as input. It returns a XML with the list of iHOP symbols which could best fit with the input.</documentation>
			<input message='tns:referenceAndNamespaceRequest' />
			<output message='tns:getRelatedSymbolsResponse' />
		</operation>
		
		<!-- guessSymbolIdFromSymbolText -->
		<operation name='guessSymbolIdFromSymbolText'>
			<documentation>It takes a putative gene symbol as input. It guess the iHOP Id which best matches with the input.</documentation>
			<input message='tns:getRelatedSymbolsRequest' />
			<output message='tns:guessSymbolIdFromSymbolTextResponse' />
		</operation>
		
		<operation name='guessSymbolIdFromSymbolTextAndTaxId'>
			<documentation>It takes a putative gene symbol and an NCBI Tax ID as input. It guess the iHOP Id which best matches with the input.</documentation>
			<input message='tns:getRelatedSymbolsWithTaxIdRequest' />
			<output message='tns:guessSymbolIdFromSymbolTextResponse' />
		</operation>
		
		<!-- guessSymbolIdFromReference -->
		<operation name='guessSymbolIdFromReference'>
			<documentation>It takes a biological database reference as input. It guess the iHOP Id which best matches with the input.</documentation>
			<input message='tns:referenceRequest' />
			<output message='tns:guessSymbolIdFromSymbolTextResponse' />
		</operation>
		
		<!-- guessSymbolIdFromReferenceAndNamespace -->
		<operation name='guessSymbolIdFromReferenceAndNamespace'>
			<documentation>It takes a biological database reference and its namespace as input. It guess the iHOP Id which best matches with the input.</documentation>
			<input message='tns:referenceAndNamespaceRequest' />
			<output message='tns:guessSymbolIdFromSymbolTextResponse' />
		</operation>
		
		<!-- getSymbolDefinitions -->
		<operation name='getSymbolDefinitionsFromSymbol'>
			<documentation>It takes a gene symbol, and it returns
the definitions iHOP used to model this gene symbol. Input gene symbol
is matched against the list of related iHOP gene symbols, taking the
first one which is equal.</documentation>
			<input message='tns:symbolRequest' />
			<output message='tns:getSymbolDefinitionsResponse' />
		</operation>
		
		<operation name='getSymbolDefinitionsFromSymbolAndTaxId'>
			<documentation>It takes a gene symbol and an NCBI TaxID, and it returns
the definitions iHOP used to model this gene symbol. Input gene symbol
is matched against the list of related iHOP gene symbols, taking the
first one which is equal.</documentation>
			<input message='tns:symbolAndTaxIdRequest' />
			<output message='tns:getSymbolDefinitionsResponse' />
		</operation>
		
		<operation name='getSymbolDefinitionsFromReference'>
			<documentation>It takes a biological database reference, and it returns
the definitions iHOP used to model this gene symbol.</documentation>
			<input message='tns:referenceRequest' />
			<output message='tns:getSymbolDefinitionsResponse' />
		</operation>
		
		<operation name='getSymbolDefinitionsFromReferenceAndNamespace'>
			<documentation>It takes a biological database reference and its namespace, and it returns
the definitions iHOP used to model this gene symbol.</documentation>
			<input message='tns:referenceAndNamespaceRequest' />
			<output message='tns:getSymbolDefinitionsResponse' />
		</operation>
		
		<operation name='getSymbolDefinitionsFromIHOP'>
			<documentation>It takes an iHOP gene symbol id, and it returns
the definitions iHOP used to model this gene symbol.</documentation>
			<input message='tns:iHOPRequest' />
			<output message='tns:getSymbolDefinitionsResponse' />
		</operation>
		
		<!-- getSymbolInfo -->
		<operation name='getSymbolInfoFromSymbol'>
			<documentation>It takes a gene symbol, and it returns
the information about it inside iHOP. Input gene symbol is matched
against the list of related iHOP gene symbols, taking the first one
which is equal.</documentation>
			<input message='tns:symbolRequest' />
			<output message='tns:getSymbolInfoResponse' />
		</operation>
		
		<operation name='getSymbolInfoFromSymbolAndTaxId'>
			<documentation>It takes a gene symbol and an NCBI TaxID, and it returns
the information about it inside iHOP. Input gene symbol is matched
against the list of related iHOP gene symbols, taking the first one
which is equal.</documentation>
			<input message='tns:symbolAndTaxIdRequest' />
			<output message='tns:getSymbolInfoResponse' />
		</operation>
		
		<operation name='getSymbolInfoFromReference'>
			<documentation>It takes a biological database reference, and it returns
the information about it inside iHOP.</documentation>
			<input message='tns:referenceRequest' />
			<output message='tns:getSymbolInfoResponse' />
		</operation>
		
		<operation name='getSymbolInfoFromReferenceAndNamespace'>
			<documentation>It takes a biological database reference and namespace, and it returns
the information about it inside iHOP.</documentation>
			<input message='tns:referenceAndNamespaceRequest' />
			<output message='tns:getSymbolInfoResponse' />
		</operation>
		
		<operation name='getSymbolInfoFromIHOP'>
			<documentation>It takes an iHOP gene symbol id, and it returns
the information about it inside iHOP.</documentation>
			<input message='tns:iHOPRequest' />
			<output message='tns:getSymbolInfoResponse' />
		</operation>
		
		<!-- getSymbolInteractions -->
		<operation name='getSymbolInteractionsFromSymbol'>
			<documentation>It takes a gene symbol, and it returns
the interactions of the symbol with other ones (in terms of experimental
evidences and sentences). Input gene symbol is matched against the list
of related iHOP gene symbols, taking the first one which is equal.</documentation>
			<input message='tns:symbolRequest' />
			<output message='tns:getSymbolInteractionsResponse' />
		</operation>
		
		<operation name='getSymbolInteractionsFromSymbolAndTaxId'>
			<documentation>It takes a gene symbol and an NCBI Tax ID, and it returns
the interactions of the symbol with other ones (in terms of experimental
evidences and sentences). Input gene symbol is matched against the list
of related iHOP gene symbols, taking the first one which is equal.</documentation>
			<input message='tns:symbolAndTaxIdRequest' />
			<output message='tns:getSymbolInteractionsResponse' />
		</operation>
		
		<operation name='getSymbolInteractionsFromReference'>
			<documentation>It takes a biological database reference, and it returns
the interactions of the symbol with other ones (in terms of experimental
evidences and sentences).</documentation>
			<input message='tns:referenceRequest' />
			<output message='tns:getSymbolInteractionsResponse' />
		</operation>
		
		<operation name='getSymbolInteractionsFromReferenceAndNamespace'>
			<documentation>It takes a biological database reference and namespace, and it returns
the interactions of the symbol with other ones (in terms of experimental
evidences and sentences).</documentation>
			<input message='tns:referenceAndNamespaceRequest' />
			<output message='tns:getSymbolInteractionsResponse' />
		</operation>
		
		<operation name='getSymbolInteractionsFromIHOP'>
			<documentation>It takes an iHOP gene symbol id, and it returns
the interactions of the symbol with other ones (in terms of experimental
evidences and sentences).</documentation>
			<input message='tns:iHOPRequest' />
			<output message='tns:getSymbolInteractionsResponse' />
		</operation>
		
		<!-- getLatestSymbolInformation -->
		<operation name='getLatestSymbolInformationFromSymbol'>
			<documentation>It takes a gene symbol, and it returns
				the latest information about the symbol (in terms of experimental
				evidences and sentences). Input gene symbol is matched against the list
				of related iHOP gene symbols, taking the first one which is equal.</documentation>
			<input message='tns:symbolRequest' />
			<output message='tns:getLatestSymbolInformationResponse' />
		</operation>
		
		<operation name='getLatestSymbolInformationFromSymbolAndTaxId'>
			<documentation>It takes a gene symbol and an NCBI Tax ID, and it returns
				the latest information about the symbol (in terms of experimental
				evidences and sentences). Input gene symbol is matched against the list
				of related iHOP gene symbols, taking the first one which is equal.</documentation>
			<input message='tns:symbolAndTaxIdRequest' />
			<output message='tns:getLatestSymbolInformationResponse' />
		</operation>
		
		<operation name='getLatestSymbolInformationFromReference'>
			<documentation>It takes a biological database reference, and it returns
				the latest information about the symbol (in terms of experimental
				evidences and sentences).</documentation>
			<input message='tns:referenceRequest' />
			<output message='tns:getLatestSymbolInformationResponse' />
		</operation>
		
		<operation name='getLatestSymbolInformationFromReferenceAndNamespace'>
			<documentation>It takes a biological database reference and namespace, and it returns
				the latest information about the symbol (in terms of experimental
				evidences and sentences).</documentation>
			<input message='tns:referenceAndNamespaceRequest' />
			<output message='tns:getLatestSymbolInformationResponse' />
		</operation>
		
		<operation name='getLatestSymbolInformationFromIHOP'>
			<documentation>It takes an iHOP gene symbol id, and it returns
				the latest information about the symbol (in terms of experimental
				evidences and sentences).</documentation>
			<input message='tns:iHOPRequest' />
			<output message='tns:getLatestSymbolInformationResponse' />
		</operation>
	</portType>
	
	<!-- Now, the different bindings -->
	<binding name='iHOP_SOAP_Binding' type='tns:iHOP_SOAP_PortType'>
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<!-- getPubMed -->
		<operation name='getPubMedFromPMID'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getPubMedFromPMID" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getPubMedFromIHOP'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getPubMedFromIHOP" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- getRelatedSymbols -->
		<operation name='getRelatedSymbols'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getRelatedSymbols" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getRelatedSymbolsWithTaxId'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getRelatedSymbolsWithTaxId" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- getSymbolsFromReference -->
		<operation name='getSymbolsFromReference'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolsFromReference" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- getSymbolsFromReferenceAndNamespace -->
		<operation name='getSymbolsFromReferenceAndNamespace'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolsFromReferenceAndNamespace" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- guessSymbolIdFromSymbolText -->
		<operation name='guessSymbolIdFromSymbolText'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#guessSymbolIdFromSymbolText" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='guessSymbolIdFromSymbolTextAndTaxId'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#guessSymbolIdFromSymbolTextAndTaxId" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- guessSymbolIdFromReference -->
		<operation name='guessSymbolIdFromReference'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#guessSymbolIdFromReference" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- guessSymbolIdFromReferenceAndNamespace -->
		<operation name='guessSymbolIdFromReferenceAndNamespace'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#guessSymbolIdFromReferenceAndNamespace" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- getSymbolDefinitions -->
		<operation name='getSymbolDefinitionsFromSymbol'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolDefinitionsFromSymbol" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolDefinitionsFromSymbolAndTaxId'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolDefinitionsFromSymbolAndTaxId" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolDefinitionsFromReference'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolDefinitionsFromReference" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolDefinitionsFromReferenceAndNamespace'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolDefinitionsFromReferenceAndNamespace" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolDefinitionsFromIHOP'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolDefinitionsFromIHOP" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- getSymbolInfo -->
		<operation name='getSymbolInfoFromSymbol'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInfoFromSymbol" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInfoFromSymbolAndTaxId'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInfoFromSymbolAndTaxId" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInfoFromIHOP'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInfoFromIHOP" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInfoFromReference'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInfoFromReference" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInfoFromReferenceAndNamespace'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInfoFromReferenceAndNamespace" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- getSymbolInteractions -->
		<operation name='getSymbolInteractionsFromSymbol'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInteractionsFromSymbol" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInteractionsFromSymbolAndTaxId'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInteractionsFromSymbolAndTaxId" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInteractionsFromIHOP'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInteractionsFromIHOP" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInteractionsFromReference'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInteractionsFromReference" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getSymbolInteractionsFromReferenceAndNamespace'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getSymbolInteractionsFromReferenceAndNamespace" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<!-- getLatestSymbolInformation -->
		<operation name='getLatestSymbolInformationFromSymbol'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getLatestSymbolInformationFromSymbol" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getLatestSymbolInformationFromSymbolAndTaxId'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getLatestSymbolInformationFromSymbolAndTaxId" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getLatestSymbolInformationFromIHOP'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getLatestSymbolInformationFromIHOP" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getLatestSymbolInformationFromReference'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getLatestSymbolInformationFromReference" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
		<operation name='getLatestSymbolInformationFromReferenceAndNamespace'>
			<soap:operation soapAction="http://www.pdg.cnb.uam.es/UniPub/iHOP/xml#getLatestSymbolInformationFromReferenceAndNamespace" />
			
			<input>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.pdg.cnb.uam.es/UniPub/iHOP/xml' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	
	<!-- And at last, the services which use the bindings -->
	<service name="iHOP_SOAP">
		<documentation><![CDATA[iHOP SOAP services
It uses XML export schema designed for ORIEL
Funded by ORIEL project (IST-2001-32688)]]></documentation>
		<port name="iHOP_SOAP_Port" binding="tns:iHOP_SOAP_Binding">
			<soap:address location="http://ws.bioinfo.cnio.es/iHOP/cgi-bin/iHOPSOAP" />
		</port>
	</service>
</definitions>
