iserve-crawler/src/test/resources/WSDLs/integr8.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-04/12/2007 02:26 PM(vivekp)-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-04/12/2007 02:26 PM(vivekp)-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.search.ws_integr8.proteome.ebi.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.search.ws_integr8.proteome.ebi.ac.uk/" name="Integr8ImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.search.ws_integr8.proteome.ebi.ac.uk/" schemaLocation="http://www.ebi.ac.uk:80/webservices/wsintegr8/integr8?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"></part>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"></part>
</message>
<message name="getGeneId">
<part name="parameters" element="tns:getGeneId"></part>
</message>
<message name="getGeneIdResponse">
<part name="parameters" element="tns:getGeneIdResponse"></part>
</message>
<message name="getGene">
<part name="parameters" element="tns:getGene"></part>
</message>
<message name="getGeneResponse">
<part name="parameters" element="tns:getGeneResponse"></part>
</message>
<message name="getOrganism">
<part name="parameters" element="tns:getOrganism"></part>
</message>
<message name="getOrganismResponse">
<part name="parameters" element="tns:getOrganismResponse"></part>
</message>
<message name="getProtein">
<part name="parameters" element="tns:getProtein"></part>
</message>
<message name="getProteinResponse">
<part name="parameters" element="tns:getProteinResponse"></part>
</message>
<message name="getTranscript">
<part name="parameters" element="tns:getTranscript"></part>
</message>
<message name="getTranscriptResponse">
<part name="parameters" element="tns:getTranscriptResponse"></part>
</message>
<message name="getXref">
<part name="parameters" element="tns:getXref"></part>
</message>
<message name="getXrefResponse">
<part name="parameters" element="tns:getXrefResponse"></part>
</message>
<message name="getStringList">
<part name="parameters" element="tns:getStringList"></part>
</message>
<message name="getStringListResponse">
<part name="parameters" element="tns:getStringListResponse"></part>
</message>
<message name="getOrganismList">
<part name="parameters" element="tns:getOrganismList"></part>
</message>
<message name="getOrganismListResponse">
<part name="parameters" element="tns:getOrganismListResponse"></part>
</message>
<message name="getGeneIdList">
<part name="parameters" element="tns:getGeneIdList"></part>
</message>
<message name="getGeneIdListResponse">
<part name="parameters" element="tns:getGeneIdListResponse"></part>
</message>
<message name="getGeneList">
<part name="parameters" element="tns:getGeneList"></part>
</message>
<message name="getGeneListResponse">
<part name="parameters" element="tns:getGeneListResponse"></part>
</message>
<message name="getOrganisms">
<part name="parameters" element="tns:getOrganisms"></part>
</message>
<message name="getOrganismsResponse">
<part name="parameters" element="tns:getOrganismsResponse"></part>
</message>
<message name="Integr8Exception">
<part name="fault" element="tns:Integr8Exception"></part>
</message>
<message name="getOrganismsByQueryTerm">
<part name="parameters" element="tns:getOrganismsByQueryTerm"></part>
</message>
<message name="getOrganismsByQueryTermResponse">
<part name="parameters" element="tns:getOrganismsByQueryTermResponse"></part>
</message>
<message name="getGeneIdsByQueryTerm">
<part name="parameters" element="tns:getGeneIdsByQueryTerm"></part>
</message>
<message name="getGeneIdsByQueryTermResponse">
<part name="parameters" element="tns:getGeneIdsByQueryTermResponse"></part>
</message>
<message name="getGeneIdsByProteomeId">
<part name="parameters" element="tns:getGeneIdsByProteomeId"></part>
</message>
<message name="getGeneIdsByProteomeIdResponse">
<part name="parameters" element="tns:getGeneIdsByProteomeIdResponse"></part>
</message>
<message name="getGeneIdsByProteomeIdAndQueryTerm">
<part name="parameters" element="tns:getGeneIdsByProteomeIdAndQueryTerm"></part>
</message>
<message name="getGeneIdsByProteomeIdAndQueryTermResponse">
<part name="parameters" element="tns:getGeneIdsByProteomeIdAndQueryTermResponse"></part>
</message>
<message name="getGeneIdsByGenomeAc">
<part name="parameters" element="tns:getGeneIdsByGenomeAc"></part>
</message>
<message name="getGeneIdsByGenomeAcResponse">
<part name="parameters" element="tns:getGeneIdsByGenomeAcResponse"></part>
</message>
<message name="getGeneById">
<part name="parameters" element="tns:getGeneById"></part>
</message>
<message name="getGeneByIdResponse">
<part name="parameters" element="tns:getGeneByIdResponse"></part>
</message>
<portType name="Integr8">
<operation name="getLocation">
<input message="tns:getLocation"></input>
<output message="tns:getLocationResponse"></output>
</operation>
<operation name="getGeneId">
<input message="tns:getGeneId"></input>
<output message="tns:getGeneIdResponse"></output>
</operation>
<operation name="getGene">
<input message="tns:getGene"></input>
<output message="tns:getGeneResponse"></output>
</operation>
<operation name="getOrganism">
<input message="tns:getOrganism"></input>
<output message="tns:getOrganismResponse"></output>
</operation>
<operation name="getProtein">
<input message="tns:getProtein"></input>
<output message="tns:getProteinResponse"></output>
</operation>
<operation name="getTranscript">
<input message="tns:getTranscript"></input>
<output message="tns:getTranscriptResponse"></output>
</operation>
<operation name="getXref">
<input message="tns:getXref"></input>
<output message="tns:getXrefResponse"></output>
</operation>
<operation name="getStringList">
<input message="tns:getStringList"></input>
<output message="tns:getStringListResponse"></output>
</operation>
<operation name="getOrganismList">
<input message="tns:getOrganismList"></input>
<output message="tns:getOrganismListResponse"></output>
</operation>
<operation name="getGeneIdList">
<input message="tns:getGeneIdList"></input>
<output message="tns:getGeneIdListResponse"></output>
</operation>
<operation name="getGeneList">
<input message="tns:getGeneList"></input>
<output message="tns:getGeneListResponse"></output>
</operation>
<operation name="getOrganisms">
<input message="tns:getOrganisms"></input>
<output message="tns:getOrganismsResponse"></output>
<fault message="tns:Integr8Exception" name="Integr8Exception"></fault>
</operation>
<operation name="getOrganismsByQueryTerm">
<input message="tns:getOrganismsByQueryTerm"></input>
<output message="tns:getOrganismsByQueryTermResponse"></output>
<fault message="tns:Integr8Exception" name="Integr8Exception"></fault>
</operation>
<operation name="getGeneIdsByQueryTerm">
<input message="tns:getGeneIdsByQueryTerm"></input>
<output message="tns:getGeneIdsByQueryTermResponse"></output>
<fault message="tns:Integr8Exception" name="Integr8Exception"></fault>
</operation>
<operation name="getGeneIdsByProteomeId">
<input message="tns:getGeneIdsByProteomeId"></input>
<output message="tns:getGeneIdsByProteomeIdResponse"></output>
<fault message="tns:Integr8Exception" name="Integr8Exception"></fault>
</operation>
<operation name="getGeneIdsByProteomeIdAndQueryTerm">
<input message="tns:getGeneIdsByProteomeIdAndQueryTerm"></input>
<output message="tns:getGeneIdsByProteomeIdAndQueryTermResponse"></output>
<fault message="tns:Integr8Exception" name="Integr8Exception"></fault>
</operation>
<operation name="getGeneIdsByGenomeAc">
<input message="tns:getGeneIdsByGenomeAc"></input>
<output message="tns:getGeneIdsByGenomeAcResponse"></output>
<fault message="tns:Integr8Exception" name="Integr8Exception"></fault>
</operation>
<operation name="getGeneById">
<input message="tns:getGeneById"></input>
<output message="tns:getGeneByIdResponse"></output>
<fault message="tns:Integr8Exception" name="Integr8Exception"></fault>
</operation>
</portType>
<binding name="Integr8ImplPortBinding" type="tns:Integr8">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getLocation">
<soap:operation soapAction="urn:getLocation"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGeneId">
<soap:operation soapAction="urn:getGeneId"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGene">
<soap:operation soapAction="urn:getGene"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOrganism">
<soap:operation soapAction="urn:getOrganism"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getProtein">
<soap:operation soapAction="urn:getProtein"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTranscript">
<soap:operation soapAction="urn:getTranscript"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getXref">
<soap:operation soapAction="urn:getXref"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getStringList">
<soap:operation soapAction="urn:getStringList"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOrganismList">
<soap:operation soapAction="urn:getOrganismList"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGeneIdList">
<soap:operation soapAction="urn:getGeneIdList"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGeneList">
<soap:operation soapAction="urn:getGeneList"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOrganisms">
<soap:operation soapAction="urn:getOrganisms"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Integr8Exception">
<soap:fault name="Integr8Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getOrganismsByQueryTerm">
<soap:operation soapAction="urn:getOrganismsByQueryTerm"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Integr8Exception">
<soap:fault name="Integr8Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getGeneIdsByQueryTerm">
<soap:operation soapAction="urn:getGeneIdsByQueryTerm"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Integr8Exception">
<soap:fault name="Integr8Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getGeneIdsByProteomeId">
<soap:operation soapAction="urn:getGeneIdsByProteomeId"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Integr8Exception">
<soap:fault name="Integr8Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getGeneIdsByProteomeIdAndQueryTerm">
<soap:operation soapAction="urn:getGeneIdsByProteomeIdAndQueryTerm"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Integr8Exception">
<soap:fault name="Integr8Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getGeneIdsByGenomeAc">
<soap:operation soapAction="urn:getGeneIdsByGenomeAc"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Integr8Exception">
<soap:fault name="Integr8Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getGeneById">
<soap:operation soapAction="urn:getGeneById"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Integr8Exception">
<soap:fault name="Integr8Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="Integr8ImplService">
<port name="Integr8ImplPort" binding="tns:Integr8ImplPortBinding">
<soap:address location="http://www.ebi.ac.uk:80/webservices/wsintegr8/integr8"></soap:address>
</port>
</service>
</definitions>