iserve-crawler/src/test/resources/WSDLs/Jaspar_webservice_0.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://api.bioinfo.no/stylesheets/WSDLDocumentation.xslt"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Jan Christian Bryne (University of Bergen) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jas="http://jaspar.genereg.net/webservice" xmlns:ns="http://jaspar.genereg.net" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://jaspar.genereg.net/webservice">
	<types>
		<xs:schema xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://jaspar.genereg.net/webservice" xmlns:jas="http://jaspar.genereg.net/webservice" xmlns:jas2="http://jaspar.genereg.net" targetNamespace="http://jaspar.genereg.net/webservice" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://jaspar.genereg.net" schemaLocation="http://api.bioinfo.no/schema/Jaspar_matrix_0.2.xsd"/>
			<xs:element name="Database" default="CORE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CORE"/>
						<xs:enumeration value="FAM"/>
						<xs:enumeration value="PHYLOFACTS"/>
						<xs:enumeration value="POLII"/>
						<xs:enumeration value="CNE"/>
						<xs:enumeration value="SPLICE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Format" default="PFM">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PFM"/>
						<xs:enumeration value="PWM"/>
						<xs:enumeration value="ICM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="searchByTag">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="jas2:Tag" maxOccurs="unbounded"/>
						<xs:element ref="Format"/>
						<xs:element ref="Database"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="searchByTagResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="jas2:Matrix" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMatrixByName">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="xs:string"/>
						<xs:element ref="Format"/>
						<xs:element ref="Database"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMatrixByNameResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="jas2:Matrix"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMatrixById">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:string"/>
						<xs:element ref="Format"/>
						<xs:element ref="Database"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMatrixByIdResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="jas2:Matrix"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllMatrices">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Format"/>
						<xs:element ref="Database"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllMatricesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="jas2:Matrix" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="getMatrixByNameResponseMsg">
		<part name="parameters" element="jas:getMatrixByNameResponse"/>
	</message>
	<message name="getMatrixByNameRequestMsg">
		<part name="parameters" element="jas:getMatrixByName"/>
	</message>
	<message name="searchByTagRequestMsg">
		<part name="parameters" element="jas:searchByTag"/>
	</message>
	<message name="searchByTagResponseMsg">
		<part name="parameters" element="jas:searchByTagResponse"/>
	</message>
	<message name="getAllMatricesRequestMsg">
		<part name="parameters" element="jas:getAllMatrices"/>
	</message>
	<message name="getAllMatricesResponseMsg">
		<part name="parameters" element="jas:getAllMatricesResponse"/>
	</message>
	<message name="getMatrixByIdRequestMsg">
		<part name="parameters" element="jas:getMatrixById"/>
	</message>
	<message name="getMatrixByIdResponseMsg">
		<part name="parameters" element="jas:getMatrixByIdResponse"/>
	</message>
	<portType name="Jaspar_service">
		<operation name="getMatrixByName">
			<documentation>Fetch a Matrix by it's name.</documentation>
			<input message="jas:getMatrixByNameRequestMsg"/>
			<output message="jas:getMatrixByNameResponseMsg"/>
		</operation>
		<operation name="getMatrixById">
			<documentation>Fetch a Matrix by it's accession Id.</documentation>
			<input message="jas:getMatrixByIdRequestMsg"/>
			<output message="jas:getMatrixByIdResponseMsg"/>
		</operation>
		<operation name="searchByTag">
			<documentation>Fetch matrices by the tags thay are annotated with.</documentation>
			<input message="jas:searchByTagRequestMsg"/>
			<output message="jas:searchByTagResponseMsg"/>
		</operation>
		<operation name="getAllMatrices">
			<documentation>Fetch all matrices in the database.</documentation>
			<input message="jas:getAllMatricesRequestMsg"/>
			<output message="jas:getAllMatricesResponseMsg"/>
		</operation>
	</portType>
	<binding name="Jaspar_service" type="jas:Jaspar_service">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getMatrixByName">
			<soap:operation soapAction="http://jaspar.genereg.net/webservice/getMatrixByName" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getMatrixById">
			<soap:operation soapAction="http://jaspar.genereg.net/webservice/getMatrixById" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="searchByTag">
			<soap:operation soapAction="http://jaspar.genereg.net/webservice/searchByTag" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getAllMatrices">
			<soap:operation soapAction="http://jaspar.genereg.net/webservice/getAllMatrices" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Jaspar_service">
		<documentation>
This is a Web service interface to the Jaspar database which contain profiles of transcription factor binding sites. 
Profiles can be fetched as Position Frequency Matrices (PFM), Position Weight Matrices (PWM), or
Information Content Matrices (ICM).

<doc:ServiceDocumentation xmlns:doc="http://www.bccs.uib.no/ServiceDocumentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.bccs.uib.no/ServiceDocumentation http://api.bioinfo.no/schema/ServiceDocumentation.xsd">
				<doc:Reference>JASPAR: an open-access database for eukaryotic transcription factor binding profiles.
Sandelin A, Alkema W, Engstrom P, Wasserman WW, Lenhard B. PMID: 14681366</doc:Reference>
				<doc:WebSite>http://jaspar.genereg.net/</doc:WebSite>
				<doc:Version>0.2 (beta service)</doc:Version>
			</doc:ServiceDocumentation>
		</documentation>
		<port name="Jaspar_service" binding="jas:Jaspar_service">
			<soap:address location="http://api.bioinfo.no/services/Jaspar_service"/>
		</port>
	</service>
</definitions>
