iserve-crawler/src/test/resources/WSDLs/knotinframe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" xmlns:aml="http://hobit.sourceforge.net/xsds/20060602/alignmentML" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" xmlns:seq="http://hobit.sourceforge.net/xsds/20090917/sequenceML" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://schemas.bioservices.net/2005/biotypes" xmlns:tns2="http://hobit.sourceforge.net/xsds/20060403/hobitTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Jan 29, 2007 (01:45:51 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://hobit.sourceforge.net/xsds/20060602/alignmentML"/>
   <import namespace="http://schemas.bioservices.net/2005/biotypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060403/hobitTypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20090917/sequenceML"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xs_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xs:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="knotinframeException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:import location="http://bibiwsserv.cebitec.uni-bielefeld.de/xsd/net/sourceforge/hobit/20090917/sequenceML.xsd" namespace="http://hobit.sourceforge.net/xsds/20090917/sequenceML"/>

   <wsdl:import location="http://bibiwsserv.cebitec.uni-bielefeld.de/xsd/net/sourceforge/hobit/20060602/alignmentML.xsd" namespace="http://hobit.sourceforge.net/xsds/20060602/alignmentML"/>

   <wsdl:message name="knotinframeException">

      <wsdl:part name="fault" type="impl:knotinframeException"/>

   </wsdl:message>

   <wsdl:message name="request_origResponse">

      <wsdl:part name="request_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_origResponse">

      <wsdl:part name="response_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="request_origRequest">

      <wsdl:part name="array_params" type="impl:ArrayOf_xs_anyType"/>

      <wsdl:part name="inputData" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_origRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="knotinframeImplementation">

      <wsdl:operation name="request_orig" parameterOrder="array_params inputData">

         <wsdl:input message="impl:request_origRequest" name="request_origRequest"/>

         <wsdl:output message="impl:request_origResponse" name="request_origResponse"/>

         <wsdl:fault message="impl:knotinframeException" name="knotinframeException"/>

      </wsdl:operation>

      <wsdl:operation name="response_orig" parameterOrder="id">

         <wsdl:input message="impl:response_origRequest" name="response_origRequest"/>

         <wsdl:output message="impl:response_origResponse" name="response_origResponse"/>

         <wsdl:fault message="impl:knotinframeException" name="knotinframeException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="knotinframePortSoapBinding" type="impl:knotinframeImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="request_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="request_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://knotinframe.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="request_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="knotinframeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="knotinframeException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://knotinframe.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="knotinframeException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="knotinframeException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="knotinframeImplementationService">

      <wsdl:port binding="impl:knotinframePortSoapBinding" name="knotinframePort">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/knotinframe/axis/knotinframePort"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
