iserve-crawler/src/test/resources/WSDLs/LiftOverService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://api.bioinfo.no/stylesheets/WSDLDocumentation.xslt"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Jan Christian Bryne (University of Bergen) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lo="http://bccs.uib.no/LiftOver" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://bccs.uib.no/LiftOver">
	<types>
		<xs:schema xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://bccs.uib.no/LiftOver" xmlns:lo="http://bccs.uib.no/LiftOver" targetNamespace="http://bccs.uib.no/LiftOver" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="runLiftOver">
				<xs:annotation>
					<xs:documentation>Request format for running liftover</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="position" type="positionType" maxOccurs="unbounded"/>
						<xs:element name="originalAssembly" type="xs:string"/>
						<xs:element name="newAssembly" type="xs:string"/>
						<xs:element name="minRatioRemap" type="xs:float" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimum ratio of bases that must remap.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="minChainSizeTarget" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimum chain size in target.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="minHitSize" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimum hit size in query.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="multipleOutputRegions" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Allow multiple output regions.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="minAlignRatio" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Min ratio of alignment blocks/exons that must map.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="closestBase" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If thickStart/thickEnd is not mapped, use the closest mapped base.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="positionType">
				<xs:annotation>
					<xs:documentation>Genomic Coordinate Position</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:string">
						<xs:annotation>
							<xs:documentation>String used to identify this position.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chrom" type="xs:string">
						<xs:annotation>
							<xs:documentation>The name of the chromosome (e.g. chr3, chrY, chr2_random) or scaffold (e.g. scaffold10671).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chromStart" type="xs:int">
						<xs:annotation>
							<xs:documentation>The starting position of the feature in the chromosome or scaffold. The first base in a chromosome is numbered 0.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chromEnd" type="xs:int">
						<xs:annotation>
							<xs:documentation>The ending position of the feature in the chromosome or scaffold. The chromEnd base is not included in the display of the feature. For example, the first 100 bases of a chromosome are defined as chromStart=0, chromEnd=100, and span the bases numbered 0-99.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="runLiftOverResponse">
				<xs:annotation>
					<xs:documentation>Response format for running LiftOver</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mapped" type="positionType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="unmapped" type="positionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAvailableChainFiles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="toGenome" type="xs:string" minOccurs="0"/>
						<xs:element name="fromGenome" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAvailableChainFilesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="chainFile" type="chainFile" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="chainFile">
				<xs:annotation>
					<xs:documentation>A file descriing a conversion between two assemblies</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="fromGenome" type="xs:string"/>
					<xs:element name="fromAssembly" type="xs:string"/>
					<xs:element name="toGenome" type="xs:string"/>
					<xs:element name="toAssembly" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="runLiftOverResponseMsg">
		<part name="parameters" element="lo:runLiftOverResponse"/>
	</message>
	<message name="runLiftOverRequestMsg">
		<part name="parameters" element="lo:runLiftOver"/>
	</message>
	<message name="getAvailableChainFilesResponseMsg">
		<part name="parameters" element="lo:getAvailableChainFilesResponse"/>
	</message>
	<message name="getAvailableChainFilesRequestMsg">
		<part name="parameters" element="lo:getAvailableChainFiles"/>
	</message>
	<portType name="LiftOver">
		<operation name="runLiftOver">
			<documentation>Perform the conversion between assemblies </documentation>
			<input message="lo:runLiftOverRequestMsg"/>
			<output message="lo:runLiftOverResponseMsg"/>
		</operation>
		<operation name="getAvailableChainFiles">
			<documentation>Retrieve a list of the available from- and to- assemblies </documentation>
			<input message="lo:getAvailableChainFilesRequestMsg"/>
			<output message="lo:getAvailableChainFilesResponseMsg"/>
		</operation>
	</portType>
	<binding name="LiftOver" type="lo:LiftOver">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="runLiftOver">
			<soap:operation soapAction="http://bccs.uib.no/LiftOver/runLiftOver" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getAvailableChainFiles">
			<soap:operation soapAction="http://bccs.uib.no/LiftOver/getAvailableChainFiles" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="LiftOver">
		<documentation>
 	This tool converts genome coordinates and genome annotation files between assemblies.

<doc:ServiceDocumentation xmlns:doc="http://www.bccs.uib.no/ServiceDocumentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.bccs.uib.no/ServiceDocumentation http://api.bioinfo.no/schema/ServiceDocumentation.xsd">
	<doc:Reference>LiftOver:This tool converts genome coordinates and genome annotation files between assemblies.</doc:Reference>
	<doc:WebSite>http://genome.ucsc.edu/cgi-bin/hgLiftOver</doc:WebSite>
	<doc:Version>0.1 (beta service)</doc:Version>
	<doc:SampleClient>http://api.bioinfo.no/clients/LiftOverClient.pl</doc:SampleClient>
</doc:ServiceDocumentation></documentation>
		<port name="LiftOver" binding="lo:LiftOver">
			<!--soap:address location="http://localhost:8080/mpc2/LiftOver"/-->
			<soap:address location="http://api.bioinfo.no/mpc2/LiftOver"/>
		</port>
	</service>
</definitions>
