iserve-crawler/src/test/resources/WSDLs/ma.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:hgu.webservice.services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:hgu.webservice.services" xmlns:intf="urn:hgu.webservice.services" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://bean.atlas.server.hgu" xmlns:tns2="http://bean.webservice.hgu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:hgu.webservice.services" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.webservice.hgu"/>
   <import namespace="http://bean.atlas.server.hgu"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_MANodeDetail">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:MANodeDetail[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MAAcknowledgement">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MAAcknowledgement[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MAMutant">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MAMutant[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_MASequence">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MASequence[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MAExpressionText">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MAExpressionText[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MAHistory">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MAHistory[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MALink">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MALink[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MAPublication">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MAPublication[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_MASubmissionSummary">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:MASubmissionSummary[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[][]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_boolean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:boolean[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://bean.atlas.server.hgu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.webservice.hgu"/>
   <import namespace="urn:hgu.webservice.services"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="MANodeDetail">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="endStage" nillable="true" type="xsd:string"/>
     <element name="fullPath" nillable="true" type="xsd:string"/>
     <element name="group" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="parentAccession" nillable="true" type="xsd:string"/>
     <element name="stage" nillable="true" type="xsd:string"/>
     <element name="startStage" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://bean.webservice.hgu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.atlas.server.hgu"/>
   <import namespace="urn:hgu.webservice.services"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="MAOrganization">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="fax" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="postcode" nillable="true" type="xsd:string"/>
     <element name="tel" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAPerson">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="organization" nillable="true" type="tns2:MAOrganization"/>
     <element name="tel" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAAcknowledgement">
    <sequence>
     <element name="person" nillable="true" type="tns2:MAPerson"/>
     <element name="project" nillable="true" type="xsd:string"/>
     <element name="reason" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAGene">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="symbol" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAMutant">
    <sequence>
     <element name="gene" nillable="true" type="xsd:string"/>
     <element name="parentOne" nillable="true" type="xsd:string"/>
     <element name="parentTwo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAOrganism">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="mutants" nillable="true" type="impl:ArrayOf_tns3_MAMutant"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="sex" nillable="true" type="xsd:string"/>
     <element name="species" nillable="true" type="xsd:string"/>
     <element name="stageValue" nillable="true" type="xsd:string"/>
     <element name="stagingMethod" nillable="true" type="xsd:string"/>
     <element name="strain" nillable="true" type="xsd:string"/>
     <element name="wildType" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="MAExperiment">
    <sequence>
     <element name="clearingMethod" nillable="true" type="xsd:string"/>
     <element name="embeddingReagent" nillable="true" type="xsd:string"/>
     <element name="fixationReagent" nillable="true" type="xsd:string"/>
     <element name="gene" nillable="true" type="tns2:MAGene"/>
     <element name="probeNote" nillable="true" type="xsd:string"/>
     <element name="signalDetectionMethod" nillable="true" type="xsd:string"/>
     <element name="specimen" nillable="true" type="tns2:MAOrganism"/>
     <element name="specimenNote" nillable="true" type="xsd:string"/>
     <element name="specimenType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MACellLine">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="note" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="MAProbe">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="cellLine" nillable="true" type="tns2:MACellLine"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="organism" nillable="true" type="tns2:MAOrganism"/>
     <element name="originType" nillable="true" type="xsd:string"/>
     <element name="sequenceType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MASequence">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="endLoc" nillable="true" type="xsd:long"/>
     <element name="sequence" nillable="true" type="xsd:string"/>
     <element name="startLoc" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="MAAntibody">
    <complexContent>
     <extension base="tns2:MAProbe">
      <sequence>
       <element name="antibodyType" nillable="true" type="xsd:string"/>
       <element name="catalogueNo" nillable="true" type="xsd:string"/>
       <element name="label" nillable="true" type="xsd:string"/>
       <element name="raisedIn" nillable="true" type="xsd:string"/>
       <element name="sequence" nillable="true" type="tns2:MASequence"/>
       <element name="supplier" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="MAExperimentIHC">
    <complexContent>
     <extension base="tns2:MAExperiment">
      <sequence>
       <element name="antibodyReagents" nillable="true" type="impl:ArrayOf_soapenc_string"/>
       <element name="probe" nillable="true" type="tns2:MAAntibody"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="MAExperimentReporter">
    <complexContent>
     <extension base="tns2:MAExperiment">
      <sequence>
       <element name="experimentID" nillable="true" type="xsd:string"/>
       <element name="reporter" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="MAProbeISH">
    <complexContent>
     <extension base="tns2:MAProbe">
      <sequence>
       <element name="chemistry" nillable="true" type="xsd:string"/>
       <element name="cloneName" nillable="true" type="xsd:string"/>
       <element name="label" nillable="true" type="xsd:string"/>
       <element name="regions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
       <element name="sequences" nillable="true" type="impl:ArrayOf_tns2_MASequence"/>
       <element name="templateType" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="MAExperimentISH">
    <complexContent>
     <extension base="tns2:MAExperiment">
      <sequence>
       <element name="direction" nillable="true" type="xsd:string"/>
       <element name="label" nillable="true" type="xsd:string"/>
       <element name="probe" nillable="true" type="tns2:MAProbeISH"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="MAExpressionText">
    <sequence>
     <element name="location" nillable="true" type="xsd:string"/>
     <element name="note" nillable="true" type="xsd:string"/>
     <element name="pattern" nillable="true" type="xsd:string"/>
     <element name="strength" nillable="true" type="xsd:string"/>
     <element name="tissueAccession" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAHistory">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="resource" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MALink">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAPublicationVolume">
    <sequence>
     <element name="authors" nillable="true" type="xsd:string"/>
     <element name="issue" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="publisher" nillable="true" type="xsd:string"/>
     <element name="volume" nillable="true" type="xsd:string"/>
     <element name="year" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MAPublication">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="authors" nillable="true" type="xsd:string"/>
     <element name="pages" nillable="true" type="xsd:string"/>
     <element name="publicationInfo" nillable="true" type="tns2:MAPublicationVolume"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MASubmission">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="acknowledgements" nillable="true" type="impl:ArrayOf_tns3_MAAcknowledgement"/>
     <element name="assayQuality" nillable="true" type="xsd:string"/>
     <element name="authors" nillable="true" type="xsd:string"/>
     <element name="comments" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="curator" nillable="true" type="tns2:MAPerson"/>
     <element name="experiment" nillable="true" type="tns2:MAExperiment"/>
     <element name="expressionTexts" nillable="true" type="impl:ArrayOf_tns3_MAExpressionText"/>
     <element name="history" nillable="true" type="impl:ArrayOf_tns3_MAHistory"/>
     <element name="investigator" nillable="true" type="tns2:MAPerson"/>
     <element name="links" nillable="true" type="impl:ArrayOf_tns3_MALink"/>
     <element name="project" nillable="true" type="xsd:string"/>
     <element name="publications" nillable="true" type="impl:ArrayOf_tns3_MAPublication"/>
     <element name="referenceStage" nillable="true" type="xsd:string"/>
     <element name="stagingQuality" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="validation" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="MASubmissionSummary">
    <sequence>
     <element name="accession" nillable="true" type="xsd:string"/>
     <element name="assayQuality" nillable="true" type="xsd:string"/>
     <element name="experimentType" nillable="true" type="xsd:string"/>
     <element name="gene" nillable="true" type="xsd:string"/>
     <element name="genotype" nillable="true" type="xsd:string"/>
     <element name="probeName" nillable="true" type="xsd:string"/>
     <element name="recentHistory" nillable="true" type="xsd:string"/>
     <element name="specimenStrian" nillable="true" type="xsd:string"/>
     <element name="specimenType" nillable="true" type="xsd:string"/>
     <element name="stage" nillable="true" type="xsd:string"/>
     <element name="stagingQuality" nillable="true" type="xsd:string"/>
     <element name="userStage" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllAnnotatedTissueAccessionResponse">

      <wsdl:part name="getAllAnnotatedTissueAccessionReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getRootAccessionRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAllSubmissionRequest">

   </wsdl:message>

   <wsdl:message name="getNodeStageRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="whatEntryResponse">

      <wsdl:part name="whatEntryReturn" type="impl:ArrayOf_tns3_MASubmissionSummary"/>

   </wsdl:message>

   <wsdl:message name="whatEntryRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="in2" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in3" type="impl:ArrayOf_xsd_boolean"/>

      <wsdl:part name="in4" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="in5" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getTextExpressionOfSubmissionResponse">

      <wsdl:part name="getTextExpressionOfSubmissionReturn" type="impl:ArrayOf_tns3_MAExpressionText"/>

   </wsdl:message>

   <wsdl:message name="getOntologyResponse">

      <wsdl:part name="getOntologyReturn" type="impl:ArrayOf_tns2_MANodeDetail"/>

   </wsdl:message>

   <wsdl:message name="getStageNameRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getOntologyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getOntologyTermRequest">

      <wsdl:part name="in0" type="xsd:boolean"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getNodeAccessionResponse">

      <wsdl:part name="getNodeAccessionReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllStageNameResponse">

      <wsdl:part name="getAllStageNameReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllSubmissionAccessionRequest">

   </wsdl:message>

   <wsdl:message name="getTimedNodeAccessionResponse">

      <wsdl:part name="getTimedNodeAccessionReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getStageNameResponse">

      <wsdl:part name="getStageNameReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllGeneResponse">

      <wsdl:part name="getAllGeneReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getSubmissionWithoutImageResponse">

      <wsdl:part name="getSubmissionWithoutImageReturn" type="tns2:MASubmission"/>

   </wsdl:message>

   <wsdl:message name="getRootAccessionResponse">

      <wsdl:part name="getRootAccessionReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getNodeAccessionRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="in1" type="xsd:boolean"/>

      <wsdl:part name="in2" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getAllStageNameRequest">

   </wsdl:message>

   <wsdl:message name="getOntologyTermResponse">

      <wsdl:part name="getOntologyTermReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllSubmissionAccessionResponse">

      <wsdl:part name="getAllSubmissionAccessionReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllAnnotatedTissueAccessionRequest">

   </wsdl:message>

   <wsdl:message name="getSubmissionWithoutImageRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getNodeInfoRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllGeneRequest">

   </wsdl:message>

   <wsdl:message name="getNodeInfoResponse">

      <wsdl:part name="getNodeInfoReturn" type="impl:ArrayOf_tns2_MANodeDetail"/>

   </wsdl:message>

   <wsdl:message name="getTimedNodeAccessionRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="in1" type="xsd:boolean"/>

      <wsdl:part name="in2" type="xsd:boolean"/>

      <wsdl:part name="in3" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getNodeStageResponse">

      <wsdl:part name="getNodeStageReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getTextExpressionOfSubmissionRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAllSubmissionResponse">

      <wsdl:part name="getAllSubmissionReturn" type="impl:ArrayOf_tns3_MASubmissionSummary"/>

   </wsdl:message>

   <wsdl:portType name="WebService">

      <wsdl:operation name="getNodeAccession" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getNodeAccessionRequest" name="getNodeAccessionRequest"/>

         <wsdl:output message="impl:getNodeAccessionResponse" name="getNodeAccessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNodeInfo" parameterOrder="in0">

         <wsdl:input message="impl:getNodeInfoRequest" name="getNodeInfoRequest"/>

         <wsdl:output message="impl:getNodeInfoResponse" name="getNodeInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNodeStage" parameterOrder="in0">

         <wsdl:input message="impl:getNodeStageRequest" name="getNodeStageRequest"/>

         <wsdl:output message="impl:getNodeStageResponse" name="getNodeStageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRootAccession" parameterOrder="in0">

         <wsdl:input message="impl:getRootAccessionRequest" name="getRootAccessionRequest"/>

         <wsdl:output message="impl:getRootAccessionResponse" name="getRootAccessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOntology" parameterOrder="in0">

         <wsdl:input message="impl:getOntologyRequest" name="getOntologyRequest"/>

         <wsdl:output message="impl:getOntologyResponse" name="getOntologyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOntologyTerm" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getOntologyTermRequest" name="getOntologyTermRequest"/>

         <wsdl:output message="impl:getOntologyTermResponse" name="getOntologyTermResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTimedNodeAccession" parameterOrder="in0 in1 in2 in3">

         <wsdl:input message="impl:getTimedNodeAccessionRequest" name="getTimedNodeAccessionRequest"/>

         <wsdl:output message="impl:getTimedNodeAccessionResponse" name="getTimedNodeAccessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllStageName">

         <wsdl:input message="impl:getAllStageNameRequest" name="getAllStageNameRequest"/>

         <wsdl:output message="impl:getAllStageNameResponse" name="getAllStageNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getStageName" parameterOrder="in0 in1">

         <wsdl:input message="impl:getStageNameRequest" name="getStageNameRequest"/>

         <wsdl:output message="impl:getStageNameResponse" name="getStageNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSubmissionWithoutImage" parameterOrder="in0">

         <wsdl:input message="impl:getSubmissionWithoutImageRequest" name="getSubmissionWithoutImageRequest"/>

         <wsdl:output message="impl:getSubmissionWithoutImageResponse" name="getSubmissionWithoutImageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllSubmission">

         <wsdl:input message="impl:getAllSubmissionRequest" name="getAllSubmissionRequest"/>

         <wsdl:output message="impl:getAllSubmissionResponse" name="getAllSubmissionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllSubmissionAccession">

         <wsdl:input message="impl:getAllSubmissionAccessionRequest" name="getAllSubmissionAccessionRequest"/>

         <wsdl:output message="impl:getAllSubmissionAccessionResponse" name="getAllSubmissionAccessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTextExpressionOfSubmission" parameterOrder="in0">

         <wsdl:input message="impl:getTextExpressionOfSubmissionRequest" name="getTextExpressionOfSubmissionRequest"/>

         <wsdl:output message="impl:getTextExpressionOfSubmissionResponse" name="getTextExpressionOfSubmissionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="whatEntry" parameterOrder="in0 in1 in2 in3 in4 in5">

         <wsdl:input message="impl:whatEntryRequest" name="whatEntryRequest"/>

         <wsdl:output message="impl:whatEntryResponse" name="whatEntryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAnnotatedTissueAccession">

         <wsdl:input message="impl:getAllAnnotatedTissueAccessionRequest" name="getAllAnnotatedTissueAccessionRequest"/>

         <wsdl:output message="impl:getAllAnnotatedTissueAccessionResponse" name="getAllAnnotatedTissueAccessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllGene">

         <wsdl:input message="impl:getAllGeneRequest" name="getAllGeneRequest"/>

         <wsdl:output message="impl:getAllGeneResponse" name="getAllGeneResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="maSoapBinding" type="impl:WebService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNodeAccession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNodeAccessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNodeAccessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNodeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNodeInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNodeInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNodeStage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNodeStageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNodeStageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRootAccession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRootAccessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRootAccessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOntology">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOntologyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOntologyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOntologyTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOntologyTermRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOntologyTermResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTimedNodeAccession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTimedNodeAccessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTimedNodeAccessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStageName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllStageNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllStageNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStageName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStageNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStageNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSubmissionWithoutImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSubmissionWithoutImageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSubmissionWithoutImageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllSubmission">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllSubmissionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllSubmissionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllSubmissionAccession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllSubmissionAccessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllSubmissionAccessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTextExpressionOfSubmission">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTextExpressionOfSubmissionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTextExpressionOfSubmissionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="whatEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="whatEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="whatEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllAnnotatedTissueAccession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAnnotatedTissueAccessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAnnotatedTissueAccessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllGene">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllGeneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllGeneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:hgu.webservice.services" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceService">

      <wsdl:port binding="impl:maSoapBinding" name="ma">

         <wsdlsoap:address location="http://genex.hgu.mrc.ac.uk/axis/services/ma"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
