iserve-crawler/src/test/resources/WSDLs/MultalinWS.wsdl

<?xml version="1.0"?>
<definitions name="Multalin_Service" 
 targetNamespace="http://gbio.ibcp.fr:8090/Multalin_Service"  
 xmlns:tns="http://gbio.ibcp.fr:8090/Multalin_Service"   
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="submitMultalinRequest">
        <part name="Sequences" type="xsd:string"/>
    </message>
    <message name="submitMultalinResponse">
        <part name="JobId" type="xsd:string"/>
    </message>
    
    <message name="checkStatusMultalinRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="checkStatusMultalinResponse">
        <part name="Status" type="xsd:string"/>
    </message>
    
    <message name="getResultsMultalinRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="getResultsMultalinResponse">
        <part name="Clu" type="xsd:string"/>
        <part name="Cl2" type="xsd:string"/>
        <part name="Msf" type="xsd:string"/>
        <part name="Logout" type="xsd:string"/>
    </message>

    <message name="cancelMultalinRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="cancelMultalinResponse">
        <part name="Status" type="xsd:string"/>
    </message>

    <portType name="MultalinPortType">
        <operation name="submitMultalin">
            <documentation>Submit a sequence an get a jobID</documentation>
            <input message="tns:submitMultalinRequest"/>
            <output message="tns:submitMultalinResponse"/>
        </operation>
        <operation name="checkStatusMultalin">
            <documentation>Submit a jobID and get the status</documentation>
            <input message="tns:checkStatusMultalinRequest"/>
            <output message="tns:checkStatusMultalinResponse"/>
        </operation>
        <operation name="getResultsMultalin">
            <documentation>When job is finish, submit a jobid and get the results</documentation>
            <input message="tns:getResultsMultalinRequest"/>
            <output message="tns:getResultsMultalinResponse"/>
        </operation>`
        <operation name="cancelMultalin">
            <documentation>When some thing is wrong, cancel your job</documentation>
            <input message="tns:cancelMultalinRequest"/>
            <output message="tns:cancelMultalinResponse"/>
        </operation>
    </portType>

    <binding name="MultalinBinding" type="tns:MultalinPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitMultalin">
            <soap:operation
             soapAction="urn:MultalinWS.wsdl#submitMultalin"/>
            <input>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="checkStatusMultalin">
            <soap:operation
             soapAction="urn:MultalinWS.wsdl#checkStatusMultalin"/>
            <input>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getResultsMultalin">
            <soap:operation
             soapAction="urn:MultalinWS.wsdl#getResultsMultalin"/>
            <input>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="cancelMultalin">
            <soap:operation
             soapAction="urn:MultalinWS.wsdl#cancelMultalin"/>
            <input>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Multalin_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    
    <service name="Multalin_Service">
        <documentation>Multalin @ IBCP (http://gbio-pbil.ibcp.fr)</documentation>
        <port name="MultalinPort" binding="tns:MultalinBinding">
            <soap:address location="http://gbio.ibcp.fr:8090/Multalin_Service"/>
        </port>
    </service>
    
</definitions>