iserve-crawler/src/test/resources/WSDLs/npd.wsdl

<?xml version="1.0"?>

<definitions name="npd"
             targetNamespace="urn:npd"
             xmlns:typens="urn:npd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Types for results .............................................. -->
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
                targetNamespace="urn:npd">
	  <!-- geneID result -->
      <xsd:complexType name="geneIDResult">
       <xsd:all>
        <xsd:element name="GeneID" type="xsd:string"/>
        <xsd:element name="GeneName" type="xsd:string"/>
       </xsd:all>
      </xsd:complexType>
	  <!-- search result -->
		<!-- can use query result -->
	  <!-- SQLquery result -->
	 <xsd:complexType name="SQLqueryResult">
       <xsd:complexContent>
         <xsd:restriction base="soapenc:Array">
           <xsd:attribute ref="soapenc:arrayType" arrayType="string[]"/>
         </xsd:restriction>
       </xsd:complexContent>
      </xsd:complexType>
	  <!-- queryBuilder result -->
      <xsd:complexType name="queryBuilderResult">
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" arrayType="typens:num_cols[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	  </xsd:complexType>
	  <complexType name="num_cols">
		<all>
			<element name="col1" type="xsd:string"/>
			<element name="col2" type="xsd:string"/>
			<element name="col3" type="xsd:string"/>
			<element name="col4" type="xsd:string"/>
			<element name="col5" type="xsd:string"/>
			<element name="col6" type="xsd:string"/>
		</all>
	  </complexType>
	  <!-- links result -->
		<!-- can use SQLqueryResult as output is same e.g. a list of strings -->
	  <!-- schema result -->
		<!-- uses standard any output -->
	  <!-- tables result -->
		<!-- can use SQLquery result -->
	  <!-- fields result -->
		<!-- can use SQLquery result -->
	  <!-- rest result -->
		<!-- can use queryBuilder result -->
    </xsd:schema>
  </types> 

  <!-- Messages .......................................................... -->
  <!-- geneID -->
  <message name="geneIDMessage">
    <part name="input" type="xsd:string"/>
  </message>
  <message name="geneIDResponse">
    <part name="result" type="typens:geneIDResult"/>
  </message>
  <!-- search -->
  <message name="searchMessage">
    <part name="input" type="xsd:string"/>
  </message>
  <message name="searchResponse">
    <part name="result" type="typens:SQLqueryResult"/>
  </message>
  <!-- SQLquery -->
  <message name="SQLqueryMessage">
    <part name="input" type="xsd:string"/>
  </message>
  <message name="SQLqueryResponse">
    <part name="result" type="typens:SQLqueryResult"/>
  </message>
  <!-- queryBuilder -->
  <message name="queryBuilderMessage">
    <part name="select" type="xsd:string"/>
	<part name="table" type="xsd:string"/>
    <part name="field" type="xsd:string"/>
	<part name="value" type="xsd:string"/>
  </message>
  <message name="queryBuilderResponse">
    <part name="result" type="typens:queryBuilderResult"/>
  </message>
  <!-- links -->
  <message name="linksMessage">
    <part name="input" type="xsd:string"/>
  </message>
  <message name="linksResponse">
    <part name="result" type="typens:SQLqueryResult"/>
  </message>
  <!-- schema -->
  <message name="schemaMessage">
    <part name="input" type="xsd:string"/>
  </message>
  <message name="schemaResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <!-- tables -->
  <message name="tablesMessage">
    <part name="input" type="xsd:string"/>
  </message>
  <message name="tablesResponse">
    <part name="result" type="typens:SQLqueryResult"/>
  </message>
  <!-- fields -->
  <message name="fieldsMessage">
    <part name="input" type="xsd:string"/>
  </message>
  <message name="fieldsResponse">
    <part name="result" type="typens:SQLqueryResult"/>
  </message>
  <!-- rest -->
  <message name="restMessage">
    <part name="gene" type="xsd:string"/>
	<part name="subsection" type="xsd:string"/>
  </message>
  <message name="restResponse">
    <part name="result" type="typens:queryBuilderResult"/>
  </message>


  <!-- Ports ..................................................... -->
  <portType name="npdPort">
	<!-- geneID operation -->
    <operation name="geneID">
      <input message="typens:geneIDMessage"/>
      <output message="typens:geneIDResponse"/>
    </operation>
	<!-- search operation -->
    <operation name="search">
      <input message="typens:searchMessage"/>
      <output message="typens:searchResponse"/>
    </operation>
	<!-- SQLquery operation -->
    <operation name="SQLquery">
      <input message="typens:SQLqueryMessage"/>
      <output message="typens:SQLqueryResponse"/>
    </operation>
	<!-- queryBuilder operation -->
    <operation name="queryBuilder">
      <input message="typens:queryBuilderMessage"/>
      <output message="typens:queryBuilderResponse"/>
    </operation>
	<!-- links operation -->
    <operation name="links">
      <input message="typens:linksMessage"/>
      <output message="typens:linksResponse"/>
    </operation>
	<!-- schema operation -->
    <operation name="schema">
      <input message="typens:schemaMessage"/>
      <output message="typens:schemaResponse"/>
    </operation>
	<!-- tables operation -->
    <operation name="tables">
      <input message="typens:tablesMessage"/>
      <output message="typens:tablesResponse"/>
    </operation>
	<!-- tables operation -->
    <operation name="fields">
      <input message="typens:fieldsMessage"/>
      <output message="typens:fieldsResponse"/>
    </operation>
	<!-- rest operation -->
    <operation name="rest">
      <input message="typens:restMessage"/>
      <output message="typens:restResponse"/>
    </operation>
  </portType>

  <!-- Bindings for each operation -->
  <binding name="npdBinding" type="typens:npdPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<!-- geneID binding -->
    <operation name="geneID">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- search binding -->
    <operation name="search">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- SQLquery binding -->
    <operation name="SQLquery">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- queryBuilder binding -->
    <operation name="queryBuilder">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- links binding -->
    <operation name="links">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- schema binding -->
    <operation name="schema">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- tables binding -->
    <operation name="tables">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- fields binding -->
    <operation name="fields">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
	<!-- rest binding -->
    <operation name="rest">
      <soap:operation soapAction="urn:npdAction"/>
      <input>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:npd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <!-- Endpoint -->
  <service name="npdService">
    <port name="npdPort" binding="typens:npdBinding">
      <soap:address location="http://npd.hgu.mrc.ac.uk/soap/server.php"/>
    </port>
  </service>

</definitions>
