iserve-crawler/src/test/resources/WSDLs/OligoSelection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OligoSelection"
 targetNamespace="http://projects.mi.fu-berlin.de/hobit/OligoSelection.php/OligoSelection.wsdl"
 xmlns:tns="http://projects.mi.fu-berlin.de/hobit/OligoSelection.php/OligoSelection.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns1="http://hobit.sourceforge.net/xsds/20060102/oligoSelection"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns1="http://hobit.sourceforge.net/xsds/20060102/oligoSelection"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Oligo">
   <sequence>
     <element name="id" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
     <element name="sequence" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="badness-value" type="xsd:float" minOccurs="1" maxOccurs="1"/>
     <element name="start-position" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="estimated-energy-difference" type="xsd:float" minOccurs="0" maxOccurs="1"/>
     <element name="lcf" type="xsd:int" minOccurs="0" maxOccurs="1"/>
     <element name="bg-cols" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Target">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="oligo" type="ns1:Oligo" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="TargetList">
   <sequence>
     <element name="target" type="ns1:Target" minOccurs="2" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="greedySelectionREQUESTRequest">
 <part name="min-cov" type="xsd:unsignedInt"/>
 <part name="min-sep" type="xsd:unsignedInt"/>
 <part name="target" type="ns1:TargetList"/>
</message>

<message name="greedySelectionREQUESTResponse">
 <part name="ticket" type="xsd:unsignedInt"/>
</message>

<message name="greedySelectionRESPONSERequest">
 <part name="ticket" type="xsd:unsignedInt"/>
</message>

<message name="oligoSelectionRESPONSEResponse">
 <part name="targetlist" type="ns1:TargetList"/>
</message>

<message name="ilpSelectionREQUESTRequest">
 <part name="min-cov" type="xsd:unsignedInt"/>
 <part name="min-sep" type="xsd:unsignedInt"/>
 <part name="target" type="ns1:TargetList"/>
</message>

<message name="ilpSelectionREQUESTResponse">
 <part name="ticket" type="xsd:unsignedInt"/>
</message>

<message name="ilpSelectionRESPONSERequest">
 <part name="ticket" type="xsd:unsignedInt"/>
</message>

<portType name="OligoSelectionPortType">
 <operation name="greedySelectionREQUEST">
  <documentation>Service definition of function ns1__greedySelectionREQUEST</documentation>
  <input message="tns:greedySelectionREQUESTRequest"/>
  <output message="tns:greedySelectionREQUESTResponse"/>
 </operation>
 <operation name="greedySelectionRESPONSE">
  <documentation>Service definition of function ns1__greedySelectionRESPONSE</documentation>
  <input message="tns:greedySelectionRESPONSERequest"/>
  <output message="tns:oligoSelectionRESPONSEResponse"/>
 </operation>
 <operation name="ilpSelectionREQUEST">
  <documentation>Service definition of function ns1__ilpSelectionREQUEST</documentation>
  <input message="tns:ilpSelectionREQUESTRequest"/>
  <output message="tns:ilpSelectionREQUESTResponse"/>
 </operation>
 <operation name="ilpSelectionRESPONSE">
  <documentation>Service definition of function ns1__ilpSelectionRESPONSE</documentation>
  <input message="tns:ilpSelectionRESPONSERequest"/>
  <output message="tns:oligoSelectionRESPONSEResponse"/>
 </operation>
</portType>

<binding name="OligoSelection" type="tns:OligoSelectionPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="greedySelectionREQUEST">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="greedySelectionRESPONSE">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="ilpSelectionREQUEST">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="ilpSelectionRESPONSE">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://hobit.sourceforge.net/xsds/20060102/oligoSelection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="OligoSelection">
 <documentation>We offer two webservices for probe selection in DNA microarray experiments. DNA Microarrays can be used for the presence or absense of biological agents, the so called targets. To be able to distinguish between the targets, each target is encoded with some probes (here oligonucleotides) which are spotted on the microarray. After labeling the unknown target(s) with a fluorescent or radioactive dye the binding pattern to its probes is visible and the target can be analysed. To minimize costs of microarray experiments the number of probes coding a target should be reduced and at the same time the explicit coding has to be obtained. Here we present two functions which forfill these conditions. Each Oligo is defined by its sequence and a badness value. The badness value is a measurement for the specificity of the probe, e.g. a value greater or equal than one means that the oligo is very specific and should be preferred during the selection process. The Target is defined by its name and the list of binding probes. A TargetList contains all Targets of an microarray experiment.The parameter values of the ns1__greedySelection function are mincov and minsep and an input TargetList with all targets of the experiment and the appropriate probes. The mincov value presents the minimal number of oligos coding a single target. If the binding oligos number of a target is lesser than mincov the number of oligos will not be reduced. Minsep is the Hamming distance between the sequences of two probes.The response of the greedySelection service is a TargetList with all targets and their corresponding selected probes. The probe selection with the ns1__greedySelection function uses a greedy heuristic to find proper oligos.The probe selection with the ns1__ilpSelection function computes an exat solution using a linear programming approach. </documentation>
 <port name="OligoSelection" binding="tns:OligoSelection">
  <SOAP:address location="http://projects.mi.fu-berlin.de/hobit/OligoSelection.php"/>
 </port>
</service>

</definitions>
