iserve-crawler/src/test/resources/WSDLs/OntologyQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.ebi.ac.uk/ontology-lookup/OntologyQuery" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.ebi.ac.uk/ontology-lookup/OntologyQuery" xmlns:intf="http://www.ebi.ac.uk/ontology-lookup/OntologyQuery" xmlns:tns1="http://model.web.ook.ebi.ac.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.ebi.ac.uk/ontology-lookup/OntologyQuery" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://model.web.ook.ebi.ac.uk"/>
   <element name="getVersion">
    <complexType/>
   </element>
   <element name="getVersionResponse">
    <complexType>
     <sequence>
      <element name="getVersionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermById">
    <complexType>
     <sequence>
      <element name="termId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermByIdResponse">
    <complexType>
     <sequence>
      <element name="getTermByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermMetadata">
    <complexType>
     <sequence>
      <element name="termId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermMetadataResponse">
    <complexType>
     <sequence>
      <element name="getTermMetadataReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermXrefs">
    <complexType>
     <sequence>
      <element name="termId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermXrefsResponse">
    <complexType>
     <sequence>
      <element name="getTermXrefsReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOntologyNames">
    <complexType/>
   </element>
   <element name="getOntologyNamesResponse">
    <complexType>
     <sequence>
      <element name="getOntologyNamesReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOntologyLoadDate">
    <complexType>
     <sequence>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOntologyLoadDateResponse">
    <complexType>
     <sequence>
      <element name="getOntologyLoadDateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTermsFromOntology">
    <complexType>
     <sequence>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTermsFromOntologyResponse">
    <complexType>
     <sequence>
      <element name="getAllTermsFromOntologyReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRootTerms">
    <complexType>
     <sequence>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRootTermsResponse">
    <complexType>
     <sequence>
      <element name="getRootTermsReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermsByName">
    <complexType>
     <sequence>
      <element name="partialName" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
      <element name="reverseKeyOrder" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermsByNameResponse">
    <complexType>
     <sequence>
      <element name="getTermsByNameReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermsByExactName">
    <complexType>
     <sequence>
      <element name="exactName" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermsByExactNameResponse">
    <complexType>
     <sequence>
      <element name="getTermsByExactNameReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPrefixedTermsByName">
    <complexType>
     <sequence>
      <element name="partialName" type="xsd:string"/>
      <element name="reverseKeyOrder" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPrefixedTermsByNameResponse">
    <complexType>
     <sequence>
      <element name="getPrefixedTermsByNameReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermParents">
    <complexType>
     <sequence>
      <element name="termId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermParentsResponse">
    <complexType>
     <sequence>
      <element name="getTermParentsReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermChildren">
    <complexType>
     <sequence>
      <element name="termId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
      <element name="distance" type="xsd:int"/>
      <element maxOccurs="unbounded" name="relationTypes" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermChildrenResponse">
    <complexType>
     <sequence>
      <element name="getTermChildrenReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermRelations">
    <complexType>
     <sequence>
      <element name="termId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermRelationsResponse">
    <complexType>
     <sequence>
      <element name="getTermRelationsReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChildrenFromRoot">
    <complexType>
     <sequence>
      <element name="rootTermId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
      <element name="childrenIds" type="apachesoap:Vector"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChildrenFromRootResponse">
    <complexType>
     <sequence>
      <element name="getChildrenFromRootReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="isObsolete">
    <complexType>
     <sequence>
      <element name="termId" type="xsd:string"/>
      <element name="ontologyName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isObsoleteResponse">
    <complexType>
     <sequence>
      <element name="isObsoleteReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermsByAnnotationData">
    <complexType>
     <sequence>
      <element name="ontologyName" type="xsd:string"/>
      <element name="annotationType" type="xsd:string"/>
      <element name="strValue" type="xsd:string"/>
      <element name="fromDblValue" type="xsd:double"/>
      <element name="toDblValue" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTermsByAnnotationDataResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTermsByAnnotationDataReturn" type="tns1:DataHolder"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.web.ook.ebi.ac.uk"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.web.ook.ebi.ac.uk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="DataHolder">
    <sequence>
     <element name="annotationNumberValue" nillable="true" type="xsd:double"/>
     <element name="annotationStringValue" nillable="true" type="xsd:string"/>
     <element name="annotationType" nillable="true" type="xsd:string"/>
     <element name="termId" nillable="true" type="xsd:string"/>
     <element name="termName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTermsByNameRequest">

      <wsdl:part element="impl:getTermsByName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOntologyLoadDateResponse">

      <wsdl:part element="impl:getOntologyLoadDateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getVersionResponse">

      <wsdl:part element="impl:getVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChildrenFromRootRequest">

      <wsdl:part element="impl:getChildrenFromRoot" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOntologyLoadDateRequest">

      <wsdl:part element="impl:getOntologyLoadDate" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermChildrenResponse">

      <wsdl:part element="impl:getTermChildrenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isObsoleteResponse">

      <wsdl:part element="impl:isObsoleteResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermsByExactNameResponse">

      <wsdl:part element="impl:getTermsByExactNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermXrefsResponse">

      <wsdl:part element="impl:getTermXrefsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermByIdRequest">

      <wsdl:part element="impl:getTermById" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermsByExactNameRequest">

      <wsdl:part element="impl:getTermsByExactName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermsByAnnotationDataRequest">

      <wsdl:part element="impl:getTermsByAnnotationData" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermChildrenRequest">

      <wsdl:part element="impl:getTermChildren" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRootTermsRequest">

      <wsdl:part element="impl:getRootTerms" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOntologyNamesResponse">

      <wsdl:part element="impl:getOntologyNamesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermsByNameResponse">

      <wsdl:part element="impl:getTermsByNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPrefixedTermsByNameResponse">

      <wsdl:part element="impl:getPrefixedTermsByNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermRelationsResponse">

      <wsdl:part element="impl:getTermRelationsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAllTermsFromOntologyResponse">

      <wsdl:part element="impl:getAllTermsFromOntologyResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getVersionRequest">

      <wsdl:part element="impl:getVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermParentsRequest">

      <wsdl:part element="impl:getTermParents" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermMetadataResponse">

      <wsdl:part element="impl:getTermMetadataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAllTermsFromOntologyRequest">

      <wsdl:part element="impl:getAllTermsFromOntology" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isObsoleteRequest">

      <wsdl:part element="impl:isObsolete" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermMetadataRequest">

      <wsdl:part element="impl:getTermMetadata" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermXrefsRequest">

      <wsdl:part element="impl:getTermXrefs" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOntologyNamesRequest">

      <wsdl:part element="impl:getOntologyNames" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermParentsResponse">

      <wsdl:part element="impl:getTermParentsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermRelationsRequest">

      <wsdl:part element="impl:getTermRelations" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChildrenFromRootResponse">

      <wsdl:part element="impl:getChildrenFromRootResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermByIdResponse">

      <wsdl:part element="impl:getTermByIdResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRootTermsResponse">

      <wsdl:part element="impl:getRootTermsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPrefixedTermsByNameRequest">

      <wsdl:part element="impl:getPrefixedTermsByName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTermsByAnnotationDataResponse">

      <wsdl:part element="impl:getTermsByAnnotationDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Query">

      <wsdl:operation name="getVersion">

         <wsdl:input message="impl:getVersionRequest" name="getVersionRequest"/>

         <wsdl:output message="impl:getVersionResponse" name="getVersionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermById">

         <wsdl:input message="impl:getTermByIdRequest" name="getTermByIdRequest"/>

         <wsdl:output message="impl:getTermByIdResponse" name="getTermByIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermMetadata">

         <wsdl:input message="impl:getTermMetadataRequest" name="getTermMetadataRequest"/>

         <wsdl:output message="impl:getTermMetadataResponse" name="getTermMetadataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermXrefs">

         <wsdl:input message="impl:getTermXrefsRequest" name="getTermXrefsRequest"/>

         <wsdl:output message="impl:getTermXrefsResponse" name="getTermXrefsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOntologyNames">

         <wsdl:input message="impl:getOntologyNamesRequest" name="getOntologyNamesRequest"/>

         <wsdl:output message="impl:getOntologyNamesResponse" name="getOntologyNamesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOntologyLoadDate">

         <wsdl:input message="impl:getOntologyLoadDateRequest" name="getOntologyLoadDateRequest"/>

         <wsdl:output message="impl:getOntologyLoadDateResponse" name="getOntologyLoadDateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllTermsFromOntology">

         <wsdl:input message="impl:getAllTermsFromOntologyRequest" name="getAllTermsFromOntologyRequest"/>

         <wsdl:output message="impl:getAllTermsFromOntologyResponse" name="getAllTermsFromOntologyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRootTerms">

         <wsdl:input message="impl:getRootTermsRequest" name="getRootTermsRequest"/>

         <wsdl:output message="impl:getRootTermsResponse" name="getRootTermsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermsByName">

         <wsdl:input message="impl:getTermsByNameRequest" name="getTermsByNameRequest"/>

         <wsdl:output message="impl:getTermsByNameResponse" name="getTermsByNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermsByExactName">

         <wsdl:input message="impl:getTermsByExactNameRequest" name="getTermsByExactNameRequest"/>

         <wsdl:output message="impl:getTermsByExactNameResponse" name="getTermsByExactNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPrefixedTermsByName">

         <wsdl:input message="impl:getPrefixedTermsByNameRequest" name="getPrefixedTermsByNameRequest"/>

         <wsdl:output message="impl:getPrefixedTermsByNameResponse" name="getPrefixedTermsByNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermParents">

         <wsdl:input message="impl:getTermParentsRequest" name="getTermParentsRequest"/>

         <wsdl:output message="impl:getTermParentsResponse" name="getTermParentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermChildren">

         <wsdl:input message="impl:getTermChildrenRequest" name="getTermChildrenRequest"/>

         <wsdl:output message="impl:getTermChildrenResponse" name="getTermChildrenResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermRelations">

         <wsdl:input message="impl:getTermRelationsRequest" name="getTermRelationsRequest"/>

         <wsdl:output message="impl:getTermRelationsResponse" name="getTermRelationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getChildrenFromRoot">

         <wsdl:input message="impl:getChildrenFromRootRequest" name="getChildrenFromRootRequest"/>

         <wsdl:output message="impl:getChildrenFromRootResponse" name="getChildrenFromRootResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isObsolete">

         <wsdl:input message="impl:isObsoleteRequest" name="isObsoleteRequest"/>

         <wsdl:output message="impl:isObsoleteResponse" name="isObsoleteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermsByAnnotationData">

         <wsdl:input message="impl:getTermsByAnnotationDataRequest" name="getTermsByAnnotationDataRequest"/>

         <wsdl:output message="impl:getTermsByAnnotationDataResponse" name="getTermsByAnnotationDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OntologyQuerySoapBinding" type="impl:Query">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getVersion">

         <wsdlsoap:operation soapAction="getVersion"/>

         <wsdl:input name="getVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermById">

         <wsdlsoap:operation soapAction="getTermById"/>

         <wsdl:input name="getTermByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermMetadata">

         <wsdlsoap:operation soapAction="getTermMetadata"/>

         <wsdl:input name="getTermMetadataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermMetadataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermXrefs">

         <wsdlsoap:operation soapAction="getTermXrefs"/>

         <wsdl:input name="getTermXrefsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermXrefsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOntologyNames">

         <wsdlsoap:operation soapAction="getOntologyNames"/>

         <wsdl:input name="getOntologyNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOntologyNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOntologyLoadDate">

         <wsdlsoap:operation soapAction="getOntologyLoadDate"/>

         <wsdl:input name="getOntologyLoadDateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOntologyLoadDateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTermsFromOntology">

         <wsdlsoap:operation soapAction="getAllTermsFromOntology"/>

         <wsdl:input name="getAllTermsFromOntologyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTermsFromOntologyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRootTerms">

         <wsdlsoap:operation soapAction="getRootTerms"/>

         <wsdl:input name="getRootTermsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRootTermsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermsByName">

         <wsdlsoap:operation soapAction="getTermsByName"/>

         <wsdl:input name="getTermsByNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermsByNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermsByExactName">

         <wsdlsoap:operation soapAction="getTermsByExactName"/>

         <wsdl:input name="getTermsByExactNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermsByExactNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrefixedTermsByName">

         <wsdlsoap:operation soapAction="getPrefixedTermsByName"/>

         <wsdl:input name="getPrefixedTermsByNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPrefixedTermsByNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermParents">

         <wsdlsoap:operation soapAction="getTermParents"/>

         <wsdl:input name="getTermParentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermParentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermChildren">

         <wsdlsoap:operation soapAction="getTermChildren"/>

         <wsdl:input name="getTermChildrenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermChildrenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermRelations">

         <wsdlsoap:operation soapAction="getTermRelations"/>

         <wsdl:input name="getTermRelationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermRelationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getChildrenFromRoot">

         <wsdlsoap:operation soapAction="getChildrenFromRoot"/>

         <wsdl:input name="getChildrenFromRootRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getChildrenFromRootResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isObsolete">

         <wsdlsoap:operation soapAction="isObsolete"/>

         <wsdl:input name="isObsoleteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isObsoleteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermsByAnnotationData">

         <wsdlsoap:operation soapAction="getTermsByAnnotationData"/>

         <wsdl:input name="getTermsByAnnotationDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTermsByAnnotationDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="QueryService">

      <wsdl:port binding="impl:OntologyQuerySoapBinding" name="OntologyQuery">

         <wsdlsoap:address location="http://www.ebi.ac.uk/ontology-lookup/services/OntologyQuery"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
