iserve-crawler/src/test/resources/WSDLs/Pathbase2_SOAP.jws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" xmlns:intf="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getImageDetailsRequest">

      <wsdl:part name="ImageNumber" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getPBfromGOResponse">

      <wsdl:part name="getPBfromGOReturn" type="xsd:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="getPBfromGORequest">

      <wsdl:part name="goid" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchPathbaseRequest1">

      <wsdl:part name="searchParameters" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="searchPathbaseResponse">

      <wsdl:part name="searchPathbaseReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="searchPathbaseResponse1">

      <wsdl:part name="searchPathbaseReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="searchPathbaseRequest">

      <wsdl:part name="magnification" type="xsd:string"/>

      <wsdl:part name="stain" type="xsd:string"/>

      <wsdl:part name="organism" type="xsd:string"/>

      <wsdl:part name="sex" type="xsd:string"/>

      <wsdl:part name="strain" type="xsd:string"/>

      <wsdl:part name="gene" type="xsd:string"/>

      <wsdl:part name="emap" type="xsd:string"/>

      <wsdl:part name="cl" type="xsd:string"/>

      <wsdl:part name="mpath" type="xsd:string"/>

      <wsdl:part name="ma" type="xsd:string"/>

      <wsdl:part name="go" type="xsd:string"/>

      <wsdl:part name="genotype_status" type="xsd:string"/>

      <wsdl:part name="genetic_manipulation" type="xsd:string"/>

      <wsdl:part name="designated_allele_name" type="xsd:string"/>

      <wsdl:part name="experimental_manipulation" type="xsd:string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="tbase" type="xsd:string"/>

      <wsdl:part name="pubmed" type="xsd:string"/>

      <wsdl:part name="series_number" type="xsd:string"/>

      <wsdl:part name="submitter_id" type="xsd:string"/>

      <wsdl:part name="source_reliability" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getImageDetailsResponse">

      <wsdl:part name="getImageDetailsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:portType name="Pathbase2_SOAP">

      <wsdl:operation name="getImageDetails" parameterOrder="ImageNumber">

         <wsdl:input message="impl:getImageDetailsRequest" name="getImageDetailsRequest"/>

         <wsdl:output message="impl:getImageDetailsResponse" name="getImageDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPBfromGO" parameterOrder="goid">

         <wsdl:input message="impl:getPBfromGORequest" name="getPBfromGORequest"/>

         <wsdl:output message="impl:getPBfromGOResponse" name="getPBfromGOResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchPathbase" parameterOrder="magnification stain organism sex strain gene emap cl mpath ma go genotype_status genetic_manipulation designated_allele_name experimental_manipulation description tbase pubmed series_number submitter_id source_reliability">

         <wsdl:input message="impl:searchPathbaseRequest" name="searchPathbaseRequest"/>

         <wsdl:output message="impl:searchPathbaseResponse" name="searchPathbaseResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchPathbase" parameterOrder="searchParameters">

         <wsdl:input message="impl:searchPathbaseRequest1" name="searchPathbaseRequest1"/>

         <wsdl:output message="impl:searchPathbaseResponse1" name="searchPathbaseResponse1"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Pathbase2_SOAPSoapBinding" type="impl:Pathbase2_SOAP">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getImageDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getImageDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getImageDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPBfromGO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPBfromGORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPBfromGOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchPathbase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchPathbaseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchPathbaseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchPathbase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchPathbaseRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchPathbaseResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Pathbase2_SOAPService">

      <wsdl:port binding="impl:Pathbase2_SOAPSoapBinding" name="Pathbase2_SOAP">

         <wsdlsoap:address location="http://pathbase1.pdn.cam.ac.uk:8080/axis/Pathbase2_SOAP.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
