iserve-crawler/src/test/resources/WSDLs/pcons.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="pcons"
             targetNamespace="http://wsdl.sbc.su.se/pcons"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://wsdl.sbc.su.se/pcons"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:ns="http://schemas.xmlsoap.org/wsdl/">
  <documentation> Pcons is a Model Quality Assessment Program (MQAP) this means that it ranks protein models by assessing their quality. Pcons uses a sets of possible protein model as input. These models can and should be be produce using various methods and approaches. The Pcons protocol analyzes the set of protein models and looks for recurring three-dimensional structural patterns. Based on this analysis each model is assigned a score reflecting how common its three-dimmensional structural patterns are in whole ensamble of possible models. The idea being that recurring patterns are more likely to be correct as compared to patterns than only occur in a one or just a few models.

The result from the Pcons protocol is one score reflecting the overall global quality and score for each indvidual residue in the protein reflecting the local residue quality.

Pcons was the best Model Quality Assessment Program in CASP7, Assilomar 2007.  </documentation>

  <types>
    <xsd:schema elementFormDefault="qualified"
      targetNamespace="http://wsdl.sbc.su.se/pcons">

      <xsd:element name="runPconsDefault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pdbseq" type="xsd:string">
              <xsd:annotation>
                <documentation>A file containing concatenated pdb files. Each pdb is identified by the TARGET XXXX identifier, which should preceed the ATOMS-section. Entries are separeated by the END keyword</documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="runPconsDefaultResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="pcons_qa" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
</types>

<message name="runPconsDefaultRequestMsg">
	<part name="inputWrapper"  element="tns:runPconsDefault" />
</message>

<message name="runPconsDefaultResponseMsg">
 	<part name="outputWrapper" element="tns:runPconsDefaultResponse" />
 </message>


<portType name="pconsPortType">

    	<operation name="runPconsDefault">
	<documentation> "Assess the quality of the input pdb structures.
	</documentation>
      	<input message ="tns:runPconsDefaultRequestMsg" />
      	<output message="tns:runPconsDefaultResponseMsg" />
    	</operation>
</portType>

 <binding name="pconsBinding" type="tns:pconsPortType">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
 
    	<operation name="runPconsDefault">
      	<soap:operation soapAction="http://wsdl.sbc.su.se/pcons/runPconsDefault" />
      	<input>
        	<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      	</input>
      	<output>	
        	<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      	</output>
    	</operation>

  </binding>

  <service name="Pcons">
    <port binding="tns:pconsBinding" name="pconsPort">
      <soap:address location="http://wsdl.sbc.su.se/cgi-bin/pcons.cgi" />
    </port>
  </service>
</definitions>