iserve-crawler/src/test/resources/WSDLs/PcProfWS.wsdl

<?xml version="1.0"?>
<definitions name="PcProf_Service" 
 targetNamespace="http://gbio.ibcp.fr:8090/PcProf_Service"  
 xmlns:tns="http://gbio.ibcp.fr:8090/PcProf_Service"   
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="submitPcProfRequest">
        <part name="Sequence" type="xsd:string"/>
    </message>
    <message name="submitPcProfResponse">
        <part name="JobId" type="xsd:string"/>
    </message>
    
    <message name="checkStatusPcProfRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="checkStatusPcProfResponse">
        <part name="Status" type="xsd:string"/>
    </message>
    
    <message name="getResultsPcProfRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="getResultsPcProfResponse">
        <part name="PhysicoChemProfile" type="xsd:string"/>
    </message>

    <message name="cancelPcProfRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="cancelPcProfResponse">
        <part name="Status" type="xsd:string"/>
    </message>

    <portType name="PcProfPortType">
        <operation name="submitPcProf">
            <documentation>Submit a sequence an get a jobID</documentation>
            <input message="tns:submitPcProfRequest"/>
            <output message="tns:submitPcProfResponse"/>
        </operation>
        <operation name="checkStatusPcProf">
            <documentation>Submit a jobID and get the status</documentation>
            <input message="tns:checkStatusPcProfRequest"/>
            <output message="tns:checkStatusPcProfResponse"/>
        </operation>
        <operation name="getResultsPcProf">
            <documentation>>When job is finish, submit a jobid and get the results</documentation>
            <input message="tns:getResultsPcProfRequest"/>
            <output message="tns:getResultsPcProfResponse"/>
        </operation>
        <operation name="cancelPcProf">
            <documentation>When some thing is wrong, cancel your job</documentation>
            <input message="tns:cancelPcProfRequest"/>
            <output message="tns:cancelPcProfResponse"/>
        </operation>
    </portType>

    <binding name="PcProfBinding" type="tns:PcProfPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitPcProf">
            <soap:operation
             soapAction="urn:PcProfWS.wsdl#submitPcProf"/>
            <input>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="checkStatusPcProf">
            <soap:operation
             soapAction="urn:PcProfWS.wsdl#checkStatusPcProf"/>
            <input>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getResultsPcProf">
            <soap:operation
             soapAction="urn:PcProfWS.wsdl#getResultsPcProf"/>
            <input>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="cancelPcProf">
            <soap:operation
             soapAction="urn:PcProfWS.wsdl#cancelPcProf"/>
            <input>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:PcProf_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    
    <service name="PcProf_Service">
        <documentation>PcProf @ IBCP (http://gbio-pbil.ibcp.fr)</documentation>
        <port name="PcProfPort" binding="tns:PcProfBinding">
            <soap:address location="http://gbio.ibcp.fr:8090/PcProf_Service"/>
        </port>
    </service>
    
</definitions>