iserve-crawler/src/test/resources/WSDLs/phosphoELMdb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- created by Kate Gould 22nd February 2007 -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:substrate="http://phospho.elm.eu.org/Substrate" xmlns:instance="http://phospho.elm.eu.org/Instance" xmlns:tns="http://phospho.elm.eu.org/phosphoELMdb" name="phosphoELMdb" targetNamespace="http://phospho.elm.eu.org/phosphoELMdb">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:substrate="http://phospho.elm.eu.org/Substrate" xmlns:instance="http://phospho.elm.eu.org/Instance" xmlns:tns="http://phospho.elm.eu.org/phosphoELMdb" targetNamespace="http://phospho.elm.eu.org/phosphoELMdb">
			<xs:import namespace="http://phospho.elm.eu.org/Substrate" schemaLocation="http://phospho.elm.eu.org/webservice/schema/Substrate.xsd"/>
			<xs:import namespace="http://phospho.elm.eu.org/Instance" schemaLocation="http://phospho.elm.eu.org/webservice/schema/Instance.xsd"/>

            
			<xs:element name="getKinaseList">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="getKinaseListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Kinase" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBindingDomainList">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBindingDomainListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:BindingDomain" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubstratesByNameSearch">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubstrateName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubstratesByNameSearchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="substrate:Substrate" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubstratesByGeneNameSearch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubstratesByGeneNameSearchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="substrate:Substrate" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchWithAllThroughputData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProteinSequenceAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchWithAllThroughputDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnly">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProteinSequenceAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnlyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProteinSequenceAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnly">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProteinSequenceAccession" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnlyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByKinaseTextSearch">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QueryText" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByKinaseTextSearchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByBindingDomainTextSearch">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="QueryText" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByBindingDomainTextSearchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubstrateByIdentifier">
				<xs:complexType>
					<xs:sequence>
					<xs:element name="SubstrateIdentifier" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubstrateByIdentifierResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="substrate:Substrate"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstanceByIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InstanceIdentifier" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstanceByIdentifierResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesWithPdbEntryAssigned">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesWithPdbEntryAssignedResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByPubMedId">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pubmedId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInstancesByPubMedIdResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="instance:Instance" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubstrateByIdentifierFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FaultDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InstanceByIdentifierFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FaultDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="getKinaseListRequestMsg">
		<part name="parameters" element="tns:getKinaseList"/>
	</message>
	<message name="getKinaseListResponseMsg">
		<part name="parameters" element="tns:getKinaseListResponse"/>
	</message>
	<message name="getBindingDomainListRequestMsg">
		<part name="parameters" element="tns:getBindingDomainList"/>
	</message>
	<message name="getBindingDomainListResponseMsg">
		<part name="parameters" element="tns:getBindingDomainListResponse"/>
	</message>
	<message name="getSubstratesByNameSearchRequestMsg">
		<part name="parameters" element="tns:getSubstratesByNameSearch"/>
	</message>
	<message name="getSubstratesByNameSearchResponseMsg">
		<part name="parameters" element="tns:getSubstratesByNameSearchResponse"/>
	</message>
	<message name="getSubstratesByGeneNameSearchRequestMsg">
        <part name="parameters" element="tns:getSubstratesByGeneNameSearch"/>
    </message>
    <message name="getSubstratesByGeneNameSearchResponseMsg">
        <part name="parameters" element="tns:getSubstratesByGeneNameSearchResponse"/>
    </message>
	<message name="getInstancesByProteinSequenceAccessionSearchWithAllThroughputDataRequestMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchWithAllThroughputData"/>
	</message>
	<message name="getInstancesByProteinSequenceAccessionSearchWithAllThroughputDataResponseMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchWithAllThroughputDataResponse"/>
	</message>
	<message name="getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnlyRequestMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnly"/>
	</message>
	<message name="getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnlyResponseMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnlyResponse"/>
	</message>
	<message name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputDataRequestMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputData"/>
	</message>
	<message name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputDataResponseMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputDataResponse"/>
	</message>
	<message name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnlyRequestMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnly"/>
	</message>
	<message name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnlyResponseMsg">
		<part name="parameters" element="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnlyResponse"/>
	</message>
	<message name="getInstancesByKinaseTextSearchRequestMsg">
		<part name="parameters" element="tns:getInstancesByKinaseTextSearch"/>
	</message>
	<message name="getInstancesByKinaseTextSearchResponseMsg">
		<part name="parameters" element="tns:getInstancesByKinaseTextSearchResponse"/>
	</message>
	<message name="getInstancesByBindingDomainTextSearchRequestMsg">
		<part name="parameters" element="tns:getInstancesByBindingDomainTextSearch"/>
	</message>
	<message name="getInstancesByBindingDomainTextSearchResponseMsg">
		<part name="parameters" element="tns:getInstancesByBindingDomainTextSearchResponse"/>
	</message>
	<message name="getSubstrateByIdentifierRequestMsg">
		<part name="parameters" element="tns:getSubstrateByIdentifier"/>
	</message>
	<message name="getSubstrateByIdentifierResponseMsg">
		<part name="parameters" element="tns:getSubstrateByIdentifierResponse"/>
	</message>
	<message name="SubstrateByIdentifierFaultMsg">
		<part name="fault" element="tns:SubstrateByIdentifierFault"/>
	</message>
	<message name="getInstanceByIdentifierRequestMsg">
		<part name="parameter" element="tns:getInstanceByIdentifier"/>
	</message>
	<message name="getInstanceByIdentifierResponseMsg">
		<part name="parameter" element="tns:getInstanceByIdentifierResponse"/>
	</message>
	<message name="InstanceByIdentifierFaultMsg">
		<part name="fault" element="tns:InstanceByIdentifierFault"/>
	</message>
	<message name="getInstancesWithPdbEntryAssignedRequestMsg">
		<part name="parameter" element="tns:getInstancesWithPdbEntryAssigned"/>
	</message>
	<message name="getInstancesWithPdbEntryAssignedResponseMsg">
		<part name="parameter" element="tns:getInstancesWithPdbEntryAssignedResponse"/>

	</message>
	<message name="getInstancesByPubMedIdRequestMsg">
		<part name="parameter" element="tns:getInstancesByPubMedId"/>
	</message>
	<message name="getInstancesByPubMedIdResponseMsg">
		<part name="parameter" element="tns:getInstancesByPubMedIdResponse"/>
	</message>
	
	<portType name="phosphoELMdb">
		<operation name="getKinaseList">
			<documentation>Retrieves all kinases present in the database.</documentation>
			<input message="tns:getKinaseListRequestMsg"/>
			<output message="tns:getKinaseListResponseMsg"/>
		</operation>
		
		<operation name="getBindingDomainList">
			<documentation>Retrieves all binding domains present in the database.</documentation>
			<input message="tns:getBindingDomainListRequestMsg"/>
			<output message="tns:getBindingDomainListResponseMsg"/>
		</operation>
		
		<operation name="getSubstratesByNameSearch">
			<documentation>Retrieves a list of substrates matching the specified substrate name.</documentation>
			<input message="tns:getSubstratesByNameSearchRequestMsg"/>
			<output message="tns:getSubstratesByNameSearchResponseMsg"/>
		</operation>
		
		<operation name="getSubstratesByGeneNameSearch">
            <documentation>Retrieves a list of substrates matching the specified gene name.</documentation>
            <input message="tns:getSubstratesByGeneNameSearchRequestMsg"/>
            <output message="tns:getSubstratesByGeneNameSearchResponseMsg"/>
        </operation>
		
		<operation name="getInstancesByProteinSequenceAccessionSearchWithAllThroughputData">
			<documentation>Retrieves a list of instances by specified protein sequence accession nr for all types of throughput data</documentation>
			<input message="tns:getInstancesByProteinSequenceAccessionSearchWithAllThroughputDataRequestMsg"/>
			<output message="tns:getInstancesByProteinSequenceAccessionSearchWithAllThroughputDataResponseMsg"/>
		</operation>
		
		<operation name="getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnly">
			<documentation>Retrieves a list of instances by specified protein sequence accession nr for low throughput data only</documentation>
			<input message="tns:getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnlyRequestMsg"/>
			<output message="tns:getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnlyResponseMsg"/>
		</operation>
		
		<operation name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputData">
			<documentation>Retrieves a list of instances by specified protein sequence accession nr for all related species for all types of throughput data</documentation>
			<input message="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputDataRequestMsg"/>
			<output message="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputDataResponseMsg"/>
		</operation>
		
		<operation name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnly">
			<documentation>Retrieves a list of instances by specified protein sequence accession nr for all related species for low throughput data only</documentation>
			<input message="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnlyRequestMsg"/>
			<output message="tns:getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnlyResponseMsg"/>
		</operation>
		
		<operation name="getInstancesByKinaseTextSearch">
			<documentation>Retrieves a list of instances by specified kinase(exact match only)</documentation>
			<input message="tns:getInstancesByKinaseTextSearchRequestMsg"/>
			<output message="tns:getInstancesByKinaseTextSearchResponseMsg"/>
		</operation>
		
		<operation name="getInstancesByBindingDomainTextSearch">
			<documentation>Retrieves a list of instances by specified binding domain(exact match only)</documentation>
			<input message="tns:getInstancesByBindingDomainTextSearchRequestMsg"/>
			<output message="tns:getInstancesByBindingDomainTextSearchResponseMsg"/>
		</operation>
		
		<operation name="getSubstrateByIdentifier">
			<documentation>Retrieves a Substrate by its identifier</documentation>
			<input message="tns:getSubstrateByIdentifierRequestMsg"/>
			<output message="tns:getSubstrateByIdentifierResponseMsg"/>
			<fault name="SubstrateByIdentifierFault" message="tns:SubstrateByIdentifierFaultMsg"/>
		</operation>

        <operation name="getInstanceByIdentifier">
			<documentation>Retrieves an Instance by its identifier</documentation>
			<input message="tns:getInstanceByIdentifierRequestMsg"/>
			<output message="tns:getInstanceByIdentifierResponseMsg"/>
			<fault name="InstanceByIdentifierFault" message="tns:InstanceByIdentifierFaultMsg"/>
		</operation>
		
		<operation name="getInstancesWithPdbEntryAssigned">
			<documentation>Retrieves a list of instances with a Pdb entry assigned to them</documentation>
			<input message="tns:getInstancesWithPdbEntryAssignedRequestMsg"/>
			<output message="tns:getInstancesWithPdbEntryAssignedResponseMsg"/>
		</operation>
		
		<operation name="getInstancesByPubMedId">
			<documentation>Retrieves a list of instances by specified PubMed id</documentation>
			<input message="tns:getInstancesByPubMedIdRequestMsg"/>
			<output message="tns:getInstancesByPubMedIdResponseMsg"/>
		</operation>
	</portType>
	<binding name="phosphoELMdbBinding" type="tns:phosphoELMdb">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getKinaseList">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getKinaseList"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getBindingDomainList">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getBindingDomainList"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSubstratesByNameSearch">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getSubstratesByNameSearch"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSubstratesByGeneNameSearch">
            <soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getSubstratesByGeneNameSearch"/>
            <input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
		<operation name="getInstancesByProteinSequenceAccessionSearchWithAllThroughputData">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesByProteinSequenceAccessionSearchWithAllThroughputData"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnly">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesByProteinSequenceAccessionSearchWithLowThroughputDataOnly"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputData">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithAllThroughputData"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnly">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesByProteinSequenceAccessionSearchForAllRelatedSpeciesWithLowThroughputDataOnly"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getInstancesByKinaseTextSearch">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesByKinaseTextSearch"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getInstancesByBindingDomainTextSearch">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesByBindingDomainTextSearch"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSubstrateByIdentifier">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getSubstrateByIdentifier"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
			<fault name="SubstrateByIdentifierFault">
				<soap:fault name="SubstrateByIdentifierFault" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</fault>
		</operation>
		<operation name="getInstanceByIdentifier">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstanceByIdentifier"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
			<fault name="InstanceByIdentifierFault">
				<soap:fault name="InstanceByIdentifierFault" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</fault>
		</operation>
		<operation name="getInstancesWithPdbEntryAssigned">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesWithPDBEntryAssigned"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getInstancesByPubMedId">
			<soap:operation soapAction="http://phospho.elm.eu.org/phosphoELMdb/getInstancesByPubMedId"/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>	
	</binding>
	<service name="phosphoELMdb">
		<documentation>

	This  WSDL file describe the phospho.ELM database Web Service. The phospho.ELM database contains descriptions of sets of one or more orthologous proteins that are annotated to be phosphorylated.
	The orthology grouping allows convenient cross-species comparison.
	
	Reference:
	Phospho.ELM: A database of experimentally verified phosphorylation sites in eukaryotic proteins
    Francesca Diella, Scott Cameron, Christine Gemuend, Rune Linding, Allegra Via, Bernhard Kuster, Thomas Sicheritz-Ponten, 
    Nikolaj Blom  and Toby J Gibson  (2004) BMC Bioinformatics, 5:79
	
	URL:http://phospho.elm.eu.org
	
		</documentation>
		<port name="phosphoELMdb" binding="tns:phosphoELMdbBinding">
			<soap:address location="http://luna.embl.de:8080/axis2/services/phosphoELMdb"/>
		</port>
	</service>
</definitions>
