iserve-crawler/src/test/resources/WSDLs/precis.wsdl

<?xml version="1.0"?>

<definitions name="PRECISService"
             targetNamespace="http://www.bioinf.manchester.ac.uk/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bioinf.manchester.ac.uk/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    
    <documentation>
    </documentation>
    
    
    <types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://www.bioinf.manchester.ac.uk/"
                    xmlns:tns="http://www.bioinf.manchester.ac.uk/"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:element name="runPrecisOnIdList">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="idList" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="runPrecisOnIdListResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="PRECIS" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
                        
        </xsd:schema>
    </types>

    
    <message name="runPrecisOnIdListRequestMsg">
        <part name="inputWrapper" element="tns:runPrecisOnIdList" />
    </message>
    <message name="runPrecisOnIdListResponseMsg">
        <part name="outputWrapper" element="tns:runPrecisOnIdListResponse" />
    </message>
    
    
    <portType name="PRECISPortType">
        <operation name="runPrecisOnIdList">
            <documentation>Takes a UniProt ID list as input; returns the associated PRECIS report.</documentation>
            <input message="tns:runPrecisOnIdListRequestMsg" />
            <output message="tns:runPrecisOnIdListResponseMsg" />
        </operation>
    </portType>
    
    
    <binding name="PRECISBinding" type="tns:PRECISPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="runPrecisOnIdList">
            <soap:operation soapAction="http://www.bioinf.manchester.ac.uk/runPrecisOnIdList" />
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </output>
        </operation>
    </binding>
    
    
    <service name="PRECISService">
        <port name="PRECISPort" binding="tns:PRECISBinding">
            <soap:address location="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/minotaur/services/minotaurPrecis.cgi" />
        </port>
    </service>
    
</definitions>
