iserve-crawler/src/test/resources/WSDLs/precis_blast.wsdl

<?xml version="1.0"?>

<definitions name="PRECISService"
             targetNamespace="http://www.bioinf.manchester.ac.uk/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bioinf.manchester.ac.uk/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    
    <documentation>
    </documentation>
    
    
    <types>                        
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://www.bioinf.manchester.ac.uk/"
                    xmlns:tns="http://www.bioinf.manchester.ac.uk/"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
 
           <xsd:element name="runPrecisBlastOnId">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="eValue" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="runPrecisBlastOnIdResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="PRECISB" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
                        
        </xsd:schema>
    </types>

    
    <message name="runPrecisBlastOnIdRequestMsg">
        <part name="inputWrapper" element="tns:runPrecisBlastOnId" />
    </message>
    <message name="runPrecisBlastOnIdResponseMsg">
        <part name="outputWrapper" element="tns:runPrecisBlastOnIdResponse" />
    </message>
    
    
    <portType name="PRECISBlastPortType">
        <operation name="runPrecisBlastOnId">
            <documentation>Takes a UniProt ID and an E-value cut off as input; runs BLAST and gathers those Swiss-Prot IDs that match below the cut-off; returns a PRECIS report based on those sequences.</documentation>
            <input message="tns:runPrecisBlastOnIdRequestMsg" />
            <output message="tns:runPrecisBlastOnIdResponseMsg" />
        </operation>
    </portType>
    
    
    <binding name="PRECISBlastBinding" type="tns:PRECISBlastPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="runPrecisBlastOnId">
            <soap:operation soapAction="http://www.bioinf.manchester.ac.uk/runPrecisBlastOnId" />
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
            </output>
        </operation>
    </binding>

    
    <service name="PRECISService">
        <port name="PRECISBlastPort" binding="tns:PRECISBlastBinding">
            <soap:address location="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/minotaur/services/minotaurBlastPrecis.cgi" />
        </port>
    </service>
    
</definitions>
