iserve-crawler/src/test/resources/WSDLs/PredatorWS.wsdl

<?xml version="1.0"?>
<definitions name="Predator_Service" 
 targetNamespace="http://gbio.ibcp.fr:8090/Predator_Service"  
 xmlns:tns="http://gbio.ibcp.fr:8090/Predator_Service"   
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="submitPredatorRequest">
        <part name="Sequences" type="xsd:string"/>
    </message>
    <message name="submitPredatorResponse">
        <part name="JobId" type="xsd:string"/>
    </message>
    
    <message name="checkStatusPredatorRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="checkStatusPredatorResponse">
        <part name="Status" type="xsd:string"/>
    </message>
    
    <message name="getResultsPredatorRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="getResultsPredatorResponse">
        <part name="SecStructure" type="xsd:string"/>
        <part name="Logout" type="xsd:string"/>
    </message>

    <message name="cancelPredatorRequest">
        <part name="JobId" type="xsd:string"/>
    </message>
    <message name="cancelPredatorResponse">
        <part name="Status" type="xsd:string"/>
    </message>

    <portType name="PredatorPortType">
        <operation name="submitPredator">
            <documentation>Submit a sequence an get a jobID</documentation>
            <input message="tns:submitPredatorRequest"/>
            <output message="tns:submitPredatorResponse"/>
        </operation>
        <operation name="checkStatusPredator">
            <documentation>Submit a jobID and get the status</documentation>
            <input message="tns:checkStatusPredatorRequest"/>
            <output message="tns:checkStatusPredatorResponse"/>
        </operation>
        <operation name="getResultsPredator">
            <documentation>When job is finish, submit a jobid and get the results</documentation>
            <input message="tns:getResultsPredatorRequest"/>
            <output message="tns:getResultsPredatorResponse"/>
        </operation>
        <operation name="cancelPredator">
            <documentation>When some thing is wrong, cancel your job</documentation>
            <input message="tns:cancelPredatorRequest"/>
            <output message="tns:cancelPredatorResponse"/>
        </operation>
    </portType>

    <binding name="PredatorBinding" type="tns:PredatorPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitPredator">
            <soap:operation
             soapAction="urn:PredatorWS.wsdl#submitPredator"/>
            <input>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="checkStatusPredator">
            <soap:operation
             soapAction="urn:PredatorWS.wsdl#checkStatusPredator"/>
            <input>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getResultsPredator">
            <soap:operation
             soapAction="urn:PredatorWS.wsdl#getResultsPredator"/>
            <input>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="cancelPredator">
            <soap:operation
             soapAction="urn:PredatorWS.wsdl#cancelPredator"/>
            <input>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Predator_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    
    <service name="Predator_Service">
        <documentation>Predator @ IBCP (http://gbio-pbil.ibcp.fr)</documentation>
        <port name="PredatorPort" binding="tns:PredatorBinding">
            <soap:address location="http://gbio.ibcp.fr:8090/Predator_Service"/>
        </port>
    </service>
    
</definitions>