iserve-crawler/src/test/resources/WSDLs/REPuter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Jan 29, 2007 (01:45:51 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="reputerException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="responseResponse">

      <wsdl:part name="responseReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_origRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="requestRequest">

      <wsdl:part name="params" type="impl:ArrayOf_xsd_anyType"/>

      <wsdl:part name="sequence" type="soapenc:string"/>

      <wsdl:part name="email" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="request_origRequest">

      <wsdl:part name="params" type="impl:ArrayOf_xsd_anyType"/>

      <wsdl:part name="sequence" type="soapenc:string"/>

      <wsdl:part name="email" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="responseRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="requestResponse">

      <wsdl:part name="requestReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_origResponse">

      <wsdl:part name="response_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="reputerException">

      <wsdl:part name="fault" type="impl:reputerException"/>

   </wsdl:message>

   <wsdl:message name="request_origResponse">

      <wsdl:part name="request_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="reputerImplementation">

      <wsdl:operation name="request" parameterOrder="params sequence email">

         <wsdl:input message="impl:requestRequest" name="requestRequest"/>

         <wsdl:output message="impl:requestResponse" name="requestResponse"/>

         <wsdl:fault message="impl:reputerException" name="reputerException"/>

      </wsdl:operation>

      <wsdl:operation name="response" parameterOrder="id">

         <wsdl:input message="impl:responseRequest" name="responseRequest"/>

         <wsdl:output message="impl:responseResponse" name="responseResponse"/>

         <wsdl:fault message="impl:reputerException" name="reputerException"/>

      </wsdl:operation>

      <wsdl:operation name="request_orig" parameterOrder="params sequence email">

         <wsdl:input message="impl:request_origRequest" name="request_origRequest"/>

         <wsdl:output message="impl:request_origResponse" name="request_origResponse"/>

         <wsdl:fault message="impl:reputerException" name="reputerException"/>

      </wsdl:operation>

      <wsdl:operation name="response_orig" parameterOrder="id">

         <wsdl:input message="impl:response_origRequest" name="response_origRequest"/>

         <wsdl:output message="impl:response_origResponse" name="response_origResponse"/>

         <wsdl:fault message="impl:reputerException" name="reputerException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="REPuterPortSoapBinding" type="impl:reputerImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="request">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://reputer.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="requestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="reputerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="reputerException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="responseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://reputer.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="responseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="reputerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="reputerException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="request_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="request_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://reputer.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="request_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="reputerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="reputerException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://reputer.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="reputerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="reputerException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="reputerImplementationService">

      <wsdl:port binding="impl:REPuterPortSoapBinding" name="REPuterPort">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/REPuter/axis/REPuterPort"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
