iserve-crawler/src/test/resources/WSDLs/RNAshapes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" xmlns:rna="http://hobit.sourceforge.net/xsds/20060201/rnastructML" xmlns:seq="http://hobit.sourceforge.net/xsds/20060201/sequenceML" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://schemas.bioservices.net/2005/biotypes" xmlns:tns2="http://hobit.sourceforge.net/xsds/20060403/hobitTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Jan 29, 2007 (01:45:51 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.bioservices.net/2005/biotypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060403/hobitTypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060201/rnastructML"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060201/sequenceML"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xs_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xs:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="RNAshapesException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:import location="http://bibiwsserv.techfak.uni-bielefeld.de/xsd/net/sourceforge/hobit/20060201/sequenceML.xsd" namespace="http://hobit.sourceforge.net/xsds/20060201/sequenceML"/>

   <wsdl:import location="http://bibiwsserv.techfak.uni-bielefeld.de/xsd/net/sourceforge/hobit/20060201/rnastructML.xsd" namespace="http://hobit.sourceforge.net/xsds/20060201/rnastructML"/>

   <wsdl:message name="response_origRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="responseResponse">

      <wsdl:part element="rna:rnastructML" name="responseReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="RNAshapesException">

      <wsdl:part name="fault" type="impl:RNAshapesException"/>

   </wsdl:message>

   <wsdl:message name="requestRequest">

      <wsdl:part name="email" type="xsd:string"/>

      <wsdl:part element="seq:sequenceML" name="inDoc" type="apachesoap:Document"/>

      <wsdl:part name="array_params" type="impl:ArrayOf_xs_anyType"/>

   </wsdl:message>

   <wsdl:message name="responseRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="requestResponse">

      <wsdl:part name="requestReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="request_origRequest">

      <wsdl:part name="email" type="soapenc:string"/>

      <wsdl:part name="sequence" type="soapenc:string"/>

      <wsdl:part name="array_params" type="impl:ArrayOf_xs_anyType"/>

   </wsdl:message>

   <wsdl:message name="getVersionsResponse">

      <wsdl:part name="getVersionsReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="getVersionsRequest">

   </wsdl:message>

   <wsdl:message name="request_origResponse">

      <wsdl:part name="request_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_origResponse">

      <wsdl:part name="response_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="RNAshapesImplementation">

      <wsdl:operation name="request" parameterOrder="email inDoc array_params">

         <wsdl:input message="impl:requestRequest" name="requestRequest"/>

         <wsdl:output message="impl:requestResponse" name="requestResponse"/>

         <wsdl:fault message="impl:RNAshapesException" name="RNAshapesException"/>

      </wsdl:operation>

      <wsdl:operation name="response" parameterOrder="id">

         <wsdl:input message="impl:responseRequest" name="responseRequest"/>

         <wsdl:output message="impl:responseResponse" name="responseResponse"/>

         <wsdl:fault message="impl:RNAshapesException" name="RNAshapesException"/>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdl:input message="impl:getVersionsRequest" name="getVersionsRequest"/>

         <wsdl:output message="impl:getVersionsResponse" name="getVersionsResponse"/>

         <wsdl:fault message="impl:RNAshapesException" name="RNAshapesException"/>

      </wsdl:operation>

      <wsdl:operation name="request_orig" parameterOrder="email sequence array_params">

         <wsdl:input message="impl:request_origRequest" name="request_origRequest"/>

         <wsdl:output message="impl:request_origResponse" name="request_origResponse"/>

         <wsdl:fault message="impl:RNAshapesException" name="RNAshapesException"/>

      </wsdl:operation>

      <wsdl:operation name="response_orig" parameterOrder="id">

         <wsdl:input message="impl:response_origRequest" name="response_origRequest"/>

         <wsdl:output message="impl:response_origResponse" name="response_origResponse"/>

         <wsdl:fault message="impl:RNAshapesException" name="RNAshapesException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RNAshapesPortSoapBinding" type="impl:RNAshapesImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="request">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="requestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RNAshapesException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RNAshapesException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="responseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="responseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RNAshapesException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RNAshapesException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rnashapes.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RNAshapesException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RNAshapesException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="request_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="request_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rnashapes.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="request_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RNAshapesException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RNAshapesException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rnashapes.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RNAshapesException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RNAshapesException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RNAshapesImplementationService">

      <wsdl:port binding="impl:RNAshapesPortSoapBinding" name="RNAshapesPort">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/RNAshapes/axis/RNAshapesPort"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
