iserve-crawler/src/test/resources/WSDLs/RNAStructML.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" xmlns:rna="http://hobit.sourceforge.net/xsds/20060201/rnastructML" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://hobit.sourceforge.net/xsds/20060403/hobitTypes" xmlns:tns2="http://schemas.bioservices.net/2005/biotypes" xmlns:tns3="http://biodomws.bibiserv.techfak.unibi.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Jan 29, 2007 (01:45:51 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://biodomws.bibiserv.techfak.unibi.de" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.bioservices.net/2005/biotypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060403/hobitTypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060201/rnastructML"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="biodomwsException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:import location="http://bibiwsserv.techfak.uni-bielefeld.de/xsd/net/sourceforge/hobit/20060201/rnastructML.xsd" namespace="http://hobit.sourceforge.net/xsds/20060201/rnastructML"/>

   <wsdl:message name="biodomwsException">

      <wsdl:part name="fault" type="tns3:biodomwsException"/>

   </wsdl:message>

   <wsdl:message name="toDotBracketFastaResponse">

      <wsdl:part name="toDotBracketFastaReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="toDotBracketFastaRequest">

      <wsdl:part element="rna:rnastructML" name="doc" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="fromDotBracketFastaRequest">

      <wsdl:part name="dotbracketfasta" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="fromDotBracketFastaResponse">

      <wsdl:part name="fromDotBracketFastaReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:portType name="RNAStructMLImplementation">

      <wsdl:operation name="toDotBracketFasta" parameterOrder="doc">

         <wsdl:input message="impl:toDotBracketFastaRequest" name="toDotBracketFastaRequest"/>

         <wsdl:output message="impl:toDotBracketFastaResponse" name="toDotBracketFastaResponse"/>

         <wsdl:fault message="impl:biodomwsException" name="biodomwsException"/>

      </wsdl:operation>

      <wsdl:operation name="fromDotBracketFasta" parameterOrder="dotbracketfasta">

         <wsdl:input message="impl:fromDotBracketFastaRequest" name="fromDotBracketFastaRequest"/>

         <wsdl:output message="impl:fromDotBracketFastaResponse" name="fromDotBracketFastaResponse"/>

         <wsdl:fault message="impl:biodomwsException" name="biodomwsException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RNAStructMLSoapBinding" type="impl:RNAStructMLImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="toDotBracketFasta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="toDotBracketFastaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="toDotBracketFastaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="biodomwsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="biodomwsException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="fromDotBracketFasta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fromDotBracketFastaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rnastructml.biodomws.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="fromDotBracketFastaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="biodomwsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="biodomwsException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RNAStructMLImplementationService">

      <wsdl:port binding="impl:RNAStructMLSoapBinding" name="RNAStructML">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/biodomws/axis/RNAStructML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
