iserve-crawler/src/test/resources/WSDLs/roci.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Jan 29, 2007 (01:45:51 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="rociException">
    <sequence/>
   </complexType>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="response_origRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="request_origResponse">

      <wsdl:part name="request_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="rociException">

      <wsdl:part name="fault" type="impl:rociException"/>

   </wsdl:message>

   <wsdl:message name="response_origResponse">

      <wsdl:part name="response_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getVersionsRequest">

   </wsdl:message>

   <wsdl:message name="request_origRequest">

      <wsdl:part name="inputData" type="soapenc:string"/>

      <wsdl:part name="array_params" type="impl:ArrayOf_xsd_anyType"/>

   </wsdl:message>

   <wsdl:message name="getVersionsResponse">

      <wsdl:part name="getVersionsReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:portType name="rociImplementation">

      <wsdl:operation name="getVersions">

         <wsdl:input message="impl:getVersionsRequest" name="getVersionsRequest"/>

         <wsdl:output message="impl:getVersionsResponse" name="getVersionsResponse"/>

         <wsdl:fault message="impl:rociException" name="rociException"/>

      </wsdl:operation>

      <wsdl:operation name="request_orig" parameterOrder="inputData array_params">

         <wsdl:input message="impl:request_origRequest" name="request_origRequest"/>

         <wsdl:output message="impl:request_origResponse" name="request_origResponse"/>

         <wsdl:fault message="impl:rociException" name="rociException"/>

      </wsdl:operation>

      <wsdl:operation name="response_orig" parameterOrder="id">

         <wsdl:input message="impl:response_origRequest" name="response_origRequest"/>

         <wsdl:output message="impl:response_origResponse" name="response_origResponse"/>

         <wsdl:fault message="impl:rociException" name="rociException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="rociPortSoapBinding" type="impl:rociImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getVersions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roci.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="rociException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="rociException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="request_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="request_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roci.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="request_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="rociException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="rociException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roci.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="rociException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="rociException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="rociImplementationService">

      <wsdl:port binding="impl:rociPortSoapBinding" name="rociPort">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/roci/axis/rociPort"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
