iserve-crawler/src/test/resources/WSDLs/rose.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" xmlns:aml="http://hobit.sourceforge.net/xsds/20060201/alignmentML" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" xmlns:intf="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" xmlns:seq="http://hobit.sourceforge.net/xsds/20090917/sequenceML" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://schemas.bioservices.net/2005/biotypes" xmlns:tns2="http://bibiserv.techfak.uni-bielefeld.de/xsd/2005/11/phyloML" xmlns:tns3="http://hobit.sourceforge.net/xsds/20060403/hobitTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Jan 29, 2007 (01:45:51 MET)-->
 <wsdl:types>
  <schema targetNamespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://hobit.sourceforge.net/xsds/20060201/alignmentML"/>
   <import namespace="http://bibiserv.techfak.uni-bielefeld.de/xsd/2005/11/phyloML"/>
   <import namespace="http://schemas.bioservices.net/2005/biotypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20060403/hobitTypes"/>
   <import namespace="http://hobit.sourceforge.net/xsds/20090917/sequenceML"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xs_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xs:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="roseException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:import location="http://bibiwsserv.cebitec.uni-bielefeld.de/xsd/net/sourceforge/hobit/20090917/sequenceML.xsd" namespace="http://hobit.sourceforge.net/xsds/20090917/sequenceML"/>

   <wsdl:import location="http://hobit.sourceforge.net/xsds/2005/11/phyloML.xsd" namespace="http://bibiserv.techfak.uni-bielefeld.de/xsd/2005/11/phyloML"/>

   <wsdl:import location="http://bibiwsserv.cebitec.uni-bielefeld.de/xsd/net/sourceforge/hobit/20060201/alignmentML.xsd" namespace="http://hobit.sourceforge.net/xsds/20060201/alignmentML"/>

   <wsdl:message name="response_alignmentRequest">

      <wsdl:part name="id" type="xs:string"/>

   </wsdl:message>

   <wsdl:message name="response_treeRequest">

      <wsdl:part name="id" type="xs:string"/>

   </wsdl:message>

   <wsdl:message name="response_sequencesRequest">

      <wsdl:part name="id" type="xs:string"/>

   </wsdl:message>

   <wsdl:message name="response_treeResponse">

      <wsdl:part element="tns2:phyloML" name="response_treeReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="response_sequencesResponse">

      <wsdl:part element="seq:sequenceML" name="response_sequencesReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="response_origResponse">

      <wsdl:part name="response_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="response_alignmentResponse">

      <wsdl:part element="aml:alignmentML" name="response_alignmentReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="getVersionsRequest">

   </wsdl:message>

   <wsdl:message name="getVersionsResponse">

      <wsdl:part name="getVersionsReturn" type="apachesoap:Document"/>

   </wsdl:message>

   <wsdl:message name="requestResponse">

      <wsdl:part name="requestReturn" type="xs:string"/>

   </wsdl:message>

   <wsdl:message name="requestRequest">

      <wsdl:part name="email" type="xs:string"/>

      <wsdl:part element="tns2:phyloML" name="inDoc" type="apachesoap:Document"/>

      <wsdl:part name="array_params" type="impl:ArrayOf_xs_anyType"/>

   </wsdl:message>

   <wsdl:message name="response_origRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="roseException">

      <wsdl:part name="fault" type="impl:roseException"/>

   </wsdl:message>

   <wsdl:message name="request_origResponse">

      <wsdl:part name="request_origReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="request_origRequest">

      <wsdl:part name="email" type="soapenc:string"/>

      <wsdl:part name="array_params" type="impl:ArrayOf_xs_anyType"/>

   </wsdl:message>

   <wsdl:portType name="roseImplementation">

      <wsdl:operation name="request" parameterOrder="email inDoc array_params">

         <wsdl:input message="impl:requestRequest" name="requestRequest"/>

         <wsdl:output message="impl:requestResponse" name="requestResponse"/>

         <wsdl:fault message="impl:roseException" name="roseException"/>

      </wsdl:operation>

      <wsdl:operation name="response_tree" parameterOrder="id">

         <wsdl:input message="impl:response_treeRequest" name="response_treeRequest"/>

         <wsdl:output message="impl:response_treeResponse" name="response_treeResponse"/>

         <wsdl:fault message="impl:roseException" name="roseException"/>

      </wsdl:operation>

      <wsdl:operation name="response_alignment" parameterOrder="id">

         <wsdl:input message="impl:response_alignmentRequest" name="response_alignmentRequest"/>

         <wsdl:output message="impl:response_alignmentResponse" name="response_alignmentResponse"/>

         <wsdl:fault message="impl:roseException" name="roseException"/>

      </wsdl:operation>

      <wsdl:operation name="response_sequences" parameterOrder="id">

         <wsdl:input message="impl:response_sequencesRequest" name="response_sequencesRequest"/>

         <wsdl:output message="impl:response_sequencesResponse" name="response_sequencesResponse"/>

         <wsdl:fault message="impl:roseException" name="roseException"/>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdl:input message="impl:getVersionsRequest" name="getVersionsRequest"/>

         <wsdl:output message="impl:getVersionsResponse" name="getVersionsResponse"/>

         <wsdl:fault message="impl:roseException" name="roseException"/>

      </wsdl:operation>

      <wsdl:operation name="request_orig" parameterOrder="email array_params">

         <wsdl:input message="impl:request_origRequest" name="request_origRequest"/>

         <wsdl:output message="impl:request_origResponse" name="request_origResponse"/>

         <wsdl:fault message="impl:roseException" name="roseException"/>

      </wsdl:operation>

      <wsdl:operation name="response_orig" parameterOrder="id">

         <wsdl:input message="impl:response_origRequest" name="response_origRequest"/>

         <wsdl:output message="impl:response_origResponse" name="response_origResponse"/>

         <wsdl:fault message="impl:roseException" name="roseException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="rosePortSoapBinding" type="impl:roseImplementation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="request">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="requestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="roseException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="roseException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_tree">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_treeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_treeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="roseException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="roseException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_alignment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_alignmentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_alignmentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="roseException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="roseException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_sequences">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_sequencesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_sequencesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="roseException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="roseException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rose.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="roseException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="roseException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="request_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="request_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rose.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="request_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="roseException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="roseException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="response_orig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="response_origRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rose.bibiserv.techfak.unibi.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="response_origResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="roseException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="roseException" namespace="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="roseImplementationService">

      <wsdl:port binding="impl:rosePortSoapBinding" name="rosePort">

         <wsdlsoap:address location="http://bibiwsserv.techfak.uni-bielefeld.de/rose/axis/rosePort"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
