iserve-crawler/src/test/resources/WSDLs/RServeEJBWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" xmlns:intf="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://soapinterop.org/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://soapinterop.org/xsd" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOfstring">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soapinterop.org/xsd"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_boolean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:boolean[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addStepAffyNormalizationRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="tns1:ArrayOfstring"/>

      <wsdl:part name="in2" type="xsd:string"/>

      <wsdl:part name="in3" type="xsd:boolean"/>

      <wsdl:part name="in4" type="xsd:boolean"/>

      <wsdl:part name="in5" type="xsd:boolean"/>

      <wsdl:part name="in6" type="xsd:boolean"/>

      <wsdl:part name="in7" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="addFileResponse">

      <wsdl:part name="addFileReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="removeFileRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addStepTwoColorPreprocessingResponse">

      <wsdl:part name="addStepTwoColorPreprocessingReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="voidCallSweaveResponse">

      <wsdl:part name="voidCallSweaveReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="voidEvalResponse">

      <wsdl:part name="voidEvalReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTwoColorWithinArrayNormalizationMethodsRequest">

   </wsdl:message>

   <wsdl:message name="performJustAffyNormalizationRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="xsd:boolean"/>

      <wsdl:part name="in3" type="xsd:boolean"/>

      <wsdl:part name="in4" type="xsd:boolean"/>

      <wsdl:part name="in5" type="xsd:boolean"/>

      <wsdl:part name="in6" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getFileResponse">

      <wsdl:part name="getFileReturn" type="apachesoap:DataHandler"/>

   </wsdl:message>

   <wsdl:message name="voidCallSweaveRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="startDefinedAnalysisResponse">

      <wsdl:part name="startDefinedAnalysisReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="performGOAnalysisResponse">

      <wsdl:part name="performGOAnalysisReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTwoColorBetweenArrayNormalizationMethodsResponse">

      <wsdl:part name="getTwoColorBetweenArrayNormalizationMethodsReturn" type="tns1:ArrayOfstring"/>

   </wsdl:message>

   <wsdl:message name="addStepTwoColorReplicateHandlingResponse">

      <wsdl:part name="addStepTwoColorReplicateHandlingReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addFileRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="apachesoap:DataHandler"/>

   </wsdl:message>

   <wsdl:message name="startDefinedAnalysisRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getMethodDescriptionResponse">

      <wsdl:part name="getMethodDescriptionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listFilesRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="performGOAnalysisRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="xsd:string"/>

      <wsdl:part name="in3" type="xsd:string"/>

      <wsdl:part name="in4" type="xsd:string"/>

      <wsdl:part name="in5" type="xsd:string"/>

      <wsdl:part name="in6" type="xsd:boolean"/>

      <wsdl:part name="in7" type="xsd:float"/>

      <wsdl:part name="in8" type="xsd:boolean"/>

      <wsdl:part name="in9" type="xsd:boolean"/>

      <wsdl:part name="in10" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="addStepAffyNormalizationResponse">

      <wsdl:part name="addStepAffyNormalizationReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part name="getStatusReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="performJustAffyNormalizationResponse">

      <wsdl:part name="performJustAffyNormalizationReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="removeFileResponse">

   </wsdl:message>

   <wsdl:message name="getTwoColorBackgroundCorrectionMethodsRequest">

   </wsdl:message>

   <wsdl:message name="getTwoColorBackgroundCorrectionMethodsResponse">

      <wsdl:part name="getTwoColorBackgroundCorrectionMethodsReturn" type="tns1:ArrayOfstring"/>

   </wsdl:message>

   <wsdl:message name="getMethodDescriptionRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAffyNormalizationMethodsRequest">

   </wsdl:message>

   <wsdl:message name="addStepTwoColorReplicateHandlingRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in3" type="impl:ArrayOf_xsd_boolean"/>

      <wsdl:part name="in4" type="tns1:ArrayOfstring"/>

      <wsdl:part name="in5" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="addStepAffyReplicateHandlingRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in3" type="tns1:ArrayOfstring"/>

      <wsdl:part name="in4" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="performJustTwoColorPreprocessingResponse">

      <wsdl:part name="performJustTwoColorPreprocessingReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addStepTwoColorReplicateHandlingRequest1">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in3" type="impl:ArrayOf_xsd_boolean"/>

      <wsdl:part name="in4" type="tns1:ArrayOfstring"/>

      <wsdl:part name="in5" type="xsd:boolean"/>

      <wsdl:part name="in6" type="xsd:boolean"/>

      <wsdl:part name="in7" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="voidEvalRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="generateIDResponse">

      <wsdl:part name="generateIDReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addStepTwoColorPreprocessingRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="tns1:ArrayOfstring"/>

      <wsdl:part name="in2" type="xsd:string"/>

      <wsdl:part name="in3" type="xsd:string"/>

      <wsdl:part name="in4" type="xsd:string"/>

      <wsdl:part name="in5" type="xsd:string"/>

      <wsdl:part name="in6" type="xsd:string"/>

      <wsdl:part name="in7" type="xsd:string"/>

      <wsdl:part name="in8" type="xsd:string"/>

      <wsdl:part name="in9" type="xsd:boolean"/>

      <wsdl:part name="in10" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getErrorMessageResponse">

      <wsdl:part name="getErrorMessageReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getFileRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listFilesResponse">

      <wsdl:part name="listFilesReturn" type="tns1:ArrayOfstring"/>

   </wsdl:message>

   <wsdl:message name="generateIDRequest">

   </wsdl:message>

   <wsdl:message name="getTwoColorWithinArrayNormalizationMethodsResponse">

      <wsdl:part name="getTwoColorWithinArrayNormalizationMethodsReturn" type="tns1:ArrayOfstring"/>

   </wsdl:message>

   <wsdl:message name="performJustTwoColorPreprocessingRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="tns1:ArrayOfstring"/>

      <wsdl:part name="in2" type="xsd:string"/>

      <wsdl:part name="in3" type="xsd:string"/>

      <wsdl:part name="in4" type="xsd:string"/>

      <wsdl:part name="in5" type="xsd:string"/>

      <wsdl:part name="in6" type="xsd:string"/>

      <wsdl:part name="in7" type="xsd:string"/>

      <wsdl:part name="in8" type="xsd:string"/>

      <wsdl:part name="in9" type="xsd:boolean"/>

      <wsdl:part name="in10" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getTwoColorBetweenArrayNormalizationMethodsRequest">

   </wsdl:message>

   <wsdl:message name="addStepTwoColorReplicateHandlingResponse1">

      <wsdl:part name="addStepTwoColorReplicateHandlingReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAffyNormalizationMethodsResponse">

      <wsdl:part name="getAffyNormalizationMethodsReturn" type="tns1:ArrayOfstring"/>

   </wsdl:message>

   <wsdl:message name="getErrorMessageRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addStepAffyReplicateHandlingResponse">

      <wsdl:part name="addStepAffyReplicateHandlingReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="RServeAxis">

      <wsdl:operation name="listFiles" parameterOrder="in0">

         <wsdl:input message="impl:listFilesRequest" name="listFilesRequest"/>

         <wsdl:output message="impl:listFilesResponse" name="listFilesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getFile" parameterOrder="in0 in1">

         <wsdl:input message="impl:getFileRequest" name="getFileRequest"/>

         <wsdl:output message="impl:getFileResponse" name="getFileResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getStatus" parameterOrder="in0">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="voidEval" parameterOrder="in0 in1">

         <wsdl:input message="impl:voidEvalRequest" name="voidEvalRequest"/>

         <wsdl:output message="impl:voidEvalResponse" name="voidEvalResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeFile" parameterOrder="in0 in1">

         <wsdl:input message="impl:removeFileRequest" name="removeFileRequest"/>

         <wsdl:output message="impl:removeFileResponse" name="removeFileResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addFile" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:addFileRequest" name="addFileRequest"/>

         <wsdl:output message="impl:addFileResponse" name="addFileResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getErrorMessage" parameterOrder="in0">

         <wsdl:input message="impl:getErrorMessageRequest" name="getErrorMessageRequest"/>

         <wsdl:output message="impl:getErrorMessageResponse" name="getErrorMessageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="generateID">

         <wsdl:input message="impl:generateIDRequest" name="generateIDRequest"/>

         <wsdl:output message="impl:generateIDResponse" name="generateIDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="performGOAnalysis" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:performGOAnalysisRequest" name="performGOAnalysisRequest"/>

         <wsdl:output message="impl:performGOAnalysisResponse" name="performGOAnalysisResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAffyNormalizationMethods">

         <wsdl:input message="impl:getAffyNormalizationMethodsRequest" name="getAffyNormalizationMethodsRequest"/>

         <wsdl:output message="impl:getAffyNormalizationMethodsResponse" name="getAffyNormalizationMethodsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTwoColorBackgroundCorrectionMethods">

         <wsdl:input message="impl:getTwoColorBackgroundCorrectionMethodsRequest" name="getTwoColorBackgroundCorrectionMethodsRequest"/>

         <wsdl:output message="impl:getTwoColorBackgroundCorrectionMethodsResponse" name="getTwoColorBackgroundCorrectionMethodsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTwoColorWithinArrayNormalizationMethods">

         <wsdl:input message="impl:getTwoColorWithinArrayNormalizationMethodsRequest" name="getTwoColorWithinArrayNormalizationMethodsRequest"/>

         <wsdl:output message="impl:getTwoColorWithinArrayNormalizationMethodsResponse" name="getTwoColorWithinArrayNormalizationMethodsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTwoColorBetweenArrayNormalizationMethods">

         <wsdl:input message="impl:getTwoColorBetweenArrayNormalizationMethodsRequest" name="getTwoColorBetweenArrayNormalizationMethodsRequest"/>

         <wsdl:output message="impl:getTwoColorBetweenArrayNormalizationMethodsResponse" name="getTwoColorBetweenArrayNormalizationMethodsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMethodDescription" parameterOrder="in0">

         <wsdl:input message="impl:getMethodDescriptionRequest" name="getMethodDescriptionRequest"/>

         <wsdl:output message="impl:getMethodDescriptionResponse" name="getMethodDescriptionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="performJustAffyNormalization" parameterOrder="in0 in1 in2 in3 in4 in5 in6">

         <wsdl:input message="impl:performJustAffyNormalizationRequest" name="performJustAffyNormalizationRequest"/>

         <wsdl:output message="impl:performJustAffyNormalizationResponse" name="performJustAffyNormalizationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="voidCallSweave" parameterOrder="in0 in1">

         <wsdl:input message="impl:voidCallSweaveRequest" name="voidCallSweaveRequest"/>

         <wsdl:output message="impl:voidCallSweaveResponse" name="voidCallSweaveResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addStepAffyNormalization" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7">

         <wsdl:input message="impl:addStepAffyNormalizationRequest" name="addStepAffyNormalizationRequest"/>

         <wsdl:output message="impl:addStepAffyNormalizationResponse" name="addStepAffyNormalizationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="performJustTwoColorPreprocessing" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:performJustTwoColorPreprocessingRequest" name="performJustTwoColorPreprocessingRequest"/>

         <wsdl:output message="impl:performJustTwoColorPreprocessingResponse" name="performJustTwoColorPreprocessingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addStepAffyReplicateHandling" parameterOrder="in0 in1 in2 in3 in4">

         <wsdl:input message="impl:addStepAffyReplicateHandlingRequest" name="addStepAffyReplicateHandlingRequest"/>

         <wsdl:output message="impl:addStepAffyReplicateHandlingResponse" name="addStepAffyReplicateHandlingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addStepTwoColorReplicateHandling" parameterOrder="in0 in1 in2 in3 in4 in5">

         <wsdl:input message="impl:addStepTwoColorReplicateHandlingRequest" name="addStepTwoColorReplicateHandlingRequest"/>

         <wsdl:output message="impl:addStepTwoColorReplicateHandlingResponse" name="addStepTwoColorReplicateHandlingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addStepTwoColorReplicateHandling" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7">

         <wsdl:input message="impl:addStepTwoColorReplicateHandlingRequest1" name="addStepTwoColorReplicateHandlingRequest1"/>

         <wsdl:output message="impl:addStepTwoColorReplicateHandlingResponse1" name="addStepTwoColorReplicateHandlingResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="addStepTwoColorPreprocessing" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:addStepTwoColorPreprocessingRequest" name="addStepTwoColorPreprocessingRequest"/>

         <wsdl:output message="impl:addStepTwoColorPreprocessingResponse" name="addStepTwoColorPreprocessingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="startDefinedAnalysis" parameterOrder="in0">

         <wsdl:input message="impl:startDefinedAnalysisRequest" name="startDefinedAnalysisRequest"/>

         <wsdl:output message="impl:startDefinedAnalysisResponse" name="startDefinedAnalysisResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RServeEJBWSSoapBinding" type="impl:RServeAxis">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listFiles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listFilesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listFilesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="voidEval">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="voidEvalRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="voidEvalResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeFileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeFileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addFileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getErrorMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getErrorMessageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getErrorMessageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateIDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="generateIDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="performGOAnalysis">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="performGOAnalysisRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="performGOAnalysisResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAffyNormalizationMethods">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAffyNormalizationMethodsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAffyNormalizationMethodsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTwoColorBackgroundCorrectionMethods">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTwoColorBackgroundCorrectionMethodsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTwoColorBackgroundCorrectionMethodsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTwoColorWithinArrayNormalizationMethods">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTwoColorWithinArrayNormalizationMethodsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTwoColorWithinArrayNormalizationMethodsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTwoColorBetweenArrayNormalizationMethods">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTwoColorBetweenArrayNormalizationMethodsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTwoColorBetweenArrayNormalizationMethodsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMethodDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMethodDescriptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMethodDescriptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="performJustAffyNormalization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="performJustAffyNormalizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="performJustAffyNormalizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="voidCallSweave">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="voidCallSweaveRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="voidCallSweaveResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStepAffyNormalization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStepAffyNormalizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addStepAffyNormalizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="performJustTwoColorPreprocessing">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="performJustTwoColorPreprocessingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="performJustTwoColorPreprocessingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStepAffyReplicateHandling">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStepAffyReplicateHandlingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addStepAffyReplicateHandlingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStepTwoColorReplicateHandling">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStepTwoColorReplicateHandlingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addStepTwoColorReplicateHandlingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStepTwoColorReplicateHandling">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStepTwoColorReplicateHandlingRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addStepTwoColorReplicateHandlingResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStepTwoColorPreprocessing">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStepTwoColorPreprocessingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addStepTwoColorPreprocessingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startDefinedAnalysis">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startDefinedAnalysisRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ejb.rwebanalysis.R.genome.tugraz.at" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="startDefinedAnalysisResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RServeAxisService">

      <wsdl:port binding="impl:RServeEJBWSSoapBinding" name="RServeEJBWS">

         <wsdlsoap:address location="https://carmaweb.genome.tugraz.at/carma/services/RServeEJBWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
