iserve-crawler/src/test/resources/WSDLs/sabiork.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sabio.eml.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sabio.eml.org/" name="sabiorkService">
<types>
<xsd:schema>
<xsd:import namespace="http://sabio.eml.org/" schemaLocation="http://sabiork.h-its.org:80/sabiork?xsd=1"/>
</xsd:schema>
</types>
<message name="searchCompounds">
<part name="parameters" element="tns:searchCompounds"/>
</message>
<message name="searchCompoundsResponse">
<part name="parameters" element="tns:searchCompoundsResponse"/>
</message>
<message name="getTissue">
<part name="parameters" element="tns:getTissue"/>
</message>
<message name="getTissueResponse">
<part name="parameters" element="tns:getTissueResponse"/>
</message>
<message name="getPubmed">
<part name="parameters" element="tns:getPubmed"/>
</message>
<message name="getPubmedResponse">
<part name="parameters" element="tns:getPubmedResponse"/>
</message>
<message name="getPathwayNames">
<part name="parameters" element="tns:getPathwayNames"/>
</message>
<message name="getPathwayNamesResponse">
<part name="parameters" element="tns:getPathwayNamesResponse"/>
</message>
<message name="getReactionIDs">
<part name="parameters" element="tns:getReactionIDs"/>
</message>
<message name="getReactionIDsResponse">
<part name="parameters" element="tns:getReactionIDsResponse"/>
</message>
<message name="getGeneralReactionEquation">
<part name="parameters" element="tns:getGeneralReactionEquation"/>
</message>
<message name="getGeneralReactionEquationResponse">
<part name="parameters" element="tns:getGeneralReactionEquationResponse"/>
</message>
<message name="getReactionEquation">
<part name="parameters" element="tns:getReactionEquation"/>
</message>
<message name="getReactionEquationResponse">
<part name="parameters" element="tns:getReactionEquationResponse"/>
</message>
<message name="getKineticLaw">
<part name="parameters" element="tns:getKineticLaw"/>
</message>
<message name="getKineticLawResponse">
<part name="parameters" element="tns:getKineticLawResponse"/>
</message>
<message name="getParametersXML">
<part name="parameters" element="tns:getParametersXML"/>
</message>
<message name="getParametersXMLResponse">
<part name="parameters" element="tns:getParametersXMLResponse"/>
</message>
<message name="getNormalizedParametersXML">
<part name="parameters" element="tns:getNormalizedParametersXML"/>
</message>
<message name="getNormalizedParametersXMLResponse">
<part name="parameters" element="tns:getNormalizedParametersXMLResponse"/>
</message>
<message name="getReactionIDFromCompound">
<part name="parameters" element="tns:getReactionIDFromCompound"/>
</message>
<message name="getReactionIDFromCompoundResponse">
<part name="parameters" element="tns:getReactionIDFromCompoundResponse"/>
</message>
<message name="searchEnzymesByName">
<part name="parameters" element="tns:searchEnzymesByName"/>
</message>
<message name="searchEnzymesByNameResponse">
<part name="parameters" element="tns:searchEnzymesByNameResponse"/>
</message>
<message name="searchEnzymesByECNumber">
<part name="parameters" element="tns:searchEnzymesByECNumber"/>
</message>
<message name="searchEnzymesByECNumberResponse">
<part name="parameters" element="tns:searchEnzymesByECNumberResponse"/>
</message>
<message name="getECByName">
<part name="parameters" element="tns:getECByName"/>
</message>
<message name="getECByNameResponse">
<part name="parameters" element="tns:getECByNameResponse"/>
</message>
<message name="getReactionIDFromEnzyme">
<part name="parameters" element="tns:getReactionIDFromEnzyme"/>
</message>
<message name="getReactionIDFromEnzymeResponse">
<part name="parameters" element="tns:getReactionIDFromEnzymeResponse"/>
</message>
<message name="getOrganismFromKLID">
<part name="parameters" element="tns:getOrganismFromKLID"/>
</message>
<message name="getOrganismFromKLIDResponse">
<part name="parameters" element="tns:getOrganismFromKLIDResponse"/>
</message>
<message name="getCompoundID">
<part name="parameters" element="tns:getCompoundID"/>
</message>
<message name="getCompoundIDResponse">
<part name="parameters" element="tns:getCompoundIDResponse"/>
</message>
<message name="getCompoundName">
<part name="parameters" element="tns:getCompoundName"/>
</message>
<message name="getCompoundNameResponse">
<part name="parameters" element="tns:getCompoundNameResponse"/>
</message>
<message name="getKEGGID">
<part name="parameters" element="tns:getKEGGID"/>
</message>
<message name="getKEGGIDResponse">
<part name="parameters" element="tns:getKEGGIDResponse"/>
</message>
<message name="getCHEBIID">
<part name="parameters" element="tns:getCHEBIID"/>
</message>
<message name="getCHEBIIDResponse">
<part name="parameters" element="tns:getCHEBIIDResponse"/>
</message>
<message name="getCompoundIDFromCHEBIID">
<part name="parameters" element="tns:getCompoundIDFromCHEBIID"/>
</message>
<message name="getCompoundIDFromCHEBIIDResponse">
<part name="parameters" element="tns:getCompoundIDFromCHEBIIDResponse"/>
</message>
<message name="getCompoundIDsFromCHEBIID">
<part name="parameters" element="tns:getCompoundIDsFromCHEBIID"/>
</message>
<message name="getCompoundIDsFromCHEBIIDResponse">
<part name="parameters" element="tns:getCompoundIDsFromCHEBIIDResponse"/>
</message>
<message name="getCompoundIDFromKEGGID">
<part name="parameters" element="tns:getCompoundIDFromKEGGID"/>
</message>
<message name="getCompoundIDFromKEGGIDResponse">
<part name="parameters" element="tns:getCompoundIDFromKEGGIDResponse"/>
</message>
<message name="getCompoundIDsFromKEGGID">
<part name="parameters" element="tns:getCompoundIDsFromKEGGID"/>
</message>
<message name="getCompoundIDsFromKEGGIDResponse">
<part name="parameters" element="tns:getCompoundIDsFromKEGGIDResponse"/>
</message>
<message name="getECFromReactionID">
<part name="parameters" element="tns:getECFromReactionID"/>
</message>
<message name="getECFromReactionIDResponse">
<part name="parameters" element="tns:getECFromReactionIDResponse"/>
</message>
<message name="getExpConditions">
<part name="parameters" element="tns:getExpConditions"/>
</message>
<message name="getExpConditionsResponse">
<part name="parameters" element="tns:getExpConditionsResponse"/>
</message>
<message name="getLocationID">
<part name="parameters" element="tns:getLocationID"/>
</message>
<message name="getLocationIDResponse">
<part name="parameters" element="tns:getLocationIDResponse"/>
</message>
<message name="getLocationName">
<part name="parameters" element="tns:getLocationName"/>
</message>
<message name="getLocationNameResponse">
<part name="parameters" element="tns:getLocationNameResponse"/>
</message>
<message name="getSBML">
<part name="parameters" element="tns:getSBML"/>
</message>
<message name="getSBMLResponse">
<part name="parameters" element="tns:getSBMLResponse"/>
</message>
<message name="getMultipleCompoundIDs">
<part name="parameters" element="tns:getMultipleCompoundIDs"/>
</message>
<message name="getMultipleCompoundIDsResponse">
<part name="parameters" element="tns:getMultipleCompoundIDsResponse"/>
</message>
<message name="getSubstratesSpeciesIDs">
<part name="parameters" element="tns:getSubstratesSpeciesIDs"/>
</message>
<message name="getSubstratesSpeciesIDsResponse">
<part name="parameters" element="tns:getSubstratesSpeciesIDsResponse"/>
</message>
<message name="getProductsSpeciesIDs">
<part name="parameters" element="tns:getProductsSpeciesIDs"/>
</message>
<message name="getProductsSpeciesIDsResponse">
<part name="parameters" element="tns:getProductsSpeciesIDsResponse"/>
</message>
<message name="getActivatorsSpeciesIDs">
<part name="parameters" element="tns:getActivatorsSpeciesIDs"/>
</message>
<message name="getActivatorsSpeciesIDsResponse">
<part name="parameters" element="tns:getActivatorsSpeciesIDsResponse"/>
</message>
<message name="getInhibitorsSpeciesIDs">
<part name="parameters" element="tns:getInhibitorsSpeciesIDs"/>
</message>
<message name="getInhibitorsSpeciesIDsResponse">
<part name="parameters" element="tns:getInhibitorsSpeciesIDsResponse"/>
</message>
<message name="getCofactorsSpeciesIDs">
<part name="parameters" element="tns:getCofactorsSpeciesIDs"/>
</message>
<message name="getCofactorsSpeciesIDsResponse">
<part name="parameters" element="tns:getCofactorsSpeciesIDsResponse"/>
</message>
<message name="getCatalystsSpeciesIDs">
<part name="parameters" element="tns:getCatalystsSpeciesIDs"/>
</message>
<message name="getCatalystsSpeciesIDsResponse">
<part name="parameters" element="tns:getCatalystsSpeciesIDsResponse"/>
</message>
<message name="getUnknownModifiersSpeciesIDs">
<part name="parameters" element="tns:getUnknownModifiersSpeciesIDs"/>
</message>
<message name="getUnknownModifiersSpeciesIDsResponse">
<part name="parameters" element="tns:getUnknownModifiersSpeciesIDsResponse"/>
</message>
<message name="getCompoundIDFromSpeciesID">
<part name="parameters" element="tns:getCompoundIDFromSpeciesID"/>
</message>
<message name="getCompoundIDFromSpeciesIDResponse">
<part name="parameters" element="tns:getCompoundIDFromSpeciesIDResponse"/>
</message>
<message name="getKinLawIDFromPubmed">
<part name="parameters" element="tns:getKinLawIDFromPubmed"/>
</message>
<message name="getKinLawIDFromPubmedResponse">
<part name="parameters" element="tns:getKinLawIDFromPubmedResponse"/>
</message>
<message name="getReactionInstanceIDs">
<part name="parameters" element="tns:getReactionInstanceIDs"/>
</message>
<message name="getReactionInstanceIDsResponse">
<part name="parameters" element="tns:getReactionInstanceIDsResponse"/>
</message>
<message name="getReactionIDsFromCompoundID">
<part name="parameters" element="tns:getReactionIDsFromCompoundID"/>
</message>
<message name="getReactionIDsFromCompoundIDResponse">
<part name="parameters" element="tns:getReactionIDsFromCompoundIDResponse"/>
</message>
<message name="getKEGGReactionID">
<part name="parameters" element="tns:getKEGGReactionID"/>
</message>
<message name="getKEGGReactionIDResponse">
<part name="parameters" element="tns:getKEGGReactionIDResponse"/>
</message>
<message name="getKEGGReactionIDs">
<part name="parameters" element="tns:getKEGGReactionIDs"/>
</message>
<message name="getKEGGReactionIDsResponse">
<part name="parameters" element="tns:getKEGGReactionIDsResponse"/>
</message>
<message name="getReactionIDByKEGG">
<part name="parameters" element="tns:getReactionIDByKEGG"/>
</message>
<message name="getReactionIDByKEGGResponse">
<part name="parameters" element="tns:getReactionIDByKEGGResponse"/>
</message>
<message name="getReactionIDsByKEGG">
<part name="parameters" element="tns:getReactionIDsByKEGG"/>
</message>
<message name="getReactionIDsByKEGGResponse">
<part name="parameters" element="tns:getReactionIDsByKEGGResponse"/>
</message>
<message name="getEnzymeProtein">
<part name="parameters" element="tns:getEnzymeProtein"/>
</message>
<message name="getEnzymeProteinResponse">
<part name="parameters" element="tns:getEnzymeProteinResponse"/>
</message>
<message name="getEnzymeProteinList">
<part name="parameters" element="tns:getEnzymeProteinList"/>
</message>
<message name="getEnzymeProteinListResponse">
<part name="parameters" element="tns:getEnzymeProteinListResponse"/>
</message>
<message name="getReactionInstanceIDsFromProtein">
<part name="parameters" element="tns:getReactionInstanceIDsFromProtein"/>
</message>
<message name="getReactionInstanceIDsFromProteinResponse">
<part name="parameters" element="tns:getReactionInstanceIDsFromProteinResponse"/>
</message>
<message name="getAllUniProtIDs">
<part name="parameters" element="tns:getAllUniProtIDs"/>
</message>
<message name="getAllUniProtIDsResponse">
<part name="parameters" element="tns:getAllUniProtIDsResponse"/>
</message>
<message name="getEnzymeVariant">
<part name="parameters" element="tns:getEnzymeVariant"/>
</message>
<message name="getEnzymeVariantResponse">
<part name="parameters" element="tns:getEnzymeVariantResponse"/>
</message>
<message name="getReactionIDFromEC">
<part name="parameters" element="tns:getReactionIDFromEC"/>
</message>
<message name="getReactionIDFromECResponse">
<part name="parameters" element="tns:getReactionIDFromECResponse"/>
</message>
<message name="getReactionInstancesFromUniprotID">
<part name="parameters" element="tns:getReactionInstancesFromUniprotID"/>
</message>
<message name="getReactionInstancesFromUniprotIDResponse">
<part name="parameters" element="tns:getReactionInstancesFromUniprotIDResponse"/>
</message>
<message name="getAllCompoundIDs">
<part name="parameters" element="tns:getAllCompoundIDs"/>
</message>
<message name="getAllCompoundIDsResponse">
<part name="parameters" element="tns:getAllCompoundIDsResponse"/>
</message>
<message name="getAllReactionIDs">
<part name="parameters" element="tns:getAllReactionIDs"/>
</message>
<message name="getAllReactionIDsResponse">
<part name="parameters" element="tns:getAllReactionIDsResponse"/>
</message>
<message name="getAllEnzymes">
<part name="parameters" element="tns:getAllEnzymes"/>
</message>
<message name="getAllEnzymesResponse">
<part name="parameters" element="tns:getAllEnzymesResponse"/>
</message>
<message name="getAllPathways">
<part name="parameters" element="tns:getAllPathways"/>
</message>
<message name="getAllPathwaysResponse">
<part name="parameters" element="tns:getAllPathwaysResponse"/>
</message>
<message name="getAllUnits">
<part name="parameters" element="tns:getAllUnits"/>
</message>
<message name="getAllUnitsResponse">
<part name="parameters" element="tns:getAllUnitsResponse"/>
</message>
<message name="getKinLawIDs">
<part name="parameters" element="tns:getKinLawIDs"/>
</message>
<message name="getKinLawIDsResponse">
<part name="parameters" element="tns:getKinLawIDsResponse"/>
</message>
<message name="getKinLawIDsNotNull">
<part name="parameters" element="tns:getKinLawIDsNotNull"/>
</message>
<message name="getKinLawIDsNotNullResponse">
<part name="parameters" element="tns:getKinLawIDsNotNullResponse"/>
</message>
<message name="getDataSourceID">
<part name="parameters" element="tns:getDataSourceID"/>
</message>
<message name="getDataSourceIDResponse">
<part name="parameters" element="tns:getDataSourceIDResponse"/>
</message>
<portType name="sabiork">
<operation name="searchCompounds">
<input wsam:Action="http://sabio.eml.org/sabiork/searchCompoundsRequest" message="tns:searchCompounds"/>
<output wsam:Action="http://sabio.eml.org/sabiork/searchCompoundsResponse" message="tns:searchCompoundsResponse"/>
</operation>
<operation name="getTissue">
<input wsam:Action="http://sabio.eml.org/sabiork/getTissueRequest" message="tns:getTissue"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getTissueResponse" message="tns:getTissueResponse"/>
</operation>
<operation name="getPubmed">
<input wsam:Action="http://sabio.eml.org/sabiork/getPubmedRequest" message="tns:getPubmed"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getPubmedResponse" message="tns:getPubmedResponse"/>
</operation>
<operation name="getPathwayNames">
<input wsam:Action="http://sabio.eml.org/sabiork/getPathwayNamesRequest" message="tns:getPathwayNames"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getPathwayNamesResponse" message="tns:getPathwayNamesResponse"/>
</operation>
<operation name="getReactionIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionIDsRequest" message="tns:getReactionIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionIDsResponse" message="tns:getReactionIDsResponse"/>
</operation>
<operation name="getGeneralReactionEquation">
<input wsam:Action="http://sabio.eml.org/sabiork/getGeneralReactionEquationRequest" message="tns:getGeneralReactionEquation"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getGeneralReactionEquationResponse" message="tns:getGeneralReactionEquationResponse"/>
</operation>
<operation name="getReactionEquation">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionEquationRequest" message="tns:getReactionEquation"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionEquationResponse" message="tns:getReactionEquationResponse"/>
</operation>
<operation name="getKineticLaw">
<input wsam:Action="http://sabio.eml.org/sabiork/getKineticLawRequest" message="tns:getKineticLaw"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getKineticLawResponse" message="tns:getKineticLawResponse"/>
</operation>
<operation name="getParametersXML">
<input wsam:Action="http://sabio.eml.org/sabiork/getParametersXMLRequest" message="tns:getParametersXML"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getParametersXMLResponse" message="tns:getParametersXMLResponse"/>
</operation>
<operation name="getNormalizedParametersXML">
<input wsam:Action="http://sabio.eml.org/sabiork/getNormalizedParametersXMLRequest" message="tns:getNormalizedParametersXML"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getNormalizedParametersXMLResponse" message="tns:getNormalizedParametersXMLResponse"/>
</operation>
<operation name="getReactionIDFromCompound">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionIDFromCompoundRequest" message="tns:getReactionIDFromCompound"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionIDFromCompoundResponse" message="tns:getReactionIDFromCompoundResponse"/>
</operation>
<operation name="searchEnzymesByName">
<input wsam:Action="http://sabio.eml.org/sabiork/searchEnzymesByNameRequest" message="tns:searchEnzymesByName"/>
<output wsam:Action="http://sabio.eml.org/sabiork/searchEnzymesByNameResponse" message="tns:searchEnzymesByNameResponse"/>
</operation>
<operation name="searchEnzymesByECNumber">
<input wsam:Action="http://sabio.eml.org/sabiork/searchEnzymesByECNumberRequest" message="tns:searchEnzymesByECNumber"/>
<output wsam:Action="http://sabio.eml.org/sabiork/searchEnzymesByECNumberResponse" message="tns:searchEnzymesByECNumberResponse"/>
</operation>
<operation name="getECByName">
<input wsam:Action="http://sabio.eml.org/sabiork/getECByNameRequest" message="tns:getECByName"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getECByNameResponse" message="tns:getECByNameResponse"/>
</operation>
<operation name="getReactionIDFromEnzyme">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionIDFromEnzymeRequest" message="tns:getReactionIDFromEnzyme"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionIDFromEnzymeResponse" message="tns:getReactionIDFromEnzymeResponse"/>
</operation>
<operation name="getOrganismFromKLID">
<input wsam:Action="http://sabio.eml.org/sabiork/getOrganismFromKLIDRequest" message="tns:getOrganismFromKLID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getOrganismFromKLIDResponse" message="tns:getOrganismFromKLIDResponse"/>
</operation>
<operation name="getCompoundID">
<input wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDRequest" message="tns:getCompoundID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDResponse" message="tns:getCompoundIDResponse"/>
</operation>
<operation name="getCompoundName">
<input wsam:Action="http://sabio.eml.org/sabiork/getCompoundNameRequest" message="tns:getCompoundName"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCompoundNameResponse" message="tns:getCompoundNameResponse"/>
</operation>
<operation name="getKEGGID">
<input wsam:Action="http://sabio.eml.org/sabiork/getKEGGIDRequest" message="tns:getKEGGID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getKEGGIDResponse" message="tns:getKEGGIDResponse"/>
</operation>
<operation name="getCHEBIID">
<input wsam:Action="http://sabio.eml.org/sabiork/getCHEBIIDRequest" message="tns:getCHEBIID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCHEBIIDResponse" message="tns:getCHEBIIDResponse"/>
</operation>
<operation name="getCompoundIDFromCHEBIID">
<input wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDFromCHEBIIDRequest" message="tns:getCompoundIDFromCHEBIID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDFromCHEBIIDResponse" message="tns:getCompoundIDFromCHEBIIDResponse"/>
</operation>
<operation name="getCompoundIDsFromCHEBIID">
<input wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDsFromCHEBIIDRequest" message="tns:getCompoundIDsFromCHEBIID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDsFromCHEBIIDResponse" message="tns:getCompoundIDsFromCHEBIIDResponse"/>
</operation>
<operation name="getCompoundIDFromKEGGID">
<input wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDFromKEGGIDRequest" message="tns:getCompoundIDFromKEGGID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDFromKEGGIDResponse" message="tns:getCompoundIDFromKEGGIDResponse"/>
</operation>
<operation name="getCompoundIDsFromKEGGID">
<input wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDsFromKEGGIDRequest" message="tns:getCompoundIDsFromKEGGID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDsFromKEGGIDResponse" message="tns:getCompoundIDsFromKEGGIDResponse"/>
</operation>
<operation name="getECFromReactionID">
<input wsam:Action="http://sabio.eml.org/sabiork/getECFromReactionIDRequest" message="tns:getECFromReactionID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getECFromReactionIDResponse" message="tns:getECFromReactionIDResponse"/>
</operation>
<operation name="getExpConditions">
<input wsam:Action="http://sabio.eml.org/sabiork/getExpConditionsRequest" message="tns:getExpConditions"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getExpConditionsResponse" message="tns:getExpConditionsResponse"/>
</operation>
<operation name="getLocationID">
<input wsam:Action="http://sabio.eml.org/sabiork/getLocationIDRequest" message="tns:getLocationID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getLocationIDResponse" message="tns:getLocationIDResponse"/>
</operation>
<operation name="getLocationName">
<input wsam:Action="http://sabio.eml.org/sabiork/getLocationNameRequest" message="tns:getLocationName"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getLocationNameResponse" message="tns:getLocationNameResponse"/>
</operation>
<operation name="getSBML">
<input wsam:Action="http://sabio.eml.org/sabiork/getSBMLRequest" message="tns:getSBML"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getSBMLResponse" message="tns:getSBMLResponse"/>
</operation>
<operation name="getMultipleCompoundIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getMultipleCompoundIDsRequest" message="tns:getMultipleCompoundIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getMultipleCompoundIDsResponse" message="tns:getMultipleCompoundIDsResponse"/>
</operation>
<operation name="getSubstratesSpeciesIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getSubstratesSpeciesIDsRequest" message="tns:getSubstratesSpeciesIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getSubstratesSpeciesIDsResponse" message="tns:getSubstratesSpeciesIDsResponse"/>
</operation>
<operation name="getProductsSpeciesIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getProductsSpeciesIDsRequest" message="tns:getProductsSpeciesIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getProductsSpeciesIDsResponse" message="tns:getProductsSpeciesIDsResponse"/>
</operation>
<operation name="getActivatorsSpeciesIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getActivatorsSpeciesIDsRequest" message="tns:getActivatorsSpeciesIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getActivatorsSpeciesIDsResponse" message="tns:getActivatorsSpeciesIDsResponse"/>
</operation>
<operation name="getInhibitorsSpeciesIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getInhibitorsSpeciesIDsRequest" message="tns:getInhibitorsSpeciesIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getInhibitorsSpeciesIDsResponse" message="tns:getInhibitorsSpeciesIDsResponse"/>
</operation>
<operation name="getCofactorsSpeciesIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getCofactorsSpeciesIDsRequest" message="tns:getCofactorsSpeciesIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCofactorsSpeciesIDsResponse" message="tns:getCofactorsSpeciesIDsResponse"/>
</operation>
<operation name="getCatalystsSpeciesIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getCatalystsSpeciesIDsRequest" message="tns:getCatalystsSpeciesIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCatalystsSpeciesIDsResponse" message="tns:getCatalystsSpeciesIDsResponse"/>
</operation>
<operation name="getUnknownModifiersSpeciesIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getUnknownModifiersSpeciesIDsRequest" message="tns:getUnknownModifiersSpeciesIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getUnknownModifiersSpeciesIDsResponse" message="tns:getUnknownModifiersSpeciesIDsResponse"/>
</operation>
<operation name="getCompoundIDFromSpeciesID">
<input wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDFromSpeciesIDRequest" message="tns:getCompoundIDFromSpeciesID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getCompoundIDFromSpeciesIDResponse" message="tns:getCompoundIDFromSpeciesIDResponse"/>
</operation>
<operation name="getKinLawIDFromPubmed">
<input wsam:Action="http://sabio.eml.org/sabiork/getKinLawIDFromPubmedRequest" message="tns:getKinLawIDFromPubmed"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getKinLawIDFromPubmedResponse" message="tns:getKinLawIDFromPubmedResponse"/>
</operation>
<operation name="getReactionInstanceIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionInstanceIDsRequest" message="tns:getReactionInstanceIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionInstanceIDsResponse" message="tns:getReactionInstanceIDsResponse"/>
</operation>
<operation name="getReactionIDsFromCompoundID">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionIDsFromCompoundIDRequest" message="tns:getReactionIDsFromCompoundID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionIDsFromCompoundIDResponse" message="tns:getReactionIDsFromCompoundIDResponse"/>
</operation>
<operation name="getKEGGReactionID">
<input wsam:Action="http://sabio.eml.org/sabiork/getKEGGReactionIDRequest" message="tns:getKEGGReactionID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getKEGGReactionIDResponse" message="tns:getKEGGReactionIDResponse"/>
</operation>
<operation name="getKEGGReactionIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getKEGGReactionIDsRequest" message="tns:getKEGGReactionIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getKEGGReactionIDsResponse" message="tns:getKEGGReactionIDsResponse"/>
</operation>
<operation name="getReactionIDByKEGG">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionIDByKEGGRequest" message="tns:getReactionIDByKEGG"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionIDByKEGGResponse" message="tns:getReactionIDByKEGGResponse"/>
</operation>
<operation name="getReactionIDsByKEGG">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionIDsByKEGGRequest" message="tns:getReactionIDsByKEGG"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionIDsByKEGGResponse" message="tns:getReactionIDsByKEGGResponse"/>
</operation>
<operation name="getEnzymeProtein">
<input wsam:Action="http://sabio.eml.org/sabiork/getEnzymeProteinRequest" message="tns:getEnzymeProtein"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getEnzymeProteinResponse" message="tns:getEnzymeProteinResponse"/>
</operation>
<operation name="getEnzymeProteinList">
<input wsam:Action="http://sabio.eml.org/sabiork/getEnzymeProteinListRequest" message="tns:getEnzymeProteinList"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getEnzymeProteinListResponse" message="tns:getEnzymeProteinListResponse"/>
</operation>
<operation name="getReactionInstanceIDsFromProtein">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionInstanceIDsFromProteinRequest" message="tns:getReactionInstanceIDsFromProtein"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionInstanceIDsFromProteinResponse" message="tns:getReactionInstanceIDsFromProteinResponse"/>
</operation>
<operation name="getAllUniProtIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getAllUniProtIDsRequest" message="tns:getAllUniProtIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getAllUniProtIDsResponse" message="tns:getAllUniProtIDsResponse"/>
</operation>
<operation name="getEnzymeVariant">
<input wsam:Action="http://sabio.eml.org/sabiork/getEnzymeVariantRequest" message="tns:getEnzymeVariant"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getEnzymeVariantResponse" message="tns:getEnzymeVariantResponse"/>
</operation>
<operation name="getReactionIDFromEC">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionIDFromECRequest" message="tns:getReactionIDFromEC"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionIDFromECResponse" message="tns:getReactionIDFromECResponse"/>
</operation>
<operation name="getReactionInstancesFromUniprotID">
<input wsam:Action="http://sabio.eml.org/sabiork/getReactionInstancesFromUniprotIDRequest" message="tns:getReactionInstancesFromUniprotID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getReactionInstancesFromUniprotIDResponse" message="tns:getReactionInstancesFromUniprotIDResponse"/>
</operation>
<operation name="getAllCompoundIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getAllCompoundIDsRequest" message="tns:getAllCompoundIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getAllCompoundIDsResponse" message="tns:getAllCompoundIDsResponse"/>
</operation>
<operation name="getAllReactionIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getAllReactionIDsRequest" message="tns:getAllReactionIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getAllReactionIDsResponse" message="tns:getAllReactionIDsResponse"/>
</operation>
<operation name="getAllEnzymes">
<input wsam:Action="http://sabio.eml.org/sabiork/getAllEnzymesRequest" message="tns:getAllEnzymes"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getAllEnzymesResponse" message="tns:getAllEnzymesResponse"/>
</operation>
<operation name="getAllPathways">
<input wsam:Action="http://sabio.eml.org/sabiork/getAllPathwaysRequest" message="tns:getAllPathways"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getAllPathwaysResponse" message="tns:getAllPathwaysResponse"/>
</operation>
<operation name="getAllUnits">
<input wsam:Action="http://sabio.eml.org/sabiork/getAllUnitsRequest" message="tns:getAllUnits"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getAllUnitsResponse" message="tns:getAllUnitsResponse"/>
</operation>
<operation name="getKinLawIDs">
<input wsam:Action="http://sabio.eml.org/sabiork/getKinLawIDsRequest" message="tns:getKinLawIDs"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getKinLawIDsResponse" message="tns:getKinLawIDsResponse"/>
</operation>
<operation name="getKinLawIDsNotNull">
<input wsam:Action="http://sabio.eml.org/sabiork/getKinLawIDsNotNullRequest" message="tns:getKinLawIDsNotNull"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getKinLawIDsNotNullResponse" message="tns:getKinLawIDsNotNullResponse"/>
</operation>
<operation name="getDataSourceID">
<input wsam:Action="http://sabio.eml.org/sabiork/getDataSourceIDRequest" message="tns:getDataSourceID"/>
<output wsam:Action="http://sabio.eml.org/sabiork/getDataSourceIDResponse" message="tns:getDataSourceIDResponse"/>
</operation>
</portType>
<binding name="sabiorkPortBinding" type="tns:sabiork">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchCompounds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTissue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPubmed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPathwayNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGeneralReactionEquation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionEquation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKineticLaw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametersXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNormalizedParametersXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionIDFromCompound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEnzymesByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEnzymesByECNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getECByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionIDFromEnzyme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrganismFromKLID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompoundID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompoundName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKEGGID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCHEBIID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompoundIDFromCHEBIID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompoundIDsFromCHEBIID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompoundIDFromKEGGID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompoundIDsFromKEGGID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getECFromReactionID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExpConditions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLocationID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLocationName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSBML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMultipleCompoundIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubstratesSpeciesIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductsSpeciesIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActivatorsSpeciesIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInhibitorsSpeciesIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCofactorsSpeciesIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCatalystsSpeciesIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnknownModifiersSpeciesIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompoundIDFromSpeciesID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKinLawIDFromPubmed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionInstanceIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionIDsFromCompoundID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKEGGReactionID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKEGGReactionIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionIDByKEGG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionIDsByKEGG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEnzymeProtein">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEnzymeProteinList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionInstanceIDsFromProtein">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUniProtIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEnzymeVariant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionIDFromEC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReactionInstancesFromUniprotID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCompoundIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllReactionIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllEnzymes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPathways">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUnits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKinLawIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKinLawIDsNotNull">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataSourceID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="sabiorkService">
<port name="sabiorkPort" binding="tns:sabiorkPortBinding">
<soap:address location="http://sabiork.h-its.org:80/sabiork"/>
</port>
</service>
</definitions>