iserve-crawler/src/test/resources/WSDLs/sedmlws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.jlibsedml.sedml.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.jlibsedml.sedml.org/" name="SedMLServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.jlibsedml.sedml.org/" schemaLocation="http://mook.inf.ed.ac.uk:8848/SedMLWebService/sedmlws?xsd=1" />
</xsd:schema>
</types>
<message name="validate">
<part name="parameters" element="tns:validate" />
</message>
<message name="validateResponse">
<part name="parameters" element="tns:validateResponse" />
</message>
<message name="XMLWSException">
<part name="fault" element="tns:XMLWSException" />
</message>
<message name="applyChanges">
<part name="parameters" element="tns:applyChanges" />
</message>
<message name="applyChangesResponse">
<part name="parameters" element="tns:applyChangesResponse" />
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello" />
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse" />
</message>
<message name="getValidationReport">
<part name="parameters" element="tns:getValidationReport" />
</message>
<message name="getValidationReportResponse">
<part name="parameters" element="tns:getValidationReportResponse" />
</message>
<portType name="SedMLService">
<operation name="validate">
<input wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/validateRequest" message="tns:validate" />
<output wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/validateResponse" message="tns:validateResponse" />
<fault message="tns:XMLWSException" name="XMLWSException" wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/validate/Fault/XMLWSException" />
</operation>
<operation name="applyChanges">
<input wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/applyChangesRequest" message="tns:applyChanges" />
<output wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/applyChangesResponse" message="tns:applyChangesResponse" />
<fault message="tns:XMLWSException" name="XMLWSException" wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/applyChanges/Fault/XMLWSException" />
</operation>
<operation name="sayHello">
<input wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/sayHelloRequest" message="tns:sayHello" />
<output wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/sayHelloResponse" message="tns:sayHelloResponse" />
</operation>
<operation name="getValidationReport">
<input wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/getValidationReportRequest" message="tns:getValidationReport" />
<output wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/getValidationReportResponse" message="tns:getValidationReportResponse" />
<fault message="tns:XMLWSException" name="XMLWSException" wsam:Action="http://ws.jlibsedml.sedml.org/SedMLService/getValidationReport/Fault/XMLWSException" />
</operation>
</portType>
<binding name="SedMLServicePortBinding" type="tns:SedMLService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="validate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="XMLWSException">
<soap:fault name="XMLWSException" use="literal" />
</fault>
</operation>
<operation name="applyChanges">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="XMLWSException">
<soap:fault name="XMLWSException" use="literal" />
</fault>
</operation>
<operation name="sayHello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getValidationReport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="XMLWSException">
<soap:fault name="XMLWSException" use="literal" />
</fault>
</operation>
</binding>
<service name="SedMLServiceService">
<port name="SedMLServicePort" binding="tns:SedMLServicePortBinding">
<soap:address location="http://mook.inf.ed.ac.uk:8848/SedMLWebService/sedmlws" />
</port>
</service>
</definitions>