iserve-crawler/src/test/resources/WSDLs/SensitivityAnalysisService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SensitivityAnalysisService" targetNamespace="http://services.copasiws.copasi.org/sensitivityanalysisws.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:copasi="http://copasi.org/schema" xmlns:sbrml="http://www.copasi.org/sbrml/level1/version1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sawsdl="http://services.copasiws.copasi.org/sensitivityanalysisws.wsdl" xmlns:sbml="http://www.sbml.org/sbml/level2/version1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:copasiws="http://copasi.org/copasiws/schemas" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:saws="http://sensitivityanalysisws.services.copasiws.copasi.org/types">
  <types>
    <xsd:schema targetNamespace="http://sensitivityanalysisws.services.copasiws.copasi.org/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:annotation>
		<xsd:documentation>
			* Filename   : sensitivityanalysisws.wsdl
			* Description: wsdl for COPASI Steady State Web Service 
			* Author(s)  : Joseph Olufemi Dada *  
		</xsd:documentation>
	</xsd:annotation> 
	
	<xsd:import namespace="http://copasi.org/copasiws/schemas" schemaLocation="SensitivityAnalysisService?xsd=xsd0.xsd"/>	

<!--============= Message types for Sensitivity Analysis =================-->

<xsd:simpleType name="Function">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Concentration Fluxes of Reaction"/>
            <xsd:enumeration value="Particle Fluxes of Reactions"/>
            <xsd:enumeration value="Non-Constant Concentration of Species"/>
        </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="Variable">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="All Parameter Values"/>
            <xsd:enumeration value="Initial Concentration"/>            
        </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="Parameters">
	<xsd:sequence>
	<xsd:choice>
		<xsd:element name="copasiml" type="xsd:string"/>
		<xsd:element name="sbml" type="xsd:string"/>
	</xsd:choice>
	<!--Sensitivity function and variable -->
	<xsd:element name="function" type="saws:Function"/>
	<xsd:element name="variable" type="saws:Variable"/>
	<!--Method parameters-->	
	<xsd:element default="0.001" name="deltaFactor" type="xsd:float"/>		
	<xsd:element default="1e-12" name="deltaMinimum" type="xsd:float"/> 
	</xsd:sequence>
	<xsd:attribute default="SBML" name="inputFormat">
		  <xsd:simpleType>
			  <xsd:restriction base="xsd:string">
				  <xsd:enumeration value="SBML"/>
				  <xsd:enumeration value="CopasiML"/>
			  </xsd:restriction>
		  </xsd:simpleType>
	  </xsd:attribute>
	<xsd:attribute default="sbrml" name="outputFormat">
		  <xsd:simpleType>
			  <xsd:restriction base="xsd:string">
				  <xsd:enumeration value="text"/>
				  <xsd:enumeration value="sbrml"/>
			  </xsd:restriction>
		  </xsd:simpleType>
	  </xsd:attribute>	   
</xsd:complexType>

<!--============= Message types for Runinning Simulator =================-->

<xsd:element name="RunSimulator">
	<xsd:complexType>
		<xsd:sequence>			
			<xsd:element name="parameters" type="saws:Parameters"/>				
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
 

<xsd:element name="RunSimulatorResponse">
	<xsd:complexType>
		<xsd:sequence>
		<xsd:element name="outputResult" type="copasiws:OutputResult"/>
		</xsd:sequence>
	</xsd:complexType> 
</xsd:element>

<!--============= Message types for Starting Simulator =================-->
<xsd:element name="StartSimulator">
	<xsd:complexType>
		<xsd:sequence>			
			<xsd:element name="user" type="copasiws:User"/>	
			<xsd:element name="parameters" type="saws:Parameters"/>		
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="StartSimulatorResponse">
	<xsd:complexType>
	 <xsd:sequence>
		<xsd:element maxOccurs="1" minOccurs="1" name="status" type="copasiws:Status"/>
		<xsd:element name="resourceId" type="xsd:int"/>	
	</xsd:sequence>
	</xsd:complexType>
</xsd:element>	

</xsd:schema>
  </types>
  <message name="RunSimulatorResponse">
    <part name="RunSimulatorResponse" element="saws:RunSimulatorResponse">
    </part>
  </message>
  <message name="ServiceFaultMessage">
    <part name="ServiceFaultMessage" element="copasiws:ServiceFault">
    </part>
  </message>
  <message name="StartSimulatorRequest">
    <part name="StartSimulatorRequest" element="saws:StartSimulator">
    </part>
  </message>
  <message name="GetResultRequest">
    <part name="Parameters" element="copasiws:GetResult">
    </part>
  </message>
  <message name="DeleteSimulationResourceResponse">
    <part name="Parameters" element="copasiws:DeleteSimulationResourceResponse">
    </part>
  </message>
  <message name="GetSimulatorStatusResponse">
    <part name="Parameters" element="copasiws:GetSimulatorStatusResponse">
    </part>
  </message>
  <message name="GetResultResponse">
    <part name="Parameters" element="copasiws:GetResultResponse">
    </part>
  </message>
  <message name="DeleteSimulationResourceRequest">
    <part name="Parameters" element="copasiws:DeleteSimulationResource">
    </part>
  </message>
  <message name="RunSimulatorRequest">
    <part name="RunSimulatorRequest" element="saws:RunSimulator">
    </part>
  </message>
  <message name="GetSimulatorStatusRequest">
    <part name="Parameters" element="copasiws:GetSimulatorStatus">
    </part>
  </message>
  <message name="StartSimulatorResponse">
    <part name="StartSimulatorResponse" element="saws:StartSimulatorResponse">
    </part>
  </message>
  <portType name="SensitivityAnalysisPortType">
    <operation name="runSimulator">
      <input message="sawsdl:RunSimulatorRequest">
    </input>
      <output message="sawsdl:RunSimulatorResponse">
    </output>
      <fault name="RunSimulatorFault" message="sawsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="startSimulator">
      <input message="sawsdl:StartSimulatorRequest">
    </input>
      <output message="sawsdl:StartSimulatorResponse">
    </output>
      <fault name="StartSimulatorFault" message="sawsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="getSimulatorStatus">
      <input message="sawsdl:GetSimulatorStatusRequest">
    </input>
      <output message="sawsdl:GetSimulatorStatusResponse">
    </output>
      <fault name="GetSimulatorStatusFault" message="sawsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="getResult">
      <input message="sawsdl:GetResultRequest">
    </input>
      <output message="sawsdl:GetResultResponse">
    </output>
      <fault name="GetResultFault" message="sawsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="deleteSimulationResource">
      <input message="sawsdl:DeleteSimulationResourceRequest">
    </input>
      <output message="sawsdl:DeleteSimulationResourceResponse">
    </output>
      <fault name="DeleteSimulationResourceFault" message="sawsdl:ServiceFaultMessage">
    </fault>
    </operation>
  </portType>
  <binding name="binding" type="sawsdl:SensitivityAnalysisPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="runSimulator">
      <soap:operation soapAction="RunSimulator" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RunSimulatorFault">
        <soap:fault name="RunSimulatorFault" use="literal"/>
      </fault>
    </operation>
    <operation name="startSimulator">
      <soap:operation soapAction="StartSimulator" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="StartSimulatorFault">
        <soap:fault name="StartSimulatorFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getSimulatorStatus">
      <soap:operation soapAction="GetSimulatorStatus" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GetSimulatorStatusFault">
        <soap:fault name="GetSimulatorStatusFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getResult">
      <soap:operation soapAction="GetResult" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GetResultFault">
        <soap:fault name="GetResultFault" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteSimulationResource">
      <soap:operation soapAction="DeleteSimulationResource" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DeleteSimulationResourceFault">
        <soap:fault name="DeleteSimulationResourceFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SensitivityAnalysisService">
    <port name="SensitivityAnalysisPort" binding="sawsdl:binding">
      <soap:address location="http://130.88.150.78:80/CopasiWS/services/SensitivityAnalysisService"/>
    </port>
  </service>
</definitions>
