iserve-crawler/src/test/resources/WSDLs/server.php.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://planttfdb.cbi.pku.edu.cn:9020/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice">
<types>
<xsd:schema targetNamespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="StringArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="StringArrayArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:StringArray[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="FilterStruct">
  <xsd:all>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="type" type="xsd:string"/>
   <xsd:element name="operator" type="tns:StringArray"/>
   <xsd:element name="option" type="tns:StringArray"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="FilterStructArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:FilterStruct[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="FilterValueStruct">
  <xsd:all>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="operator" type="xsd:string"/>
   <xsd:element name="value" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="FilterValueStructArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:FilterValueStruct[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="ResultStruct">
  <xsd:all>
   <xsd:element name="field" type="tns:StringArrayArray"/>
   <xsd:element name="value" type="tns:StringArrayArray"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="ResultStructArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ResultStruct[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="getDBRequest"></message>
<message name="getDBResponse">
  <part name="return" type="tns:StringArray" /></message>
<message name="getFieldRequest">
  <part name="db_names" type="tns:StringArray" /></message>
<message name="getFieldResponse">
  <part name="return" type="tns:StringArray" /></message>
<message name="getFilterRequest">
  <part name="db_names" type="tns:StringArray" /></message>
<message name="getFilterResponse">
  <part name="return" type="tns:FilterStructArray" /></message>
<message name="getResultRequest">
  <part name="db_names" type="tns:StringArray" />
  <part name="fields" type="tns:StringArray" />
  <part name="filter_values" type="tns:FilterValueStructArray" /></message>
<message name="getResultResponse">
  <part name="return" type="tns:ResultStruct" /></message>
<message name="getBlastFilterRequest">
  <part name="db_names" type="tns:StringArray" /></message>
<message name="getBlastFilterResponse">
  <part name="return" type="tns:FilterStructArray" /></message>
<message name="getBlastResultRequest">
  <part name="db_names" type="tns:StringArray" />
  <part name="filter_values" type="tns:FilterValueStructArray" /></message>
<message name="getBlastResultResponse">
  <part name="return" type="xsd:string" /></message>
<portType name="PlantTFDB_WebServicePortType">
  <operation name="getDB">
    <input message="tns:getDBRequest"/>
    <output message="tns:getDBResponse"/>
  </operation>
  <operation name="getField">
    <input message="tns:getFieldRequest"/>
    <output message="tns:getFieldResponse"/>
  </operation>
  <operation name="getFilter">
    <input message="tns:getFilterRequest"/>
    <output message="tns:getFilterResponse"/>
  </operation>
  <operation name="getResult">
    <input message="tns:getResultRequest"/>
    <output message="tns:getResultResponse"/>
  </operation>
  <operation name="getBlastFilter">
    <input message="tns:getBlastFilterRequest"/>
    <output message="tns:getBlastFilterResponse"/>
  </operation>
  <operation name="getBlastResult">
    <input message="tns:getBlastResultRequest"/>
    <output message="tns:getBlastResultResponse"/>
  </operation>
</portType>
<binding name="PlantTFDB_WebServiceBinding" type="tns:PlantTFDB_WebServicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getDB">
    <soap:operation soapAction="http://192.168.1.16/webservice/server.php/getDB" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getField">
    <soap:operation soapAction="http://192.168.1.16/webservice/server.php/getField" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getFilter">
    <soap:operation soapAction="http://192.168.1.16/webservice/server.php/getFilter" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getResult">
    <soap:operation soapAction="http://192.168.1.16/webservice/server.php/getResult" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getBlastFilter">
    <soap:operation soapAction="http://192.168.1.16/webservice/server.php/getBlastFilter" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getBlastResult">
    <soap:operation soapAction="http://192.168.1.16/webservice/server.php/getBlastResult" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://planttfdb.cbi.pku.edu.cn:9020/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="PlantTFDB_WebService">
  <port name="PlantTFDB_WebServicePort" binding="tns:PlantTFDB_WebServiceBinding">
    <soap:address location="http://192.168.1.16/webservice/server.php"/>
  </port>
</service>
</definitions>