iserve-crawler/src/test/resources/WSDLs/service.ebi.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="EBISearchService" targetNamespace="http://www.ebi.ac.uk/EBISearchService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ebi.ac.uk/EBISearchService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.ebi.ac.uk/EBISearchService" version="1.0" xmlns:ns1="http://webservice.ebinocle.ebi.ac.uk" xmlns:tns="http://www.ebi.ac.uk/EBISearchService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://webservice.ebinocle.ebi.ac.uk"/>
<xs:element name="getAllResultsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="query" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getAllResultsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfIds" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getDetailledNumberOfResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="query" nillable="true" type="xs:string"/>
        <xs:element name="flat" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getDetailledNumberOfResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="detailledNumberOfResults" nillable="true" type="ns1:DomainResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getDomainsHierarchy">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
<xs:element name="getDomainsHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rootDomain" nillable="true" type="ns1:DomainDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getDomainsReferencedInDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getDomainsReferencedInDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfDomainNames" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getDomainsReferencedInEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entry" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getDomainsReferencedInEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfDomainNames" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entries" nillable="true" type="tns:ArrayOfString"/>
        <xs:element name="fields" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntriesFieldUrls">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entries" nillable="true" type="tns:ArrayOfString"/>
        <xs:element name="fields" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntriesFieldUrlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfEntryUrlsValues" nillable="true" type="tns:ArrayOfArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfEntryValues" nillable="true" type="tns:ArrayOfArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entry" nillable="true" type="xs:string"/>
        <xs:element name="fields" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntryFieldUrls">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entry" nillable="true" type="xs:string"/>
        <xs:element name="fields" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntryFieldUrlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entryUrlsValues" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entryValues" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getNumberOfResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="query" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getNumberOfResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numberOfResults" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getReferencedEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entry" nillable="true" type="xs:string"/>
        <xs:element name="referencedDomain" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getReferencedEntriesFlatSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entries" nillable="true" type="tns:ArrayOfString"/>
        <xs:element name="referencedDomain" nillable="true" type="xs:string"/>
        <xs:element name="fields" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getReferencedEntriesFlatSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfEntryValues" nillable="true" type="tns:ArrayOfArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getReferencedEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfEntryIds" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getReferencedEntriesSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="entries" nillable="true" type="tns:ArrayOfString"/>
        <xs:element name="referencedDomain" nillable="true" type="xs:string"/>
        <xs:element name="fields" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getReferencedEntriesSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfEntryValues" nillable="true" type="ns1:ArrayOfEntryReferences"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="query" nillable="true" type="xs:string"/>
        <xs:element name="fields" nillable="true" type="tns:ArrayOfString"/>
        <xs:element name="start" type="xs:int"/>
        <xs:element name="size" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getResultsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
        <xs:element name="query" nillable="true" type="xs:string"/>
        <xs:element name="start" type="xs:int"/>
        <xs:element name="size" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getResultsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfIds" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="getResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfEntryValues" nillable="true" type="tns:ArrayOfArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="listAdditionalReferenceFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="listAdditionalReferenceFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfFieldNames" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="listDomains">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
<xs:element name="listDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfDomainNames" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="listFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="listFieldsInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="listFieldsInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfFieldInformation" nillable="true" type="ns1:ArrayOfFieldInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="listFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arrayOfFieldNames" nillable="true" type="tns:ArrayOfString"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ArrayOfArrayOfString">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="anyType2anyType2anyTypeMapMap">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="key" type="xs:anyType"/>
            <xs:element minOccurs="0" name="value" type="tns:anyType2anyTypeMap"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="anyType2anyTypeMap">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="key" type="xs:anyType"/>
            <xs:element minOccurs="0" name="value" type="xs:anyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema targetNamespace="http://webservice.ebinocle.ebi.ac.uk" version="1.0" xmlns:ns1="http://www.ebi.ac.uk/EBISearchService" xmlns:tns="http://webservice.ebinocle.ebi.ac.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.ebi.ac.uk/EBISearchService"/>
<xs:complexType name="ArrayOfFieldInfo">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="FieldInfo" nillable="true" type="tns:FieldInfo"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="FieldInfo">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="description" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="id" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="name" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="retrievable" type="xs:boolean"/>
      <xs:element form="qualified" minOccurs="0" name="searchable" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="DomainResult">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="domainId" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="numberOfResults" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="subDomainsResults" nillable="true" type="tns:ArrayOfDomainResult"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ArrayOfDomainResult">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="DomainResult" nillable="true" type="tns:DomainResult"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ArrayOfEntryReferences">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="EntryReferences" nillable="true" type="tns:EntryReferences"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="EntryReferences">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="entry" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="references" nillable="true" type="ns1:ArrayOfArrayOfString"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="DomainDescription">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="description" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="id" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="name" nillable="true" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="properties" nillable="true" type="ns1:anyType2anyType2anyTypeMapMap"/>
      <xs:element form="qualified" minOccurs="0" name="subDomains" nillable="true" type="tns:ArrayOfDomainDescription"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ArrayOfDomainDescription">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="DomainDescription" nillable="true" type="tns:DomainDescription"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getResultsIdsResponse">
    <wsdl:part element="tns:getResultsIdsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainsReferencedInDomainResponse">
    <wsdl:part element="tns:getDomainsReferencedInDomainResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResultsResponse">
    <wsdl:part element="tns:getResultsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDetailledNumberOfResults">
    <wsdl:part element="tns:getDetailledNumberOfResults" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNumberOfResultsResponse">
    <wsdl:part element="tns:getNumberOfResultsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntry">
    <wsdl:part element="tns:getEntry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferencedEntries">
    <wsdl:part element="tns:getReferencedEntries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listFields">
    <wsdl:part element="tns:listFields" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferencedEntriesSet">
    <wsdl:part element="tns:getReferencedEntriesSet" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllResultsIdsResponse">
    <wsdl:part element="tns:getAllResultsIdsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listDomainsResponse">
    <wsdl:part element="tns:listDomainsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainsReferencedInDomain">
    <wsdl:part element="tns:getDomainsReferencedInDomain" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntriesFieldUrls">
    <wsdl:part element="tns:getEntriesFieldUrls" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntryResponse">
    <wsdl:part element="tns:getEntryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResults">
    <wsdl:part element="tns:getResults" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listFieldsInformation">
    <wsdl:part element="tns:listFieldsInformation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResultsIds">
    <wsdl:part element="tns:getResultsIds" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAdditionalReferenceFieldsResponse">
    <wsdl:part element="tns:listAdditionalReferenceFieldsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainsHierarchy">
    <wsdl:part element="tns:getDomainsHierarchy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferencedEntriesFlatSet">
    <wsdl:part element="tns:getReferencedEntriesFlatSet" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNumberOfResults">
    <wsdl:part element="tns:getNumberOfResults" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainsReferencedInEntryResponse">
    <wsdl:part element="tns:getDomainsReferencedInEntryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntriesResponse">
    <wsdl:part element="tns:getEntriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainsHierarchyResponse">
    <wsdl:part element="tns:getDomainsHierarchyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainsReferencedInEntry">
    <wsdl:part element="tns:getDomainsReferencedInEntry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntryFieldUrls">
    <wsdl:part element="tns:getEntryFieldUrls" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntries">
    <wsdl:part element="tns:getEntries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferencedEntriesFlatSetResponse">
    <wsdl:part element="tns:getReferencedEntriesFlatSetResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listFieldsResponse">
    <wsdl:part element="tns:listFieldsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listDomains">
    <wsdl:part element="tns:listDomains" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferencedEntriesResponse">
    <wsdl:part element="tns:getReferencedEntriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllResultsIds">
    <wsdl:part element="tns:getAllResultsIds" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntryFieldUrlsResponse">
    <wsdl:part element="tns:getEntryFieldUrlsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntriesFieldUrlsResponse">
    <wsdl:part element="tns:getEntriesFieldUrlsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDetailledNumberOfResultsResponse">
    <wsdl:part element="tns:getDetailledNumberOfResultsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferencedEntriesSetResponse">
    <wsdl:part element="tns:getReferencedEntriesSetResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAdditionalReferenceFields">
    <wsdl:part element="tns:listAdditionalReferenceFields" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listFieldsInformationResponse">
    <wsdl:part element="tns:listFieldsInformationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EBISearchService">
    <wsdl:operation name="getDomainsReferencedInDomain">
      <wsdl:input message="tns:getDomainsReferencedInDomain" name="getDomainsReferencedInDomain">
    </wsdl:input>
      <wsdl:output message="tns:getDomainsReferencedInDomainResponse" name="getDomainsReferencedInDomainResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntries">
      <wsdl:input message="tns:getEntries" name="getEntries">
    </wsdl:input>
      <wsdl:output message="tns:getEntriesResponse" name="getEntriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntryFieldUrls">
      <wsdl:input message="tns:getEntryFieldUrls" name="getEntryFieldUrls">
    </wsdl:input>
      <wsdl:output message="tns:getEntryFieldUrlsResponse" name="getEntryFieldUrlsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFields">
      <wsdl:input message="tns:listFields" name="listFields">
    </wsdl:input>
      <wsdl:output message="tns:listFieldsResponse" name="listFieldsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFieldsInformation">
      <wsdl:input message="tns:listFieldsInformation" name="listFieldsInformation">
    </wsdl:input>
      <wsdl:output message="tns:listFieldsInformationResponse" name="listFieldsInformationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailledNumberOfResults">
      <wsdl:input message="tns:getDetailledNumberOfResults" name="getDetailledNumberOfResults">
    </wsdl:input>
      <wsdl:output message="tns:getDetailledNumberOfResultsResponse" name="getDetailledNumberOfResultsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfResults">
      <wsdl:input message="tns:getNumberOfResults" name="getNumberOfResults">
    </wsdl:input>
      <wsdl:output message="tns:getNumberOfResultsResponse" name="getNumberOfResultsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntry">
      <wsdl:input message="tns:getEntry" name="getEntry">
    </wsdl:input>
      <wsdl:output message="tns:getEntryResponse" name="getEntryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAdditionalReferenceFields">
      <wsdl:input message="tns:listAdditionalReferenceFields" name="listAdditionalReferenceFields">
    </wsdl:input>
      <wsdl:output message="tns:listAdditionalReferenceFieldsResponse" name="listAdditionalReferenceFieldsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferencedEntries">
      <wsdl:input message="tns:getReferencedEntries" name="getReferencedEntries">
    </wsdl:input>
      <wsdl:output message="tns:getReferencedEntriesResponse" name="getReferencedEntriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntriesFieldUrls">
      <wsdl:input message="tns:getEntriesFieldUrls" name="getEntriesFieldUrls">
    </wsdl:input>
      <wsdl:output message="tns:getEntriesFieldUrlsResponse" name="getEntriesFieldUrlsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainsReferencedInEntry">
      <wsdl:input message="tns:getDomainsReferencedInEntry" name="getDomainsReferencedInEntry">
    </wsdl:input>
      <wsdl:output message="tns:getDomainsReferencedInEntryResponse" name="getDomainsReferencedInEntryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferencedEntriesFlatSet">
      <wsdl:input message="tns:getReferencedEntriesFlatSet" name="getReferencedEntriesFlatSet">
    </wsdl:input>
      <wsdl:output message="tns:getReferencedEntriesFlatSetResponse" name="getReferencedEntriesFlatSetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResultsIds">
      <wsdl:input message="tns:getResultsIds" name="getResultsIds">
    </wsdl:input>
      <wsdl:output message="tns:getResultsIdsResponse" name="getResultsIdsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDomains">
      <wsdl:input message="tns:listDomains" name="listDomains">
    </wsdl:input>
      <wsdl:output message="tns:listDomainsResponse" name="listDomainsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferencedEntriesSet">
      <wsdl:input message="tns:getReferencedEntriesSet" name="getReferencedEntriesSet">
    </wsdl:input>
      <wsdl:output message="tns:getReferencedEntriesSetResponse" name="getReferencedEntriesSetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainsHierarchy">
      <wsdl:input message="tns:getDomainsHierarchy" name="getDomainsHierarchy">
    </wsdl:input>
      <wsdl:output message="tns:getDomainsHierarchyResponse" name="getDomainsHierarchyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllResultsIds">
      <wsdl:input message="tns:getAllResultsIds" name="getAllResultsIds">
    </wsdl:input>
      <wsdl:output message="tns:getAllResultsIdsResponse" name="getAllResultsIdsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResults">
      <wsdl:input message="tns:getResults" name="getResults">
    </wsdl:input>
      <wsdl:output message="tns:getResultsResponse" name="getResultsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EBISearchServiceSoapBinding" type="tns:EBISearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDomainsReferencedInDomain">
      <soap:operation soapAction="urn:GetDomainsReferencedInDomain" style="document"/>
      <wsdl:input name="getDomainsReferencedInDomain">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDomainsReferencedInDomainResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntries">
      <soap:operation soapAction="urn:GetEntries" style="document"/>
      <wsdl:input name="getEntries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntryFieldUrls">
      <soap:operation soapAction="urn:GetEntryFieldUrls" style="document"/>
      <wsdl:input name="getEntryFieldUrls">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntryFieldUrlsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFields">
      <soap:operation soapAction="urn:ListFields" style="document"/>
      <wsdl:input name="listFields">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listFieldsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailledNumberOfResults">
      <soap:operation soapAction="urn:GetDetailledNumberOfResults" style="document"/>
      <wsdl:input name="getDetailledNumberOfResults">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDetailledNumberOfResultsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFieldsInformation">
      <soap:operation soapAction="urn:ListFieldsInformation" style="document"/>
      <wsdl:input name="listFieldsInformation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listFieldsInformationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntry">
      <soap:operation soapAction="urn:GetEntry" style="document"/>
      <wsdl:input name="getEntry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfResults">
      <soap:operation soapAction="urn:GetNumberOfResults" style="document"/>
      <wsdl:input name="getNumberOfResults">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfResultsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferencedEntries">
      <soap:operation soapAction="urn:GetReferencedEntries" style="document"/>
      <wsdl:input name="getReferencedEntries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReferencedEntriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAdditionalReferenceFields">
      <soap:operation soapAction="urn:ListAdditionalReferenceFields" style="document"/>
      <wsdl:input name="listAdditionalReferenceFields">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listAdditionalReferenceFieldsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntriesFieldUrls">
      <soap:operation soapAction="urn:GetEntriesFieldUrls" style="document"/>
      <wsdl:input name="getEntriesFieldUrls">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntriesFieldUrlsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainsReferencedInEntry">
      <soap:operation soapAction="urn:GetDomainsReferencedInEntry" style="document"/>
      <wsdl:input name="getDomainsReferencedInEntry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDomainsReferencedInEntryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferencedEntriesFlatSet">
      <soap:operation soapAction="urn:GetReferencedEntriesFlatSet" style="document"/>
      <wsdl:input name="getReferencedEntriesFlatSet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReferencedEntriesFlatSetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResultsIds">
      <soap:operation soapAction="urn:GetResultsIds" style="document"/>
      <wsdl:input name="getResultsIds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResultsIdsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferencedEntriesSet">
      <soap:operation soapAction="urn:GetReferencedEntriesSet" style="document"/>
      <wsdl:input name="getReferencedEntriesSet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReferencedEntriesSetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDomains">
      <soap:operation soapAction="urn:ListDomains" style="document"/>
      <wsdl:input name="listDomains">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listDomainsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainsHierarchy">
      <soap:operation soapAction="urn:GetDomainsHierarchy" style="document"/>
      <wsdl:input name="getDomainsHierarchy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDomainsHierarchyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllResultsIds">
      <soap:operation soapAction="urn:GetAllResultsIds" style="document"/>
      <wsdl:input name="getAllResultsIds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllResultsIdsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResults">
      <soap:operation soapAction="urn:GetResults" style="document"/>
      <wsdl:input name="getResults">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResultsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EBISearchService">
    <wsdl:port binding="tns:EBISearchServiceSoapBinding" name="EBISearchServiceHttpPort">
      <soap:address location="http://www.ebi.ac.uk/ebisearch/service.ebi/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>