iserve-crawler/src/test/resources/WSDLs/snps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="snps.webservices.pdb.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="snps.webservices.pdb.org" xmlns:intf="snps.webservices.pdb.org" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="snps.webservices.pdb.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="UniProtPDBSNPDescriptor">
    <sequence>
     <element name="annotation" nillable="true" type="soapenc:string"/>
     <element name="chains" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="dbAccession" nillable="true" type="soapenc:string"/>
     <element name="dbAlignStart" type="xsd:int"/>
     <element name="endResidue" type="xsd:int"/>
     <element name="feature" nillable="true" type="soapenc:string"/>
     <element name="fromResidue" nillable="true" type="soapenc:string"/>
     <element name="id" nillable="true" type="soapenc:string"/>
     <element name="pdbID" nillable="true" type="soapenc:string"/>
     <element name="proteinAccession" nillable="true" type="soapenc:string"/>
     <element name="proteinGI" nillable="true" type="soapenc:string"/>
     <element name="seqAlignStart" type="xsd:int"/>
     <element name="snpId" nillable="true" type="soapenc:string"/>
     <element name="startResidue" type="xsd:int"/>
     <element name="structureGI" nillable="true" type="soapenc:string"/>
     <element name="structureResidue" nillable="true" type="soapenc:string"/>
     <element name="toResidue" nillable="true" type="soapenc:string"/>
     <element name="uniprotVariantId" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfUniProtPDBSNPDescriptor">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:UniProtPDBSNPDescriptor[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="NCBIdbSNPDescriptor">
    <sequence>
     <element name="chainId" nillable="true" type="soapenc:string"/>
     <element name="contigResidue" nillable="true" type="soapenc:string"/>
     <element name="flgIdentical" nillable="true" type="soapenc:int"/>
     <element name="masterResidue" nillable="true" type="soapenc:string"/>
     <element name="omimId" nillable="true" type="soapenc:int"/>
     <element name="snpId" nillable="true" type="soapenc:string"/>
     <element name="snpType" nillable="true" type="soapenc:string"/>
     <element name="structAaPos" nillable="true" type="soapenc:int"/>
     <element name="structId" nillable="true" type="soapenc:string"/>
     <element name="structResidue" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfNCBIdbSNPDescriptor">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:NCBIdbSNPDescriptor[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNCBIdbSNPDescriptorRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUniProtSNPsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUniProtSNPsResponse">

      <wsdl:part name="getUniProtSNPsReturn" type="impl:ArrayOfUniProtPDBSNPDescriptor"/>

   </wsdl:message>

   <wsdl:message name="getNCBIdbSNPDescriptorResponse">

      <wsdl:part name="getNCBIdbSNPDescriptorReturn" type="impl:ArrayOfNCBIdbSNPDescriptor"/>

   </wsdl:message>

   <wsdl:message name="getSNPIdsResponse">

      <wsdl:part name="getSNPIdsReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getSNPIdsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="PDBSnps">

      <wsdl:operation name="getSNPIds" parameterOrder="in0 in1">

         <wsdl:input message="impl:getSNPIdsRequest" name="getSNPIdsRequest"/>

         <wsdl:output message="impl:getSNPIdsResponse" name="getSNPIdsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUniProtSNPs" parameterOrder="in0">

         <wsdl:input message="impl:getUniProtSNPsRequest" name="getUniProtSNPsRequest"/>

         <wsdl:output message="impl:getUniProtSNPsResponse" name="getUniProtSNPsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNCBIdbSNPDescriptor" parameterOrder="in0">

         <wsdl:input message="impl:getNCBIdbSNPDescriptorRequest" name="getNCBIdbSNPDescriptorRequest"/>

         <wsdl:output message="impl:getNCBIdbSNPDescriptorResponse" name="getNCBIdbSNPDescriptorResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="snpsSoapBinding" type="impl:PDBSnps">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSNPIds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSNPIdsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="snps.webservices.pdb.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSNPIdsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="snps.webservices.pdb.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUniProtSNPs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUniProtSNPsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="snps.webservices.pdb.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUniProtSNPsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="snps.webservices.pdb.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNCBIdbSNPDescriptor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNCBIdbSNPDescriptorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="snps.webservices.pdb.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNCBIdbSNPDescriptorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="snps.webservices.pdb.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PDBSnpsService">

      <wsdl:port binding="impl:snpsSoapBinding" name="snps">

         <wsdlsoap:address location="http://www.pdb.org/pdb/services/snps"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
