iserve-crawler/src/test/resources/WSDLs/SteadyStateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SteadyStateService" targetNamespace="http://services.copasiws.copasi.org/steadystatews.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:copasi="http://copasi.org/schema" xmlns:sbrml="http://www.copasi.org/sbrml/level1/version1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ssws="http://steadystatews.services.copasiws.copasi.org/types" xmlns:sbml="http://www.sbml.org/sbml/level2/version1" xmlns:sswsdl="http://services.copasiws.copasi.org/steadystatews.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:copasiws="http://copasi.org/copasiws/schemas" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <types>
    <xsd:schema targetNamespace="http://steadystatews.services.copasiws.copasi.org/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:annotation>
		<xsd:documentation>
			* Filename   : steadystate.wsdl
			* Description: wsdl for COPASI Steady State Web Service 
			* Author(s)  : Joseph Olufemi Dada *  
		</xsd:documentation>
	</xsd:annotation> 
	
	<xsd:import namespace="http://copasi.org/copasiws/schemas" schemaLocation="SteadyStateService?xsd=xsd0.xsd"/>	

<!--============= Message types for Steady State =================-->

<xsd:complexType name="Parameters">
	<xsd:sequence>
	<xsd:choice>
		<xsd:element name="copasiml" type="xsd:string"/>
		<xsd:element name="sbml" type="xsd:string"/>				
	</xsd:choice>
	<!--Method and method parameters-->	
	<xsd:element default="Enhanced Newton" name="MethodName" type="xsd:string"/>
	<xsd:element default="EnhancedNewton" name="MethodType" type="xsd:string"/>
	<xsd:element default="true" name="UseNewton" type="xsd:boolean"/>
 	<xsd:element default="1e-09" name="Resolution" type="xsd:float"/>
 	<xsd:element default="true" name="UseIntegration" type="xsd:boolean"/>
  	<xsd:element default="true" name="UseBackIntegration" type="xsd:boolean"/>
	<xsd:element default="false" name="AcceptNegativeConcentration" type="xsd:boolean"/>
 	<xsd:element default="50" name="IterationLimit" type="xsd:integer"/>
 	<xsd:element default="0.001" name="DerivationFactor" type="xsd:float"/>
	<!--Problem parameters-->
	<xsd:element default="true" name="CalculateJacobian" type="xsd:boolean"/>
	<xsd:element default="true" name="PerformStabilityAnalysis" type="xsd:boolean"/> 
	</xsd:sequence>
	<xsd:attribute default="SBML" name="inputFormat">
		  <xsd:simpleType>
			  <xsd:restriction base="xsd:string">
				  <xsd:enumeration value="SBML"/>
				  <xsd:enumeration value="CopasiML"/>
			  </xsd:restriction>
		  </xsd:simpleType>
	  </xsd:attribute>
	<xsd:attribute default="sbrml" name="outputFormat">
		  <xsd:simpleType>
			  <xsd:restriction base="xsd:string">
				  <xsd:enumeration value="text"/>
				  <xsd:enumeration value="sbrml"/>
			  </xsd:restriction>
		  </xsd:simpleType>
	  </xsd:attribute>	   
</xsd:complexType>

<!--============= Message types for Runinning Simulator =================-->

<xsd:element name="RunSimulator">
	<xsd:complexType>
		<xsd:sequence>			
			<xsd:element name="parameters" type="ssws:Parameters"/>				
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
 

<xsd:element name="RunSimulatorResponse">
	<xsd:complexType>
		<xsd:sequence>
		<xsd:element name="outputResult" type="copasiws:OutputResult"/>
		</xsd:sequence>
	</xsd:complexType> 
</xsd:element>

<!--============= Message types for Starting Simulator =================-->
<xsd:element name="StartSimulator">
	<xsd:complexType>
		<xsd:sequence>			
			<xsd:element name="user" type="copasiws:User"/>	
			<xsd:element name="parameters" type="ssws:Parameters"/>		
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="StartSimulatorResponse">
	<xsd:complexType>
	 <xsd:sequence>
		<xsd:element maxOccurs="1" minOccurs="1" name="status" type="copasiws:Status"/>
		<xsd:element name="resourceId" type="xsd:int"/>	
	</xsd:sequence>
	</xsd:complexType>
</xsd:element>	
<!--
<xsd:element name="ServiceFault">
	<xsd:complexType>
	  <xsd:all>
	    <xsd:element name="errorMessage" type="xsd:string"/>
	</xsd:all>
	</xsd:complexType>
</xsd:element>-->

</xsd:schema>
  </types>
  <message name="StartSimulatorRequest">
    <part name="StartSimulatorRequest" element="ssws:StartSimulator">
    </part>
  </message>
  <message name="RunSimulatorResponse">
    <part name="RunSimulatorResponse" element="ssws:RunSimulatorResponse">
    </part>
  </message>
  <message name="ServiceFaultMessage">
    <part name="ServiceFaultMessage" element="copasiws:ServiceFault">
    </part>
  </message>
  <message name="GetSimulatorStatusResponse">
    <part name="Parameters" element="copasiws:GetSimulatorStatusResponse">
    </part>
  </message>
  <message name="GetResultRequest">
    <part name="Parameters" element="copasiws:GetResult">
    </part>
  </message>
  <message name="DeleteSimulationResourceResponse">
    <part name="Parameters" element="copasiws:DeleteSimulationResourceResponse">
    </part>
  </message>
  <message name="DeleteSimulationResourceRequest">
    <part name="Parameters" element="copasiws:DeleteSimulationResource">
    </part>
  </message>
  <message name="GetResultResponse">
    <part name="Parameters" element="copasiws:GetResultResponse">
    </part>
  </message>
  <message name="GetSimulatorStatusRequest">
    <part name="Parameters" element="copasiws:GetSimulatorStatus">
    </part>
  </message>
  <message name="RunSimulatorRequest">
    <part name="RunSimulatorRequest" element="ssws:RunSimulator">
    </part>
  </message>
  <message name="StartSimulatorResponse">
    <part name="StartSimulatorResponse" element="ssws:StartSimulatorResponse">
    </part>
  </message>
  <portType name="SteadyStatePortType">
    <operation name="runSimulator">
      <input message="sswsdl:RunSimulatorRequest">
    </input>
      <output message="sswsdl:RunSimulatorResponse">
    </output>
      <fault name="RunSimulatorFault" message="sswsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="startSimulator">
      <input message="sswsdl:StartSimulatorRequest">
    </input>
      <output message="sswsdl:StartSimulatorResponse">
    </output>
      <fault name="StartSimulatorFault" message="sswsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="getSimulatorStatus">
      <input message="sswsdl:GetSimulatorStatusRequest">
    </input>
      <output message="sswsdl:GetSimulatorStatusResponse">
    </output>
      <fault name="GetSimulatorStatusFault" message="sswsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="getResult">
      <input message="sswsdl:GetResultRequest">
    </input>
      <output message="sswsdl:GetResultResponse">
    </output>
      <fault name="GetResultFault" message="sswsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="deleteSimulationResource">
      <input message="sswsdl:DeleteSimulationResourceRequest">
    </input>
      <output message="sswsdl:DeleteSimulationResourceResponse">
    </output>
      <fault name="DeleteSimulationResourceFault" message="sswsdl:ServiceFaultMessage">
    </fault>
    </operation>
  </portType>
  <binding name="binding" type="sswsdl:SteadyStatePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="runSimulator">
      <soap:operation soapAction="RunSimulator" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RunSimulatorFault">
        <soap:fault name="RunSimulatorFault" use="literal"/>
      </fault>
    </operation>
    <operation name="startSimulator">
      <soap:operation soapAction="StartSimulator" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="StartSimulatorFault">
        <soap:fault name="StartSimulatorFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getSimulatorStatus">
      <soap:operation soapAction="GetSimulatorStatus" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GetSimulatorStatusFault">
        <soap:fault name="GetSimulatorStatusFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getResult">
      <soap:operation soapAction="GetResult" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GetResultFault">
        <soap:fault name="GetResultFault" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteSimulationResource">
      <soap:operation soapAction="DeleteSimulationResource" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DeleteSimulationResourceFault">
        <soap:fault name="DeleteSimulationResourceFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SteadyStateService">
    <port name="SteadyStatePort" binding="sswsdl:binding">
      <soap:address location="http://130.88.150.78:80/CopasiWS/services/SteadyStateService"/>
    </port>
  </service>
</definitions>
