iserve-crawler/src/test/resources/WSDLs/SynsetServer.jws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.biosemantics.org:8080/axis/services/SynsetServer/SynsetServer.jws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.biosemantics.org:8080/axis/services/SynsetServer/SynsetServer.jws" xmlns:intf="http://www.biosemantics.org:8080/axis/services/SynsetServer/SynsetServer.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://www.biosemantics.org:8080/axis/services/SynsetServer/SynsetServer.jws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOfArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[][]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUniprotIDRequest">

      <wsdl:part name="term" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUniprotIDResponse">

      <wsdl:part name="getUniprotIDReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSynsetsRequest">

      <wsdl:part name="term" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSynsetsResponse">

      <wsdl:part name="getSynsetsReturn" type="impl:ArrayOfArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="SynsetServer">

      <wsdl:operation name="getSynsets" parameterOrder="term">

         <wsdl:input message="impl:getSynsetsRequest" name="getSynsetsRequest"/>

         <wsdl:output message="impl:getSynsetsResponse" name="getSynsetsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUniprotID" parameterOrder="term">

         <wsdl:input message="impl:getUniprotIDRequest" name="getUniprotIDRequest"/>

         <wsdl:output message="impl:getUniprotIDResponse" name="getUniprotIDResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SynsetServerSoapBinding" type="impl:SynsetServer">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSynsets">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSynsetsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSynsetsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.biosemantics.org:8080/axis/services/SynsetServer/SynsetServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUniprotID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUniprotIDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUniprotIDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.biosemantics.org:8080/axis/services/SynsetServer/SynsetServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SynsetServerService">

      <wsdl:port binding="impl:SynsetServerSoapBinding" name="SynsetServer">

         <wsdlsoap:address location="http://bubbles.biosemantics.org:8080/axis/services/SynsetServer/SynsetServer.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
