iserve-crawler/src/test/resources/WSDLs/TimeCourseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TimeCourseService" targetNamespace="http://services.copasiws.copasi.org/timecoursews.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:copasi="http://copasi.org/schema" xmlns:tcwsdl="http://services.copasiws.copasi.org/timecoursews.wsdl" xmlns:sbrml="http://www.copasi.org/sbrml/level1/version1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tcws="http://timecoursews.services.copasiws.copasi.org/types" xmlns:sbml="http://www.sbml.org/sbml/level2/version1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:copasiws="http://copasi.org/copasiws/schemas" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <types>
    <xsd:schema targetNamespace="http://timecoursews.services.copasiws.copasi.org/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:annotation>
		<xsd:documentation>
			* Filename   : timecourse.wsdl
			* Description: wsdl for COPASI time Course Web Service 
			* Author(s)  : Joseph Olufemi Dada *  
		</xsd:documentation>
	</xsd:annotation> 	
		    
	<xsd:import namespace="http://copasi.org/copasiws/schemas" schemaLocation="TimeCourseService?xsd=xsd0.xsd"/>	

<!--============= Message types for Time Course =================-->

<!--Parameter types for time course mthods -->
<xsd:complexType name="DeterministicParameters">
	<xsd:sequence>	
	<xsd:choice>
		<xsd:element name="copasiml" type="xsd:string"/>
		<xsd:element name="sbml" type="xsd:string"/>				
	</xsd:choice>
	<!--Method and method parameters-->	
	<xsd:element default="true" name="IntegrateReducedModel" type="xsd:boolean"/>
        <xsd:element default="1e-06" name="RelativeTolerance" type="xsd:float"/>
        <xsd:element default="1e-12" name="AbsoluteTolerance" type="xsd:float"/>
        <xsd:element default="12" name="AdamsMaxOrder" type="xsd:nonNegativeInteger"/>
        <xsd:element default="5" name="BDFMaxOrder" type="xsd:nonNegativeInteger"/>
        <xsd:element default="10000" name="MaxInternalSteps" type="xsd:nonNegativeInteger"/>	
	<!--Problem parameters-->
	<xsd:element default="100" name="StepNumber" type="xsd:nonNegativeInteger"/>
	<xsd:element default="0.01" name="StepSize" type="xsd:float"/>
 	<xsd:element default="1.0" name="Duration" type="xsd:float"/>
        <xsd:element default="0.0" name="OutputStartTime" type="xsd:float"/>
	<xsd:element maxOccurs="1" minOccurs="0" name="sensitivityParameters" type="tcws:SensitivityParameters"/>
	<xsd:element default="false" name="updatedModelRequired" type="xsd:boolean"/>
	<xsd:element default="CopasiML" maxOccurs="1" minOccurs="0" name="updatedModelFormatRequired" type="xsd:string"/>
	</xsd:sequence>
	<xsd:attribute default="SBML" name="inputFormat">
		  <xsd:simpleType>
			  <xsd:restriction base="xsd:string">
				  <xsd:enumeration value="SBML"/>
				  <xsd:enumeration value="CopasiML"/>
			  </xsd:restriction>
		  </xsd:simpleType>
	  </xsd:attribute>
	<xsd:attribute default="sbrml" name="outputFormat">
		  <xsd:simpleType>
			  <xsd:restriction base="xsd:string">
				  <xsd:enumeration value="text"/>
				  <xsd:enumeration value="sbrml"/>
			  </xsd:restriction>
		  </xsd:simpleType>
	  </xsd:attribute>	   
</xsd:complexType>

<!--============= Types for sensitivities analysis, use only with calculation that require sensitivities =================-->

<xsd:simpleType name="Function">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Concentration Fluxes of Reaction"/>
            <xsd:enumeration value="Particle Fluxes of Reactions"/>
            <xsd:enumeration value="Non-Constant Concentration of Species"/>
        </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="Variable">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="All Parameter Values"/>
            <xsd:enumeration value="Initial Concentration"/>            
        </xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SensitivityParameters">
	<xsd:sequence>	
	 <xsd:element maxOccurs="1" minOccurs="1" name="function" type="tcws:Function"/>
	<xsd:element maxOccurs="1" minOccurs="1" name="variable" type="tcws:Variable"/>
	<xsd:element default="0.001" name="deltaFactor" type="xsd:float"/>		
	<xsd:element default="1e-12" name="deltaMinimum" type="xsd:float"/>
	</xsd:sequence>
</xsd:complexType>

<!--=========== End of sensistivity data ============ -->

<!--============= Message types for Runinning Simulator =================-->

<xsd:element name="RunDeterministicSimulator">
	<xsd:complexType>
		<xsd:sequence>			
			<xsd:element name="parameters" type="tcws:DeterministicParameters"/>				
		</xsd:sequence>
	</xsd:complexType>
</xsd:element> 

<xsd:element name="RunDeterministicSimulatorResponse">
	<xsd:complexType>
		<xsd:sequence>
		<xsd:element name="outputResult" type="copasiws:OutputResult"/>
		<xsd:element name="sensitityResult" type="xsd:string"/>
		<xsd:element minOccurs="0" name="updatedModel" type="xsd:string"/>		
		</xsd:sequence>
	</xsd:complexType> 
</xsd:element>

<!--============= Message types for Starting Simulator =================-->
<xsd:element name="StartDeterministicSimulator">
	<xsd:complexType>
		<xsd:sequence>			
			<xsd:element name="user" type="copasiws:User"/>	
			<xsd:element name="parameters" type="tcws:DeterministicParameters"/>			
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="StartDeterministicSimulatorResponse">
	<xsd:complexType>
	 <xsd:sequence>
		<xsd:element maxOccurs="1" minOccurs="1" name="status" type="copasiws:Status"/>
		<xsd:element name="resourceId" type="xsd:int"/>	
	</xsd:sequence>
	</xsd:complexType>
</xsd:element>	

</xsd:schema>
  </types>
  <message name="DeleteSimulationResourceRequest">
    <part name="Parameters" element="copasiws:DeleteSimulationResource">
    </part>
  </message>
  <message name="GetResultResponse">
    <part name="Parameters" element="copasiws:GetResultResponse">
    </part>
  </message>
  <message name="ServiceFaultMessage">
    <part name="ServiceFaultMessage" element="copasiws:ServiceFault">
    </part>
  </message>
  <message name="GetSimulatorStatusResponse">
    <part name="Parameters" element="copasiws:GetSimulatorStatusResponse">
    </part>
  </message>
  <message name="RunDeterministicSimulatorResponse">
    <part name="RunDeterministicSimulatorResponse" element="tcws:RunDeterministicSimulatorResponse">
    </part>
  </message>
  <message name="GetResultRequest">
    <part name="Parameters" element="copasiws:GetResult">
    </part>
  </message>
  <message name="DeleteSimulationResourceResponse">
    <part name="Parameters" element="copasiws:DeleteSimulationResourceResponse">
    </part>
  </message>
  <message name="StartDeterministicSimulatorResponse">
    <part name="StartDeterministicSimulatorResponse" element="tcws:StartDeterministicSimulatorResponse">
    </part>
  </message>
  <message name="GetSimulatorStatusRequest">
    <part name="Parameters" element="copasiws:GetSimulatorStatus">
    </part>
  </message>
  <message name="StartDeterministicSimulatorRequest">
    <part name="StartDeterministicSimulatorRequest" element="tcws:StartDeterministicSimulator">
    </part>
  </message>
  <message name="RunDeterministicSimulatorRequest">
    <part name="RunDeterministicSimulatorRequest" element="tcws:RunDeterministicSimulator">
    </part>
  </message>
  <portType name="TimeCoursePortType">
    <operation name="runDeterministicSimulator">
      <input message="tcwsdl:RunDeterministicSimulatorRequest">
    </input>
      <output message="tcwsdl:RunDeterministicSimulatorResponse">
    </output>
      <fault name="RunDeterministicSimulatorFault" message="tcwsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="startDeterministicSimulator">
      <input message="tcwsdl:StartDeterministicSimulatorRequest">
    </input>
      <output message="tcwsdl:StartDeterministicSimulatorResponse">
    </output>
      <fault name="StartDeterministicSimulatorFault" message="tcwsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="getSimulatorStatus">
      <input message="tcwsdl:GetSimulatorStatusRequest">
    </input>
      <output message="tcwsdl:GetSimulatorStatusResponse">
    </output>
      <fault name="GetSimulatorStatusFault" message="tcwsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="getResult">
      <input message="tcwsdl:GetResultRequest">
    </input>
      <output message="tcwsdl:GetResultResponse">
    </output>
      <fault name="GetResultFault" message="tcwsdl:ServiceFaultMessage">
    </fault>
    </operation>
    <operation name="deleteSimulationResource">
      <input message="tcwsdl:DeleteSimulationResourceRequest">
    </input>
      <output message="tcwsdl:DeleteSimulationResourceResponse">
    </output>
      <fault name="DeleteSimulationResourceFault" message="tcwsdl:ServiceFaultMessage">
    </fault>
    </operation>
  </portType>
  <binding name="binding" type="tcwsdl:TimeCoursePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="runDeterministicSimulator">
      <soap:operation soapAction="RunDeterministicSimulator" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RunDeterministicSimulatorFault">
        <soap:fault name="RunDeterministicSimulatorFault" use="literal"/>
      </fault>
    </operation>
    <operation name="startDeterministicSimulator">
      <soap:operation soapAction="StartDeterministicSimulator" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="StartDeterministicSimulatorFault">
        <soap:fault name="StartDeterminsticSimulatorFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getSimulatorStatus">
      <soap:operation soapAction="GetSimulatorStatus" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GetSimulatorStatusFault">
        <soap:fault name="GetSimulatorStatusFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getResult">
      <soap:operation soapAction="GetResult" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GetResultFault">
        <soap:fault name="GetResultFault" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteSimulationResource">
      <soap:operation soapAction="DeleteSimulationResource" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DeleteSimulationResourceFault">
        <soap:fault name="DeleteSimulationResourceFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TimeCourseService">
    <port name="TimeCoursePort" binding="tcwsdl:binding">
      <soap:address location="http://130.88.150.78:80/CopasiWS/services/TimeCourseService"/>
    </port>
  </service>
</definitions>
