iserve-crawler/src/test/resources/WSDLs/WHU-LIESMARS-WPS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WPS" targetNamespace="http://ws.lmars.whu.edu.cn/wps" xmlns:tns="http://ws.lmars.whu.edu.cn/wps" xmlns:ws="http://ws.lmars.whu.edu.cn" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema targetNamespace="http://ws.lmars.whu.edu.cn/wps" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://ws.lmars.whu.edu.cn" schemaLocation="WHU-LIESMARS-WPS?xsd=ws.xsd"/>
			<element name="getCapabilities" type="string"/>
			<element name="getCapabilitiesResponse" type="string"/>
			<element name="describeProcess" type="string"/>
			<element name="describeProcessResponse" type="string"/>
			<element name="execute" type="string"/>
			<element name="executeResponse" type="string"/>
		</schema>
  </wsdl:types>
  <wsdl:message name="describeProcessOutputMsg">
    <wsdl:part name="payload" element="tns:describeProcessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapabilitiesInputMsg">
    <wsdl:part name="payload" element="tns:getCapabilities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeOutputMsg">
    <wsdl:part name="payload" element="tns:executeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="owsExceptionReportMsg">
    <wsdl:part name="payload" element="ws:WebServiceExceptions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCapabilitiesOutputMsg">
    <wsdl:part name="payload" element="tns:getCapabilitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describeProcessInputMsg">
    <wsdl:part name="payload" element="tns:describeProcess">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeInputMsg">
    <wsdl:part name="payload" element="tns:execute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WPSPortType">
    <wsdl:operation name="getCapabilities">
      <wsdl:input message="tns:getCapabilitiesInputMsg">
    </wsdl:input>
      <wsdl:output message="tns:getCapabilitiesOutputMsg">
    </wsdl:output>
      <wsdl:fault name="OWSWebServiceExceptions" message="tns:owsExceptionReportMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="describeProcess">
      <wsdl:input message="tns:describeProcessInputMsg">
    </wsdl:input>
      <wsdl:output message="tns:describeProcessOutputMsg">
    </wsdl:output>
      <wsdl:fault name="OWSWebServiceExceptions" message="tns:owsExceptionReportMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="execute">
      <wsdl:input message="tns:executeInputMsg">
    </wsdl:input>
      <wsdl:output message="tns:executeOutputMsg">
    </wsdl:output>
      <wsdl:fault name="OWSWebServiceExceptions" message="tns:owsExceptionReportMsg">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WPSSOAPBinding" type="tns:WPSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCapabilities">
      <soap:operation soapAction="http://ws.lmars.whu.edu.cn/wps/getCapabilities" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OWSWebServiceExceptions">
        <soap:fault name="OWSWebServiceExceptions" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="describeProcess">
      <soap:operation soapAction="http://ws.lmars.whu.edu.cn/wps/describeProcess" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OWSWebServiceExceptions">
        <soap:fault name="OWSWebServiceExceptions" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="execute">
      <soap:operation soapAction="http://ws.lmars.whu.edu.cn/wps/execute" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OWSWebServiceExceptions">
        <soap:fault name="OWSWebServiceExceptions" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WHU-LIESMARS-WPS">
<documentation>WHU LIESMARS WPS services</documentation>
    <wsdl:port name="WPS" binding="tns:WPSSOAPBinding">
      <soap:address location="http://202.114.114.71:8080/axis2/services/WHU-LIESMARS-WPS/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
