iserve-crawler/src/test/resources/WSDLs/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns:tns="http://www.ebi.ac.uk/webservices/whatizit/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.ebi.ac.uk/webservices/whatizit/ws" name="whatizit">

  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebi.ac.uk/webservices/whatizit/ws" version="1.0">

    <xs:element xmlns:ns1="http://www.ebi.ac.uk/webservices/whatizit/ws" name="search" type="ns1:search"></xs:element>
    <xs:complexType name="search">
      <xs:sequence>
        <xs:element name="pipelineName" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="query" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="limit">      
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0"></xs:minInclusive>
              <xs:maxExclusive value="10000"></xs:maxExclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>      
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns2="http://www.ebi.ac.uk/webservices/whatizit/ws" name="searchResponse" type="ns2:searchResponse"></xs:element>
    <xs:complexType name="searchResponse">
      <xs:sequence>
        <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
    
    <xs:element xmlns:ns3="http://www.ebi.ac.uk/webservices/whatizit/ws" name="WhatizitException" type="ns3:WhatizitException"></xs:element>
    <xs:complexType name="WhatizitException">
      <xs:sequence>
        <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns4="http://www.ebi.ac.uk/webservices/whatizit/ws" name="contact" type="ns4:contact"></xs:element>
    <xs:complexType name="contact">
      <xs:sequence>
        <xs:element name="pipelineName" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="text" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="convertToHtml" type="xs:boolean"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns5="http://www.ebi.ac.uk/webservices/whatizit/ws" name="contactResponse" type="ns5:contactResponse"></xs:element>
    <xs:complexType name="contactResponse">
      <xs:sequence>
        <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns6="http://www.ebi.ac.uk/webservices/whatizit/ws" name="queryPmid" type="ns6:queryPmid"></xs:element>
    <xs:complexType name="queryPmid">
      <xs:sequence>
        <xs:element name="pipelineName" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="pmid" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns7="http://www.ebi.ac.uk/webservices/whatizit/ws" name="queryPmidResponse" type="ns7:queryPmidResponse"></xs:element>
    <xs:complexType name="queryPmidResponse">
      <xs:sequence>
        <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns8="http://www.ebi.ac.uk/webservices/whatizit/ws" name="getPipelinesStatus" type="ns8:getPipelinesStatus"></xs:element>
    <xs:complexType name="getPipelinesStatus"></xs:complexType>

    <xs:element xmlns:ns9="http://www.ebi.ac.uk/webservices/whatizit/ws" name="getPipelinesStatusResponse" type="ns9:getPipelinesStatusResponse"></xs:element>
    <xs:complexType name="getPipelinesStatusResponse">
      <xs:sequence>
        <xs:element xmlns:ns10="http://www.ebi.ac.uk/webservices/whatizit/ws" maxOccurs="unbounded" name="return" type="ns10:selectItem" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="selectItem">
      <xs:sequence>
        <xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="disabled" type="xs:boolean"></xs:element>
        <xs:element name="label" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="value" type="xs:anyType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
    </xs:schema>  
  </types>
  
  
  <message name="contact">
    <part element="tns:contact" name="parameters"></part>
  </message>
  
  <message name="contactResponse">
    <part element="tns:contactResponse" name="parameters"></part>
  </message>

  <message name="WhatizitException">
    <part element="tns:WhatizitException" name="fault"></part>
  </message>
  
  <message name="getPipelinesStatus">
    <part element="tns:getPipelinesStatus" name="parameters"></part>
  </message>
  
  <message name="getPipelinesStatusResponse">
    <part element="tns:getPipelinesStatusResponse" name="parameters"></part>
  </message>
  
  <message name="queryPmid">
    <part element="tns:queryPmid" name="parameters"></part>
  </message>
  
  <message name="queryPmidResponse">
    <part element="tns:queryPmidResponse" name="parameters"></part>
  </message>
  
  <message name="search">
    <part element="tns:search" name="parameters"></part>
  </message>
  
  <message name="searchResponse">
    <part element="tns:searchResponse" name="parameters"></part>
  </message>
  
  
  <portType name="whatizit">
    <operation name="contact">
      <input message="tns:contact"></input>
      <output message="tns:contactResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
    <operation name="getPipelinesStatus">
      <input message="tns:getPipelinesStatus"></input>
      <output message="tns:getPipelinesStatusResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
    <operation name="queryPmid">
      <input message="tns:queryPmid"></input>
      <output message="tns:queryPmidResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
    <operation name="search">
      <input message="tns:search"></input>
      <output message="tns:searchResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
  </portType>
  
  <binding name="pipelineBinding" type="tns:whatizit">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="contact">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="WhatizitException">
        <soap:fault name="WhatizitException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getPipelinesStatus">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="WhatizitException">
        <soap:fault name="WhatizitException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="queryPmid">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="WhatizitException">
        <soap:fault name="WhatizitException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="search">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <mime:multipartRelated>
        <mime:part>
           <soap:body use="literal" parts=""></soap:body>
        </mime:part>
         <mime:part>
          <mime:content type="text/xml" part="parameters"></mime:content>
         </mime:part>
       </mime:multipartRelated>
	  </output>
      <fault name="WhatizitException">
        <soap:fault name="WhatizitException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="whatizit">
    <port name="pipeline" binding="tns:pipelineBinding">
      <!--<soap:address location="http://www.ebi.ac.uk/webservices/whatizit/ws"/>-->
      <soap:address location="http://www.ebi.ac.uk:80/webservices/whatizit/ws"></soap:address>
    </port>
  </service>
</definitions>