iserve-crawler/src/test/resources/WSDLs/ws1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="openModeller"
 targetNamespace="http://openmodeller.cria.org.br/ws/1.0"
 xmlns:tns="http://openmodeller.cria.org.br/ws/1.0"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:om="http://openmodeller.cria.org.br/xml/1.0"
 xmlns:omws="http://openmodeller.cria.org.br/ws/1.0"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://openmodeller.cria.org.br/ws/1.0"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:om="http://openmodeller.cria.org.br/xml/1.0"
  xmlns:omws="http://openmodeller.cria.org.br/ws/1.0"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://openmodeller.cria.org.br/xml/1.0" schemaLocation="http://openmodeller.cria.org.br/xml/1.0/openModeller.xsd"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="createModel">
   <sequence>
     <element ref="om:ModelParameters" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="testModel">
   <sequence>
     <element ref="om:TestParameters" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="projectModel">
   <sequence>
     <element ref="om:ProjectionParameters" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <element name="version" type="xsd:string"/>
  <!-- operation request element -->
  <element name="ping">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="pingResponse">
   <complexType>
    <sequence>
     <element name="status" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getAlgorithms">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getAlgorithmsResponse">
   <complexType>
    <sequence>
     <element ref="om:AvailableAlgorithms" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLayers">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLayersResponse">
   <complexType>
    <sequence>
     <element ref="om:AvailableLayers" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="createModel">
   <complexType>
    <sequence>
     <element ref="om:ModelParameters" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="createModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getModel">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getModelResponse">
   <complexType>
    <sequence>
     <element ref="om:ModelEnvelope" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="testModel">
   <complexType>
    <sequence>
     <element ref="om:TestParameters" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="testModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getTestResult">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="testResponse">
   <complexType>
    <sequence>
     <element ref="om:TestResultEnvelope" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="projectModel">
   <complexType>
    <sequence>
     <element ref="om:ProjectionParameters" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="projectModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getProgress">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getProgressResponse">
   <complexType>
    <sequence>
     <element name="progress" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLog">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLogResponse">
   <complexType>
    <sequence>
     <element name="log" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLayerAsAttachment">
   <complexType>
    <sequence>
     <element name="id" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLayerAsAttachmentResponse">
   <complexType>
    <sequence>
     <element name="file" type="xsd:base64Binary" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLayerAsUrl">
   <complexType>
    <sequence>
     <element name="id" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLayerAsUrlResponse">
   <complexType>
    <sequence>
     <element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLayerAsWcs">
   <complexType>
    <sequence>
     <element name="id" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLayerAsWcsResponse">
   <complexType>
    <sequence>
     <element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getProjectionMetadata">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getProjectionMetadataResponse">
   <complexType>
    <sequence>
     <element ref="om:ProjectionEnvelope" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
     <attribute name="FileSize" type="xsd:int" use="required"/>
   </complexType>
  </element>
 </schema>

</types>

<message name="pingRequest">
 <part name="parameters" element="omws:ping"/>
</message>

<message name="pingResponse">
 <part name="parameters" element="omws:pingResponse"/>
</message>

<message name="getAlgorithms">
 <part name="parameters" element="omws:getAlgorithms"/>
</message>

<message name="getAlgorithmsResponse">
 <part name="parameters" element="omws:getAlgorithmsResponse"/>
</message>

<message name="getLayers">
 <part name="parameters" element="omws:getLayers"/>
</message>

<message name="getLayersResponse">
 <part name="parameters" element="omws:getLayersResponse"/>
</message>

<message name="createModelRequest">
 <part name="parameters" element="omws:createModel"/>
</message>

<message name="createModelResponse">
 <part name="parameters" element="omws:createModelResponse"/>
</message>

<message name="getModel">
 <part name="parameters" element="omws:getModel"/>
</message>

<message name="getModelResponse">
 <part name="parameters" element="omws:getModelResponse"/>
</message>

<message name="testModelRequest">
 <part name="parameters" element="omws:testModel"/>
</message>

<message name="testModelResponse">
 <part name="parameters" element="omws:testModelResponse"/>
</message>

<message name="getTestResult">
 <part name="parameters" element="omws:getTestResult"/>
</message>

<message name="testResponse">
 <part name="parameters" element="omws:testResponse"/>
</message>

<message name="projectModelRequest">
 <part name="parameters" element="omws:projectModel"/>
</message>

<message name="projectModelResponse">
 <part name="parameters" element="omws:projectModelResponse"/>
</message>

<message name="getProgressRequest">
 <part name="parameters" element="omws:getProgress"/>
</message>

<message name="getProgressResponse">
 <part name="parameters" element="omws:getProgressResponse"/>
</message>

<message name="getLogRequest">
 <part name="parameters" element="omws:getLog"/>
</message>

<message name="getLogResponse">
 <part name="parameters" element="omws:getLogResponse"/>
</message>

<message name="getLayerAsAttachmentRequest">
 <part name="parameters" element="omws:getLayerAsAttachment"/>
</message>

<message name="getLayerAsAttachmentResponse">
 <part name="parameters" element="omws:getLayerAsAttachmentResponse"/>
</message>

<message name="getLayerAsUrlRequest">
 <part name="parameters" element="omws:getLayerAsUrl"/>
</message>

<message name="getLayerAsUrlResponse">
 <part name="parameters" element="omws:getLayerAsUrlResponse"/>
</message>

<message name="getLayerAsWcsRequest">
 <part name="parameters" element="omws:getLayerAsWcs"/>
</message>

<message name="getLayerAsWcsResponse">
 <part name="parameters" element="omws:getLayerAsWcsResponse"/>
</message>

<message name="getProjectionMetadata">
 <part name="parameters" element="omws:getProjectionMetadata"/>
</message>

<message name="getProjectionMetadataResponse">
 <part name="parameters" element="omws:getProjectionMetadataResponse"/>
</message>

<message name="openModellerHeader">
 <part name="version" element="omws:version"/>
</message>

<portType name="openModellerPortType">
 <operation name="ping">
  <documentation>Use this operation if you want to monitor the service.</documentation>
  <input message="tns:pingRequest"/>
  <output message="tns:pingResponse"/>
 </operation>
 <operation name="getAlgorithms">
  <documentation>Returns metadata about all available algorithms.</documentation>
  <input message="tns:getAlgorithms"/>
  <output message="tns:getAlgorithmsResponse"/>
 </operation>
 <operation name="getLayers">
  <documentation>Returns all available layers on the server.</documentation>
  <input message="tns:getLayers"/>
  <output message="tns:getLayersResponse"/>
 </operation>
 <operation name="createModel">
  <documentation>Schedules a model creation job using the specified algorithm, parameters, points and environmental scenario.</documentation>
  <input message="tns:createModelRequest"/>
  <output message="tns:createModelResponse"/>
 </operation>
 <operation name="getModel">
  <documentation>Returns a serialized model given a ticket.</documentation>
  <input message="tns:getModel"/>
  <output message="tns:getModelResponse"/>
 </operation>
 <operation name="testModel">
  <documentation>Schedules a test job for a specified model with the given points and environmental scenario. The test may include confusion matrix for a given threshold and ROC curve.</documentation>
  <input message="tns:testModelRequest"/>
  <output message="tns:testModelResponse"/>
 </operation>
 <operation name="getTestResult">
  <documentation>Returns a test result given a ticket.</documentation>
  <input message="tns:getTestResult"/>
  <output message="tns:testResponse"/>
 </operation>
 <operation name="projectModel">
  <documentation>Schedules a model projection job with the specified model and environmental scenario.</documentation>
  <input message="tns:projectModelRequest"/>
  <output message="tns:projectModelResponse"/>
 </operation>
 <operation name="getProgress">
  <documentation>Returns the status of a job request (createModel, testModel or projectModel) given a ticket. If the value is -1 then the job is queued (still waiting for execution on the server). If the value is -2 the job was aborted and you should be able to get more informaiton about the failure through the getLog operation. Values between [0,100) indicate how much the job has progressed. If the value is 100 the job is finished.</documentation>
  <input message="tns:getProgressRequest"/>
  <output message="tns:getProgressResponse"/>
 </operation>
 <operation name="getLog">
  <documentation>Returns log data for a job request (createModel, testModel or projectModel) given a ticket.</documentation>
  <input message="tns:getLogRequest"/>
  <output message="tns:getLogResponse"/>
 </operation>
 <operation name="getLayerAsAttachment">
  <documentation>Returns a layer as a SOAP attachement given a ticket. Currently this only works for projected models, where the layer id is the ticket returned by the projectModel operation.</documentation>
  <input message="tns:getLayerAsAttachmentRequest"/>
  <output message="tns:getLayerAsAttachmentResponse"/>
 </operation>
 <operation name="getLayerAsUrl">
  <documentation>Returns the URL of a layer given a ticket. Currently this only works for projected models, where the layer id is the ticket returned by the projectModel operation.</documentation>
  <input message="tns:getLayerAsUrlRequest"/>
  <output message="tns:getLayerAsUrlResponse"/>
 </operation>
 <operation name="getLayerAsWcs">
  <documentation>Returns the WCS access point of a layer given a ticket. Only works if the service is configured to work with a WCS server.</documentation>
  <input message="tns:getLayerAsWcsRequest"/>
  <output message="tns:getLayerAsWcsResponse"/>
 </operation>
 <operation name="getProjectionMetadata">
  <documentation>Returns model projection metadata given a ticket.</documentation>
  <input message="tns:getProjectionMetadata"/>
  <output message="tns:getProjectionMetadataResponse"/>
 </operation>
</portType>

<binding name="openModeller" type="tns:openModellerPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="ping">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getAlgorithms">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getLayers">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="createModel">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getModel">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="testModel">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getTestResult">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="projectModel">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getProgress">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getLog">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getLayerAsAttachment">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getLayerAsUrl">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getLayerAsWcs">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getProjectionMetadata">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="openModeller">
 <documentation>Web Services interface for remote invocation of openModeller</documentation>
 <port name="openModeller" binding="tns:openModeller">
  <SOAP:address location="http://modeller.cria.org.br:80/ws1/om"/>
 </port>
</service>

</definitions>
