iserve-crawler/src/test/resources/WSDLs/WSDaliLite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Revision: $Id: WSDaliLite.wsdl,v 1.3 2008/06/13 14:46:16 wli Exp $ -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ebi.ac.uk/WSDaliLite" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="WSDaliLite" targetNamespace="http://www.ebi.ac.uk/WSDaliLite">
  <documentation>WSDaliLite: pairwise structure alignment (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite)</documentation>
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ebi.ac.uk/WSDaliLite" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.ebi.ac.uk/WSDaliLite">
      <xsd:complexType name="inputParams">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Input parameters for tool, see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#inputparams for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="sequence1" nillable="false" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Structure one. PDB identifier or data in PDB format.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="sequence2" nillable="false" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Structure two. PDB identifier or data in PDB format.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="chainid1" nillable="false" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Identifier of chain in structure one.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="chainid2" nillable="false" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Identifier of chain in structure two.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="outformat" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Not used.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="async" nillable="true" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Asynchronous submission.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="email" nillable="false" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">User e-mail address.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="data">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Not used.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Not used.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="content" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Not used.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofFile">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:WSFile[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofData">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:data[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSFile">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Result data type description, see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#wsfile for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Result type name.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ext" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">File extension for result type</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
    </schema>
  </types>
  <message name="statusRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="statusResponse">
    <part name="status" type="xsd:string"/>
  </message>
  <message name="resultsRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="resultsResponse">
    <part name="results" type="tns:WSArrayofFile"/>
  </message>
  <message name="pollRequest">
    <part name="jobid" type="xsd:string"/>
    <part name="type" type="xsd:string"/>
  </message>
  <message name="pollResponse">
    <part name="output" type="xsd:base64Binary"/>
  </message>
  <message name="getIdsRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="getIdsResponse">
    <part name="result" type="tns:ArrayOf_xsd_string"/>
  </message>
  <message name="runDaliLiteRequest">
    <part name="params" type="tns:inputParams"/>
  </message>
  <message name="runDaliLiteResponse">
    <part name="jobid" type="xsd:string"/>
  </message>
  <portType name="WSDaliLite">
    <operation name="runDaliLite" parameterOrder="params">
      <documentation>Submit a DaliLite analysis job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#rundalilite_params_content)</documentation>
      <input name="runDaliLiteRequest" message="tns:runDaliLiteRequest"/>
      <output name="runDaliLiteResponse" message="tns:runDaliLiteResponse"/>
    </operation>
    <operation name="checkStatus" parameterOrder="jobid">
      <documentation>Get the status of a submited job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#checkstatus_jobid)</documentation>
      <input name="statusRequest" message="tns:statusRequest"/>
      <output name="statusResponse" message="tns:statusResponse"/>
    </operation>
    <operation name="poll" parameterOrder="jobid type">
      <documentation>Get the results of a job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#poll_jobid_type)</documentation>
      <input name="pollRequest" message="tns:pollRequest"/>
      <output name="pollResponse" message="tns:pollResponse"/>
    </operation>
    <operation name="getResults" parameterOrder="jobid">
      <documentation>Get the available result types for a completed job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#getresults_jobid)</documentation>
      <input name="resultsRequest" message="tns:resultsRequest"/>
      <output name="resultsResponse" message="tns:resultsResponse"/>
    </operation>
    <operation name="getIds" parameterOrder="jobid">
      <input name="getIdsRequest" message="tns:getIdsRequest"/>
      <output name="getIdsResponse" message="tns:getIdsResponse"/>
    </operation>
  </portType>
  <binding name="WSDaliLiteSoapBinding" type="tns:WSDaliLite">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="poll">
      <documentation>Get the results of a job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#poll_jobid_type)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSDaliLite#poll"/>
      <input name="pollRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </input>
      <output name="pollResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </output>
    </operation>
    <operation name="runDaliLite">
      <documentation>Submit a DaliLite analysis job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#rundalilite_params_content)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSDaliLite#runDaliLite"/>
      <input name="runDaliLiteRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </input>
      <output name="runDaliLiteResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </output>
    </operation>
    <operation name="getIds">
      <soap:operation soapAction="http://www.ebi.ac.uk/WSDaliLite#getIds"/>
      <input name="getIdsRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </input>
      <output name="getIdsResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </output>
    </operation>
    <operation name="checkStatus">
      <documentation>Get the status of a submited job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#checkstatus_jobid)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSDaliLite#checkStatus"/>
      <input name="statusRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </input>
      <output name="statusResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </output>
    </operation>
    <operation name="getResults">
      <documentation>Get the available result types for a completed job (see http://www.ebi.ac.uk/Tools/webservices/services/dalilite#getresults_jobid)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSDaliLite#getResults"/>
      <input name="resultsRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </input>
      <output name="resultsResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSDaliLite" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="WSDaliLiteService">
    <port name="WSDaliLite" binding="tns:WSDaliLiteSoapBinding">
      <soap:address location="http://www.ebi.ac.uk/Tools/es/ws-servers/WSDaliLite"/>
    </port>
  </service>
</definitions>
