iserve-crawler/src/test/resources/WSDLs/WSDBFetchServerLegacyService?WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                  xmlns:intf="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://exceptions.jdbfetch.ebi.ac.uk"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetch">
         <import namespace="http://exceptions.jdbfetch.ebi.ac.uk"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="InputException">
            <sequence/>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://exceptions.jdbfetch.ebi.ac.uk">
         <import namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="DbfException">
            <sequence/>
         </complexType>
         <complexType name="DbfParamsException">
            <complexContent>
               <extension base="tns1:DbfException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="DbfConnException">
            <complexContent>
               <extension base="tns1:DbfException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="DbfNoEntryFoundException">
            <complexContent>
               <extension base="tns1:DbfException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="DbfParamsException">

      <wsdl:part name="fault" type="tns1:DbfParamsException"/>

   </wsdl:message>

   <wsdl:message name="DbfConnException">

      <wsdl:part name="fault" type="tns1:DbfConnException"/>

   </wsdl:message>

   <wsdl:message name="getSupportedStylesResponse">

      <wsdl:part name="getSupportedStylesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="fetchBatchResponse">

      <wsdl:part name="fetchBatchReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getFormatStylesResponse">

      <wsdl:part name="getFormatStylesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="InputException">

      <wsdl:part name="fault" type="impl:InputException"/>

   </wsdl:message>

   <wsdl:message name="getFormatStylesRequest">

      <wsdl:part name="db" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSupportedFormatsRequest">

   </wsdl:message>

   <wsdl:message name="getSupportedDBsResponse">

      <wsdl:part name="getSupportedDBsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="fetchDataRequest">

      <wsdl:part name="query" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

      <wsdl:part name="style" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="DbfException">

      <wsdl:part name="fault" type="tns1:DbfException"/>

   </wsdl:message>

   <wsdl:message name="fetchBatchRequest">

      <wsdl:part name="db" type="xsd:string"/>

      <wsdl:part name="ids" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

      <wsdl:part name="style" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSupportedStylesRequest">

   </wsdl:message>

   <wsdl:message name="fetchDataResponse">

      <wsdl:part name="fetchDataReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDbFormatsRequest">

      <wsdl:part name="db" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="DbfNoEntryFoundException">

      <wsdl:part name="fault" type="tns1:DbfNoEntryFoundException"/>

   </wsdl:message>

   <wsdl:message name="getDbFormatsResponse">

      <wsdl:part name="getDbFormatsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSupportedDBsRequest">

   </wsdl:message>

   <wsdl:message name="getSupportedFormatsResponse">

      <wsdl:part name="getSupportedFormatsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="WSDBFetchServerLegacy">

      <wsdl:operation name="fetchData" parameterOrder="query format style">

         <wsdl:input message="impl:fetchDataRequest" name="fetchDataRequest"/>

         <wsdl:output message="impl:fetchDataResponse" name="fetchDataResponse"/>

         <wsdl:fault message="impl:InputException" name="InputException"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

         <wsdl:fault message="impl:DbfException" name="DbfException"/>

         <wsdl:fault message="impl:DbfNoEntryFoundException" name="DbfNoEntryFoundException"/>

         <wsdl:fault message="impl:DbfConnException" name="DbfConnException"/>

      </wsdl:operation>

      <wsdl:operation name="fetchBatch" parameterOrder="db ids format style">

         <wsdl:input message="impl:fetchBatchRequest" name="fetchBatchRequest"/>

         <wsdl:output message="impl:fetchBatchResponse" name="fetchBatchResponse"/>

         <wsdl:fault message="impl:InputException" name="InputException"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

         <wsdl:fault message="impl:DbfException" name="DbfException"/>

         <wsdl:fault message="impl:DbfNoEntryFoundException" name="DbfNoEntryFoundException"/>

         <wsdl:fault message="impl:DbfConnException" name="DbfConnException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedDBs">

         <wsdl:input message="impl:getSupportedDBsRequest" name="getSupportedDBsRequest"/>

         <wsdl:output message="impl:getSupportedDBsResponse" name="getSupportedDBsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedFormats">

         <wsdl:input message="impl:getSupportedFormatsRequest" name="getSupportedFormatsRequest"/>

         <wsdl:output message="impl:getSupportedFormatsResponse" name="getSupportedFormatsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDbFormats" parameterOrder="db">

         <wsdl:input message="impl:getDbFormatsRequest" name="getDbFormatsRequest"/>

         <wsdl:output message="impl:getDbFormatsResponse" name="getDbFormatsResponse"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

      </wsdl:operation>

      <wsdl:operation name="getFormatStyles" parameterOrder="db format">

         <wsdl:input message="impl:getFormatStylesRequest" name="getFormatStylesRequest"/>

         <wsdl:output message="impl:getFormatStylesResponse" name="getFormatStylesResponse"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedStyles">

         <wsdl:input message="impl:getSupportedStylesRequest" name="getSupportedStylesRequest"/>

         <wsdl:output message="impl:getSupportedStylesResponse" name="getSupportedStylesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSDbfetchSoapBinding" type="impl:WSDBFetchServerLegacy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fetchData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchDataRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://wsdbfetch.ws.jdbfetch.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="fetchDataResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InputException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InputException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfParamsException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="DbfException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfNoEntryFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfNoEntryFoundException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfConnException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfConnException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="fetchBatch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchBatchRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://wsdbfetch.ws.jdbfetch.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="fetchBatchResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InputException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InputException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfParamsException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="DbfException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfNoEntryFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfNoEntryFoundException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DbfConnException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfConnException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedDBs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedDBsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://wsdbfetch.ws.jdbfetch.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedDBsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSupportedFormats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedFormatsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://wsdbfetch.ws.jdbfetch.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedFormatsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDbFormats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDbFormatsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://wsdbfetch.ws.jdbfetch.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDbFormatsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfParamsException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFormatStyles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFormatStylesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://wsdbfetch.ws.jdbfetch.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFormatStylesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DbfParamsException"
                            namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedStyles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedStylesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://wsdbfetch.ws.jdbfetch.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedStylesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/ws/services/WSDbfetch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSDBFetchServerLegacyService">

      <wsdl:port binding="impl:WSDbfetchSoapBinding" name="WSDbfetch">

         <wsdlsoap:address location="http://ws.soatrader.com/ebi.ac.uk/0.1/WSDBFetchServerLegacyService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>