iserve-crawler/src/test/resources/WSDLs/WSDbfetchDoclit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" xmlns:intf="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSupportedDBs">
    <complexType/>
   </element>
   <element name="getSupportedDBsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSupportedDBsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSupportedFormats">
    <complexType/>
   </element>
   <element name="getSupportedFormatsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSupportedFormatsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSupportedStyles">
    <complexType/>
   </element>
   <element name="getSupportedStylesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSupportedStylesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDatabaseInfoList">
    <complexType/>
   </element>
   <element name="getDatabaseInfoListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDatabaseInfoListReturn" type="impl:DatabaseInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DataResourceInfo">
    <sequence>
     <element name="href" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DataResourceInfoList">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="dataResourceInfo" type="impl:DataResourceInfo"/>
    </sequence>
   </complexType>
   <complexType name="ExampleIdentifiersInfo">
    <sequence>
     <element name="accessionList" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="accession" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="entryVersionList" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="entryVersion" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="idList" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="id" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="nameList" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="name" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="sequenceVersionList" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="sequenceVersion" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <complexType name="StyleInfo">
    <sequence>
     <element name="mimeType" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StyleInfoList">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="styleInfo" type="impl:StyleInfo"/>
    </sequence>
   </complexType>
   <complexType name="FormatInfo">
    <sequence>
     <element name="aliases" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="alias" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="dataTerms" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="dataTerm" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="name" type="xsd:string"/>
     <element name="styleInfoList" nillable="true" type="impl:StyleInfoList"/>
     <element name="syntaxTerms" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="syntaxTerm" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <complexType name="FormatInfoList">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="formatInfo" type="impl:FormatInfo"/>
    </sequence>
   </complexType>
   <complexType name="DatabaseInfo">
    <sequence>
     <element name="aliasList" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="alias" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="databaseTerms" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="databaseTerm" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="dataResourceInfoList" nillable="true" type="impl:DataResourceInfoList"/>
     <element name="defaultFormat" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="displayName" nillable="true" type="xsd:string"/>
     <element name="exampleIdentifiers" nillable="true" type="impl:ExampleIdentifiersInfo"/>
     <element name="formatInfoList" nillable="true" type="impl:FormatInfoList"/>
     <element name="href" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getDatabaseInfo">
    <complexType>
     <sequence>
      <element name="db" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDatabaseInfoResponse">
    <complexType>
     <sequence>
      <element name="getDatabaseInfoReturn" type="impl:DatabaseInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DbfException">
    <sequence/>
   </complexType>
   <complexType name="DbfParamsException">
    <complexContent>
     <extension base="impl:DbfException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="fault" type="impl:DbfParamsException"/>
   <element name="getDbFormats">
    <complexType>
     <sequence>
      <element name="db" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDbFormatsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDbFormatsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFormatInfo">
    <complexType>
     <sequence>
      <element name="db" type="xsd:string"/>
      <element name="format" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFormatInfoResponse">
    <complexType>
     <sequence>
      <element name="getFormatInfoReturn" type="impl:FormatInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFormatStyles">
    <complexType>
     <sequence>
      <element name="db" type="xsd:string"/>
      <element name="format" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFormatStylesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getFormatStylesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStyleInfo">
    <complexType>
     <sequence>
      <element name="db" type="xsd:string"/>
      <element name="format" type="xsd:string"/>
      <element name="style" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStyleInfoResponse">
    <complexType>
     <sequence>
      <element name="getStyleInfoReturn" type="impl:StyleInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchData">
    <complexType>
     <sequence>
      <element name="query" type="xsd:string"/>
      <element name="format" type="xsd:string"/>
      <element name="style" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchDataResponse">
    <complexType>
     <sequence>
      <element name="fetchDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DbfConnException">
    <complexContent>
     <extension base="impl:DbfException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="fault1" type="impl:DbfConnException"/>
   <complexType name="DbfNoEntryFoundException">
    <complexContent>
     <extension base="impl:DbfException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <element name="fault2" type="impl:DbfNoEntryFoundException"/>
   <element name="fault3" type="impl:DbfException"/>
   <complexType name="InputException">
    <sequence/>
   </complexType>
   <element name="fault4" type="impl:InputException"/>
   <element name="fetchBatch">
    <complexType>
     <sequence>
      <element name="db" type="xsd:string"/>
      <element name="ids" type="xsd:string"/>
      <element name="format" type="xsd:string"/>
      <element name="style" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchBatchResponse">
    <complexType>
     <sequence>
      <element name="fetchBatchReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStyleInfoRequest">

      <wsdl:part element="impl:getStyleInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDatabaseInfoListRequest">

      <wsdl:part element="impl:getDatabaseInfoList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedDBsResponse">

      <wsdl:part element="impl:getSupportedDBsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="fetchBatchRequest">

      <wsdl:part element="impl:fetchBatch" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedStylesResponse">

      <wsdl:part element="impl:getSupportedStylesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getFormatInfoResponse">

      <wsdl:part element="impl:getFormatInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DbfNoEntryFoundException">

      <wsdl:part element="impl:fault2" name="fault2"/>

   </wsdl:message>

   <wsdl:message name="DbfException">

      <wsdl:part element="impl:fault3" name="fault3"/>

   </wsdl:message>

   <wsdl:message name="getFormatStylesRequest">

      <wsdl:part element="impl:getFormatStyles" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDbFormatsResponse">

      <wsdl:part element="impl:getDbFormatsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedStylesRequest">

      <wsdl:part element="impl:getSupportedStyles" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DbfConnException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="getFormatInfoRequest">

      <wsdl:part element="impl:getFormatInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDatabaseInfoListResponse">

      <wsdl:part element="impl:getDatabaseInfoListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedDBsRequest">

      <wsdl:part element="impl:getSupportedDBs" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getStyleInfoResponse">

      <wsdl:part element="impl:getStyleInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDbFormatsRequest">

      <wsdl:part element="impl:getDbFormats" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedFormatsResponse">

      <wsdl:part element="impl:getSupportedFormatsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DbfParamsException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="InputException">

      <wsdl:part element="impl:fault4" name="fault4"/>

   </wsdl:message>

   <wsdl:message name="getDatabaseInfoResponse">

      <wsdl:part element="impl:getDatabaseInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getFormatStylesResponse">

      <wsdl:part element="impl:getFormatStylesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="fetchBatchResponse">

      <wsdl:part element="impl:fetchBatchResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="fetchDataResponse">

      <wsdl:part element="impl:fetchDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="fetchDataRequest">

      <wsdl:part element="impl:fetchData" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDatabaseInfoRequest">

      <wsdl:part element="impl:getDatabaseInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedFormatsRequest">

      <wsdl:part element="impl:getSupportedFormats" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSDBFetchServer">

      <wsdl:operation name="getSupportedDBs">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of available databases (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupporteddbs).   </wsdl:documentation>

         <wsdl:input message="impl:getSupportedDBsRequest" name="getSupportedDBsRequest"/>

         <wsdl:output message="impl:getSupportedDBsResponse" name="getSupportedDBsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedFormats">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of databases and formats (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupportedformats).   </wsdl:documentation>

         <wsdl:input message="impl:getSupportedFormatsRequest" name="getSupportedFormatsRequest"/>

         <wsdl:output message="impl:getSupportedFormatsResponse" name="getSupportedFormatsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedStyles">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Deprecated: use getFormatStyles() or getDatabaseInfo(). Get a list of databases, formats and styles (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getsupportedstyles).   </wsdl:documentation>

         <wsdl:input message="impl:getSupportedStylesRequest" name="getSupportedStylesRequest"/>

         <wsdl:output message="impl:getSupportedStylesResponse" name="getSupportedStylesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDatabaseInfoList">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about the available databases (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdatabaseinfolist).   </wsdl:documentation>

         <wsdl:input message="impl:getDatabaseInfoListRequest" name="getDatabaseInfoListRequest"/>

         <wsdl:output message="impl:getDatabaseInfoListResponse" name="getDatabaseInfoListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDatabaseInfo">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdatabaseinfo_db).   </wsdl:documentation>

         <wsdl:input message="impl:getDatabaseInfoRequest" name="getDatabaseInfoRequest"/>

         <wsdl:output message="impl:getDatabaseInfoResponse" name="getDatabaseInfoResponse"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

      </wsdl:operation>

      <wsdl:operation name="getDbFormats">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of formats for a given database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getdbformats_db).   </wsdl:documentation>

         <wsdl:input message="impl:getDbFormatsRequest" name="getDbFormatsRequest"/>

         <wsdl:output message="impl:getDbFormatsResponse" name="getDbFormatsResponse"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

      </wsdl:operation>

      <wsdl:operation name="getFormatInfo">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about a format of a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getformatinfo_db_format).   </wsdl:documentation>

         <wsdl:input message="impl:getFormatInfoRequest" name="getFormatInfoRequest"/>

         <wsdl:output message="impl:getFormatInfoResponse" name="getFormatInfoResponse"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

      </wsdl:operation>

      <wsdl:operation name="getFormatStyles">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a list of available styles for a given database and format (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getformatstyles_db_format).   </wsdl:documentation>

         <wsdl:input message="impl:getFormatStylesRequest" name="getFormatStylesRequest"/>

         <wsdl:output message="impl:getFormatStylesResponse" name="getFormatStylesResponse"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

      </wsdl:operation>

      <wsdl:operation name="getStyleInfo">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get detailed information about a style of a format of a database (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#getstyleinfo_db_format_style).   </wsdl:documentation>

         <wsdl:input message="impl:getStyleInfoRequest" name="getStyleInfoRequest"/>

         <wsdl:output message="impl:getStyleInfoResponse" name="getStyleInfoResponse"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

      </wsdl:operation>

      <wsdl:operation name="fetchData">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a database entry (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchdata_query_format_style).   </wsdl:documentation>

         <wsdl:input message="impl:fetchDataRequest" name="fetchDataRequest"/>

         <wsdl:output message="impl:fetchDataResponse" name="fetchDataResponse"/>

         <wsdl:fault message="impl:DbfConnException" name="DbfConnException"/>

         <wsdl:fault message="impl:DbfException" name="DbfException"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

         <wsdl:fault message="impl:DbfNoEntryFoundException" name="DbfNoEntryFoundException"/>

         <wsdl:fault message="impl:InputException" name="InputException"/>

      </wsdl:operation>

      <wsdl:operation name="fetchBatch">

   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Get a set of database entries (see http://www.ebi.ac.uk/Tools/webservices/services/dbfetch#fetchbatch_db_ids_format_style).   </wsdl:documentation>

         <wsdl:input message="impl:fetchBatchRequest" name="fetchBatchRequest"/>

         <wsdl:output message="impl:fetchBatchResponse" name="fetchBatchResponse"/>

         <wsdl:fault message="impl:DbfConnException" name="DbfConnException"/>

         <wsdl:fault message="impl:DbfException" name="DbfException"/>

         <wsdl:fault message="impl:DbfParamsException" name="DbfParamsException"/>

         <wsdl:fault message="impl:DbfNoEntryFoundException" name="DbfNoEntryFoundException"/>

         <wsdl:fault message="impl:InputException" name="InputException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSDbfetchDoclitSoapBinding" type="impl:WSDBFetchServer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSupportedDBs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedDBsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSupportedDBsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSupportedFormats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedFormatsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSupportedFormatsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSupportedStyles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedStylesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSupportedStylesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDatabaseInfoList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDatabaseInfoListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDatabaseInfoListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDatabaseInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDatabaseInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDatabaseInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault name="DbfParamsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDbFormats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDbFormatsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDbFormatsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault name="DbfParamsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFormatInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFormatInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFormatInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault name="DbfParamsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFormatStyles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFormatStylesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFormatStylesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault name="DbfParamsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStyleInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStyleInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStyleInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault name="DbfParamsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="fetchData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DbfConnException">

            <wsdlsoap:fault name="DbfConnException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DbfException">

            <wsdlsoap:fault name="DbfException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault name="DbfParamsException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DbfNoEntryFoundException">

            <wsdlsoap:fault name="DbfNoEntryFoundException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InputException">

            <wsdlsoap:fault name="InputException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="fetchBatch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchBatchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchBatchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DbfConnException">

            <wsdlsoap:fault name="DbfConnException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DbfException">

            <wsdlsoap:fault name="DbfException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DbfParamsException">

            <wsdlsoap:fault name="DbfParamsException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DbfNoEntryFoundException">

            <wsdlsoap:fault name="DbfNoEntryFoundException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InputException">

            <wsdlsoap:fault name="InputException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSDBFetchDoclitServerService">

  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
WSDbfetch: entry retrieval using entry identifiers or accession numbers for 
various biological databases, including EMBL-Bank, InterPro, MEDLINE, Patent 
Proteins, PDB, RefSeq, UniParc, UniProtKB and UniRef.

Note: this is a document/literal wrapped SOAP interface to the WSDbfetch service, for 
other interfaces please see the documentation 
(http://www.ebi.ac.uk/Tools/webservices/services/dbfetch).  </wsdl:documentation>

      <wsdl:port binding="impl:WSDbfetchDoclitSoapBinding" name="WSDbfetchDoclit">

         <wsdlsoap:address location="http://www.ebi.ac.uk/ws/services/WSDbfetchDoclit"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
