iserve-crawler/src/test/resources/WSDLs/wsdl_seed.cgi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- WSDL for http://seed-viewer.theseed.org/webservices_seed.cgi created by Pod::WSDL version: 0.05 on Wed Feb 29 15:42:05 2012 -->
<wsdl:definitions targetNamespace="http://seed-viewer.theseed.org/SeedWebServices" xmlns:impl="http://seed-viewer.theseed.org/SeedWebServices" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://seed-viewer.theseed.org/SeedWebServices">

	<wsdl:types>
		<schema targetNamespace="http://seed-viewer.theseed.org/SeedWebServices" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOfString">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="ali_to_seqRequest">
		<wsdl:part name="alias" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="ali_to_seqResponse">
		<wsdl:part name="ali_to_seqReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="adjacentRequest">
		<wsdl:part name="pegs" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="adjacentResponse">
		<wsdl:part name="adjacentReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="cluster_by_bbhsRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="cluster_by_bbhsResponse">
		<wsdl:part name="cluster_by_bbhsReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="cluster_by_simRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="cluster_by_simResponse">
		<wsdl:part name="cluster_by_simReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="external_callsRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="external_callsResponse">
		<wsdl:part name="external_callsReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="function_ofRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="function_ofResponse">
		<wsdl:part name="function_ofReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="functions_ofRequest">
		<wsdl:part name="pegs" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="functions_ofResponse">
		<wsdl:part name="functions_ofReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="genomes_ofRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="genomes_ofResponse">
		<wsdl:part name="genomes_ofReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="genus_speciesRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="genus_speciesResponse">
		<wsdl:part name="genus_speciesReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="fid2dnaRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="fid2dnaResponse">
		<wsdl:part name="fid2dnaReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="fids2dnaRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="fids2dnaResponse">
		<wsdl:part name="fids2dnaReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="contigs_ofRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="contigs_ofResponse">
		<wsdl:part name="contigs_ofReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="dna_sequenceRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
		<wsdl:part name="location1" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="dna_sequenceResponse">
		<wsdl:part name="dna_sequenceReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="dna_seqRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
		<wsdl:part name="location1" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="dna_seqResponse">
		<wsdl:part name="dna_seqReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="pegs_ofRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="pegs_ofResponse">
		<wsdl:part name="pegs_ofReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="rnas_ofRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="rnas_ofResponse">
		<wsdl:part name="rnas_ofReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="contig_lnRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
		<wsdl:part name="contig" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="contig_lnResponse">
		<wsdl:part name="contig_lnReturn" type="xsd:int" />
	</wsdl:message>

	<wsdl:message name="get_dna_seqRequest">
		<wsdl:part name="featureid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="get_dna_seqResponse">
		<wsdl:part name="get_dna_seqReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="is_eukaryoticRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
		<wsdl:part name="genomeid" type="xsd:string" />
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="is_eukaryoticResponse">
		<wsdl:part name="is_eukaryoticReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="is_prokaryoticRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="is_prokaryoticResponse">
		<wsdl:part name="is_prokaryoticReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="translation_ofRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="translation_ofResponse">
		<wsdl:part name="translation_ofReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="get_translationRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="get_translationResponse">
		<wsdl:part name="get_translationReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="feature_locationRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="feature_locationResponse">
		<wsdl:part name="feature_locationReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="boundaries_ofRequest">
		<wsdl:part name="locations" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="boundaries_ofResponse">
		<wsdl:part name="boundaries_ofReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="pegs_with_md5Request">
		<wsdl:part name="md5" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="pegs_with_md5Response">
		<wsdl:part name="pegs_with_md5Return" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="pegs_with_md5_stringRequest">
		<wsdl:part name="md5" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="pegs_with_md5_stringResponse">
		<wsdl:part name="pegs_with_md5_stringReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="aliases_ofRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="aliases_ofResponse">
		<wsdl:part name="aliases_ofReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="get_corresponding_idsRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="get_corresponding_idsResponse">
		<wsdl:part name="get_corresponding_idsReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="alias2figRequest">
		<wsdl:part name="alias" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="alias2figResponse">
		<wsdl:part name="alias2figReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="ec_nameRequest">
		<wsdl:part name="EC_number" type="xsd:string">
			<wsdl:documentation>ec code</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ec_nameResponse">
		<wsdl:part name="ec_nameReturn" type="xsd:string">
			<wsdl:documentation>ec name</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="reaction_to_roleRequest">
		<wsdl:part name="Reaction_number" type="xsd:string">
			<wsdl:documentation>reaction code number</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="reaction_to_roleResponse">
		<wsdl:part name="reaction_to_roleReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="coupled_toRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="coupled_toResponse">
		<wsdl:part name="coupled_toReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="abstract_coupled_toRequest">
		<wsdl:part name="peg" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="abstract_coupled_toResponse">
		<wsdl:part name="abstract_coupled_toReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="pinned_region_dataRequest">
		<wsdl:part name="peg_id" type="xsd:string" />
		<wsdl:part name="n_pch_pins" type="xsd:string" />
		<wsdl:part name="n_sims" type="xsd:string" />
		<wsdl:part name="sim_cutoff" type="xsd:string" />
		<wsdl:part name="color_sim_cutoff" type="xsd:string" />
		<wsdl:part name="sort_by" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="pinned_region_dataResponse">
		<wsdl:part name="pinned_region_dataReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="all_genomesRequest">
		<wsdl:part name="complete" type="xsd:string" />
		<wsdl:part name="restrictions" type="xsd:string" />
		<wsdl:part name="domain" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="all_genomesResponse">
		<wsdl:part name="all_genomesReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="genomesRequest">
		<wsdl:part name="complete" type="xsd:string" />
		<wsdl:part name="restrictions" type="xsd:string" />
		<wsdl:part name="domain" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="genomesResponse">
		<wsdl:part name="genomesReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="replacesRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="replacesResponse">
		<wsdl:part name="replacesReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="taxonomy_ofRequest">
		<wsdl:part name="genomeid" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="taxonomy_ofResponse">
		<wsdl:part name="taxonomy_ofReturn" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="search_and_grepRequest">
		<wsdl:part name="pattern1" type="xsd:string" />
		<wsdl:part name="pattern2" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="search_and_grepResponse">
		<wsdl:part name="search_and_grepReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="simple_searchRequest">
		<wsdl:part name="pattern" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="simple_searchResponse">
		<wsdl:part name="simple_searchReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="all_subsystem_classificationsRequest">
	</wsdl:message>

	<wsdl:message name="all_subsystem_classificationsResponse">
		<wsdl:part name="all_subsystem_classificationsReturn" type="tns1:ArrayOfString">
			<wsdl:documentation>list of subsystems and their classifications</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="all_familiesRequest">
	</wsdl:message>

	<wsdl:message name="all_familiesResponse">
		<wsdl:part name="all_familiesReturn" type="tns1:ArrayOfString">
			<wsdl:documentation>list of families</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="all_families_with_funcsRequest">
	</wsdl:message>

	<wsdl:message name="all_families_with_funcsResponse">
		<wsdl:part name="all_families_with_funcsReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="list_membersRequest">
		<wsdl:part name="families" type="xsd:string">
			<wsdl:documentation>list of famids</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="list_membersResponse">
		<wsdl:part name="list_membersReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:message name="CDS_dataRequest">
		<wsdl:part name="families" type="xsd:string">
			<wsdl:documentation>list of pegs</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="CDS_dataResponse">
		<wsdl:part name="CDS_dataReturn" type="tns1:ArrayOfString">
			<wsdl:documentation>returns a 3-column table [PEG,Function,AliasesCommaSeparated]</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="CDS_sequencesRequest">
		<wsdl:part name="families" type="xsd:string">
			<wsdl:documentation>list of pegs</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="CDS_sequencesResponse">
		<wsdl:part name="CDS_sequencesReturn" type="tns1:ArrayOfString">
			<wsdl:documentation>a 2-column table [PEG,Sequence]</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="is_member_ofRequest">
		<wsdl:part name="sequences" type="xsd:string">
			<wsdl:documentation>list of id seq pairs</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="is_member_ofResponse">
		<wsdl:part name="is_member_ofReturn" type="tns1:ArrayOfString">
			<wsdl:documentation>returns a 2-column table [Id,FamilyID]</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="simsRequest">
		<wsdl:part name="peg" type="xsd:string" />
		<wsdl:part name="maxN" type="xsd:string" />
		<wsdl:part name="maxP" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="simsResponse">
		<wsdl:part name="simsReturn" type="tns1:ArrayOfString" />
	</wsdl:message>

	<wsdl:portType name="SeedWebServicesHandler">
		<wsdl:operation name="ali_to_seq" parameterOrder="alias">
			<wsdl:documentation>Retrieve the protein sequence for a given identifier. Input is an alias, output is a sequence</wsdl:documentation>
			<wsdl:input message="impl:ali_to_seqRequest" name="ali_to_seqRequest" />
			<wsdl:output message="impl:ali_to_seqResponse" name="ali_to_seqResponse" />
		</wsdl:operation>

		<wsdl:operation name="adjacent" parameterOrder="pegs">
			<wsdl:documentation>Retrieve the set of pegs in order along the chromosome. Input is a comma separated list of pegs, and output is the pegs in order along the genome.</wsdl:documentation>
			<wsdl:input message="impl:adjacentRequest" name="adjacentRequest" />
			<wsdl:output message="impl:adjacentResponse" name="adjacentResponse" />
		</wsdl:operation>

		<wsdl:operation name="cluster_by_bbhs" parameterOrder="peg">
			<wsdl:documentation>Get the clusters for a peg by bidirectional best hits. Input is a peg, output is two column table of [peg, cluster]</wsdl:documentation>
			<wsdl:input message="impl:cluster_by_bbhsRequest" name="cluster_by_bbhsRequest" />
			<wsdl:output message="impl:cluster_by_bbhsResponse" name="cluster_by_bbhsResponse" />
		</wsdl:operation>

		<wsdl:operation name="cluster_by_sim" parameterOrder="peg">
			<wsdl:documentation>Get the clusters for a peg by similarity. Input is a peg, output is two column table of [peg, cluster]</wsdl:documentation>
			<wsdl:input message="impl:cluster_by_simRequest" name="cluster_by_simRequest" />
			<wsdl:output message="impl:cluster_by_simResponse" name="cluster_by_simResponse" />
		</wsdl:operation>

		<wsdl:operation name="external_calls" parameterOrder="peg">
			<wsdl:documentation>Get the annotations for a peg from all other known sources. Input is a peg, output is two column table of [peg, other function]</wsdl:documentation>
			<wsdl:input message="impl:external_callsRequest" name="external_callsRequest" />
			<wsdl:output message="impl:external_callsResponse" name="external_callsResponse" />
		</wsdl:operation>

		<wsdl:operation name="function_of" parameterOrder="peg">
			<wsdl:documentation>Get the functional annotation of a given protein identifier. Input is a peg, output is a function</wsdl:documentation>
			<wsdl:input message="impl:function_ofRequest" name="function_ofRequest" />
			<wsdl:output message="impl:function_ofResponse" name="function_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="functions_of" parameterOrder="pegs">
			<wsdl:documentation>Get the functional annotation of a comma-joined list of protein identifiers. Input is a list of pegs, output is an array of hashes, with two keys - id is the peg, function is the function of that peg.</wsdl:documentation>
			<wsdl:input message="impl:functions_ofRequest" name="functions_ofRequest" />
			<wsdl:output message="impl:functions_ofResponse" name="functions_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="genomes_of" parameterOrder="peg">
			<wsdl:documentation>Get the genome(s) that a given protein identifier refers to. Input is a peg, output is a single column table of genomes</wsdl:documentation>
			<wsdl:input message="impl:genomes_ofRequest" name="genomes_ofRequest" />
			<wsdl:output message="impl:genomes_ofResponse" name="genomes_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="genus_species" parameterOrder="genomeid">
			<wsdl:documentation>Get the genus and species of a genome identifier. Input is a genome ID, output is the genus and species of the genome</wsdl:documentation>
			<wsdl:input message="impl:genus_speciesRequest" name="genus_speciesRequest" />
			<wsdl:output message="impl:genus_speciesResponse" name="genus_speciesResponse" />
		</wsdl:operation>

		<wsdl:operation name="fid2dna" parameterOrder="peg">
			<wsdl:documentation>Get the DNA sequence for a given protein identifier. Input is a peg, output is the DNA sequence in fasta format.</wsdl:documentation>
			<wsdl:input message="impl:fid2dnaRequest" name="fid2dnaRequest" />
			<wsdl:output message="impl:fid2dnaResponse" name="fid2dnaResponse" />
		</wsdl:operation>

		<wsdl:operation name="fids2dna" parameterOrder="peg">
			<wsdl:documentation>Get the DNA sequence for a set of protein identifiers. Input is a comma-joined list of pegs, output is the DNA sequence in fasta format.</wsdl:documentation>
			<wsdl:input message="impl:fids2dnaRequest" name="fids2dnaRequest" />
			<wsdl:output message="impl:fids2dnaResponse" name="fids2dnaResponse" />
		</wsdl:operation>

		<wsdl:operation name="contigs_of" parameterOrder="genomeid">
			<wsdl:documentation>Get a comma-separated list of all the contigs in a genome</wsdl:documentation>
			<wsdl:input message="impl:contigs_ofRequest" name="contigs_ofRequest" />
			<wsdl:output message="impl:contigs_ofResponse" name="contigs_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="dna_sequence" parameterOrder="genomeid location1">
			<wsdl:documentation>Please note, dna_sequence is deprecated. Please use dna_seq instead. The methods return the same thing.</wsdl:documentation>
			<wsdl:input message="impl:dna_sequenceRequest" name="dna_sequenceRequest" />
			<wsdl:output message="impl:dna_sequenceResponse" name="dna_sequenceResponse" />
		</wsdl:operation>

		<wsdl:operation name="dna_seq" parameterOrder="genomeid location1">
			<wsdl:documentation>Get the DNA sequence for a region in a genome. Input is a genome ID and a location in the form contig_start_stop, output is the DNA sequence in fasta format.</wsdl:documentation>
			<wsdl:input message="impl:dna_seqRequest" name="dna_seqRequest" />
			<wsdl:output message="impl:dna_seqResponse" name="dna_seqResponse" />
		</wsdl:operation>

		<wsdl:operation name="pegs_of" parameterOrder="genomeid">
			<wsdl:documentation>Get all the protein identifiers associated with a genome. Input is a genome id, output is a list of pegs in that genome</wsdl:documentation>
			<wsdl:input message="impl:pegs_ofRequest" name="pegs_ofRequest" />
			<wsdl:output message="impl:pegs_ofResponse" name="pegs_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="rnas_of" parameterOrder="genomeid">
			<wsdl:documentation>Get all the RNA identifiers associated with a genome. Input is a genome ID, and output is a list (an array) of the RNAs in that genome</wsdl:documentation>
			<wsdl:input message="impl:rnas_ofRequest" name="rnas_ofRequest" />
			<wsdl:output message="impl:rnas_ofResponse" name="rnas_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="contig_ln" parameterOrder="genomeid contig">
			<wsdl:documentation>Get the length of the DNA sequence in a contig in a genome. Input is a genome id and a contig name, return is the length of the contig</wsdl:documentation>
			<wsdl:input message="impl:contig_lnRequest" name="contig_lnRequest" />
			<wsdl:output message="impl:contig_lnResponse" name="contig_lnResponse" />
		</wsdl:operation>

		<wsdl:operation name="get_dna_seq" parameterOrder="featureid">
			<wsdl:documentation>Retrieve the DNA sequence for a particular feature. Note that this will take a feature id (peg, rna, etc), and return the DNA sequence for that id. There is also a separate method to get the DNA sequence for an arbitrary location on a genome</wsdl:documentation>
			<wsdl:input message="impl:get_dna_seqRequest" name="get_dna_seqRequest" />
			<wsdl:output message="impl:get_dna_seqResponse" name="get_dna_seqResponse" />
		</wsdl:operation>

		<wsdl:operation name="is_eukaryotic" parameterOrder="genomeid genomeid genomeid">
			<wsdl:documentation>Test whether an organism is Eukaryotic. Input is a genome identifier, and output is true or false (or 1 or 0)</wsdl:documentation>
			<wsdl:input message="impl:is_eukaryoticRequest" name="is_eukaryoticRequest" />
			<wsdl:output message="impl:is_eukaryoticResponse" name="is_eukaryoticResponse" />
		</wsdl:operation>

		<wsdl:operation name="is_prokaryotic" parameterOrder="genomeid">
			<wsdl:documentation>Test whether an organism is a Prokaryote. Input is a genome identifier, and output is true or false (or 1 or 0)</wsdl:documentation>
			<wsdl:input message="impl:is_prokaryoticRequest" name="is_prokaryoticRequest" />
			<wsdl:output message="impl:is_prokaryoticResponse" name="is_prokaryoticResponse" />
		</wsdl:operation>

		<wsdl:operation name="translation_of" parameterOrder="peg">
			<wsdl:documentation>Get the translation (protein sequence) of a peg. Input is a peg, output is the protein sequence. (Note that this is a synonym of get_translation).</wsdl:documentation>
			<wsdl:input message="impl:translation_ofRequest" name="translation_ofRequest" />
			<wsdl:output message="impl:translation_ofResponse" name="translation_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="get_translation" parameterOrder="peg">
			<wsdl:documentation>Get the translation (protein sequence) of a peg. Input is a peg, output is translation. (Note that this is a synonym of translation_of);</wsdl:documentation>
			<wsdl:input message="impl:get_translationRequest" name="get_translationRequest" />
			<wsdl:output message="impl:get_translationResponse" name="get_translationResponse" />
		</wsdl:operation>

		<wsdl:operation name="feature_location" parameterOrder="peg">
			<wsdl:documentation>Get the location of a peg on its contig. Input is a peg, output is list of locations on contigs. Usually this will be a single location, but sometimes it can either be more than one region on a contig, or even on multiple contigs. For convenience it is a comma joined list, often you will want to pass that to boundaries_of</wsdl:documentation>
			<wsdl:input message="impl:feature_locationRequest" name="feature_locationRequest" />
			<wsdl:output message="impl:feature_locationResponse" name="feature_locationResponse" />
		</wsdl:operation>

		<wsdl:operation name="boundaries_of" parameterOrder="locations">
			<wsdl:documentation>Get the boundaries of a feature location. A feature can have multiple locations on a contig (e.g. split locations, introns, etc). This just returns an array of [contig, beginning, end]. You can pass it the output from feature_location directly</wsdl:documentation>
			<wsdl:input message="impl:boundaries_ofRequest" name="boundaries_ofRequest" />
			<wsdl:output message="impl:boundaries_ofResponse" name="boundaries_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="pegs_with_md5" parameterOrder="md5">
			<wsdl:documentation>Get the FIG IDs associated with the MD5 sum of a protein sequence. Input is the md5 checksum, output is an array of strings of FIG ids. This should be faster, and more complete, than using aliases or other ways to match protein sequences.</wsdl:documentation>
			<wsdl:input message="impl:pegs_with_md5Request" name="pegs_with_md5Request" />
			<wsdl:output message="impl:pegs_with_md5Response" name="pegs_with_md5Response" />
		</wsdl:operation>

		<wsdl:operation name="pegs_with_md5_string" parameterOrder="md5">
			<wsdl:documentation>Get the FIG IDs associated with the MD5 sum of a protein sequence. Input is the md5 checksum, output is a comma separated list of FIG ids as a single string. This should be faster, and more complete, than using aliases or other ways to match protein sequences.</wsdl:documentation>
			<wsdl:input message="impl:pegs_with_md5_stringRequest" name="pegs_with_md5_stringRequest" />
			<wsdl:output message="impl:pegs_with_md5_stringResponse" name="pegs_with_md5_stringResponse" />
		</wsdl:operation>

		<wsdl:operation name="aliases_of" parameterOrder="peg">
			<wsdl:documentation>Get the aliases of a peg. These are the identifiers that other databases use. Input is a peg, output is an array of aliases</wsdl:documentation>
			<wsdl:input message="impl:aliases_ofRequest" name="aliases_ofRequest" />
			<wsdl:output message="impl:aliases_ofResponse" name="aliases_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="get_corresponding_ids" parameterOrder="peg">
			<wsdl:documentation>Get the corresponding ids of a peg. These are the identifiers that other databases use. Input is a peg, output is an array of aliases</wsdl:documentation>
			<wsdl:input message="impl:get_corresponding_idsRequest" name="get_corresponding_idsRequest" />
			<wsdl:output message="impl:get_corresponding_idsResponse" name="get_corresponding_idsResponse" />
		</wsdl:operation>

		<wsdl:operation name="alias2fig" parameterOrder="alias">
			<wsdl:documentation>Get the FIG ID(s) (peg) for a given external identifier. Input is an identifier used by another database, output is a list of our identifiers. Note that an alias can refer to more than one protein since the mapping is done via protein sequence.</wsdl:documentation>
			<wsdl:input message="impl:alias2figRequest" name="alias2figRequest" />
			<wsdl:output message="impl:alias2figResponse" name="alias2figResponse" />
		</wsdl:operation>

		<wsdl:operation name="ec_name" parameterOrder="EC_number">
			<wsdl:documentation>Get the name for a given E.C. number. Input is an EC number, output is the name</wsdl:documentation>
			<wsdl:input message="impl:ec_nameRequest" name="ec_nameRequest" />
			<wsdl:output message="impl:ec_nameResponse" name="ec_nameResponse" />
		</wsdl:operation>

		<wsdl:operation name="reaction_to_role" parameterOrder="Reaction_number genomeid">
			<wsdl:documentation>Get a tab-separated list of [subsystem name, functional role, peg, subsystem variant code for that genome] for any given reaction id and genome id. Maps the reaction id to peg, peg to genome, and genome to variant code</wsdl:documentation>
			<wsdl:input message="impl:reaction_to_roleRequest" name="reaction_to_roleRequest" />
			<wsdl:output message="impl:reaction_to_roleResponse" name="reaction_to_roleResponse" />
		</wsdl:operation>

		<wsdl:operation name="coupled_to" parameterOrder="peg">
			<wsdl:documentation>Get the pegs that are coupled to any given peg. Input is a peg, output is list of [protein, score] for things that are coupled to this peg</wsdl:documentation>
			<wsdl:input message="impl:coupled_toRequest" name="coupled_toRequest" />
			<wsdl:output message="impl:coupled_toResponse" name="coupled_toResponse" />
		</wsdl:operation>

		<wsdl:operation name="abstract_coupled_to" parameterOrder="peg">
			<wsdl:documentation>Get the pegs that may be coupled to this peg through abstract coupling. Input is a peg, output is list of [protein, score] for things that are coupled to this peg</wsdl:documentation>
			<wsdl:input message="impl:abstract_coupled_toRequest" name="abstract_coupled_toRequest" />
			<wsdl:output message="impl:abstract_coupled_toResponse" name="abstract_coupled_toResponse" />
		</wsdl:operation>

		<wsdl:operation name="pinned_region_data" parameterOrder="peg_id n_pch_pins n_sims sim_cutoff color_sim_cutoff sort_by">
			<wsdl:documentation>Input is a FIG (PEG) ID and ..., output is the pinned regions data</wsdl:documentation>
			<wsdl:input message="impl:pinned_region_dataRequest" name="pinned_region_dataRequest" />
			<wsdl:output message="impl:pinned_region_dataResponse" name="pinned_region_dataResponse" />
		</wsdl:operation>

		<wsdl:operation name="all_genomes" parameterOrder="complete restrictions domain">
			<wsdl:documentation>Get a set of genomes. The inputs are a series of constraints - whether the sequence is complete, other restrictions, and a domain of life (Bacteria, Archaea, Eukarya, Viral, Environmental Genome). Output is a list of genome ids. An example use is with the parameters ("complete", undef, "Bacteria") that will return all complete bacterial genomes.</wsdl:documentation>
			<wsdl:input message="impl:all_genomesRequest" name="all_genomesRequest" />
			<wsdl:output message="impl:all_genomesResponse" name="all_genomesResponse" />
		</wsdl:operation>

		<wsdl:operation name="genomes" parameterOrder="complete restrictions domain">
			<wsdl:documentation>Get a set of genomes. The inputs are a series of constraints - whether the sequence is complete, other restrictions, and a domain of life (Bacteria, Archaea, Eukarya, Viral, Environmental Genome). Output is a list of genome ids with the genus species appended. An example use is with the parameters ("complete", undef, "Bacteria") that will return all complete bacterial genomes.</wsdl:documentation>
			<wsdl:input message="impl:genomesRequest" name="genomesRequest" />
			<wsdl:output message="impl:genomesResponse" name="genomesResponse" />
		</wsdl:operation>

		<wsdl:operation name="replaces" parameterOrder="genomeid">
			<wsdl:documentation>If this genome replaces another one (it is a more upto date version), what is the ID of the older genome?</wsdl:documentation>
			<wsdl:input message="impl:replacesRequest" name="replacesRequest" />
			<wsdl:output message="impl:replacesResponse" name="replacesResponse" />
		</wsdl:operation>

		<wsdl:operation name="taxonomy_of" parameterOrder="genomeid">
			<wsdl:documentation>Returns the taxonomy of a given genomeid</wsdl:documentation>
			<wsdl:input message="impl:taxonomy_ofRequest" name="taxonomy_ofRequest" />
			<wsdl:output message="impl:taxonomy_ofResponse" name="taxonomy_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="search_and_grep" parameterOrder="pattern1 pattern2">
			<wsdl:documentation>Search and grep through the database. Input is two patterns, first one is used in search_index, second used to grep the results to restrict to a smaller set. Output is an array of hashes with keys id, organism, otherIds, functionalAssignment, and annotator.</wsdl:documentation>
			<wsdl:input message="impl:search_and_grepRequest" name="search_and_grepRequest" />
			<wsdl:output message="impl:search_and_grepResponse" name="search_and_grepResponse" />
		</wsdl:operation>

		<wsdl:operation name="simple_search" parameterOrder="pattern">
			<wsdl:documentation>Search the database. Input is a pattern to search for, output is list of pegs and roles</wsdl:documentation>
			<wsdl:input message="impl:simple_searchRequest" name="simple_searchRequest" />
			<wsdl:output message="impl:simple_searchResponse" name="simple_searchResponse" />
		</wsdl:operation>

		<wsdl:operation name="all_subsystem_classifications" parameterOrder="">
			<wsdl:documentation>Get a list of all the subsystems and their classifications. No input needed, it just returns a list of all the subsystems and their classifications</wsdl:documentation>
			<wsdl:input message="impl:all_subsystem_classificationsRequest" name="all_subsystem_classificationsRequest" />
			<wsdl:output message="impl:all_subsystem_classificationsResponse" name="all_subsystem_classificationsResponse" />
		</wsdl:operation>

		<wsdl:operation name="all_families" parameterOrder="">
			<wsdl:documentation>Get all the FIG protein families (FIGfams). No input needed, it just returns a list of all families</wsdl:documentation>
			<wsdl:input message="impl:all_familiesRequest" name="all_familiesRequest" />
			<wsdl:output message="impl:all_familiesResponse" name="all_familiesResponse" />
		</wsdl:operation>

		<wsdl:operation name="all_families_with_funcs" parameterOrder="">
			<wsdl:documentation>Get all the FIG protein families (FIGfams) with their assigned functions. No input needed, it just returns a list of all the families and their functions.</wsdl:documentation>
			<wsdl:input message="impl:all_families_with_funcsRequest" name="all_families_with_funcsRequest" />
			<wsdl:output message="impl:all_families_with_funcsResponse" name="all_families_with_funcsResponse" />
		</wsdl:operation>

		<wsdl:operation name="list_members" parameterOrder="families">
			<wsdl:documentation>Get all the pegs in some FIGfams. The input is a tab-separated list of family IDs, and the output is a two column table of [family id, peg]</wsdl:documentation>
			<wsdl:input message="impl:list_membersRequest" name="list_membersRequest" />
			<wsdl:output message="impl:list_membersResponse" name="list_membersResponse" />
		</wsdl:operation>

		<wsdl:operation name="CDS_data" parameterOrder="families">
			<wsdl:documentation>Get all the pegs in some FIGfams, their functions, and aliases. Input is a tab-separated list of pegs, returns a 3-column comma separated table [PEG, Function, Aliases]</wsdl:documentation>
			<wsdl:input message="impl:CDS_dataRequest" name="CDS_dataRequest" />
			<wsdl:output message="impl:CDS_dataResponse" name="CDS_dataResponse" />
		</wsdl:operation>

		<wsdl:operation name="CDS_sequences" parameterOrder="families">
			<wsdl:documentation>Get the protein sequences for a list of proteins. Input is a tab-separated list of peg, returns a 2-column comma separated table of [PEG, sequence]</wsdl:documentation>
			<wsdl:input message="impl:CDS_sequencesRequest" name="CDS_sequencesRequest" />
			<wsdl:output message="impl:CDS_sequencesResponse" name="CDS_sequencesResponse" />
		</wsdl:operation>

		<wsdl:operation name="is_member_of" parameterOrder="sequences">
			<wsdl:documentation>Tries to put a protein sequence in a family. Input is a tab-separated id and sequence, delimited by new lines. The output is a comma-separated 2-column table [your sequence id, FamilyID] if the sequence is placed in a family.</wsdl:documentation>
			<wsdl:input message="impl:is_member_ofRequest" name="is_member_ofRequest" />
			<wsdl:output message="impl:is_member_ofResponse" name="is_member_ofResponse" />
		</wsdl:operation>

		<wsdl:operation name="sims" parameterOrder="peg maxN maxP">
			<wsdl:documentation>Retrieve the sims (precomputed BLAST hits) for a given protein sequence. Input is a peg, an optional maximum number of hits (default=50), and an optional maximum E value (default=1e-5). The output is a list of sims in modified tab separated (-m 8) format. Additional columns include length of query and database sequences, and method used.</wsdl:documentation>
			<wsdl:input message="impl:simsRequest" name="simsRequest" />
			<wsdl:output message="impl:simsResponse" name="simsResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SeedWebServicesSoapBinding" type="impl:SeedWebServicesHandler">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="ali_to_seq">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#ali_to_seq" />
			<wsdl:input name="ali_to_seqRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="ali_to_seqResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="adjacent">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#adjacent" />
			<wsdl:input name="adjacentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="adjacentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="cluster_by_bbhs">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#cluster_by_bbhs" />
			<wsdl:input name="cluster_by_bbhsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="cluster_by_bbhsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="cluster_by_sim">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#cluster_by_sim" />
			<wsdl:input name="cluster_by_simRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="cluster_by_simResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="external_calls">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#external_calls" />
			<wsdl:input name="external_callsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="external_callsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="function_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#function_of" />
			<wsdl:input name="function_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="function_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="functions_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#functions_of" />
			<wsdl:input name="functions_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="functions_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="genomes_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#genomes_of" />
			<wsdl:input name="genomes_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="genomes_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="genus_species">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#genus_species" />
			<wsdl:input name="genus_speciesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="genus_speciesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="fid2dna">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#fid2dna" />
			<wsdl:input name="fid2dnaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="fid2dnaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="fids2dna">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#fids2dna" />
			<wsdl:input name="fids2dnaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="fids2dnaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="contigs_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#contigs_of" />
			<wsdl:input name="contigs_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="contigs_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="dna_sequence">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#dna_sequence" />
			<wsdl:input name="dna_sequenceRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="dna_sequenceResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="dna_seq">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#dna_seq" />
			<wsdl:input name="dna_seqRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="dna_seqResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pegs_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#pegs_of" />
			<wsdl:input name="pegs_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="pegs_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="rnas_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#rnas_of" />
			<wsdl:input name="rnas_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="rnas_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="contig_ln">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#contig_ln" />
			<wsdl:input name="contig_lnRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="contig_lnResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="get_dna_seq">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#get_dna_seq" />
			<wsdl:input name="get_dna_seqRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="get_dna_seqResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="is_eukaryotic">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#is_eukaryotic" />
			<wsdl:input name="is_eukaryoticRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="is_eukaryoticResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="is_prokaryotic">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#is_prokaryotic" />
			<wsdl:input name="is_prokaryoticRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="is_prokaryoticResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="translation_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#translation_of" />
			<wsdl:input name="translation_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="translation_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="get_translation">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#get_translation" />
			<wsdl:input name="get_translationRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="get_translationResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="feature_location">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#feature_location" />
			<wsdl:input name="feature_locationRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="feature_locationResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="boundaries_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#boundaries_of" />
			<wsdl:input name="boundaries_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="boundaries_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pegs_with_md5">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#pegs_with_md5" />
			<wsdl:input name="pegs_with_md5Request">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="pegs_with_md5Response">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pegs_with_md5_string">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#pegs_with_md5_string" />
			<wsdl:input name="pegs_with_md5_stringRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="pegs_with_md5_stringResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="aliases_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#aliases_of" />
			<wsdl:input name="aliases_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="aliases_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="get_corresponding_ids">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#get_corresponding_ids" />
			<wsdl:input name="get_corresponding_idsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="get_corresponding_idsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="alias2fig">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#alias2fig" />
			<wsdl:input name="alias2figRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="alias2figResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ec_name">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#ec_name" />
			<wsdl:input name="ec_nameRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="ec_nameResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="reaction_to_role">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#reaction_to_role" />
			<wsdl:input name="reaction_to_roleRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="reaction_to_roleResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="coupled_to">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#coupled_to" />
			<wsdl:input name="coupled_toRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="coupled_toResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="abstract_coupled_to">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#abstract_coupled_to" />
			<wsdl:input name="abstract_coupled_toRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="abstract_coupled_toResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pinned_region_data">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#pinned_region_data" />
			<wsdl:input name="pinned_region_dataRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="pinned_region_dataResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="all_genomes">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#all_genomes" />
			<wsdl:input name="all_genomesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="all_genomesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="genomes">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#genomes" />
			<wsdl:input name="genomesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="genomesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="replaces">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#replaces" />
			<wsdl:input name="replacesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="replacesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="taxonomy_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#taxonomy_of" />
			<wsdl:input name="taxonomy_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="taxonomy_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="search_and_grep">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#search_and_grep" />
			<wsdl:input name="search_and_grepRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="search_and_grepResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="simple_search">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#simple_search" />
			<wsdl:input name="simple_searchRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="simple_searchResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="all_subsystem_classifications">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#all_subsystem_classifications" />
			<wsdl:input name="all_subsystem_classificationsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="all_subsystem_classificationsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="all_families">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#all_families" />
			<wsdl:input name="all_familiesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="all_familiesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="all_families_with_funcs">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#all_families_with_funcs" />
			<wsdl:input name="all_families_with_funcsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="all_families_with_funcsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="list_members">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#list_members" />
			<wsdl:input name="list_membersRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="list_membersResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CDS_data">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#CDS_data" />
			<wsdl:input name="CDS_dataRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="CDS_dataResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CDS_sequences">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#CDS_sequences" />
			<wsdl:input name="CDS_sequencesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="CDS_sequencesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="is_member_of">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#is_member_of" />
			<wsdl:input name="is_member_ofRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="is_member_ofResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="sims">
			<wsdlsoap:operation soapAction="http://seed-viewer.theseed.org/SeedWebServices#sims" />
			<wsdl:input name="simsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:input>
			<wsdl:output name="simsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://seed-viewer.theseed.org/SeedWebServices" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="SeedWebServicesHandlerService">
		<wsdl:port binding="impl:SeedWebServicesSoapBinding" name="SeedWebServices">
			<wsdlsoap:address location="http://seed-viewer.theseed.org/webservices_seed.cgi" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
