iserve-crawler/src/test/resources/WSDLs/WSMaxsprout.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Revision: $Id: WSMaxsprout.wsdl,v 1.3 2009/03/26 15:23:37 wli Exp $ -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ebi.ac.uk/WSMaxsprout" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="WSMaxsprout" targetNamespace="http://www.ebi.ac.uk/WSMaxsprout">
  <documentation>WSMaxsprout: a method for generating protein backbone and side chain co-ordinates from a C(alpha) trace. (see http://www.ebi.ac.uk/Tools/webservices/services/maxsprout)</documentation>
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ebi.ac.uk/WSMaxsprout" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.ebi.ac.uk/WSMaxsprout">
      <xsd:complexType name="inputParams">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Input parameters for tool, see http://www.ebi.ac.uk/Tools/webservices/services/maxsprout#inputparams for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="sequence" nillable="false" type="xsd:string"/>
          <xsd:element name="async" nillable="true" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Asynchronous submission.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="email" nillable="false" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">User e-mail address.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="data">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Input data for tool, see http://www.ebi.ac.uk/Tools/webservices/services/kalign#data for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Input data type</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="content" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Input data</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofFile">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:WSFile[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofData">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:data[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSFile">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Result data type description, see http://www.ebi.ac.uk/Tools/webservices/services/kalign#wsfile for details.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
          <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Result type name.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ext" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">File extension for result type</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
    </schema>
  </types>
  <message name="statusRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="statusResponse">
    <part name="status" type="xsd:string"/>
  </message>
  <message name="resultsRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="resultsResponse">
    <part name="results" type="tns:WSArrayofFile"/>
  </message>
  <message name="pollRequest">
    <part name="jobid" type="xsd:string"/>
    <part name="type" type="xsd:string"/>
  </message>
  <message name="pollResponse">
    <part name="output" type="xsd:base64Binary"/>
  </message>
  <message name="getIdsRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="getIdsResponse">
    <part name="result" type="tns:ArrayOf_xsd_string"/>
  </message>
  <message name="runMaxsproutRequest">
    <part name="params" type="tns:inputParams"/>
    <part name="content" type="tns:WSArrayofData"/>
  </message>
  <message name="runMaxsproutResponse">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="polljobRequest">
    <part name="jobid" type="xsd:string"/>
    <part name="outformat" type="xsd:string"/>
  </message>
  <message name="polljobResponse">
    <part name="result" type="xsd:base64Binary"/>
  </message>
  <message name="doMaxsproutRequest">
    <part name="params" type="tns:inputParams"/>
    <part name="content" type="xsd:base64Binary"/>
  </message>
  <message name="doMaxsproutResponse">
    <part name="result" type="xsd:base64Binary"/>
  </message>
  <portType name="WSMaxsprout">
    <operation name="runMaxsprout" parameterOrder="params content">
      <documentation>Submit a MaxSprout job (see http://www.ebi.ac.uk/Tools/webservices/services/maxsprout#runmaxsprout_params_content)</documentation>
      <input name="runMaxsproutRequest" message="tns:runMaxsproutRequest"/>
      <output name="runMaxsproutResponse" message="tns:runMaxsproutResponse"/>
    </operation>
    <operation name="checkStatus" parameterOrder="jobid">
      <documentation>Get the status of a submited job (see http://www.ebi.ac.uk/Tools/webservices/services/maxsprout#checkstatus_jobid)</documentation>
      <input name="statusRequest" message="tns:statusRequest"/>
      <output name="statusResponse" message="tns:statusResponse"/>
    </operation>
    <operation name="poll" parameterOrder="jobid type">
      <documentation>Get the results of a job (see http://www.ebi.ac.uk/Tools/webservices/services/maxsprout#poll_jobid_type)</documentation>
      <input name="pollRequest" message="tns:pollRequest"/>
      <output name="pollResponse" message="tns:pollResponse"/>
    </operation>
    <operation name="getResults" parameterOrder="jobid">
      <documentation>Get the available result types for a completed job (see http://www.ebi.ac.uk/Tools/webservices/services/maxsprout#getresults_jobid)</documentation>
      <input name="resultsRequest" message="tns:resultsRequest"/>
      <output name="resultsResponse" message="tns:resultsResponse"/>
    </operation>
    <operation name="getIds" parameterOrder="jobid">
      <documentation>Not used.</documentation>
      <input name="getIdsRequest" message="tns:getIdsRequest"/>
      <output name="getIdsResponse" message="tns:getIdsResponse"/>
    </operation>
    <operation name="polljob" parameterOrder="jobid outformat">
      <documentation>Deprecated</documentation>
      <input name="polljobRequest" message="tns:polljobRequest"/>
      <output name="polljobResponse" message="tns:polljobResponse"/>
    </operation>
    <operation name="doMaxsprout" parameterOrder="params content">
      <input name="doMaxsproutRequest" message="tns:doMaxsproutRequest"/>
      <output name="doMaxsproutResponse" message="tns:doMaxsproutResponse"/>
    </operation>
  </portType>
  <binding name="WSMaxsproutSoapBinding" type="tns:WSMaxsprout">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="poll">
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMaxsprout#poll"/>
      <input name="pollRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </input>
      <output name="pollResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </output>
    </operation>
    <operation name="runMaxsprout">
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMaxsprout#runMaxsprout"/>
      <input name="runMaxsproutRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </input>
      <output name="runMaxsproutResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </output>
    </operation>
    <operation name="getIds">
      <documentation>Not used.</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMaxsprout#getIds"/>
      <input name="getIdsRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </input>
      <output name="getIdsResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </output>
    </operation>
    <operation name="checkStatus">
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMaxsprout#checkStatus"/>
      <input name="statusRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </input>
      <output name="statusResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </output>
    </operation>
    <operation name="getResults">
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMaxsprout#getResults"/>
      <input name="resultsRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </input>
      <output name="resultsResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </output>
    </operation>
    <operation name="polljob">
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMaxsprout#polljob"/>
      <input name="polljobRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </input>
      <output name="polljobResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </output>
    </operation>
    <operation name="doMaxsprout">
      <soap:operation soapAction="http://www.ebi.ac.uk/WSMaxsprout#doMaxsprout"/>
      <input name="doMaxsproutRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </input>
      <output name="doMaxsproutResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSMaxsprout" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="WSMaxsproutService">
    <port name="WSMaxsprout" binding="tns:WSMaxsproutSoapBinding">
      <soap:address location="http://www.ebi.ac.uk/Tools/es/ws-servers/WSMaxsprout"/>
    </port>
  </service>
</definitions>
